<div class="cust-tabs-container">
    <h4>Maintenance</h4>
    <ngb-tabset>
        <ngb-tab class="ngb-tab" title="Accounting">
            <ng-template ngbTabContent style="padding-top: 10px !important;">
            	<div class="input-group" style="margin-top: 10px !important; margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="A">
            	            	<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
								<br />
								<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
								<br />
								<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
								<br />
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="H">
            	            	<button [routerLink]="['']" class="button btn btn-link">EEEEEEEEEEEEEEEEEEEE</button>
								<br />
								<button [routerLink]="['']" class="button btn btn-link">EEEEEEEEEEEEEEEEEEEE</button>
								<br />
								<button [routerLink]="['']" class="button btn btn-link">EEEEEEEEEEEEEEEEEEEE</button>
								<br />
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="O">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="U">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="B">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="I">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="P">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="V">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="C">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="J">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="Q">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="W">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="D">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="K">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="R">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="X">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="E">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="L">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="S">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="Y">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="F">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="M">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="T">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="Z">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="G">
            	               Content 1
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	    <div class="col-sm-3">
            	         <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            	            <p-accordionTab header="N">
            	            </p-accordionTab>
            	        </p-accordion>
            	    </div>
            	</div>

            	<!-- <div class="input-group" style="margin-top: 10px !important; margin-bottom: 8px !important;">
            		<div class="col-sm">
            			<p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            			    <p-accordionTab header="A">
            			       	<div class="row">
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">AAAAAAAAAAAAAAAAAAAA</button>
										<br />
            			       		</div>
            			       	</div>
            			    </p-accordionTab>
            			</p-accordion>
            		</div>
            	</div>
            	<div class="input-group" style="margin-top: 10px !important; margin-bottom: 8px !important;">
            		<div class="col-sm">
            			<p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [style]="{ lineHeight: 1 }">
            			    <p-accordionTab header="B">
            			       	<div class="row">
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">BBBBBBBBBBBBBBBBBBBB</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">BBBBBBBBBBBBBBBBBBBB</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">BBBBBBBBBBBBBBBBBBBB</button>
										<br />
            			       		</div>
            			       		<div class="col-sm-3">
            			       			<button [routerLink]="['']" class="button btn btn-link">BBBBBBBBBBBBBBBBBBBB</button>
										<br />
            			       		</div>
            			       	</div>
            			    </p-accordionTab>
            			</p-accordion>
            		</div>
            	</div> -->
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
