<div class="cust-tabs-container">
      <h4>Maintenance</h4>
      <ngb-tabset>
            <ngb-tab class="ngb-tab" title="Accounting">
            <ng-template ngbTabContent style="padding-top: 10px !important;">
            	<div class="input-group" style="margin-top: 10px !important; margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                  	            <p-accordionTab header="A">
                  	            </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="H">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="O">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="V">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="0">
                                    <p-accordionTab header="B">
                                          <button [routerLink]="['/mtn-bank']" class="button btn btn-link">Bank</button>
                                          <br />
                                          <button [routerLink]="['/mtn-bank-acct']" class="button btn btn-link">Bank Account</button>
                                          <br />
                                    </p-accordionTab>

                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="I">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="P">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="W">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="0">
                                    <p-accordionTab header="C">
                                          <button [routerLink]="['/chart-of-accounts']" class="button btn btn-link">Chart of Accounts</button>
                                          <br />
                                    </p-accordionTab>
                                    </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="J">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="Q">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="X">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="D">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="K">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="R">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="Y">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="E">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="L">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="S">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="Z">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="F">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="M">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="T">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            	<div class="input-group" style="margin-bottom: 8px !important;">
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="0">
                                    <p-accordionTab header="G">
                                          <button [routerLink]="['/generate-number-series']" class="button btn btn-link">Generate Number Series</button>
                                          <br />
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="N">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
                        <div class="col-sm-3">
                              <p-accordion expandIcon="fa fa-plus-square-o fa-lg" collapseIcon="fa fa-minus-square-o fa-lg" [activeIndex]="-1">
                                    <p-accordionTab header="U">
                                    </p-accordionTab>
                              </p-accordion>
                        </div>
            	</div>
            </ng-template>
            </ngb-tab>
      </ngb-tabset>
</div>
