<!-- <div class="form-row custom-row-inline-inset">
    <div class="input-group">
      <div class="col-sm-12">
        <app-cust-editable-non-datatable [passData]="passData" (clickLOV)="openClmRecoverLov($event)" (newClick)="onRowClick($event)" (tableDataChange)="onTableDataChange($event)"></app-cust-editable-non-datatable>
      </div>
    </div>
</div>

<div class="form-row" *ngIf="record.arStatDesc.toUpperCase() == 'NEW'">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="cancel();"><a>Cancel</a></button>
          <button type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
        </div>
      </div>
    </div>
</div>


<app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov>
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button> -->


<div class="form-row custom-row-inline-inset" style="padding-top: 50px !important; padding-bottom: 50px !important">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Company</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" [ngModel]="payorData?.cedingId" readonly>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" style="margin-left: 3px !important;" [ngModel]="payorData?.cedingName" readonly>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Address</label>
            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 17px;" [ngModel]="payorData?.address" readonly></textarea>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Membership Date</label>
            <!-- <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="ns.toDateTimeString(payorData?.membershipDate)" readonly> -->
            <div class="dp-cont col-sm" style="margin-right: -10px; margin-left: 0px !important">
                <datepicker [type]="'date'" [disabled]='true' [value]="ns.toDateTimeString(payorData?.membershipDate).split('T')[0]"></datepicker>
            </div>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <label class="form-control-sm col-sm-2">Business Type</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.business" readonly>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Tax Identification No.</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.tin" readonly>
            <label class="form-control-sm col-sm-2">Status</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.activeTag === 'Y' ? 'Active' : 'Inactive'" readonly>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Primary Contact Person</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.cedingRepresentative[0].fullName" readonly>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Contact No.</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.cedingRepresentative[0].contactNo" readonly>
            <label class="form-control-sm col-sm-2">Email Address</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="payorData?.emailAdd" readonly>
        </div>
    </div>
    <div class="col-sm-1"></div>
    
</div>