.text-search-ico {
    margin-left: -20px !important;
    margin-right: 5px !important;
    z-index: 200;
}

.cust-btn-extend{
    max-width: inherit;
    width: 100%;
    margin-bottom: 5px;
}

.labels{
    margin: 0px;
}

.text-area-font{
    font-size: 11px;
    min-height: 38px;
    margin-bottom: 5px;
}

.no-padding{
    padding: 0px;
}

.cust {
    font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 99 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3px !important;
    height: 22px;
}

