

.text-search-ico {
	margin-left: -18px;
	z-index: 200;
	font-size: 14px;
}

.nav-a-hover:hover {
	text-decoration: none;
}

.right{
	margin-top: 5px !important;
}

.fa-question-circle{
	font-size: 60px;
	color: #00194A;
	/*margin-left: 15px;*/
}

.fa-check-circle{
	font-size: 60px;
	color: #00194A;
	margin-left: 15px;
}

.modal-icon{
	margin-left: 10px;
}

.modal-text{
	padding-right: 0px;
	margin-left: 15px;
}

#success {
	margin-top: 16px;
}






