<div class="cust-tabs-container">
	<h4>Maintenance / Quotation & Policy / Insured List</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Insured">
			<ng-template ngbTabContent>
				<div class="form-row">
					<div class="input-group">
						<div class="col-sm"></div>
						<div class="col-sm-8">
							<fieldset class="scheduler-border">
			                    <legend class="scheduler-border">Corporate Tag</legend>
			                    <div class="form-row custom-row-inline-inset">
			                    	<div class="input-group">
			                    		<div class="col-sm"></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="corpTag"><label class="form-control-sm">Individual</label></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="corpTag"><label class="form-control-sm">Corporate</label></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="corpTag"><label class="form-control-sm">Joint</label></div>	
			                    		<div class="col-sm"></div>
			                    	</div>
			                    </div>
			                </fieldset>
			                <fieldset class="scheduler-border">
			                    <legend class="scheduler-border">VAT Type</legend>
			                    <div class="form-row custom-row-inline-inset">
			                    	<div class="input-group">
			                    		<div class="col-sm"></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="vatType"><label class="form-control-sm">VAT Rate</label></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="vatType"><label class="form-control-sm">VAT Exempt</label></div>
			                    		<div class="col-sm-3 text-center"><input type="radio" name="vatType"><label class="form-control-sm">Zero VAT</label></div>
			                    		<div class="col-sm"></div>
			                    	</div>
			                    </div>
			                </fieldset>
			                <fieldset class="scheduler-border">
			                	<legend class="scheduler-border">Basic Info</legend>
			                	<div class="form-row custom-row-inline-inset">
			                		<div class="input-group">
			                			<div class="col-sm-6">
			                				<div class="form-row">
			                					<label class="form-control-sm col-sm-5">Insured No</label>
                        						<input type="text" class="form-control form-control-sm col-sm">
                        						<input type="checkbox" style="margin-top: 5px !important;margin-left: 5px !important;"><label class="form-control-sm col-sm-1">Active</label>
			                				</div>
			                			</div>
			                		</div>
			                	</div>
			                </fieldset>
						</div>
						<div class="col-sm"></div>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Exit">
		<ng-template>
			
		</ng-template>
	</ngb-tab>
	</ngb-tabset>
</div>