<style type="text/css">
	.input-group {
        padding: 0px !important;
        margin: 0px !important;
    }

    .input-group label {
        padding: 0px !important;
        margin: 0px !important;
    }

	.input-ig-row {
        margin-left: 2px !important;
    }
    .ig-row {
        margin : -3px !important;
        /*margin-bottom: -14px ! important;*/
    }
    .ig-row label {
        margin-right: 5px !important;
    }
</style>
<div>
	<fieldset class="scheduler-border cust-fs-padlr-offset"> 
		<legend class="scheduler-border">Open Cover Details</legend>
			<div class="form-row custom-row-inline-inset" style="margin-bottom: 1px ! important;">
				<div class="input-group ig-row">
					<label class="form-control-sm col-sm-2" for="inputOCPolNo" >Open Cover Pol No</label>
				    <input type="text" id="inputOCPolNo" class="form-control form-control-sm cust-sm col-sm-2" placeholder="" value="" readonly>
				    <label class="form-control-sm col-sm-1" for="inputInname" >Insured</label>
				    <input type="text" id="inputInname" class="form-control form-control-sm cust-sm col-sm-6" placeholder="" value="" readonly>
				    <div class="col-sm-1"></div>
				</div>
				<div class="input-group ig-row">
					<label class="form-control-sm col-sm-2" for="inputRisk" >Risk</label>
				    <input type="text" id="inputRisk" class="form-control form-control-sm cust-sm col-sm-9" placeholder="" value="" readonly>
				    <div class="col-sm-1"></div>
				</div>
			</div>
	</fieldset>
</div>
<div>
	<div class="row">
		<div class="col-sm" style="margin-top: 16px;">
			<fieldset class="scheduler-border">
				<div class="form-row custom-row-inline-inset" style="margin-bottom: 10px ! important;margin-top: 20px ! important;">
					<div class="input-group  ig-row" >
						<div class="col-sm-2"></div>
						<label class="form-control-sm col-sm-2" for="xx">Currency</label>
						<input type="text" id="xxx" class="form-control form-control-sm cust-sm txt-content-rght" [ngModel]="coverageInfo.currencyCd" readonly>
						<label class="form-control-sm col-sm-1" for="xx">Exch. Rt.</label>
						<input type="text" id="xxx" class="form-control form-control-sm cust-sm txt-content-rght" [ngModel]="coverageInfo.currencyRt" readonly appCurrencyRate>
						<div class="col-sm-2"></div>
					</div>
					<div class="input-group  ig-row">
						<div class="col-sm-2"></div>
						<label class="form-control-sm col-sm-2" for="xx">Max Sum Insured</label>
						<input type="text" id="xxx" class="form-control form-control-sm cust-sm txt-content-rght" [ngModel]="coverageInfo.totalSi" readonly appCurrency>
						<div class="col-sm-2"></div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-sm"style="padding-left: 0px;">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Share Details</legend>
				<form #myForm="ngForm">
					<div class="form-row custom-row-inline-inset" style="margin-top: 17px !important; margin-bottom: 9px ! important;">
						<div class="input-group ig-row" >
							<div class="col-sm-2"></div>
							<label class="form-control-sm col-sm-2">Share(%)</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="coverageInfo.pctShare" name="pctShare" appOtherRates>
                            <label class="form-control-sm col-sm-1">PML(%)</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="coverageInfo.pctPml" name="pctPml" appOtherRates>
                            <div class="col-sm-2"></div> 
						</div>
						<div class="input-group ig-row">
							<div class="col-sm-2"></div>
	                        <label class="form-control-sm col-sm-2">100% Value</label>
	                        <input type="text" class="form-control form-control-sm" [(ngModel)]="coverageInfo.totalValue" name="totalValue" appCurrency (ngModelChange)="cmptShrPct($event)">
	                        <div class="col-sm-2"></div>
                    	</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
</div>
<div class="form-row">
		<div class="form-group col-sm">
			<div class="col-md-13 text-center">
				<br>
				<div class="cust-btn-container">
					<button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
					<button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
				</div>
			</div>
		</div>
</div>

<app-sucess-dialog [icon]="dialogIcon" (onOk)="cancelFlag && dialogIcon == 'success'  ? this.cancel.onNo():null"></app-sucess-dialog>
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-cancel-button (onYes)="save('cancel')" [url]="'/policy-listing'" ></app-cancel-button>