<div class="cust-tabs-container">
	<h4>Underwriting / Policy Issuance / Create Policy Record</h4>
	<ngb-tabset>

		<ngb-tab class="ngb-tab" title="Create Alteration">
			<ng-template ngbTabContent>
				
			</ng-template>
		</ngb-tab>
		<ngb-tab title="General Info">
			<ng-template ngbTabContent>
				
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
<br>
<br>
<div align="center">
	<fieldset class="scheduler-border col-sm-7 align-items-center">
		
		<legend class="scheduler-border">Basic Information</legend>
		<div class="form-row">
			<div class="form-group col-sm-3">
				<label for="inputEmail4" class="form-control-sm top-label">Line</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4"  [(ngModel)]=" this.createAlterationPar.line">
			</div>
			<div class="form-group col-sm-3">
				<label for="inputEmail4" class="form-control-sm top-label">Year</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4">
			</div>
			<div class="form-group col-sm-3">
				<label for="inputEmail4" class="form-control-sm top-label">Seq No</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4" [(ngModel)]=" this.createAlterationPar.seqNo">
			</div>
			<div class="form-group col-sm-3">
				<label for="inputEmail4" class="form-control-sm top-label">Alt No</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4" [(ngModel)]=" this.createAlterationPar.altNo">
			</div>
			<div class="input-group	">
				<label class="form-control-sm" for="xx">Ceding Company</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-9" [(ngModel)]=" this.createAlterationPar.cedingCompany">
			</div>
			<div class="input-group">
				<label class="form-control-sm" for="xx">Principal</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-4" [(ngModel)]=" this.createAlterationPar.principal">
				<label class="form-control-sm" for="xx">Contractor</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-4" [(ngModel)]=" this.createAlterationPar.contractor">
			</div>
		</div>
	</fieldset>

<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center">
			<br>
			<div class="cust-btn-container">
			<button type="button" class="cust-btn" id="cust-button"><a>Convert Quotation</a></button>
			<button type="button" class="cust-btn"><a>Cancel</a></button>
			<button type="button" class="cust-btn"><a>Save</a></button>
		</div>
		</div>
	</div>
  </div>

  <div>
		<app-cust-table [tHeader]="tHeader" [tableData]="tableData" [dataTypes]="dataTypes"></app-cust-table>
	</div>
	<br>
	<br>
	<div>
		<p>A policy record will be created with all the information entered in the quotation. Do you want to continue?</p>
		<br>
		<div class="form-row">
			<div class="form-group col-sm">
				<div class="col-md-13 text-center">
					<br>
					<div class="cust-btn-container">
					<button type="button" class="cust-btn"><a>Yes</a></button>
					<button type="button" class="cust-btn"><a>No</a></button>
					<button type="button" class="cust-btn"><a>Cancel</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div>
		<p>Saving successful</p>
		<br>
		<div class="form-row">
			<div class="form-group col-sm">
				<div class="col-md-13 text-center">
					<br>
					<div class="cust-btn-container">
					<button type="button" class="cust-btn"><a>Ok	</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>