<div class="col-sm-12" style="position: relative; padding-left: 0px; padding-right: 0px;">
  <div class="row">
    <div class="col-sm-12">
        <div class="input-group cust-ig">
          <div class="col-sm-1"></div>
          <label class="form-control-sm col-sm-1">DCB Bank</label>
          <select class="form-control form-control-sm cust-sm col-sm-2 required" [compareWith]="compareBankFn" [ngModel]="selectedBank" (ngModelChange)="changeDcbBank($event)" appRequired [disabled]="isCancelled">
            <option *ngFor="let bank of banks" [ngValue]="bank">{{bank.officialName}}</option>
          </select>
          <label class="form-control-sm col-sm-2">DCB Bank Acct. No.</label>
          <select class="form-control form-control-sm cust-sm col-sm-2 required" [compareWith]="compareBankAcctFn" [ngModel]="selectedBankAcct" (ngModelChange)="changeDcbBankAcct($event)" appRequired [disabled]="isCancelled">
            <option *ngFor="let bankAcct of bankAccts" [ngValue]="bankAcct">{{bankAcct.accountNo}}</option>
          </select>
          <div class="col-sm-1"></div>
        </div>
      	<app-cust-editable-non-datatable [passData]="passData" (clickLOV)="openInvPulloutLOV($event)" (tableDataChange)="onTableDataChange($event)">
      	</app-cust-editable-non-datatable>
    </div>
  </div>
</div>
<div class="form-row">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="cancel();"><a>Cancel</a></button>
          <button type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
        </div>
      </div>
    </div>
</div>


<app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov>
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>