

<ng-container *ngIf="!alteration">
 <fieldset class="scheduler-border" style="padding-top: 4px !important; padding-bottom: 4px !important;">
  <legend class="scheduler-border">Policy Record Info</legend>
  <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
    <div class="input-group" style="margin-bottom: -13px !important; margin-top: 0px !important">
      <label class="col-sm-1"></label>
      <label class="form-control-sm col-sm-1" for="xx">Policy No</label>
      <input type="text" id="xx" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2"
      placeholder="" readonly>
      <label class="form-control-sm col-sm-1" for="xx">Insured</label>
      <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-5" placeholder=""
      readonly>
    </div>
    <div class="input-group" style="margin-bottom: -13px !important;">
      <label class="col-sm-1"></label>
      <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
      <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder=""
      readonly>
    </div>
  </div>
</fieldset>
<fieldset class="scheduler-border">
  <legend class="scheduler-border">Section Covers</legend>
  <div class="test" style="margin-top: 0px !important; margin-bottom: 2px;">
    <app-cust-editable-non-datatable [passData]="passDataSectionCover" (tableDataChange)="update($event);"></app-cust-editable-non-datatable>
  </div>
</fieldset>


<div class="row">
  <div class="col-sm-6">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
      <div class="cust-sm">
        <div class="input-group" style="margin-top: -7px;">
          &nbsp;
        </div>
        <div class="input-group" style="margin-bottom: -13px !important">
          <label class="form-control-sm col-sm-3">Currency</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="coverageData.currencyCd" readonly>
          <label class="form-control-sm col-sm-2">Exch. Rt.</label>
          <input type="text" class="form-control form-control-sm req" [(ngModel)]="coverageData.currencyRt" readonly appCurrencyRate>
          <span class="col-sm-1"></span>
        </div>
        <div class="input-group" style="margin-bottom: -13px !important">
         <label class="form-control-sm col-sm-3">Total Sum Insured</label>
         <input type="text" class="form-control form-control-sm req" [(ngModel)]="coverageData.totalSi" readonly appCurrency>
         <span class="col-sm-1"></span>
       </div>
       <div class="input-group" style="margin-bottom: 2px !important">
         <label class="form-control-sm col-sm-3">Total Premium</label>
         <input type="text" class="form-control form-control-sm req" [(ngModel)]="coverageData.totalPrem" readonly appCurrency>
         <span class="col-sm-1"></span>
       </div>
     </div>
   </fieldset>
 </div>
 <div class="cust-sm col-sm-6" style="padding-left: 1px !important;">
  <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
    <legend class="scheduler-border">Total Per Section</legend>
    <div class="cust-sm totalPerSection" >
     <app-cust-editable-non-datatable #totalPerSection [passData]="passDataTotalPerSection"></app-cust-editable-non-datatable>
   </div>
 </fieldset>
</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <fieldset class="scheduler-border">
     <legend class="scheduler-border">Share Details</legend>
     <div class="cust-sm">
      <div class="input-group" style="margin-top: -14px;">
        &nbsp;
      </div>
      <div class="input-group" style="margin-bottom: -13px !important">
       <label class="form-control-sm col-sm-3">Share(%)</label>
       <input type="text" class="form-control form-control-sm req" [ngModel]="coverageData?.pctShare" (ngModelChange)="coverageData.pctShare = $event" appCurrencyRate appRequired>
       <label class="form-control-sm col-sm-2">PML(%)</label>
       <input type="text" class="form-control form-control-sm req" [(ngModel)]="coverageData.pctPml" appCurrencyRate>
       <span class="col-sm-1"></span>
     </div>
     <div class="input-group" style="margin-bottom: -6px !important">
       <label class="form-control-sm col-sm-3">100% Value</label>
       <input type="text" class="form-control form-control-sm req" [ngModel]="coverageData?.totalValue"  (ngModelChange)="coverageData.totalValue = $event" (blur)="coverageData.pctShare = (coverageData.totalSi/coverageData.totalValue*100)" appCurrency appRequired>
       <span class="col-sm-1"></span>
     </div>
   </div>
 </fieldset>
</div>
<div class="cust-sm col-sm-6" style="padding-left: 0px;">
  <fieldset class="scheduler-border" style="padding-bottom: 9px !important;">
   <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
   <div class="cust-sm">
     <div class="cust-sm col-sm-1"></div>
     <div class="row" style="margin-right: 0px; margin-bottom: 0px;">
      <div class="input-group" style="margin-top: -16px;">
        &nbsp;
      </div>
      <div class="input-group" style="margin-top: -5px;">
       <label class="form-control-sm col-sm-1">Remarks</label>
       <textarea class="form-control-sm form-control" [(ngModel)]="coverageData.remarks" style="font-size: 11px; min-height: 61px; margin-bottom: 10px; margin-left: 8px"></textarea> 
     </div>
     <div class="input-group">
      <span class="col-sm-3"></span>
      <span class="cust-sm"></span>
    </div>
  </div>
</div>
</fieldset>
</div>
</div>

    <div class="form-row">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center" style="margin-top: 10px;">
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="showDeductiblesModal(deductibles)"><a>Deductibles</a></button>
          <button type="button" class="cust-btn" (click)="CATPerils()" *ngIf="line == 'CAR' || line =='EAR' || line =='EEI' || line =='CEC'"><a>CAT Perils</a></button>
          <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
          <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
        </div>
      </div>
    </div>
  </div>


<app-modal class="hidden" id="CATPerils">
    <div header>CAT Perils Exposure</div>
    <div body style=" margin-top: -10px !important; width: 400px ! important">
       <app-cust-editable-non-datatable #catPerils [passData]="passDataCATPerils"></app-cust-editable-non-datatable>
    </div>                
    <div footer style="margin-right: 145px !important;">
      <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
      <button class="cust-btn" type="button" (click)="saveCatPeril();"><a>Save</a></button>
    </div>
</app-modal>

<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-confirm-save (onYes)="saveCoverage()"></app-confirm-save>
<app-cancel-button (onYes)="saveCoverage('cancel')" [url]="'/policy-listing'" ></app-cancel-button>

</ng-container>

<ng-container *ngIf="alteration">
  <div>
    <fieldset class="scheduler-border" style="padding-top: 4px !important; padding-bottom: 4px !important;">
      <legend class="scheduler-border">Policy Record Info</legend>
      <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
        <div class="input-group" style="margin-bottom: -13px !important; margin-top: 0px !important">
          <label class="col-sm-1"></label>
          <label class="form-control-sm col-sm-1" for="xx">Policy No</label>
          <input type="text" id="xx" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2"
          placeholder="" readonly>
          <label class="form-control-sm col-sm-1" for="xx">Insured</label>
          <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-5" placeholder=""
          readonly>
        </div>
        <div class="input-group" style="margin-bottom: -13px !important;">
            <label class="col-sm-1"></label>
            <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
            <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder="" readonly>
        </div>
      </div>
    </fieldset>
    <fieldset class="scheduler-border" >
      <legend class="scheduler-border">Section Covers</legend>
      <app-cust-editable-non-datatable [passData]="passData" (tableDataChange)="updateAlteration($event);"></app-cust-editable-non-datatable>
    </fieldset>
    <div class="row">
      <div class="col-sm-12">
        <fieldset class="scheduler-border" style="margin-top: 6px !important;">
          <div class="cust-sm" style="margin-top: -1px; margin-bottom: -21px;">
           <div class="cust-sm col-sm-1"></div>
           <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
            <div class="input-group">
              <span class="col-sm-4"></span>
              <label class="form-control-sm col-sm-1">Currency</label>
              <input type="text" class="form-control form-control-sm col-sm-1" readonly>
              <label class="form-control-sm col-sm-1" style="margin-left: -30px !important; z-index: -1;">Exch. Rt.</label>
              <input type="text" class="form-control form-control-sm col-sm-1" readonly>
              <span class="col-sm-4"></span>
            </div>
            <div class="input-group" style="margin-left: 52px !important; margin-bottom: -10px !important; margin-top: -13px !important;">
              <span class="col-sm-3"></span>
              <label class="form-control-sm col-sm-2" style="text-align: center !important; font-size: 11px !important; margin-bottom: 1px !important;">Previous</label>
              <label class="form-control-sm col-sm-2" style="text-align: center !important; font-size: 11px !important; margin-bottom: 1px !important; padding-left: 40px !important;">This Alteration</label>
              <label class="form-control-sm col-sm-2" style="text-align: center !important; font-size: 11px !important; margin-bottom: 1px !important; padding-left: 44px !important;">Cumulative</label>
              <span class="col-sm-3"></span>
            </div>
            <div class="input-group" style="margin-left: -55px !important;">
              <span class="col-sm-2"></span>
              <label class="form-control-sm col-sm-2">Total Sum Insured</label>
              <input type="text" class="form-control form-control-sm col-sm-2 req" readonly appCurrency [(ngModel)] = "altCoverageData.prevtotalSi">
              <input type="text" class="form-control form-control-sm col-sm-2 req" readonly appCurrency style="margin-left: 3px !important;">
              <input type="text" class="form-control form-control-sm col-sm-2 req" readonly appCurrency style="margin-left: 3px !important;">
              <span class="col-sm-2"></span>
            </div>
            <div class="input-group" style="margin-left: -55px !important ;margin-top: -8px;">
              <span class="col-sm-2"></span>
              <label class="form-control-sm col-sm-2">Total Premium</label>
              <input type="text" class="form-control form-control-sm col-sm-2 req" readonly appCurrency [(ngModel)] = "altCoverageData.prevtotalPrem">
              <input type="text" class="form-control form-control-sm col-sm-2 req" readonly appCurrency style="margin-left: 3px !important;">
              <input type="text" class="form-control form-control-sm col-sm-2 req"  readonly appCurrency style="margin-left: 3px !important;">
              <span class="col-sm-2"></span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Totals per Section</legend>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="margin-bottom: -23px;">
        <app-cust-editable-non-datatable [passData]="passData2"></app-cust-editable-non-datatable>
        <br />   
      </div>
      <div class="col-sm-1"></div>
    </div>
  </fieldset>


  <!-- <div class="row">
    <div class="cust-sm col-sm-6" style="padding-right: 2px;">
      <fieldset class="scheduler-border fs" style="padding-top: 0px !important;">
        <legend class="scheduler-border">Share Details</legend>
        <div class="cust-sm" style="margin-top: -8px;margin-bottom: -18px;">
          <div class="row" style="margin-right: 0px; margin-bottom: 15px;">
            <div class="input-group" style="margin-top: -10px;">
              &nbsp;
            </div>
            <div class="input-group">
              <span class="col-sm-1"></span>
              <label class="form-control-sm col-sm-3">Share(%)</label>
              <input type="text" class="form-control form-control-sm">
              <label class="form-control-sm col-sm-1">PML(%)</label>
              &nbsp;<input type="text" class="form-control form-control-sm">
              <span class="col-sm-2"></span>
            </div>
            <div class="input-group">
              <span class="col-sm-1"></span>
              <label class="form-control-sm col-sm-3">Part Of(100%)</label>
              <input type="text" class="form-control form-control-sm">
              <span class="col-sm-2"></span>
            </div>
          </div>
          <div class="cust-sm col-sm-1"></div>

        </div>
      </fieldset>
    </div>
    <div class="cust-sm col-sm-6" style="padding-left: 2px;">
      <fieldset class="scheduler-border fs">
       <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
       <div class="cust-sm">
         <div class="row" style="margin-right: 0px; margin-top: -8px;">
          <div class="input-group" style="margin-top: 2px !important;">
           <label class="form-control-sm col-sm-1">Remarks</label>
           <textarea [innerHTML]="textArea" class="form-control-sm form-control" style="font-size: 11px; min-height: 65px; margin-bottom: 10px; margin-left: 8px"></textarea>
           <div class="text-search-ico"><a><i class="fa fa-pencil" (click)="showTextEditorModal(content)"></i></a></div>&nbsp;
         </div>
      </div>
    </div>
    </fieldset>
  </div>
</div> -->


<div class="row">
  <div class="col-sm-6">
    <fieldset class="scheduler-border">
     <legend class="scheduler-border">Share Details</legend>
     <div class="cust-sm">
      <div class="input-group" style="margin-top: -14px;">
        &nbsp;
      </div>
      <div class="input-group" style="margin-bottom: -13px !important">
       <label class="form-control-sm col-sm-3">Share(%)</label>
       <input type="text" class="form-control form-control-sm req" appCurrencyRate appRequired [(ngModel)] = "altCoverageData.pctShare">
       <label class="form-control-sm col-sm-2">PML(%)</label>
       <input type="text" class="form-control form-control-sm req" appCurrencyRate [(ngModel)] = "altCoverageData.pctPml">
       <span class="col-sm-1"></span>
     </div>
     <div class="input-group" style="margin-bottom: -6px !important">
       <label class="form-control-sm col-sm-3">100% Values</label>
       <input type="text" class="form-control form-control-sm req" appCurrency appRequired [(ngModel)] = "altCoverageData.totalValue">
       <span class="col-sm-1"></span>
     </div>
   </div>
 </fieldset>
</div>
    <!-- <div class="cust-sm col-sm-6" style="padding-left: 0px;">
        <fieldset class="scheduler-border">
         <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
        <div class="cust-sm">
           <div class="cust-sm col-sm-1"></div>
            <div class="row" style="margin-right: 0px; margin-bottom: 0px;">
                    <div class="input-group" style="margin-top: -16px;">
                        &nbsp;
                    </div>
                   <div class="input-group" style="margin-top: -5px;">
                       <label class="form-control-sm col-sm-1">Remarks</label>
                       <textarea class="form-control-sm form-control" style="font-size: 11px; min-height: 61px; margin-bottom: 10px; margin-left: 8px"></textarea> 
                       <div class="text-search-ico"><a><i class="fa fa-pencil" (click)="showTextEditorModal(content)"></i></a></div>&nbsp;
                    </div>
                    <div class="input-group">
                            <span class="col-sm-3"></span>
                            <span class="cust-sm"></span>
                    </div>
            </div>
          </div>
      </fieldset>
    </div> -->
    <div class="cust-sm col-sm-6" style="padding-left: 0px;">
      <fieldset class="scheduler-border" style="padding-top: 10px !important;">
       <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
       <div class="cust-sm">
         <div class="cust-sm col-sm-1"></div>
         <div class="row" style="margin-right: 0px; margin-bottom: 0px;">
          <div class="input-group" style="margin-top: -16px;">
            &nbsp;
          </div>
          <div class="input-group" style="margin-top: -5px;">
           <label class="form-control-sm col-sm-1" style="margin-right: 10px">Remarks</label>
           <div class="form-control-sm col-sm edtr-cont" style="height: 60px; margin-bottom: 10px;">
             <text-editor [editorContent]="textArea"></text-editor>
           </div>
         </div>
       </div>
     </div>
   </fieldset>
 </div>
</div>


    <div class="form-row">
      <div class="form-group col-sm">
        <div class="col-sm text-center">
          <div class="cust-btn-container" style="margin-top: 10px;">
            <button type="button" class="cust-btn" (click)="showDeductiblesModal(deductibles)"><a>Deductibles</a></button>
            <button type="button" class="cust-btn" (click)="CATPerils()" *ngIf="line == 'CAR' || line =='EAR' || line =='EEI' || line =='CEC'"><a>CAT Perils</a></button>
            
            <button type="button" class="cust-btn" (click)="pol($event)"><a>Cancel</a></button>
            <button type="button" class="cust-btn"><a>Save</a></button>
          </div>
        </div>
      </div>
    </div>
    
</div>

<app-modal class="hidden" id="CAT">
    <div header>CAT Perils Exposure</div>
    <div body style=" margin-top: -10px !important; width: 400px ! important">
       <app-cust-editable-non-datatable [passData]="passDataCATPerils"></app-cust-editable-non-datatable>
    </div>                
    <div footer style="margin-right: 145px !important;">
      <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
      <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Save</a></button>
    </div>
</app-modal>
</ng-container>

<!-- <ng-template #content>
  <div class="modal-header">
    <span class="modal-title" id="modal-basic-title">Text Editor</span>
    <div class="close" style="padding-bottom: 5px;">
      <a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true" ><span style="padding-right: 3px;" id="closes">&times;&nbsp;&nbsp;</span></a>
    </div>
  </div>
  <div class="modal-body">
    <quill-editor [(ngModel)]="textArea" [style]="{height: '300px', width: '900px'}"></quill-editor> 
  </div>
  <div class="modal-footer">
    <div>
      <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Okay</a></button>
    </div>
  </div>
</ng-template> -->


<!-- <ng-template #deductibles>
    <div class="modal-header">
         <span class="modal-title" id="modal-basic-title">Deductibles</span>
         <div class="close" style="padding-bottom: 5px;">
          <a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true" ><span style="padding-right: 3px;" id="closes">&times;&nbsp;&nbsp;</span></a>
          </div>
    </div>
    <div class="modal-body">
          <app-cust-editable-non-datatable #deductiblesTable [passData]="passDataDeductibles"></app-cust-editable-non-datatable>
    </div>
    <div class="modal-footer" style="justify-content: center; padding-top: 10px;">
      <div class="row">
          <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
          <button class="cust-btn" type="button" (click)=""><a>Save</a></button>
      </div>
    </div>    
</ng-template> -->

<app-modal class="d-none" #deductiblesModal>
  <div header>Deductibles</div>
  <div body>
    <app-cust-editable-non-datatable #deductiblesTable [passData]="passDataDeductibles" (clickLOV)="clickDeductiblesLOV($event)"></app-cust-editable-non-datatable>
  </div>
  <div footer>
    <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
    <button class="cust-btn" type="button" (click)="saveDeductibles();"><a>Save</a></button>
  </div>
</app-modal>

<app-lov id="lov" [passData]="passLOVData" (selectedData)="setSelected($event)" [lovCheckBox]="true"></app-lov>
<app-sucess-dialog id="deductibles-success" [icon]="dialogIcon" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>

  <!-- <div contenteditable="true" [innerHTML]="textArea | safeText: 'html'" style="border: 1px solid;">
   
  </div>
  <br />
  <quill-editor [ngModel]="textArea"></quill-editor>
  <br /> -->


   <!-- <div class="input-group" style="margin-left: -15px !important">
              <label class="form-control-sm col-sm-3">Section I</label>
              <input type="text" class="form-control form-control-sm col-sm-3" disabled="true">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3" disabled="true">
              &nbsp;
            </div>
            <div class="input-group" style="margin-left: -15px !important">
              <label class="form-control-sm col-sm-3">Section II</label>
              <input type="text" class="form-control form-control-sm col-sm-3" disabled="true">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3"  disabled="true">
              &nbsp;
            </div>
            <div class="input-group" style="margin-left: -15px !important">
              <label class="form-control-sm col-sm-3">Section III</label>
              <input type="text" class="form-control form-control-sm col-sm-3" disabled="true">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3">
              &nbsp;
              <input type="text" class="form-control form-control-sm col-sm-3"  disabled="true">
              &nbsp;
            </div> -->
