<div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Policy Record Info</legend>
    <div class="form-row custom-row-inline-inset">
      <div class="input-group">
        <label class="form-control-sm col-sm-1" for="xx">Policy No</label>
        <input type="text" id="xx" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2" placeholder="" readonly>
        <label class="form-control-sm col-sm-1" for="xx">Insured</label>
        <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-7" placeholder="" readonly>
      </div>
      <div class="input-group">
        <div class="col-sm-3"></div>
        <label class="form-control-sm col-sm-1" for="xx">Risk</label>
        <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-7" placeholder="" readonly>
      </div>
    </div>
  </fieldset>

  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Section Covers</legend>
    <app-cust-editable-table [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="nData" [tableData]="tableData"
      [tHeader]="tHeader" [dataTypes]="dataTypes" [opts]="selOptions" [magnifyingGlass]="magnifyingGlass"></app-cust-editable-table>
  </fieldset>

  <div>
    <div class="row">
      <div class="col-sm-5">
        <div class="mrgn-fieldset">
          <fieldset class="scheduler-border fieldset-height">
            <div class="form-row custom-row-inline-inset">
              <div class="input-group">
                <label class="form-control-sm col-sm-2" for="xx">Section I</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm txt-content-rght" readonly
                  placeholder="0.00">
                <label class="form-control-sm col-sm-2" for="xx">Currency</label>
                <select class="form-control form-control-sm cust-sm">
                  <option value=""></option>
                  <option value="USD">USD</option>
                  <option value="PHP">PHP</option>
                  <option value="EUR">EUR</option>
                </select>
              </div>
              <div class="input-group">
                <label class="form-control-sm col-sm-2" for="xx">Section II</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm txt-content-rght" readonly
                  placeholder="0.00">
                <label class="form-control-sm col-sm-2" for="xx">Exch. Rt.</label>
                <select class="form-control form-control-sm cust-sm">
                  <option value=""></option>
                </select>
              </div>
              <div class="input-group">
                <label class="form-control-sm col-sm-2" for="xx">Section III</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm txt-content-rght" readonly
                  placeholder="0.00">
                <label class="form-control-sm col-sm-2" for="xx">Premium</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm txt-content-rght">
              </div>
              <div class="input-group">
                <label class="form-control-sm col-sm-2" for="xx">Total SI</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm txt-content-rght" readonly
                  placeholder="0.00">
                <label class="form-control-sm col-sm-2"></label>
                <label class="form-control-sm col-sm-2"></label>
                <label class="form-control-sm col-sm-2"></label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="col-sm-3">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Share Details</legend>
          <div class="custom-row-inline-inset">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 form-row">
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label" for="xx">Share (%)</label>
                  <input type="text" id="xx" class="form-control form-control-sm txt-content-rght" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                </div>
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label" for="xx">PML (%)</label>
                  <input type="text" id="xx" class="form-control form-control-sm txt-content-rght" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                </div>
                <div class="form-group col-sm-12">
                  <label class="form-control-sm top-label" for="xx">Part
                    Of (100%)</label>
                  <input type="text" id="xx" class="form-control form-control-sm txt-content-rght" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <div class="mrgn-fieldset">
          <fieldset class="scheduler-border fieldset-height">
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 form-row">
                  <div class="form-group col-sm-12">
                    <label class="form-control-sm top-label" for="xx">Remarks</label>
                    <input type="text" id="xx" class="form-control form-control-sm txt-content-rght" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                  </div>
                  <div class="form-group col-sm-12">
                    <label class="form-control-sm top-label" for="xx">Average Rate</label>
                    <input type="text" id="xx" class="form-control form-control-sm txt-content-rght" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="pol($event)"><a>Cancel</a></button>
          <button type="button" class="cust-btn"><a>Save</a></button>
        </div>
      </div>
    </div>
  </div>
</div>