
/* .fieldset-height{
    height: 104%;
} */

legend.scheduler-border {
    font-size: 10.5px !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:10px 10px;
    margin-bottom: -11px;
    color: #2d5986;
}

.fs {
    height: 100% !important;
}

fieldset {
    padding-top: 7px !important;
    padding-bottom: 4px !important;
}