<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            ****** UNDER MAINTENANCE *****
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Series Option</legend>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-1 labels">Bank</label>
                        <input name="input1" type="text" class="form-control form-control-sm cust-sm col-sm-12 warn" [(ngModel)]="otherData.bankDesc" appRequired autoComplete="off">
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('bank')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-2 labels">Bank Acct</label>
                        <input name="input2" type="text" class="form-control form-control-sm cust-sm col-sm-6 warn"  [(ngModel)]="otherData.bankAcctDesc" appRequired autoComplete="off" (change)="reset()" [disabled]="otherData.bankDesc == '' || otherData.bankDesc == null">
                        <div *ngIf="otherData.bankDesc != '' && otherData.bankDesc != null" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('bank-acct')"><i class="fa fa-search"></i></a></div>
                        <label class="form-control-sm labels">From</label>
                        <input name="input3" type="text" class="form-control form-control-sm cust-sm col-sm-1 warn" [(ngModel)]="otherData.from" appRequired autoComplete="off" [disabled]="otherData.bankAcctDesc == '' || otherData.bankAcctDesc == null" numbers-only>
                        <label class="form-control-sm labels">To</label>
                        <input name="input4" type="text" class="form-control form-control-sm cust-sm col-sm-1 warn" [(ngModel)]="otherData.to" appRequired autoComplete="off" [disabled]="otherData.bankAcctDesc == '' || otherData.bankAcctDesc == null" numbers-only>
                        <div class="cust-btn-container col-sm-3" style="z-index: 0 !important;">
                            <button type="button" class="cust-btn" [disabled]="otherData.bankDesc == '' || otherData.bankAcctDesc == '' || otherData.from == '' || otherData.to == ''">Generate</button>
                            <button type="button" class="cust-btn" (click)="onClickSearch()">Search</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border" style="padding:0"> 
                <legend class="scheduler-border">Generated Series</legend>  
                <div class="form-row custom-row-inline-inset" style="margin-top: 15px !important; margin-bottom: -3px !important;">
                  <div class="input-group">
                    <div class="col-sm-12">
                      <app-cust-editable-non-datatable #checkNoTbl [passData]="passDataCheckNoList" (clickLOV)="showLov()" (tableDataChange)="passDataCheckNoList.tableData=$event;">
                      </app-cust-editable-non-datatable>
                    </div>
                  </div>
                </div>
              </fieldset>
        </div>
        <div class="col-sm-2"></div>
    </div>
</form>

<app-lov #lov [passData]="passDataLov" (selectedData)="setData($event)"></app-lov>
