<div class="cust-tabs-container">
    <h4>Policy / Inquiry </h4>
    <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab title="Policy Information">
            <ng-template ngbTabContent>
                <div class="row">
                	<div class="col-sm-6 pr-1">
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Policy Record</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Policy No</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.policyNo">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Type of Cession</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.cessionDesc">
                				<label class="form-control-sm col-sm-2">Line Class</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lineClassDesc">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Quotation No</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.quotationNo">
                				<label class="form-control-sm col-sm-2">Status</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.statusDesc">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2 pl-0">Ceding Company</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-1 mr-1" [ngModel]="policyInfo.cessionId">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.cedingName">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Co Ref No</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.coRefNo">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Intermediary</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-1 mr-1" [ngModel]="policyInfo.intmId">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.intmName">
                			</div>

                		</fieldset>
                	</div>
                	<div class="col-sm-6 pl-1">
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Period of Insurance</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Inception Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.inceptDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.inceptDate |date: 'shortTime' ">
                				<label class="form-control-sm col-sm-3">Expiry Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.expiryDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.expiryDate |date: 'shortTime' ">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Lapse From</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.lapseFrom | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lapseFrom |date: 'shortTime' ">
                				<label class="form-control-sm col-sm-3">Lapse To</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.lapseTo | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lapseTo |date: 'shortTime' ">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Maintenance From</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.maintenanceFrom | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.maintenanceFrom |date: 'shortTime' ">
                				<label class="form-control-sm col-sm-3">Maintenance To</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.maintenanceTo | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.maintenanceTo |date: 'shortTime' ">
                			</div>
                		</fieldset>
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Production Booking</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Issue Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.issueDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.issueDate |date: 'shortTime' ">
                				<label class="form-control-sm col-sm-3">Distribution Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.distDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.distDate |date: 'shortTime' ">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Effective Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.effDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.effDate |date: 'shortTime' ">
                				<label class="form-control-sm col-sm-3">Accounting Date</label>
                				<input readonly type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.acctDate | date: 'MM/dd/yyyy'">
                				<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.acctDate |date: 'shortTime' ">
                			</div>
                		</fieldset>
                	</div>
                </div>
                <fieldset class="scheduler-border"  style="padding-top: 5px !important;">
                    <div class="w-100 text-center pb-1">
                        <button (click)="gotoSum()" [disabled]="selectedPol!=null" class="cust-btn">Summarized Details</button>
                    </div>
                	<legend class="scheduler-border">Policy Details</legend>
                	<app-cust-editable-non-datatable #alterationTable [passData]="passData" (newClick)="rowLick($event)"></app-cust-editable-non-datatable>
                </fieldset>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-13 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px">
                                <button [class.d-none]="inquiryFlag" type="button" class="cust-btn" (click)="goToPolicy()" [disabled]="selectedPol===null"><a>Policy/Alteration</a></button>
                                <button [class.d-none]="inquiryFlag" type="button" class="cust-btn" (click)="goToPDistribution()" [disabled]="selectedPol===null"><a>Distribution</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="Exit">
          <ng-template ngbTabTitle>
            <div>Exit</div>
          </ng-template>
            <ng-template ngbTabContent></ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>