<div class="cust-tabs-container">
    <h4>Policy / Inquiry </h4>
    <ngb-tabset>
        <ngb-tab title="Policy Information">
            <ng-template ngbTabContent>
                <div class="row">
                	<div class="col-sm-6 pr-1">
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Policy Record</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Policy No</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.policyNo">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Type of Cession</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.cessionDesc">
                				<label class="form-control-sm col-sm-2">Line Class</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lineClassDesc">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Quotation No</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.quotationNo">
                				<label class="form-control-sm col-sm-2">Status</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.statusDesc">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2 pl-0">Ceding Company</label>
                				<input type="text" class="form-control form-control-sm col-sm-1 mr-1" [ngModel]="policyInfo.cessionId">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.cedingName">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Co Ref No</label>
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.coRefNo">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-2">Intermediary</label>
                				<input type="text" class="form-control form-control-sm col-sm-1 mr-1" [ngModel]="policyInfo.intmId">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.intmName">
                			</div>

                		</fieldset>
                	</div>
                	<div class="col-sm-6 pl-1">
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Period of Insurance</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Inception Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.inceptDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.inceptDate?.split('T')[1]">
                				<label class="form-control-sm col-sm-3">Expiry Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.expiryDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.expiryDate?.split('T')[1]">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Lapse From</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.lapseFrom?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lapseFrom?.split('T')[1]">
                				<label class="form-control-sm col-sm-3">Lapse To</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.lapseTo?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.lapseTo?.split('T')[1]">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Maintenance From</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.maintenanceFrom?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.maintenanceFrom?.split('T')[1]">
                				<label class="form-control-sm col-sm-3">Maintenance To</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.maintenanceTo?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.maintenanceTo?.split('T')[1]">
                			</div>
                		</fieldset>
                		<fieldset class="scheduler-border" style="padding-top: 5px !important;">
                			<legend class="scheduler-border">Production Booking</legend>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Issue Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.issueDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.issueDate?.split('T')[1]">
                				<label class="form-control-sm col-sm-3">Distribution Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.distDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.distDate?.split('T')[1]">
                			</div>
                			<div class="input-group">
                				<label class="form-control-sm col-sm-3">Effective Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.effDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.effDate?.split('T')[1]">
                				<label class="form-control-sm col-sm-3">Accounting Date</label>
                				<input type="text" class="form-control form-control-sm col-sm-2 mr-1" [ngModel]="policyInfo.acctDate?.split('T')[0]">
                				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="policyInfo.acctDate?.split('T')[1]">
                			</div>
                		</fieldset>
                	</div>
                </div>
                <fieldset class="scheduler-border"  style="padding-top: 5px !important;">
                	<legend class="scheduler-border">Policy Details</legend>
                	<app-cust-editable-non-datatable #alterationTable [passData]="passData"></app-cust-editable-non-datatable>
                </fieldset>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>