<div class="input-group cust-border" style="padding-top: 0.6em">
	<div class="col-sm-12">
		<app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
	</div>
	<div class="col-sm-12">
	    <div class="input-group" style="margin-top: 7px;">
	        <label class="form-control-sm cust-sm col-sm-8" style="margin-left: 3px !important;"></label>
	        <label class="form-control-sm col-sm-2" >Variance</label>
	        <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;">
	    </div>
	</div>
	<div class="text-center col-sm-12" style="margin-bottom: 7px;">
	    <button class="cust-btn">Cancel</button>
	    <button class="cust-btn">Save</button>
	</div>
</div>
