table{
    /*margin-top: 30px;*/
    width: 100%
}
th, td{
    white-space: nowrap;
    /*min-width: 0px;
    max-width: 1px;*/
    min-width: 30px;
    max-width: 150px;
    overflow: hidden;
}

#non-datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#non-datatable td, #non-datatable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#non-datatable tr:nth-child(even){background-color: #f2f2f2;}

#non-datatable tr:hover {background-color: #ffffb3;}

#non-datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c9d9d9;
    color: black;
}

.table-scroll{
    overflow: auto;
    max-width: 100%;
    width: 100%;
}

#cust-table-container {
    position: relative !important;
    width: 100%
}

.cust-btn-container {
    /*position: absolute !important;
    left: 1px;
    top: 1px;*/
    margin-bottom: 5px;
    z-index: 99 !important;
}
.icon {
    text-align: center;

}

.cust-btn {
    font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
    width: 60px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.cust-btn {
    margin-right: 3px;
}

.cust-btn:hover {
    background: linear-gradient(to bottom, #4080df 0%, #2d5986 100%);
}

.dropdown-menu {
    padding: 0px !important;
    padding-bottom: 10px !important;
}

.dropdown-item{
    width: 300px;
    height: 200px;
    overflow: auto;
}

div.input-group-text {
    font-size: 9px;
    font-weight: bold;
    width: 100px;
}

input.form-control {
    font-size: 11px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
    color: gray !important;
}


.dropdown-item.active, .dropdown-item:hover {
    background-color: white !important;
    color: gray !important;
}

div.input-group {
    margin-bottom: 1px !important;
}

.cust-tbl-submit {
    border-radius: 2px !important;
    font-size: 12px !important;
}

.cust-tbl-label {
    font-size: 11px;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_filter input {
    margin-right: 0px;
}

.editable-text {
    padding: 0px;
    border: none;
    background-color: inherit;
    width: 90%;
}

.editable-select {
    width: 90%;
    padding: 0px;
    border: none;
    background-color: inherit;
}

.editable-text:focus {
    padding: 5px;
}

.editable-checkbox {
    padding: 1em !important;
}

.editable-number {
    text-align: right;
    width: 90%;
    padding: 0px;
    border: none;
    background-color: inherit;
}

.editable-date {
    width: 90%;
    padding: 0px;
    border: none;
    background-color: inherit;
}

.fa-search {
    position: absolute;
    right: 9px;
    width: 4%;
    line-height : calc(1.3rem + 1px);
}

.number{
    width: 93%;	 
    float: right;
}

.icon .fa:not(:first-child) {
    margin-left: 5px;
}



.pagination{
    margin-top: 2%;
    float: right;
}

.pagingStatus{
    float: left;
}

.cust-search-form{
    height: calc(1.3rem + 1px) !important;
    width: 189px !important;
    font-size: 0.7rem !important;
}

.search-filter{
    /*position: absolute !important;
    right: 0px;*/
    float: right;
}

#cust-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(45,89,134,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#cust-scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#cust-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(45,89,134,.3);
    background-color: #d3d3d3;
}
.checkbox {
	width: 6px;
}

tbody tr, thead tr{
    height: calc(1.3rem + 1px);
}

td, td div input, td div select,tr td span{
    padding: 0px !important;
    margin: 0px !important;
    padding-right: 4px !important;
    vertical-align: middle;
}

th{
    padding: 8px!important;
    overflow: hidden;
}

td div input , td div select,tr td span{
    padding: 5px !important;
}

td.checkbox, th.checkbox{
    text-align: center !important;
    padding: 0px !important;
}

div.filler{
    padding: 5px!important;
    height: calc(1.3rem + 1px) !important;
}

td div select{
    height: calc(1.3rem + 1px) !important;  
    padding-top: 4px !important;
}

tr td span{
    font-size: 0.7rem !important;
}

.total .label{
    float: left;
    width: auto;
    height: calc(1.3rem + 1px) !important;
}

.total span{
    width: auto !important;
    height: calc(1.3rem + 1px) !important;
}

.total-tr td{
    border-right: none !important;
    border-left: none !important;
    font-weight: bold;  
}

.total-tr td:first-child{
    border-left: 1px solid #ddd !important;
}

.total-tr .total{
    border-right: 1px solid #ddd !important;
}

.total-tr{
    background: #ddd;
}

.my-pagination /deep/ .ngx-pagination {
   font-size: 9px;
   border-radius: 4px;
}

.my-pagination /deep/ .ngx-pagination .current {
   font-size: 12px;
   font-weight: bold;
   border-radius: 4px;
}