<div class="cust-tabs-container">
	<h4>Maintenance / Claims</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Claim Cash Call">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="margin-top: 10px !important; padding-bottom: 3px !important;">
						    <div class="form-row custom-row-inline-inset">
						        <div class="input-group">
						            <div class="col-sm-5">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Treaty</label>
							            	<input id="treatyCode" class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCode($event, 'treaty')" [(ngModel)]="treatyCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
							            	<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
							            	<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="treaty" readonly>
						            	</div>
						            </div>
						            <div class="col-sm-4">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Treaty Company</label>
							            	<input id="treatyCompCode"  class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCode($event, 'treatyComp')" [(ngModel)]="treatyCompCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
							            	<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyCompLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
							            	<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="treatyComp" readonly>
						            	</div>
						            </div>
						            <div class="col-sm-3">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Currency</label>
							            	<select id="c-list" class="form-control form-control-sm cust-sm" [(ngModel)]="currencyCd" [disabled]="treaty == '' || treatyComp == '' || currencyList.length == 0" (change)="checkCode($event, 'currency')">
							            		<option *ngFor="let c of currencyList" [value]="c.currencyCd">{{ c.currencyCd + ' - ' + c.description }}</option>
							            	</select>
						            	</div>
						            </div>
						        </div>
						    </div>
						</fieldset>
						<fieldset class="scheduler-border" style="margin-top: 11px !important;">
							<div class="row" style="margin-top: 12px;">
								<div class="col-sm-12" id="sec-ii-treaty-limit-table">
									<app-cust-editable-non-datatable #treatyTable [passData]="passData" (tableDataChange)="passData.tableData=$event" (newClick)="onRowClick($event)" (genericBtn)="onClickDelete($event)" (onDelete)="table.onClickDelete('force'); passData.disableGeneric=true;">
										<ng-container controls-l>
											<button type="button" [disabled]="disableCopySetup" class="cust-btn" (click)="onCopySetupClick()"><a>Copy Setup</a></button>
										</ng-container>
									</app-cust-editable-non-datatable>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm">
									<div class="col-md-13 text-center">
										<div class="cust-btn-container">
										<button type="button" class="cust-btn" (click)="cancelBtn.clickCancel()"><a>Cancel</a></button>
							            <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row" style="margin-top: 12px">
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="padding-top: 4px !important;">
							<div class="custom-row-inline-inset">
								<div class="input-group" style="margin-bottom: -14px !important;">
									<label class="form-control-sm col-sm-1 no-margin">Created By</label>
									<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="clmCashCallRecord.createUser" readonly>
									<label class="form-control-sm col-sm-1 no-margin">Date Created</label>
									<div class="col-sm-2 dp-cont">
										<datepicker [value]="clmCashCallRecord.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
									</div>
									<label class="form-control-sm col-sm-1 no-margin">Last Update By</label>
									<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="clmCashCallRecord.updateUser" readonly>
									<label class="form-control-sm col-sm-1 no-margin">Last Update</label>									
									<div class="col-sm-2 dp-cont">
										<datepicker [value]="clmCashCallRecord.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

<app-confirm-save #confirmSave (onYes)="onClickSaveCashCall()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag?this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSaveCashCall('cancel')" [url]="'/maintenance-clm'" ></app-cancel-button>
<app-mtn-treaty (selectedData)="setSelectedTreaty($event)" [hide]="hiddenTreaty"></app-mtn-treaty>
<app-mtn-treaty #treatyCopyLOV (selectedData)="setSelectedCopyTreaty($event)" [hide]="hiddenTreaty"></app-mtn-treaty>

<app-ceding-company #treatyShare (selectedData)="setSelectedCedCoTreatyShare($event)" [exclude]="hiddenCedingCo" [treaty]="true"></app-ceding-company>
<app-ceding-company #treatyCopyShare (selectedData)="setSelectedCopyCedCoTreatyShare($event)" [exclude]="hiddenCedingCo" [treaty]="true"></app-ceding-company>

<app-modal class="d-none" id="mtnClmCashCallCopyModal">
    <div header>Copy Setup</div>
    <div body style="width: 450px !important;">
        <fieldset class="scheduler-border" style="padding: 5px 20px 5px 8px !important;">
        	<legend class="scheduler-border">Copy From</legend>
            <div class="input-group" style="margin-bottom: -14px !important;">
              	<label class="form-control-sm col-sm-3">Treaty </label>
				<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="treatyCd" tabindex="-1" readonly>
				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="treaty" tabindex="-1" readonly style="margin-left: 2px;">
            </div>
            <div class="input-group" style="margin-bottom: -14px !important;">
              	<label class="form-control-sm col-sm-3">Treaty Company</label>
				<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="treatyCompCd" tabindex="-1" readonly>
				<input type="text" class="form-control form-control-sm col-sm" [ngModel]="treatyComp" tabindex="-1" readonly style="margin-left: 2px;">
            </div>
        </fieldset>
        <fieldset class="scheduler-border" style="padding: 5px 20px 5px 8px !important;">
        	<legend class="scheduler-border">Copy To</legend>
            <div class="input-group" style="margin-bottom: -14px !important;">
				<label class="form-control-sm col-sm-3" style="margin-bottom: 0px">Treaty</label>
				<input id="treatyCopyCode" class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCopyCode($event, 'treaty')" [(ngModel)]="copytreatyCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
				<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyCopyLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
				<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="copytreaty" readonly>
            </div>
            <div class="input-group" style="margin-top: 8px">
				<label class="form-control-sm col-sm-3" style="margin-bottom: 0px">Treaty Company</label>
				<input id="treatyCopyCompCode"  class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCopyCode($event, 'treatyComp')" [(ngModel)]="copytreatyCompCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
				<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyCompCopyLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
				<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="copytreatyComp" readonly>
            </div>
        </fieldset>
    </div>
    <div footer class="w-100 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="onClickModalCopy()" [disabled]="copytreaty == '' || copytreatyComp == '' "><a>Copy</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="mtnClmCashCallSuccessModal">
    <div header>Success Message</div>
    <div body style="min-width: 420px !important;">
        <fieldset class="scheduler-border" style="padding: 17px 20px 12px 20px !important;">
            <div class="custom-row-inline-inset" style="text-align: center">                
                <p>Claim cash call was successfully copied.</p>
            </div>
        </fieldset>
    </div>
    <div footer class="w-100 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="mtnClmCashCallWarningModal">
    <div header>Warning Message</div>
    <div body style="min-width: 420px !important;">
        <fieldset class="scheduler-border" style="padding: 17px 20px 12px 20px !important;">
            <div class="custom-row-inline-inset" style="text-align: center">
            	<p *ngIf="errorMsg == 1">Unable to save. <strong>Effective From</strong> must be later than the<br />
                effectivity of an active treaty limit.</p>
                <p *ngIf="errorMsg == 2">Unable to copy details. <strong>Effective From</strong> of the highlighted<br />
                record must be later than the effectivity of an active Claim<br />
            	Cash Call for selected <strong>Treaty</strong> and <strong>Treaty Company.</strong></p>
            </div>
        </fieldset>
    </div>
    <div footer class="w-100 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();cancelFlag?this.cancelBtn.onNo():null"><a>Ok</a></button>
    </div>
</app-modal>