<div class="cust-tabs-container">
	<h4>Maintenance / Claims</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Claim Cash Call">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="margin-top: 10px !important; padding-bottom: 3px !important;">
						    <div class="form-row custom-row-inline-inset">
						        <div class="input-group">
						            <div class="col-sm-5">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Treaty</label>
							            	<input class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCode($event)" [ngModel]="treatyCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
							            	<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
							            	<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="treaty" readonly>
						            	</div>
						            </div>
						            <div class="col-sm-4">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Treaty Company</label>
							            	<input class="form-control form-control-sm col-sm-2 not-form" type="text" (change)="checkCode($event)" [ngModel]="treatyCompCd" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
							            	<div class="text-search-ico" style="padding-left: 1px; height: 1px;" (click)="showTreatyCompLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
							            	<input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="treatyComp" readonly>
						            	</div>
						            </div>
						            <div class="col-sm-3">
						            	<div class="input-group">
							            	<label class="form-control-sm text-right" style="margin-bottom: 0px">Currency</label>
							            	<select id="c-list" class="form-control form-control-sm cust-sm" [(ngModel)]="currencyCd" [disabled]="lineClassCd == '' || currencyList.length == 0 || disableLCList" (change)="currencyChanged($event)">
							            		<option *ngFor="let c of currencyList" [value]="c.currencyCd">{{ c.currencyCd + ' - ' + c.description }}</option>
							            	</select>
						            	</div>
						            </div>
						        </div>
						    </div>
						</fieldset>
						<fieldset class="scheduler-border" style="margin-top: 11px !important;">
							<div class="row" style="margin-top: 12px;">
								<div class="col-sm-12" id="sec-ii-treaty-limit-table">
									<app-cust-editable-non-datatable [passData]="passData" (tableDataChange)="passData.tableData=$event" (newClick)="onRowClick($event)" (genericBtn)="onClickDelete($event)" (onDelete)="table.onClickDelete('force'); secIIData.disableGeneric=true;">
										<ng-container controls-l>
											<button type="button" [disabled]="disableCopySetup" class="cust-btn" (click)="onCopySetupClick()"><a>Copy Setup</a></button>
										</ng-container>
									</app-cust-editable-non-datatable>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm">
									<div class="col-md-13 text-center">
										<div class="cust-btn-container">
										<button type="button" class="cust-btn" (click)="cancelBtn.clickCancel()"><a>Cancel</a></button>
							            <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row" style="margin-top: 12px">
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="padding-top: 4px !important;">
							<div class="custom-row-inline-inset">
								<div class="input-group" style="margin-bottom: -14px !important;">
									<label class="form-control-sm col-sm-1 no-margin">Created By</label>
									<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="selected?.createUser" readonly>
									<label class="form-control-sm col-sm-1 no-margin">Date Created</label>
									<div class="col-sm-2 dp-cont">
										<datepicker [value]="selected?.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
									</div>
									<label class="form-control-sm col-sm-1 no-margin">Last Update By</label>
									<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="selected?.updateUser" readonly>
									<label class="form-control-sm col-sm-1 no-margin">Last Update</label>									
									<div class="col-sm-2 dp-cont">
										<datepicker [value]="selected?.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancel ? cancelBtn.onNo() : null"></app-sucess-dialog>
<app-cancel-button (onYes)="save(true)" [url]="'/maintenance-clm'" ></app-cancel-button>
<app-mtn-treaty (selectedData)="setSelectedTreaty($event)" [hide]="hiddenTreaty"></app-mtn-treaty>
<app-ceding-company #treatyShare (selectedData)="setSelectedCedCoTreatyShare($event)" [exclude]="hiddenCedingCo" [treaty]="true"></app-ceding-company>