<fieldset class="scheduler-border">
    <legend class="scheduler-border">CV Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" for="xx" style="padding-left:0px !important;">CV No</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1"
                placeholder="2015" style="text-align: right" readonly>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2"
                placeholder="00000001" style="text-align: right; margin-left: 2px;" readonly>
                <label class="form-control-sm col-sm-1" for="xx">Date</label>
                <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm" placeholder="10/01/2018 11:49 AM" readonly>
                <!-- <label class="form-control-sm col-sm-1 text-right" for="xx">Tran ID</label>
                <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="000284723" style="text-align: right" readonly> -->
                <label class="form-control-sm col-sm-1" for="xx">Status</label>
                <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm" placeholder="New" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1" for="xx" style="padding-left:0px !important;">Payee</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm" placeholder="San Miguel Corporation"
                readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                <!-- <select class="form-control form-control-sm cust-sm col-sm-2" readonly>
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select> -->
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="margin-left: 3px !important;"
                placeholder="PHP" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
                placeholder="27,153.30" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <!-- <select class="form-control form-control-sm cust-sm col-sm-2" readonly>
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select> -->
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="margin-left: 3px !important;"
                placeholder="PHP" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
                placeholder="27,153.30" readonly>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
	<legend class="scheduler-border">CV Accounting Entries</legend>
	<div class="form-row custom-row-inline-inset" style="margin-top: 15px !important; margin-bottom: -3px !important;">
		<app-cust-editable-non-datatable [passData]="accountingEntriesData" style="width: 100%">
	       <ng-container controls-r>
                <button class="cust-btn" style="margin-right: 0px !important;">Print AE</button>
            </ng-container>
	    </app-cust-editable-non-datatable>
	</div>
</fieldset>

<fieldset class="scheduler-border" style="margin-top: 10px ! important"> 
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm" style="padding: 0; margin-top: 10px; margin-bottom: 22px">
                <div class="input-group">
                    <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                            <label class="form-control-sm">Created By</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" readonly>
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                            <label class="form-control-sm">Date Created</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="10/01/2018 11:49 AM" readonly>
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                            <label class="form-control-sm">Last Update By</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" readonly>
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                            <label class="form-control-sm">Last Update</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="10/01/2018 11:49 AM" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

