<fieldset class="scheduler-border" style="margin-bottom: 15px !important;">
    <legend class="scheduler-border">Request Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Request No</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-3"
                placeholder="CSR-2018-09-0001">
                <label class="form-control-sm col-sm-2">Request Date</label>
                <input type="datetime-local"  class="form-control form-control-sm cust-sm col-sm-3" [value]="date">
                <label class="form-control-sm col-sm-1">Status</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="New">
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1">Payee</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm" placeholder="Engineering Builders Inc.">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                <select class="form-control form-control-sm cust-sm col-sm-2">
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"placeholder="10,000,000.00">
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <select class="form-control form-control-sm cust-sm col-sm-2">
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" placeholder="10,000,000.00">
            </div>
        </div>
    </div>
</fieldset>

<!-- <div class="cust-tabs-container border-tab" style="margin-top: 10px;">
	<ngb-tabset>
		<ngb-tab *ngIf="paymentType == 'Claim Expense Payment to Adjusters'">
			<ng-template ngbTabTitle>
				<div>Claim Expense Payment to Adjuster</div>
			</ng-template>
			<ng-template ngbTabContent>
                <div class="contain">
				    <app-cust-editable-non-datatable [passData]="AdjustersData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Claim Expense Payment to Other Parties'">
            <ng-template ngbTabTitle>
                <div>Claim Expense Payment to Other Parties</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="OtherPartyData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Claim Payment to Ceding Company'">
            <ng-template ngbTabTitle>
                <div>Claim Payment to Ceding Company</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="CedingCompanyData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Inward Policy Balances - Returns'">
            <ng-template ngbTabTitle>
                <div>Inward Policy Balances - Return</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Payment of Service Fee by In-Trust to Service Accounting'">
            <ng-template ngbTabTitle>
                <div>Payment of Service Fee</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <div>Others</div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-ar-others></app-ar-others>
            </ng-template>
		</ngb-tab>
    </ngb-tabset>
</div>
 -->

<div class="cust-tabs-container" style="margin-top:10px !important">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <ng-container [ngSwitch]="paymentType.toUpperCase()">
           <div *ngSwitchCase ="'CHECK VOUCHER'">Check Voucher</div>
              <div *ngSwitchCase ="'PETTY CASH VOUCHER'">Petty Cash Voucher</div>
              <div *ngSwitchCase ="'PAYMENT OF RISK MANAGEMENT FEE TO EMPLOYEES'">Payment of Risk Management Fee to Employees</div>
              <div *ngSwitchCase ="'INWARD POLICY BALANCES - RETURNS'">Inward Policy Balances - Returns</div>
          </ng-container>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <ng-container [ngSwitch]="paymentType.toUpperCase()">
                <ng-container *ngSwitchCase ="'CHECK VOUCHER'">
                    <app-cust-editable-non-datatable [passData]="checkVoucherData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'PETTY CASH VOUCHER'">
                    <app-cust-editable-non-datatable [passData]="pettyCashVoucherData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'PAYMENT OF RISK MANAGEMENT FEE TO EMPLOYEES'">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                      <app-cust-editable-non-datatable [passData]="PRMFEData"></app-cust-editable-non-datatable>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="paymentType.toUpperCase() === 'INWARD POLICY BALANCES'" class="ngb-tab" title="Unapplied Collection">
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <app-unapplied-collection></app-unapplied-collection>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab class="ngb-tab" title="Others">
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <app-cust-editable-non-datatable [passData]="othersData"></app-cust-editable-non-datatable>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;
  padding-right: 0px !important;">
  <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
    <div class="custom-row-inline-inset">
      <div class="form-row" style="margin-bottom: -10px;">
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Created By</label>
          <input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma">
          <label class="form-control-sm col-sm-1">Date Created</label>
          <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-01T10:45">
          <label class="form-control-sm col-sm-1">Last Update By</label>
          <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
          <label class="form-control-sm col-sm-1">Last Update</label>
          <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-02T10:00">
        </div>
      </div>
    </div>
  </fieldset>
  </div>