<fieldset class="scheduler-border" style="margin-bottom: 15px !important;">
    <legend class="scheduler-border">Request Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Request No</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-3 dirty" [ngModel]="requestData?.paytReqNo" readonly>
                <label class="form-control-sm col-sm-2 no-margin">Request Date</label>
                <div class="col-sm-3 dp-cont" style="margin-left: 0px !important">
                    <datepicker type="datetime" [showIcon]="false" [disabled]="true" [value]="requestData?.reqDate"></datepicker>
                </div>
                <label class="form-control-sm col-sm-1">Status</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" [ngModel]="requestData?.reqStatusDesc" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1">Payee</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm" maxlength="500" [ngModel]="requestData?.payee" readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;" [ngModel]="requestData?.currCd" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="requestData?.reqAmt | number:'1.2-2'" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;" value="PHP" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="requestData?.localAmt | number:'1.2-2'" readonly>
            </div>
        </div>
    </div>
</fieldset>


<div class="cust-tabs-container" style="margin-top:10px !important">
    <ngb-tabset #tabset (tabChange)="onTabChange($event)">
        <ngb-tab>
            <ng-template ngbTabTitle>
                <div>{{ requestData?.tranTypeDesc }}</div>
            </ng-template>
            <ng-template ngbTabContent>
               <div class="input-group cust-border" style="padding-top: 0.6em">
                    <div class="col-sm-12">
                        <ng-container [ngSwitch]="true">
                            <ng-container *ngSwitchCase ="requestData?.tranTypeCd == 1 || requestData?.tranTypeCd == 5">
                                <app-cust-editable-non-datatable id="cvDataTbl" (newClick)="onRowClick($event)" [passData]="cvData" (tableDataChange)="cvData.tableData=$event;onDataChange('cv');" #cvTbl></app-cust-editable-non-datatable>
                            </ng-container>
                            <ng-container *ngSwitchCase ="requestData?.tranTypeCd == 2">
                                <app-cust-editable-non-datatable id="pcvDataTbl" (clickLOV)="showLOV($event,'pcvdata')" (newClick)="onRowClick($event)" [passData]="pcvData" (tableDataChange)="pcvData.tableData=$event;onDataChange('pcv');" #pcvTbl></app-cust-editable-non-datatable>
                            </ng-container>
                        </ng-container>
                        <div class="form-row col-sm-12" style="margin-top: 40px !important;" *ngIf="(requestData?.reqStatus == 'N' || requestData?.reqStatus == 'F')">
                            <div class="form-group col-sm-12">
                                <div class="text-center">
                                    <div class="cust-btn-container">
                                        <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
                                        <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;padding-right: 0px !important;">
    <fieldset class="scheduler-border" style="margin-top: 10px !important;">
        <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
            <label class="form-control-sm col-sm-1">Created By</label>
            <input type="text" class="form-control form-control-sm col-sm" [ngModel]="selectedTblData?.createUser" readonly>
            <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
            <div class="col-sm dp-cont">
                <datepicker [showIcon]="false" [showSeconds]="true" [disabled]="true" [value]="selectedTblData?.createDate"></datepicker>
            </div>
            <label class="form-control-sm col-sm-1">Last Update By</label>
            <input type="text" class="form-control form-control-sm col-sm" [ngModel]="selectedTblData?.updateUser" readonly>
            <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
            <div class="col-sm dp-cont">
                <datepicker [showIcon]="false" [showSeconds]="true" [disabled]="true" [value]="selectedTblData?.updateDate"></datepicker>
            </div>
        </div>
    </fieldset>
</div>

<app-lov #lov [passData]="passData" (selectedData)="setData($event,'pcvdata')" [lovCheckBox]="true"></app-lov>
<app-confirm-save  #con (onYes)="onSave()"></app-confirm-save>
<app-sucess-dialog #suc [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button #can (onYes)="onClickSave('cancel')" [url]="'/acc-s-request-for-payment'" ></app-cancel-button>
