<style type="text/css">
    .input-group {
        padding: 0px !important;
        margin: 0px !important;
    }
    .input-group label {
        padding: 0px !important;
        margin: 0px !important;
    }
    .ig-row {
        margin: -3px !important;
    }
    .ig-row label {
        margin-right: 5px !important;
    }
    .input-ig-row {
        margin-left: 2px !important;
    }
</style>
<div class="cust-tabs-container">
	<h4>Policy / Generate Documents</h4>
	<ngb-tabset>
		<ngb-tab title="Policy Printing">
			<ng-template ngbTabContent>
				<div class="row" style="justify-content: center;">
					<div class="col-sm-6">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Regenerate Policy Documents</legend>
							<div class="col-sm-1"></div>
							<div class="col-sm">
								<div class="row" style="margin-right: 0px; margin-bottom: 11px;">
									<div class="input-group">
										<div class="input-group">
											<label class="form-control-sm col-sm-2" style="margin-left: 8px !important;">Policy No</label>
											<input type="text" [(ngModel)]="policyLine" style="margin-left: 3px;" class="form-control form-control-sm col-sm cap-input">
											<input type="text" class="form-control form-control-sm col-sm cap-input" style="margin-left: 3px;">
											<input type="text" class="form-control form-control-sm col-sm cap-input" style="margin-left: 3px;">
											<input type="text" class="form-control form-control-sm col-sm cap-input" style="margin-left: 3px;">
											<span>&nbsp;</span>
											<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										</div>

										<div class="input-group ig-row" style="margin-top: -6px !important;">
											<label class="form-control-sm col-sm-2" style="margin-left: 8px !important;">Ceding Company</label>
											<input type="text" class="form-control form-control-sm">
										</div>
										<div class="input-group ig-row">
											<label class="form-control-sm col-sm-2" style="margin-left: 8px !important;">Insured</label>
											<input type="text" class="form-control form-control-sm">
										</div>
										<div class="input-group ig-row">
											<label class="form-control-sm col-sm-2" style="margin-left: 8px !important;">Risk</label>
											<input type="text" class="form-control form-control-sm">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<br>
				<div class="row" style="justify-content: center;">
					<div class="col-sm-6">
						<app-cust-editable-non-datatable [passData]="passData">
						</app-cust-editable-non-datatable>
					</div>
				</div>
				<br>
				<div class="row" style="justify-content: center;">
					<div class="col-sm-6 text-center">
						<button type="button" class="cust-btn" routerLink="''"><a>Cancel</a></button>
						<button type="button" class="cust-btn"><a>Print</a></button>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>