<div>
	<fieldset class="scheduler-border"> 
		<legend class="scheduler-border">Quotation Info</legend>
			<div class="form-row custom-row-inline-inset">
				<div class="input-group" >
					<label class="form-control-sm col-sm-2" for="inputQuonum">Quotation No </label>
				    <input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-2" placeholder="CAR-2018-5081-077-0177" disabled="disabled" [(ngModel)]="quotationInfo.quotationNo">
				    <label class="form-control-sm col-sm-1" for="inputInname" >Insured</label>
				    <input type="text" id="inputInname" class="form-control form-control-sm cust-sm col-sm-6" placeholder="Insured Name" disabled="disabled" [(ngModel)]="quotationInfo.insuredDesc">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="inputRisk" >Risk</label>
				    <input type="text" id="inputRisk" class="form-control form-control-sm cust-sm col-sm-9" placeholder="Risk" disabled="disabled" [(ngModel)]="quotationInfo.riskName">
				</div>
			</div>
	</fieldset>
</div>
<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Advice Details	</legend>
		<div style="padding-top: 8px;">
        	<app-cust-editable-non-datatable [passData]="intCompData" (clickLOV)="clickAdviceLOV($event);" (newClick)="onRowClick($event);"></app-cust-editable-non-datatable>
		</div>
	</fieldset>
</div>
<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center">
			<div class="cust-btn-container" style="margin-top: 10px;">
			<button type="button" class="cust-btn" *ngIf="printClickable" (click)="onClickPrint()"><a>Print</a></button>
			<button type="button" class="cust-btn cust-btn-disabled" *ngIf="!printClickable"><a>Print</a></button>
			<button [class.d-none]="inquiryFlag" type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
            <button [class.d-none]="inquiryFlag" type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
            <!-- <app-modal [btnTitle]="'Save'" (click)="onClickSave()">
            	<div header>
            		Prompt
            	</div>
            	<div body>
            		<p>Successfully saved!</p>
            	</div>
            	<div footer>
            		<button type="button" class="cust-btn" (click)="modalService.dismissAll();"><a>Ok</a></button>
            	</div>
            </app-modal> -->
		</div>
	</div>
</div>
<app-mtn-advice-wordings id="adviceWordingsLOV" (selectedData)="selectedAdviceLOV($event)"></app-mtn-advice-wordings>
<app-mtn-attention id="attentionLOV" (selectedData)="selectedAttentionLOV($event)" [cedingId]="currentCedingId"></app-mtn-attention>

<app-sucess-dialog id="incomp" [message]="resultMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null" [icon]="messageIcon"></app-sucess-dialog>
<app-confirm-save (onYes)="saveData()"></app-confirm-save>
<app-cancel-button (onYes)="saveData('cancel')" [url]="'/quotation-processing'" ></app-cancel-button>