<div>
	<fieldset class="scheduler-border"> 
		<legend class="scheduler-border">Quotation Info</legend>
			<div class="form-row custom-row-inline-inset">
				<div class="input-group" >
					<label class="form-control-sm col-sm-1" for="inputQuonum">Quotation No </label>
				    <input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-2" placeholder="CAR-2015-0000289-04" disabled="disabled">
				    <label class="form-control-sm col-sm-1" for="inputInname" >Insured</label>
				    <input type="text" id="inputInname" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Insured Name" disabled="disabled">
				     <label class="form-control-sm col-sm-1" for="inputRisk" >Risk</label>
				    <input type="text" id="inputInname" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Risk" disabled="disabled">
				</div>
			</div>
	</fieldset>
</div>
<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Advice Details	</legend>
		<app-cust-editable-table [checkFlag]="true" [addFlag]="true" [deleteFlag]="true" [editFlag]="false" [nData]="nData" [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes" [opts]="opts" [magnifyingGlass]="magnifyingGlass"></app-cust-editable-table>
	</fieldset>
</div>
<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center">
			<br>
			<div class="cust-btn-container">
			<button type="button" class="cust-btn"><a>Print</a></button>

			<app-modal  [btnTitle]="'Cancel'" >
				<div header>CONFIRMATION</div>
        		<div body>
        			<div class="input-group">
        				<i class="fa fa-question-circle fa-3x" aria-hidden="true"></i> 
        				<p style="margin-left: 5px;margin-top: 10px;margin-bottom: 10px;">Do you want to save the changes you have made?</p>
        			</div>
        		</div>
        		<div footer>
        			<app-modal [btnTitle]="'Yes'">
            			<div header>SUCCESS MESSAGE</div>
            			<div body>
            				<div class="input-group">
        						<i class="fa fa-check-circle fa-3x" aria-hidden="true"></i> 
        						<p style="margin-left: 5px;margin-top: 10px;margin-bottom: 10px;">Saving Successfull</p>
        					</div>
        				</div>
        				<div footer>
            				<button class="cust-btn" type="button" (click)="modalService.dismissAll();" routerLink="/quotation-processing"><a>Ok</a></button>
            			</div>
            		</app-modal>

					<button class="cust-btn" type="button" (click)="modalService.dismissAll();" routerLink="/quotation-processing"><a>No</a></button>
            		<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
        		</div>
			</app-modal>

			<app-modal [btnTitle]="'Save'">
            			<div header>SUCCESS MESSAGE</div>

            			<div body>
            				<div class="input-group">
        						<i class="fa fa-check-circle fa-3x" aria-hidden="true"></i> 
        						<p style="margin-left: 5px;margin-top: 10px;margin-bottom: 10px;">Saving successfull.</p>
        					</div>
        				</div>

        				<div footer>
            				<button class="cust-btn" type="button" (click)="modalService.dismissAll();" routerLink="/quotation-processing"><a>Ok</a></button>
            			</div>
            </app-modal>
		</div>
	</div>
</div>