.fa-question-circle{
	font-size: 60px;
	color: #557a95;
	/*margin-left: 15px;*/
}

.fa-check-circle{
	font-size: 60px;
	color: #557a95;
	/*margin-left: 15px;*/
}


.my-modal-icon{
	margin-left: 10px;
}

.my-modal-text{
	padding-right: 0px;
	margin:auto;
	margin-right: 0px;
	margin-left: 25px;
}

.my-modal-text span{
	font-size: 13px;
}

div h4{
	font-size: 15px;
	margin: auto;
}

.float-sm-center{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.txt-content-rght{
    text-align: right
}
.mrgn-fieldset{
    margin-top: 17px;
}
.fieldset-height{
    height: 104%;
}

.input-group {
    margin-bottom: -14px !important;
}