<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Journal Voucher / Generate JV</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>JV Entry</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-jv-entry></app-jv-entry>	
				</ng-template>
			</ngb-tab>

			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>JV Details</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-jv-details></app-jv-details>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Inward Policy Balances</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>QSOA Balances</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Payment Requests List</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Attachments</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
	</ngb-tabset>
</div>