<fieldset class="scheduler-border">
	<legend class="scheduler-border">List of Records</legend>
	<div class="form-row custom-row-inline-inset" style="margin-bottom: -8px !important;">
		<app-cust-editable-non-datatable [passData]="passData" style="width: 100%"></app-cust-editable-non-datatable>
	</div>

	<div class="input-group" style="margin-left: -20px;">
		<label class="form-control-sm col-sm-1">Created By</label>
		<input type="text" class="form-control form-control-sm col-sm">
		<label class="form-control-sm col-sm-1">Date Created</label>
		<input type="date" class="form-control form-control-sm col-sm">	
		<label class="form-control-sm col-sm-1">Last Updated By</label>
		<input type="text" class="form-control form-control-sm col-sm">
		<label class="form-control-sm col-sm-1">Last Update</label>
		<input type="date" class="form-control form-control-sm col-sm">	
	</div>
</fieldset>