<fieldset class="scheduler-border">
	<legend class="scheduler-border">List of Records</legend>

	<div *ngIf="tranFlag === 'AR'" class="form-row custom-row-inline-inset" style="margin-top: 15px ! important;">
		<div class="col-sm-12">
			<app-cust-editable-non-datatable #ARTable (newClick)="onRowClick($event)" [passData]="passDataAR" (genericBtn)="onChange('AR')"></app-cust-editable-non-datatable>
		</div>
	</div>

	<div *ngIf="tranFlag === 'JV'" class="form-row custom-row-inline-inset" style="margin-top: 15px ! important;">
		<div class="col-sm-12">
			<app-cust-editable-non-datatable #JVTable (newClick)="onRowClick($event)" [passData]="passDataJV" (genericBtn)="onChange('JV')"></app-cust-editable-non-datatable>
		</div>
	</div>


	<div *ngIf="tranFlag === 'CV'" class="form-row custom-row-inline-inset" style="margin-top: 15px ! important;">
		<div class="col-sm-12">
			<app-cust-editable-non-datatable #CVTable (newClick)="onRowClick($event)" [passData]="passDataCV" (genericBtn)="onChange('CV')"></app-cust-editable-non-datatable>
		</div>
	</div>

 

	<div class="input-group" style="margin-left: -20px;">
		<label class="form-control-sm col-sm-1">Created By</label>
		<input type="text" class="form-control form-control-sm col-sm" [ngModel]="record.createUser">
		<label class="form-control-sm col-sm-1">Date Created</label>
		<div class="col-sm" style="padding: 0px">
			<datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record.createDate"></datepicker>
		</div>
		<label class="form-control-sm col-sm-1">Last Updated By</label>
		<input type="text" class="form-control form-control-sm col-sm" [ngModel]="record.updateUser">
		<label class="form-control-sm col-sm-1">Last Update</label>
		<div class="col-sm" style="padding: 0px">
			<datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record.updateDate"></datepicker>
		</div> 	
	</div>



</fieldset>

<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage"></app-sucess-dialog>

<app-modal class="d-none" id="confirmModal">
    <div header>Confirmation</div>
    <div body style="width: 350px !important;">
            <div class="custom-row-inline-inset text-justify" style="margin-bottom : -16px ! important; margin-top : -5px ! important">       
                <p>Are you sure you want to change the status of the selected transaction/s to <b> New </b>?</p>
            </div>
    </div>
    <div footer class="w-100 text-center">
    	<button class="cust-btn" type="button" (click)="onChangeStatus(this.selectedData,this.tranFlag);modalService.dismissAll()"><a>Yes</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll()"><a>No</a></button>
    </div>
</app-modal>