<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Acknowledgement Receipt</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
			<ngb-tab class="ngb-tab" title="AR Listings">
				<ng-template ngbTabContent>
					<div class="row">
						<div class="col-sm">
							<app-cust-non-datatable (add)="toGenerateARAdd();" (rowDblClick)="toGenerateAREdit($event);" [passData]="passData"></app-cust-non-datatable>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<fieldset class="scheduler-border" style="padding-top: 2px !important; padding-bottom: 2px !important;">
								<div class="custom-row-inline-inset">
									<div class="form-row" style="margin-bottom: -10px;">
										<div class="input-group">
											<label class="form-control-sm col-sm-1">Created By</label>
											<input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma">
											<label class="form-control-sm col-sm-1">Date Created</label>
											<input type="datetime-local" class="form-control form-control-sm col-sm">
											<label class="form-control-sm col-sm-1">Last Update By</label>
											<input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
											<label class="form-control-sm col-sm-1">Last Update</label>
											<input type="datetime-local" class="form-control form-control-sm col-sm">
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>