<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Acknowledgement Receipt</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
			<ngb-tab class="ngb-tab" title="AR Listings">
				<ng-template ngbTabContent>
					<div class="row">
						<div class="col-sm-12">
							<app-cust-non-datatable (add)="toGenerateARAdd();" (edit)="toGenerateARAdd();" (rowClick)="onRowClick($event)" (newRowDblClick)="toGenerateAREdit($event);" [passData]="passData" (searchToDb)="searchQuery($event)"></app-cust-non-datatable>
						</div>
						<div class="col-sm-12">
							<div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
				        		<div class="input-group" style="margin-top: -10px !important;">
				            		<label class="form-control-sm col-sm-1 text-right labels">Created By</label>
				            		<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="otherInfo.createUser" disabled>
				            		<label class="form-control-sm col-sm-1 text-right labels" style="margin-left: -5px !important;">Date Created</label>
				            		<!-- <input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="otherInfo.createDate" disabled> -->
				            		<div class="col-sm" style="padding: 0px">
				            		    <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="otherInfo.createDate"></datepicker>
				            		</div>
				            		<label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
				            		<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="otherInfo.updateUser" disabled>
				            		<label class="form-control-sm col-sm-1 text-right labels" style="margin-left: -17px !important;">Last Update</label>
				            		<!-- <input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="otherInfo.updateDate" disabled> -->
				            		<div class="col-sm" style="padding: 0px">
				            		    <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="otherInfo.updateDate"></datepicker>
				            		</div>
				        		</div>
				    		</div>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>