<div class="cust-tabs-container">
  <h4>Claim / {{isInquiry ? 'Claim Inquiry' : 'Claim Processing'}}</h4>
  <ngb-tabset #tabset (tabChange)="onTabChange($event)">
    <ngb-tab title="General Info">
      <ng-template ngbTabContent>
        <app-clm-gen-info-claim (emitClaimInfoId)="getClmInfo($event)" [claimInfo]="claimInfo" [isInquiry]="isInquiry"></app-clm-gen-info-claim>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == ''" class="ngb-tab" title="Section Covers">
      <ng-template ngbTabContent>
        <app-clm-section-covers [isInquiry]="isInquiry" [claimInfo]="claimInfo" (disableClmHistory)="disableClmHistory = $event"></app-clm-section-covers>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == '' || disableClmHistory" class="ngb-tab" title="Claim History">
      <ng-template ngbTabContent>
        <app-clm-claim-history [claimInfo]="claimInfo" (disableNextTabs)="disableNextTabs = $event.disableNextTabs; disablePaytReq = $event.disablePaytReq" ></app-clm-claim-history>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == '' || disableNextTabs"  title="Claim Distribution">
      <ng-template ngbTabContent>
        <app-claim-distribution [claimInfo]="claimInfo" [isInquiry]="isInquiry"></app-claim-distribution>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == '' || disableNextTabs || disablePaytReq" title="Generate Payment Request">
      <ng-template ngbTabContent>
        <app-clm-claim-payment-request [claimInfo]="claimInfo"></app-clm-claim-payment-request>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == ''" class="ngb-tab" title="Attachment">
      <ng-template ngbTabContent>
        <app-claims-attachment [claimInfo]="claimInfo" [isInquiry]="isInquiry"></app-claims-attachment>
      </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="claimInfo.claimId == '' || disableNextTabs" title="Print">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
    <ngb-tab id="view-pol-info" title="View Policy Info">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
     <ngb-tab id="Exit">
        <ng-template ngbTabTitle>
          <div>Exit</div>
        </ng-template>
          <ng-template ngbTabContent></ng-template>
      </ngb-tab>
  </ngb-tabset>
</div>