.sec-input{
	margin-left: 2px !important;
}

.input-group{
	    margin-bottom: -14px !important;
}

.top-row fieldset{
	padding-top: 8px !important;
    padding-right: 74px !important;
    padding-left: 64px !important;
}

.top-row{
	    margin-top: 12px;
}

.btn-cont{
	margin-top: 3px !important;
	margin-bottom: 8px !important;
}

.latLong{
	position: absolute;
	width: 50%;
	top: 28px;
    right: 0px;
}

.cont2 , .cont1{
	position: relative;
}

.city{
	position: absolute;
	width: 50%;
}

.cust {
	font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 99 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3px !important;
    height: 22px;
}

.text-search-ico {
    margin-left: -15px;
    margin-right: 2px;
    z-index: 200;
    font-size: 14px;
}