<div class="cust-tabs-container">
	<h4>Policy / Utilities / Update Information</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Update General Info">
			<ng-template ngbTabContent>
				<div class="row top-row">
					<div class="col-sm-2"></div>
					<fieldset class="scheduler-border col-sm">
						<div class="row">
							<div class="col-sm-1">

							</div>
							<div class="col-sm">
								<div class="input-group " style="margin-bottom: -4px !important;">
									<label class="form-control-sm col-sm-2" style="margin-bottom: 0px !important;">Policy No</label>
									<input type="text" class="form-control form-control-sm col-sm-1 cap-input" ngbTooltip="Line" appRequired placement="bottom">
									<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
									 ngbTooltip="Year" appRequired placement="bottom" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' maxlength="4">
									<input type="text" class="form-control form-control-sm col-sm-3 cap-input" style="margin-left: 3px;"
									 ngbTooltip="Sequence No" appRequired placement="bottom" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' appSequence='5' maxlength="5">
									<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
									 ngbTooltip="Co Code" appRequired placement="bottom" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' appSequence='3' maxlength="3">
									<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;"
									 ngbTooltip="Co Series No" appRequired placement="bottom" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' appSequence='4' maxlength="4">
									<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
									 ngbTooltip="Alt No" appRequired placement="bottom" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' appSequence='3' maxlength="3">
									<span>&nbsp;</span>
									<div class="text-search-ico"><a><i class="fa fa-search" (click)="showLOV();"></i></a></div>
									<button type="button" class="cust" style="margin-left: 10px ! important" (click)="clear()"><a>Clear</a></button>
								</div>
							</div>
							<div class="col-sm-1">
							</div>
						</div>

					</fieldset>
					<div class="col-sm-2"></div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<fieldset class="scheduler-border col-sm">
						<legend class="scheduler-border">Policy Record</legend>

						<div class="form-row custom-row-inline-inset">
							<div class="input-group">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Type of Cession</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3" [(ngModel)]="typeOfCession" disabled="disabled">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Line Class</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3" disabled [ngModel]="policyInfo.lineClassDesc">
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Quotation No</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3" disabled [ngModel]="policyInfo.quotationNo">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Status</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3" disabled [ngModel]="policyInfo.statusDesc">
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Ceding Company</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled [ngModel]="policyInfo.cedingId">
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm sec-input" disabled="disabled" [ngModel]="policyInfo.cedingName" >
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Co Ref No</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm" [disabled]="disabledBool" [ngModel]="policyInfo.coRefNo">
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group" *ngIf="checkRetrocession()">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Reinsurance From</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm sec-input" disabled>
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group" *ngIf="checkRetrocession()">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">RI Binder No</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm" >
								<label class="col-sm-1"></label>
							</div>
							<div class="input-group">
								<label class="col-sm-1"></label>
								<label class="form-control-sm col-sm-2" for="inputQuonum">Intermediary</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled  [ngModel]="policyInfo.intmId">
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm sec-input" disabled [ngModel]="policyInfo.intmName">
								<label class="col-sm-1"></label>
							</div>
						</div>
					</fieldset>
					<div class="col-sm-2"></div>
				</div>

				<div class="row">
					<div class="col-sm-2"></div>
					<fieldset class="scheduler-border col-sm">
						<legend class="scheduler-border">Insured Details</legend>

						<div class="form-row custom-row-inline-inset">
							<div class="input-group">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Principal</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled [ngModel]="policyInfo.principalId" appSequence='2'>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3 sec-input" disabled="disabled" [ngModel]="policyInfo.principalName">
								<label class="form-control-sm col-sm-1" for="inputQuonum">Contractor</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled [ngModel]="policyInfo.contractorId" appSequence='2'>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm sec-input" disabled [ngModel]="policyInfo.contractorName">
							</div>
							<div class="input-group">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Insured</label>
								<textarea class="form-control form-control-sm cust-sm col-sm" [disabled]="disabledBool" [ngModel]="policyInfo.insuredDesc" style="font-size: 11px;" appRequired rows="3"></textarea>
							</div>
							<div class="input-group" style="margin-top: -3px">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Risk</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm" disabled [ngModel]="policyInfo.riskName">
							</div>
							<div class="input-group">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Object</label>
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-1" disabled [ngModel]="policyInfo.project.objectId">
								<input type="text" id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-3 sec-input" disabled [ngModel]="policyInfo.project.object">
								<label class="form-control-sm col-sm-1" for="inputQuonum">Region</label>
								<input type="text" class="form-control form-control-sm cust-sm col-sm-5" disabled [ngModel]="policyInfo.project.regionDesc">
							</div>


							<div class="input-group cont2">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Nature of Work / Items</label>
								<textarea class="form-control form-control-sm cust-sm col-sm-4" rows="3" disabled [ngModel]="policyInfo.projDesc" style="font-size: 12px;"> </textarea>
								<label class="form-control-sm col-sm-1" for="inputQuonum">Province</label>
								<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-5" disabled [ngModel]="policyInfo.project.provinceDesc">
								<div class="input-group latLong" style="margin-top: -3px;">
									<label class="form-control-sm col-sm-2" for="inputQuonum">City/Town</label>
									<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-10" disabled [ngModel]="policyInfo.project.cityDesc">
								</div>
							</div>
							<div class="input-group cont1" style="margin-top: 0px;">
								<label class="form-control-sm col-sm-2" for="inputQuonum">Site</label>
								<textarea class="form-control form-control-sm cust-sm col-sm-4" rows="3" disabled [ngModel]="policyInfo.project.site" style="font-size: 12px;"></textarea>
								<label class="form-control-sm col-sm-1" for="inputQuonum">District</label>
								<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-2" disabled [ngModel]="policyInfo.project.districtDesc">
								<label class="form-control-sm col-sm-1" for="inputQuonum">Block</label>
								<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-2" disabled [ngModel]="policyInfo.project.blockDesc">
								<div class="input-group latLong" style="margin-top: -3px;">
									<label class="form-control-sm col-sm-2" for="inputQuonum">Lat</label>
									<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-4" [disabled]="disabledBool" [ngModel]="policyInfo.project.latitude" >
									<label class="form-control-sm col-sm-2" for="inputQuonum">Long</label>
									<input id="inputQuonum" class="form-control form-control-sm cust-sm col-sm-4" [disabled]="disabledBool" [ngModel]="policyInfo.project.longitude">
								</div>
							</div>
						</div>

					</fieldset>
					<div class="col-sm-2"></div>
				</div>

				<div class="col-md-13 text-center" style="margin-top: 10px; margin-bottom: 5px;">
					<div class="cust-btn-container">
						<button type="button" class="cust-btn"><a>Cancel</a></button>
						<button type="button" class="cust-btn"><a>Save</a></button>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

<app-modal hidden [btnTitle]="'List Of Values'" id="polLovMdl">
    <div header>List Of Values</div>
    <div body>
       <app-cust-non-datatable [passData]="passDataLOV" #polLov (rowClick)="onRowClick($event);"></app-cust-non-datatable>
    </div>
    <div footer class="text-center w-100">
        <div class="col-sm-12 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();cancel();"><a>Cancel</a></button>
        <button  class="cust-btn" type="button" (click)="modalService.dismissAll();setDetails($event);"><a>Ok</a></button>
        </div>
    </div>
</app-modal>