.sec-input{
	margin-left: 2px !important;
}

.input-group{
	    margin-bottom: -14px !important;
}

.top-row fieldset{
	padding-top: 5px !important;
    padding-right: 74px !important;
    padding-left: 64px !important;
}

.top-row{
	    margin-top: 12px;
}

.col-md-13{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

.latLong{
	position: absolute;
	width: 50%;
	top: 28px;
    right: 0px;
}

.cont2 , .cont1{
	position: relative;
}

.city{
	position: absolute;
	width: 50%;
}