<div class="cust-tabs-container">
	<h4>Accounting Service / Check Voucher</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
		<ngb-tab class="ngb-tab" title="CV Listings">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="margin-top: 10px !important; padding-top: 3px !important; padding-bottom: 15px !important;">
							<div class="input-group text-center" style="margin-bottom: -14px !important;">
								<!-- <div class="col-sm">
									<input type="radio" name="tranStat" id="statNw" value="new" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statNw" class="text-left">&nbsp;New</label>
								</div>
								<div class="col-sm">
									<input type="radio" name="tranStat" id="statOk" value="ok for printing" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statOk" class="text-left">&nbsp;OK for Printing</label>
								</div>
								<div class="col-sm-2">
									<input type="radio" name="tranStat" id="statFc" value="for finance checking" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statFc" class="text-left">&nbsp;For Finance Checking</label>
								</div>
								<div class="col-sm">
									<input type="radio" name="tranStat" id="statPr" value="printed" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statPr" class="text-left">&nbsp;Printed</label>
								</div>
								<div class="col-sm">
									<input type="radio" name="tranStat" id="statCl" value="closed" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statCl" class="text-left">&nbsp;Closed</label>
								</div>
								<div class="col-sm">
									<input type="radio" name="tranStat" id="statPs" value="posted" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statPs" class="text-left">&nbsp;Posted</label>
								</div>
								<div class="col-sm-2">
									<input type="radio" name="tranStat" id="statDl" value="deleted" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statDl" class="text-left">&nbsp;Cancelled / Deleted</label>
								</div> -->
								<div class="w-100 text-center">
									<input type="radio" name="tranStat" id="statNw" value="new" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statNw" class="text-left cust-mg">&nbsp;New</label>
									<input type="radio" name="tranStat" id="statFc" value="for finance checking" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statFc" class="text-left cust-mg">&nbsp;For Finance Checking</label>
									<input type="radio" name="tranStat" id="statOk" value="ok for printing" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statOk" class="text-left cust-mg">&nbsp;OK for Printing</label>
									<input type="radio" name="tranStat" id="statPr" value="printed" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statPr" class="text-left cust-mg">&nbsp;Printed</label>
									<input type="radio" name="tranStat" id="statPs" value="posted" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statPs" class="text-left cust-mg">&nbsp;Posted</label>
									<input type="radio" name="tranStat" id="statDl" value="deleted" style="vertical-align: middle;" [(ngModel)]="tranStat" (change)="getAcseCv()">
									<label for="statDl" class="text-left">&nbsp;Cancelled</label>
								</div>
							</div>
						</fieldset>
					</div>
					
					<div class="col-sm-12">
						<app-cust-non-datatable [passData]="passData" (add)="onClickAdd($event)" (edit)="onClickEdit()" (rowClick)="onRowClick($event)" (newRowDblClick)="onRowDblClick($event)" (searchToDb)="searchQuery($event)" (export)="export()"></app-cust-non-datatable>
					</div>
					<div class="col-sm-12">
			    		<fieldset class="scheduler-border" style="margin-top: 10px !important;">
		                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
		                        <label class="form-control-sm col-sm-1">Created By</label>	
		                        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="cvData?.createUser" readonly>
		                        <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
		                        <div class="col-sm dp-cont">
		                            <datepicker [value]="cvData?.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
		                        </div>
		                        <label class="form-control-sm col-sm-1">Last Update By</label>
		                        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="cvData?.updateUser" readonly>
		                        <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
		                        <div class="col-sm dp-cont">
		                            <datepicker [value]="cvData?.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
		                        </div>
		                    </div>
		                </fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>