<div class="cust-tabs-container">
    <h4>Quotation / Utilities / Create Internal Competition</h4>
    <ngb-tabset>
        <ngb-tab id="quoteListing" class="ngb-tab" title="Create Internal Competition">
            <ng-template ngbTabContent style="padding-top: 10px !important;">
                
                <div class="row" style="margin-top: 25px !important;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border" style="padding-top: 15px !important;padding-bottom: 7px !important;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm" style="padding: 7px 4em 5px 3em;">
                                <div class="input-group cust-ig">
                                    <label class="form-control-sm col-sm-2">Quotation No</label>
                                    <input type="text" (change)="search('lineCd',$event)" [(ngModel)]="quoteInfo.quotationNoArr[0]" class="form-control form-control-sm col-sm-2 req" ngbTooltip="Line" mask="SSS" appRequired>
                                    <input type="text" (change)="search('year',$event)" [(ngModel)]="quoteInfo.quotationNoArr[1]" class="form-control form-control-sm input-ig-row col-sm text-right req" ngbTooltip="Year" mask="9999" appRequired>
                                    <input type="text" (change)="search('seqNo',$event)" [(ngModel)]="quoteInfo.quotationNoArr[2]" class="form-control form-control-sm input-ig-row text-right req" ngbTooltip="Sequence No" mask="99999" appRequired>
                                    <input type="text" (change)="search('revNo',$event)" [(ngModel)]="quoteInfo.quotationNoArr[3]" class="form-control form-control-sm input-ig-row text-right req" ngbTooltip="Revision No" mask="99" appRequired>
                                    <input type="text" (change)="search('cedingId',$event)" [(ngModel)]="quoteInfo.quotationNoArr[4]" class="form-control form-control-sm input-ig-row text-right req" ngbTooltip="Company No" mask="999" appRequired>
                                    <span>&nbsp;</span>
                                    <div class="text-search-ico"><a><i class="fa fa-search" (click)="showQuoteLov()"></i></a></div>
                                </div>
                                <div class="input-group cust-ig">
                                    <label class="form-control-sm col-sm-2">Ceding Company</label>
                                    <input type="text" class="form-control form-control-sm" [ngModel]="quoteInfo.cedingName" readonly>
                                </div>
                                <div class="input-group cust-ig">
                                    <label class="form-control-sm col-sm-2">Insured</label>
                                    <input type="text" class="form-control form-control-sm" [ngModel]="quoteInfo.insuredDesc" readonly>
                                </div>
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2">Risk</label>
                                    <input type="text" class="form-control form-control-sm" [ngModel]="quoteInfo.riskName" readonly>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top:10px">
                                <button type="button" class="cust-btn" [routerLink]="['']"><a>Cancel</a></button>
                                <button type="button" class="cust-btn" (click)="copyIntCompModal.openNoClose()" 
                                    [disabled]="quoteInfo?.cedingName == null || quoteInfo?.cedingName == undefined || quoteInfo?.cedingName == ''"><a>Next</a></button>                
                            </div>
                        </div>
                    </div>
                </div>

                <app-modal class="d-none" #quoteMdl>
                    <div header>List Of Values</div>
                    <div body class="container-flex">
                       <app-loading-table [passData]="passDataQuoteLOV" (searchToDb)="searchQuery($event)"></app-loading-table>
                    </div>
                    <div footer class="d-flex justify-content-center w-100">                    
                        <button type="button" class="cust-btn" (click)="quoteMdl.closeModal();"><a>Cancel</a></button>
                        <button type="button" [disabled]="quoteTable?.indvSelect == ''" class="cust-btn" (click)="onClickOkQuoteLov()"><a>Ok</a></button>
                    </div>
                </app-modal>

                <app-modal class="d-none" #copyIntCompModal>
                    <div header>Internal Competition</div>
                    <div *ngIf="copyStatus == 0" body>
                        <fieldset class="scheduler-border" style="padding-bottom: 24px !important; padding-top: 20px !important; height: 80px !important;">
                                <div class="custom-row-inline-inset" style="text-align: center">
                                    <div class="input-group" style="margin-bottom: -14px !important;">
                                        <label class="form-control-sm col-sm-3" style="padding-left: 0;">Ceding Company</label>
                                        <input type="text"class="form-control form-control-sm col-sm-2 cap-input" style="margin-right: -1px !important" [(ngModel)]="copyCedingId" (change)="checkCode($event, 'cedingCoIntComp')" appRequired>
                                        <div class="text-search-ico" (click)="showCedingCompanyIntCompLOV()"><a><i class="fa fa-search"></i></a></div>
                                        &nbsp;&nbsp;
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="copyCedingName" readonly>
                                    </div>                   
                                </div>
                        </fieldset>
                    </div>
                    <div *ngIf="copyStatus == 1" body>
                        <fieldset class="scheduler-border">
                            <div class="custom-row-inline-inset" style="text-align: center">
                                <p>This Quotation No.</p>
                                <p style="color:#557a95"><strong>{{ quoteInfo.quotationNo }}</strong></p>
                                <p>has been copied to Quotation No.</p>
                                <p style="color:red"><strong>{{ copyToQuotationNo }}</strong></p>
                            </div>
                        </fieldset>
                    </div>
                    <div footer class="text-center w-100">
                        <button *ngIf="copyStatus == 0" class="cust-btn" type="button" (click)="modalService.dismissAll(); clearCopyFields();"><a>Cancel</a></button>
                        <button *ngIf="copyStatus == 0" class="cust-btn" type="button" (click)="copyIntCompOkBtn();" [disabled]="copyCedingName == ''"><a>Ok</a></button>
                        <button *ngIf="copyStatus == 1" class="cust-btn" type="button" (click)="modalService.dismissAll(); copyStatus = 0; intCompToGenInfo();"><a>Ok</a></button>
                    </div>
                </app-modal>

                <app-ceding-company id="cedingCompanyIntCompLOV" #cedingIntComp (selectedData)="setCedingIntCompCompany($event)" [exclude]="exclude"></app-ceding-company>

                <img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
                <div style="position: fixed;width: 100%;height: 100%;z-index: 991;background-color: rgba(255, 255, 255, 0.5);" *ngIf="loading">
                </div>

                <app-sucess-dialog id="quoProcessing" [icon]="dialogIcon" [message]="dialogMessage"></app-sucess-dialog>


            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>