<style type="text/css">
    .input-group {
        padding: 0px !important;
        margin: 0px !important;
    }
    .input-group label {
        padding: 0px !important;
        margin: 0px !important;
    }
    .ig-row {
        margin: -3px !important;
    }
    .ig-row label {
        margin-right: 5px !important;
    }
    .input-ig-row {
        margin-left: 2px !important;
    }
</style>
<div class="cust-tabs-container">
    <h4>Claims / Payment Requests</h4>
    <ngb-tabset>
        <ngb-tab title="Generate Payment Requests">
            <ng-template ngbTabContent>


            </ng-template>
        </ngb-tab>
        <ngb-tab title="Exit">

        </ngb-tab>
    </ngb-tabset>
</div>