<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<fieldset class="scheduler-border"  style="padding: 15px !important;">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
			<div class="input-group">
				<span class="form-control-sm col-sm-1"></span>
				<label class="form-control-sm col-sm-2">Period</label>
				<input type="text" class="form-control form-control-sm col-sm-2" [value]="params.monthName" style="margin-right: 2px;" readonly>
				<input type="text" class="form-control form-control-sm col-sm-1" [value]="params.extYear" readonly>
				<label class="form-control-sm col-sm-2">Method</label>
				<input type="text" class="form-control form-control-sm col-sm-3" [value]="params.methodName" readonly>				
				<span class="form-control-sm col-sm-1"></span>
			</div>
			<div class="input-group">
				<span class="form-control-sm col-sm-1"></span>
				<label class="form-control-sm col-sm-2">Company</label>
				<select class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="params.cedingId" (ngModelChange)="getUPR()">
					<option *ngFor="let comp of companyList" [value]="comp.cedingId">{{comp.cedingName}}</option>
				</select>			
				<span class="form-control-sm col-sm-1"></span>
			</div>					
			<div class="input-group">
				<span class="form-control-sm col-sm-1"></span>
				<label class="form-control-sm col-sm-2">Extracted By</label>
				<input type="text" class="form-control form-control-sm col-sm-3" [value]="params.extractUser" readonly>
				<label class="form-control-sm col-sm-2">Extracted By</label>
				<div class="col-sm dp-cont">
                    <datepicker [value]="params.extractDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker> 
                </div>  
				<span class="form-control-sm col-sm-1"></span>
			</div>

			<div class="row">
				<div class="col-sm">
					<app-cust-non-datatable #perLineTable (rowClick)="updateDetails($event)" [passData]="passData"></app-cust-non-datatable>
				</div>
			</div>

			<div class="row">
				<div class="col-sm text-center">
					<button class="cust-btn" (click)="openDetailsPerPolicy()" [disabled]="perLineTable?.indvSelect==null">View Details</button>
					<button class="cust-btn" style="max-width: 130px;">Generate Acct Entries</button>
					<button class="cust-btn" (click)="openAccountingEntries()">View Acct Entries</button>					
					<button class="cust-btn">Print</button>					
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-2"></div>
</div>

<app-modal class="d-none" id="detailsPerPolicy">
	<div header>Details per Policy</div>
	<div body>
		<fieldset class="scheduler-border"  style="padding: 15px !important;">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
			<div class="input-group">
				<span class="form-control-sm col-sm-3"></span>
				<label class="form-control-sm col-sm-1">Line</label>
				<input type="text" class="form-control form-control-sm col-sm-1" [value]="perLineTable.indvSelect.lineCd" style="margin-right: 2px;" readonly="">
				<input type="text" class="form-control form-control-sm col-sm-4" value="Construction All Risk" readonly="">
				<span class="form-control-sm col-sm-3"></span>
			</div>
			<app-cust-non-datatable #perPolTable [passData]="detailsPerPolicy"></app-cust-non-datatable>
		</fieldset>
	</div>
	<div footer class="w-100 text-center">
		<button class="cust-btn" type="button" (click)="modalService.dismissAll()"><a>Return</a></button>            
	</div>
</app-modal>
<!-- 
<app-modal class="d-none" id="accountingEntries">
	<div header>Accounting Entries</div>
	<div body>
		<fieldset class="scheduler-border"  style="padding: 15px !important;">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
			<div class="input-group">
				<span class="form-control-sm col-sm-3"></span>
				<label class="form-control-sm col-sm-1">Line</label>
				<input type="text" class="form-control form-control-sm col-sm-1" value="CAR" style="margin-right: 2px;" readonly="">
				<input type="text" class="form-control form-control-sm col-sm-4" value="Construction All Risk" readonly="">
				<span class="form-control-sm col-sm-3"></span>
			</div>
			<app-cust-non-datatable [passData]="accountingEntries"></app-cust-non-datatable>
		</fieldset>
	</div>
	<div footer class="w-100 text-center">
		<button class="cust-btn" type="button" (click)="modalService.dismissAll()"><a>Return</a></button>            
	</div>
</app-modal> -->