<div class="cust-tabs-container">
	<h4>Policy / Utilities</h4>
	<ngb-tabset>
		<ngb-tab title="Spoil Policy/Alteration">
			<ng-template ngbTabContent>
				<fieldset class="scheduler-border fldst">
					<div class="form-row custom-row-inline-inset">
						<div class="input-group">
							<div class="col-sm-2"></div>
							<label class="form-control-sm col-sm-1">Policy No</label>
							<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;" ngbTooltip="Line" [(ngModel)] = "spoilPolRecord.line" (change)="search('lineCd',$event)">
							<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;" ngbTooltip="Year" [(ngModel)] = "spoilPolRecord.year" (change)="search('year',$event)">
							<input type="text" class="form-control form-control-sm col-sm   cap-input text-right" style="margin-left: 3px;" ngbTooltip="Sequence No" [(ngModel)] = "spoilPolRecord.seqNo" (change)="search('seqNo',$event)">
							<input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right" style="margin-left: 3px;" ngbTooltip="Company Code" [(ngModel)] = "spoilPolRecord.coCode" (change)="search('cedingId',$event)">
							<input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right" style="margin-left: 3px;" ngbTooltip="Co Series No" [(ngModel)] = "spoilPolRecord.coSeriesNo" (change)="search('coSeriesNo',$event)">
							<input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right" style="margin-left: 3px;" ngbTooltip="Alt No" [(ngModel)] = "spoilPolRecord.altNo" (change)="search('altNo',$event)">
							<span>&nbsp;</span>
							<div><a (click)="show()"><i class="fa fa-search"></i></a></div>
							<div class="form-row">
								<div class="form-group">
									<div class="col-md-12 text-center">
										<div class="cust-btn-container">
											<button type="button" class="cust-btn" (click)="clearAll()"><a>Clear</a></button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
				</fieldset>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Policy Record</legend>
					<div class="custom-row-inline-inset">
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Ceding Company</label>
									<input type="text" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.cedingName">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Risk</label>
									<input type="text" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.riskName">
									<div class="col-sm-1"></div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Insured</label>
									<input type="text" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.insuredDesc">
								</div>
							</div>
							<div class="col-sm-6"></div>
						</div>
					</div>
				</fieldset>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Period of Insurance</legend>
					<div class="custom-row-inline-inset">
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<div class="col-sm-4"></div>
									<label class="form-control-sm col-sm-3">Inception Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.inceptDate">
									<div class="col-sm-1"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<div class="col-sm-1"></div>
									<label class="form-control-sm col-sm-2">Expiry Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.expiryDate">  
									<div class="col-sm-5"></div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Production Booking</legend>
					<div class="custom-row-inline-inset">
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<div class="col-sm-4"></div>
									<label class="form-control-sm col-sm-3">Issue Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.issueDate">
									<div class="col-sm-1"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Distribution Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.distDate">
									<div class="col-sm-5"></div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<div class="col-sm-4"></div>
									<label class="form-control-sm col-sm-3">Effective Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.effDate">
									<div class="col-sm-1"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Accounting Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" readonly [(ngModel)]="spoilPolRecord.acctDate">
									<div class="col-sm-5"></div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>


				<fieldset class="scheduler-border fldst">
					<div class="custom-row-inline-inset">
						<div class="form-row">
							<div class="col-sm-6">
								<div class="input-group">
									<div class="col-sm-4"></div>
									<label class="form-control-sm col-sm-3">User</label>
									<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="spoilPolRecord.user" readonly>
									<div class="col-sm-1"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Spoiled Date</label>
									<input type="{{ type }}" class="form-control form-control-sm col-sm" [(ngModel)]="spoilPolRecord.spoiledDate" readonly>
									<div class="col-sm-5"></div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="input-group">
								<div class="col-sm-1" style="margin-right: 49px !important"></div>
								<label class="form-control-sm col-sm-2">Reason for Spoilage</label>
									<input *ngIf="reasonLovEnabled" class="form-control form-control-sm  col-sm-1" type="text" [(ngModel)]="spoilPolRecord.reason" (change)="onChangeReason()">
									<div *ngIf="reasonLovEnabled" class="text-search-ico" style="padding-left: 1px" (click)="showLovSpoil()"><a><i class="fa fa-search"></i></a></div>&nbsp;
									<input  *ngIf="!reasonLovEnabled" class="form-control form-control-sm  col-sm-1" readonly type="text" style="margin-right: 1px !important;     margin-left: -5px !important;">
								<input class="form-control form-control-sm col-sm" type="text" style="margin-left: 2px;" readonly [(ngModel)]="spoilPolRecord.reasonDesc">
								<div class="col-sm-2" style="margin-left: 50px !important;"></div>
							</div>
						</div>
					</div>
				</fieldset>

				<div class="form-row fldst">
					<div class="form-group col-sm">
						<div class="col-md-12 text-center">
							<div class="cust-btn-container">
								<button type="button" class="cust-btn" (click)="validatePolicy()"><a>Cancel</a></button>
								<button type="button" class="cust-btn" *ngIf="postBtnEnabled" (click)="onClickPostSpoilage()"><a>Post Spoilage</a></button>
								<button type="button" class="cust-btn dsbld" disabled="disabled" *ngIf="!postBtnEnabled">Post Spoilage</button>
							</div>
						</div>
					</div>
				</div>

				<div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px !important;">
                                <app-modal hidden [btnTitle]="'List Of Values'" id="polLov">
                                    <div header>List Of Values</div>
                                    <div body>
                                       <app-cust-non-datatable [passData]="passData" #p (rowClick)="onRowClick($event)" (searchToDb)="searchQuery($event)"></app-cust-non-datatable>
                                    </div>
                                    <div footer class="text-center w-100">
                                        <div class="col-sm-12 text-center">
                                        <button class="cust-btn" type="button" (click)="onClickCancelLov()"><a>Cancel</a></button>
                                        <button class="cust-btn" type="button" (click)="onClickOkLov()"><a>Ok</a></button>
                                        </div>
                                    </div>
                                </app-modal>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px !important;">
                                <app-modal hidden [btnTitle]="'List Of Values'" id="spoilLov">
                                    <div header>List Of Values</div>
                                    <div body>
                                       <app-cust-non-datatable [passData]="passDataSpoilageReason" #spoil (rowClick)="onRowClickSpoil($event)"></app-cust-non-datatable>
                                    </div>
                                    <div footer class="text-center w-100">
                                        <div class="col-sm-12 text-center">
                                        <button class="cust-btn" type="button" (click)="this.modalService.dismissAll()"><a>Cancel</a></button>
                                        <button class="cust-btn" type="button" (click)="onClickOkSpoil()"><a>Ok</a></button>
                                        </div>
                                    </div>
                                </app-modal>
                            </div>
                        </div>
                    </div>
                </div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

<app-modal class="d-none" id="warnMdl">
    <div header style="width: 400px !important;">Warning</div>
    <div body class="container-flex text-center">
        <fieldset class="scheduler-border" style="padding-top: 10px !important;"> 
            <p class="form-control-sm" style=" margin: 0px !important; padding: 0px !important;"><b>{{ warnMsg1 }}</b></p>
            <p class="form-control-sm" style=" margin: 0px !important; padding: 0px !important;"><b>{{ warnMsg2 }}</b></p>
            <p class="form-control-sm" style=" margin: 0px !important; padding: 0px !important;"><b>{{ warnMsg3 }}</b></p>
        </fieldset>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="this.modalService.dismissAll()"><a>Ok</a></button>
    </div>
</app-modal>