<fieldset class="scheduler-border" style="margin-top: 10px !important;padding-bottom: 4px !important">
    <div class="form-row custom-row-inline-inset">
        <div class="input-group">
            <label class="form-control-sm col-sm-1 text-right labels">Region</label>
            <input type="text" [ngModel]="locData?.regionCd" (ngModelChange)="locData.regionCd = $event.toUpperCase()" class="form-control form-control-sm col-sm-1 cap-input" style="margin-right: -1px !important" (change)="checkCode($event, 'region')">
            <div class="text-search-ico"><a><i class="fa fa-search" (click)="openGenericLOV('region')"></i></a></div>
            <input disabled="disabled"  type="text" class="form-control form-control-sm col-sm-4" [ngModel]="locData?.regionDesc" style="margin-left: 6px !important">
            <label class="form-control-sm col-sm-1 text-right labels">Province</label>
            <input type="text" [ngModel]="locData?.provinceCd" (ngModelChange)="locData.provinceCd = $event.toUpperCase()" class="form-control form-control-sm col-sm-1 cap-input" style="margin-right: -1px !important" (change)="checkCode($event, 'province')">
            <div class="text-search-ico"><a><i class="fa fa-search" (click)="openGenericLOV('province')"></i></a></div>
            <input disabled="disabled"  type="text" class="form-control form-control-sm col-sm-4" [ngModel]="locData?.provinceDesc" style="margin-left: 6px !important">
        </div>
    </div>
    <div class="form-row custom-row-inline-inset">
        <div class="input-group">
            <label class="form-control-sm col-sm-1 text-right labels">City/Town</label>
            <input type="text" [ngModel]="locData?.cityCd" (ngModelChange)="locData.cityCd = $event.toUpperCase()" class="form-control form-control-sm col-sm-1 cap-input" style="margin-right: -1px !important" (change)="checkCode($event, 'city')">
            <div class="text-search-ico"><a><i class="fa fa-search" (click)="openGenericLOV('city')" ></i></a></div>
            <input disabled="disabled"  type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 6px !important" [ngModel]="locData?.cityDesc">
            <label class="form-control-sm col-sm-1 text-right labels">District</label>
            <input type="text" [ngModel]="locData?.districtCd" (ngModelChange)="locData.districtCd = $event.toUpperCase()" class="form-control form-control-sm col-sm-1 cap-input" style="margin-right: -1px !important" (change)="checkCode($event, 'district')">
            <div class="text-search-ico"><a><i class="fa fa-search" (click)="openGenericLOV('district')"></i></a></div>
            <input disabled="disabled"  type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 6px !important"  [ngModel]="locData?.districtDesc">
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border" style="margin-top: 10px !important;">
    <fieldset class="scheduler-border" style="margin-top: 10px !important;padding-top: 10px !important;">
    	<app-cust-editable-non-datatable [passData]="passTable" (genericBtn)="delete()" (onDelete)="table.onClickDelete('force');" (newClick)="info=$event"></app-cust-editable-non-datatable>
    </fieldset>
    <div class="w-100 text-center my-2">
    	<button class="cust-btn" (click)="cnclBtn.clickCancel()">Cancel</button>
    	<button class="cust-btn" (click)="onClickSave()">Save</button>
    </div>
</fieldset>
<fieldset class="scheduler-border" style="margin-top: 10px !important;">
    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
        <label class="form-control-sm col-sm-1">Created By</label>
        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="info?.createUser" readonly>
        <label class="form-control-sm col-sm-1">Created Date</label>
        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="info?.createDate | date:'MM/dd/yyyy hh:mm a'" readonly>
        <label class="form-control-sm col-sm-1">Last Update By</label>
        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="info?.updateUser" readonly>
        <label class="form-control-sm col-sm-1">Last Update</label>
        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="info?.updateDate | date:'MM/dd/yyyy hh:mm a'" readonly>
    </div>

</fieldset>           
         
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag?cnclBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/maintenance-qu-pol'" ></app-cancel-button>

<app-mtn-city id="cityModal" (selectedData)="setCity($event)"></app-mtn-city>
<app-lov [passData]="passLOV" id="lov" (selectedData)="setLOVField($event)"></app-lov>
<app-mtn-district id="districtModal" (selectedData)="setDistricts($event)"></app-mtn-district>