.text-search-ico {
	margin-left: -18px;
	z-index: 99999;
	font-size: 14px;
}

.scheduler-border {
	width: 520px !important;
	padding: 0.5em !important;
}

.input-group label {
    max-width: 18%;
}

.cust-btn-disabled {
    font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #d3d3d3 0%, #999999 100%);
    min-width: 60px;
    max-width: 120px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 3px;
}

.cust-btn {
	cursor: pointer;
}
#close{
	font-size: 27px;
}

.close{
	color: #fff;
	float: right;
	opacity: 1;
	line-height: .9;
	padding-left: 5px !important;
}

#closes:hover {
	color: #fff;
	opacity: 1;
}

.modal-footer {
	padding: 10px;
}

h6#modal-basic-title.modal-title {
	margin: 5px 0px 5px 5px;
}

h4 {
	font-size: 14px !important;
}

.cust-btn-container{
	    position: absolute !important;
    left: 1px;
    top: 1px;
    z-index: 99 !important;
}