<div class="row">
    <div class="col-sm-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">JV Info</legend>
               <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;margin-right: 5px !important;">
                <div class="input-group" style="margin-bottom: -13px !important;margin-top: 10px !important;">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">JV No</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1" style="margin-right: 2px !important">
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Date</label>
                    <input type="date" id="xx" class="form-control form-control-sm cust-sm col-sm-1" style="margin-right: 2px !important">
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1"	>
                    <label class="form-control-sm col-sm-1" for="xx">Tran ID</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2">
                    <label class="form-control-sm col-sm-1" for="xx">Status</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2">
                    <div style="margin-left: -19px !important;margin-right: 7px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group" style="margin-bottom: -13px !important">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">JV Type</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-4" style="margin-right: 1px !important;">
                    <div style="margin-left: -19px !important;margin-right: 0px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                    <div class="col-sm-1" style="margin-right: 6px !important;"></div>
                    <label class="form-control-sm col-sm-1" for="xx">Ref No</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2">
                    <div style="margin-left: -19px !important;margin-right: 3px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                    <label class="form-control-sm col-sm-1" for="xx" style="margin-left: 2px !important;">Ref No Date</label>
                    <input type="datetime-local" id="xx" class="form-control form-control-sm cust-sm col-sm-2" placeholder="000372921">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Module</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-4">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Particulars</label>
                    <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 55px; margin-bottom: 11px;"></textarea>
                </div>
                <div class="input-group" style="margin-bottom: -5px !important;">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Amount</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1" placeholder="PHP" style="margin-right: -1px !important;">
                    <div style="margin-left: -19px !important;margin-right: 9px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Currency Rate</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm" placeholder="" style="margin-right: 2px !important">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Local Amount</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1" placeholder="PHP" style="margin-right: 4px !important;">
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2">
                </div>
                <div class="input-group" style="margin-top: 20px !important;">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Prepared By</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-3" style="margin-right: 2px !important">
                    <div style="margin-left: -19px !important;margin-right: 10px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                    <div class="col-sm-4"></div>
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Approved By</label>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-3">
                    <div style="margin-left: -19px !important;margin-right: 6px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group">
                    <div class="col-sm-1"></div>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-3" style="margin-right: 2px !important">
                    <div class="col-sm-5"></div>
                    <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-3" >
                </div>
                <div class="input-group" style="margin-top: 14px !important;">
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Date Prepared</label>
                    <input type="datetime-local" id="xx" class="form-control form-control-sm cust-sm col-sm-3" style="margin-right: 2px !important">
                    <div class="col-sm-4"></div>
                    <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Date Approved</label>
                    <input type="datetime-local" id="xx" class="form-control form-control-sm cust-sm col-sm-3" >
                </div>
            </div>
             <div class="form-row">
		        <div class="form-group col-sm">
		            <div class="col-md-12 text-center">
		                <div class="cust-btn-container" style="margin-top: 10px;">
		                    <button type="button" class="cust-btn" style="margin-right: 10px !important;"><a>New JV</a></button>
		                    <button type="button" class="cust-btn" style="margin-right: 10px !important;"><a>Save</a></button>
		                    <button type="button" class="cust-btn" style="margin-right: 10px !important;"><a>Print JV</a></button>
		                    <button type="button" class="cust-btn"><a>Allocate</a></button>
		                </div>
		            </div>
		        </div>
		    </div>
        </fieldset>
    </div>
    <div class="col-sm-12">
            <fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important;">
            	<div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
                    <div class="input-group" style="margin-bottom: -15px !important;">
                        <label class="form-control-sm col-sm-1 text-right labels">Created By</label>
                        <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
                        <label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
                        <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
                        <label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
                        <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
                        <label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
                        <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
                    </div>
                </div>
            </fieldset>
        </div>
</div>
