 <div>
 	 <fieldset class="scheduler-border">
 	 	<legend class="scheduler-border">Extraction Info</legend>
 	 	<div class="form-row custom-row-inline-inset">
 	 		<div class="col-sm-6" style="padding-right: 0px">
 	 			 <div class="input-group">
 	 			 	<div class="col-sm" style="padding: 0px">
 	 			 		<div class="input-group">
 	 			 			<label class="form-control-sm col-sm-1" for="xx" style="padding-left:0px !important;">Period:</label>
 	 			 			<label class="form-control-sm col-sm-1" for="xx" style="margin-left:5px !important;">From</label>
 	 			 			<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2"
                       		placeholder="12/01/2018"readonly>
                       		<label class="form-control-sm col-sm-1" for="xx" style="margin-left:5px !important;">To</label>
                       		<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2"
                       		placeholder="12/31/2018"readonly>
                       		<label class="form-control-sm col-sm-3" for="xx" style="padding-left:0px !important;">Account Code</label>
                       		<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-3"
                       		placeholder="Total Debits "readonly>
 	 			 		</div>
 	 			 	</div>
 	 			 </div>
 	 		</div>
 	 	</div>
 	 </fieldset>
</div>