<div>
	<div class="row">
		<div class="col-sm-6">
			 <fieldset class="scheduler-border">
			 	<legend class="scheduler-border">Policy Record</legend>
			 		<div class="form-row custom-row-inline-inset">
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Open Cover Pol No</label>
			 				<input type="text" id="inputPolnumA" class="form-control form-control-sm cust-sm col-sm-1">
				    		<input type="text" id="inputPolnumB" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumC" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumD" class="form-control form-control-sm cust-sm col-sm-3" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumE" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumF" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumG" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputRefOpenPolNo">Ref Open Pol No</label>
			 				<input type="text" id="inputRefOpenPolNo" class="form-control form-control-sm cust-sm">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputTypeofCession">Type of Cession</label>
			 				<input type="text" id="inputTypeofCession" class="form-control form-control-sm cust-sm col-sm-4">
			 				<label class="form-control-sm col-sm-2" for="inputLineClass">Line Class</label>
			 				<input type="text" id="inputLineClass" class="form-control form-control-sm cust-sm col-sm-4">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputQuoNum">Quotation No</label>
			 				<input type="text" id="inputQuoNum" class="form-control form-control-sm cust-sm col-sm-4">
			 				<label class="form-control-sm col-sm-2" for="inputStatus">Status</label>
			 				<input type="text" id="inputStatus" class="form-control form-control-sm cust-sm col-sm-4">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Ceding Company</label>
			 				<input type="text" id="inputCedCmpA" class="form-control form-control-sm cust-sm col-sm-2">
			 				<input type="text" id="inputCedCmpB" class="form-control form-control-sm cust-sm" style="margin-left: 3px;">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputCoRefNo">Co Ref No</label>
			 				<input type="text" id="inputCoRefNo" class="form-control form-control-sm cust-sm">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Intermediary</label>
			 				<input type="text" id="inputIntermediaryA" class="form-control form-control-sm cust-sm col-sm-2">
			 				<input type="text" id="inputIntermediaryB" class="form-control form-control-sm cust-sm" style="margin-left: 3px;">
			 			</div>
			 		</div>
			 </fieldset>
		</div>
	</div>
</div>