<div>
	<div class="row">
		<div class="col-sm-6">
			 <fieldset class="scheduler-border">
			 	<legend class="scheduler-border">Policy Record</legend>
			 		<div class="form-row custom-row-inline-inset">
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Open Cover Pol No</label>
			 				<input type="text" id="inputPolnumA" class="form-control form-control-sm cust-sm col-sm-1">
				    		<input type="text" id="inputPolnumB" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumC" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumD" class="form-control form-control-sm cust-sm col-sm-3" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumE" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumF" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				    		<input type="text" id="inputPolnumG" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputRefOpenPolNo">Ref Open Pol No</label>
			 				<input type="text" id="inputRefOpenPolNo" class="form-control form-control-sm cust-sm">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputTypeofCession">Type of Cession</label>
			 				<input type="text" id="inputTypeofCession" class="form-control form-control-sm cust-sm col-sm-4">
			 				<label class="form-control-sm col-sm-2" for="inputLineClass">Line Class</label>
			 				<input type="text" id="inputLineClass" class="form-control form-control-sm cust-sm col-sm-4">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputQuoNum">Quotation No</label>
			 				<input type="text" id="inputQuoNum" class="form-control form-control-sm cust-sm col-sm-4">
			 				<label class="form-control-sm col-sm-2" for="inputStatus">Status</label>
			 				<input type="text" id="inputStatus" class="form-control form-control-sm cust-sm col-sm-4">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Ceding Company</label>
			 				<input type="text" id="inputCedCmpA" class="form-control form-control-sm cust-sm col-sm-2">
			 				<input type="text" id="inputCedCmpB" class="form-control form-control-sm cust-sm" style="margin-left: 3px;">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="inputCoRefNo">Co Ref No</label>
			 				<input type="text" id="inputCoRefNo" class="form-control form-control-sm cust-sm">
			 			</div>
			 			<div class="input-group">
			 				<label class="form-control-sm col-sm-3" for="xx">Intermediary</label>
			 				<input type="text" id="inputIntermediaryA" class="form-control form-control-sm cust-sm col-sm-2">
			 				<input type="text" id="inputIntermediaryB" class="form-control form-control-sm cust-sm" style="margin-left: 3px;">
			 			</div>
			 		</div>
			 </fieldset>
		</div>
		<div class="col-sm-6">
			 <div class="input" style="margin-top: 5px">
			 	 <fieldset class="scheduler-border">
			 	 	<legend class="scheduler-border">Period of Insurance</legend>
				 	 	<div class="form-row custom-row-inline-inset">
				 	 		<div class="input-group" style="margin-top: 15px">
				 	 			<label class="form-control-sm col-sm-3">Inception Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputInpDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
								<label class="form-control-sm col-sm-2 ">Expiry Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputExpDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				 	 		</div>
				 	 		<div class="input-group" >
				 	 			<label class="form-control-sm col-sm-3">Lapse From</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputLapFrm" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
								<label class="form-control-sm col-sm-2 ">Lapse To</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputLapTo" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
				 	 		</div>
				 	 		<br>
				 	 		<br>
				 	 	</div>
			 	 </fieldset>
			 </div>
			 <div class="input">
			 	 <fieldset class="scheduler-border">
			 	 	<legend class="scheduler-border">Production Booking</legend>
			 	 		<div class="form-row custom-row-inline-inset">
			 	 			<div class="input-group"  style="margin-top: 15px">
			 	 				<label class="form-control-sm col-sm-3">Issue Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputIssueDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
								<label class="form-control-sm">Distribution Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputDistDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
			 	 			</div>
			 	 			<div class="input-group">
			 	 				<label class="form-control-sm col-sm-3">Effective Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputEffDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
								<label class="form-control-sm">Accounting Date</label>
								<input type="date" class="form-control form-control-sm cust-sm col-sm-3">
								<input type="text" id="inputAcctDate" class="form-control form-control-sm cust-sm col-sm-1" style="margin-left: 3px;">
			 	 			</div>
			 	 			<br>
			 	 			<br>
			 	 		</div>
			 	 </fieldset>
			 </div>
		</div>
	</div>
</div>
<div>
	<div class="row">
		<div class="col-sm-8">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Insured Details</legend>
					<div class="form-row custom-row-inline-inset">
						<div class="input-group">
							<label class="form-control-sm col-sm-2" for="xx">Principal</label>
							<input type="text" id="inputPrincipalA " class="form-control form-control-sm cust-sm col-sm-1">
							<input type="text" id="inputPrincipalB " class="form-control form-control-sm cust-sm col-sm-3" style="margin-left: 1px;">
							
							<label class="form-control-sm col-sm-2" for="xx">Contrator</label>
							<input type="text" id="inputContractorA " class="form-control form-control-sm cust-sm col-sm-1">
							<input type="text" id="inputContractorB " class="form-control form-control-sm cust-sm col-sm-3" style="margin-left: 1px;">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" for="inputInsured">Insured</label>	
							<textarea id="inputInsured" class="form-control-sm form-control" style="min-height: 60px; margin-bottom: 10px;"></textarea> 
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" for="inputRisk">Risk</label>
							<input type="text" id="inputRisk" class="form-control form-control-sm cust-sm">	
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" for="inputObject">Object</label>
							<input type="text" id="inputObj1" class="form-control form-control-sm cust-sm col-sm-1">
							<input type="text" id="inputObj2" class="form-control form-control-sm cust-sm col-sm-3"style="margin-left: 1px;">	
							<label class="form-control-sm col-sm-2" for="inputRegion">Region</label>
							<input type="text" id="inputRegion" class="form-control form-control-sm cust-sm">	
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" for="inputNatWrk">Nature of Work</label>
							<textarea id="inputNatWrk" class="form-control-sm form-control col-sm-4" style="min-height: 60px;margin-bottom: 10px;"></textarea> 
							<div class="form-row col-sm-6">
								<div class="input-group">
									<label class="form-control-sm col-sm-4" for="inputProvince">Province</label>
									<input type="text" id="inputProvince" class="form-control form-control-sm cust-sm">	
								</div>
								<div class="input-group" style="margin-top: -5px">
									<label class="form-control-sm col-sm-4" for="inputCity">City/Town</label>
									<input type="text" id="inputCity" class="form-control form-control-sm cust-sm">	
								</div>
							</div>
						</div>
					</div>
			</fieldset>
		</div>
	</div>
</div>