<div class="row">
  <div class="col-sm-12">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">A.R. Info</legend>
      <div class="form-row custom-row-inline-inset">
        <div class="col-sm-6">
          <div class="input-group">
            <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">A.R. No.</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" numbers-only
            style="z-index: 1 !important;" readonly [ngModel]="pad(record.arNo, 'arNo')">
            <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -35px !important;">A.R. Date</label>
            <div class="col-sm" style="padding: 0px">
                <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record?.arDate"></datepicker>
            </div>
            <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -40px !important;">DCB No.</label>
            <input type="text" numbers-only class="form-control form-control-sm cust-sm col-sm-3 text-right"
            style="z-index: 1 !important;" readonly [ngModel]="record.dcbNo">
          </div>
          <div class="input-group">
            <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Payor</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm"
            placeholder=""   readonly [ngModel]="record.payor">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Payment Type</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" readonly [ngModel]="record.tranTypeName">
          </div>
          <div class="input-group">
            <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Status</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="" readonly [ngModel]="record.arStatDesc">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Amount</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm-2" placeholder="" [ngModel]="record.currCd" readonly>
            <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
            placeholder="" [ngModel]="record.arAmt | number: '1.2-2'" readonly>
          </div>
          <div class="input-group">
            <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Local Amount</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm-2" value="PHP" readonly>
            <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
            placeholder="" [ngModel]="record.arAmt * record.currRate | number: '1.2-2'" readonly>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>


<fieldset class="scheduler-border">
	<legend class="scheduler-border">Attached Files</legend>
	<div class="form-row custom-row-inline-inset" style="margin-bottom: -8px !important;">
		<app-cust-editable-non-datatable [passData]="passData" style="width: 100%" (uploadedFiles)="uploads($event)"></app-cust-editable-non-datatable>
	</div>

	<!-- <div class="input-group" style="margin-left: -20px;margin-bottom: -6px !important;">
		<label class="form-control-sm col-sm-1">Created By</label>
		<input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
		<label class="form-control-sm col-sm-1">Date Created</label>
		<input type="text" class="form-control form-control-sm col-sm" value="10/01/2018 10:45 AM">	
		<label class="form-control-sm col-sm-1">Last Updated By</label>
		<input type="text" class="form-control form-control-sm col-sm"  placeholder="cuaresma">
		<label class="form-control-sm col-sm-1">Last Update</label>
		<input type="text" class="form-control form-control-sm col-sm" value="10/01/2018 10:45 AM">	
	</div> -->
  <div class="form-group col-sm text-center" style="margin-bottom: 5px" *ngIf="record.arStatDesc.toUpperCase() == 'NEW'">
      <div class="cust-btn-container">
        <button type="button" class="cust-btn" (click)="cancel();"><a>Cancel</a></button>
        <button type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
      </div>
  </div>

</fieldset>



<div class="col-sm-12" style="margin-top: 35px !important;padding-left: 0px !important;
padding-right: 0px !important;">
  <fieldset class="scheduler-border" style="margin-top: -12px !important; margin-bottom: 10px !important;">
    <div style="margin-top: 8px !important; margin-bottom: 17px !important;">
      <div class="form-row" style="margin-bottom: -10px;">
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Created By</label>
          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="record?.createUser" disabled>
          <label class="form-control-sm col-sm-1">Date Created</label>
          <div class="col-sm" style="padding: 0px">
              <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record?.createDate"></datepicker>
          </div>
          <label class="form-control-sm col-sm-1">Last Update By</label>
          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="record?.updateUser" disabled>
          <label class="form-control-sm col-sm-1">Last Update</label>
          <div class="col-sm" style="padding: 0px">
              <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record?.updateDate"></datepicker>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>


<app-confirm-save (onYes)="saveData()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="saveData('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>