<fieldset class="scheduler-border">
	<legend class="scheduler-border">CV Info</legend>
	<div class="form-row custom-row-inline-inset">
		<div class="col-sm-8">
			<div class="input-group cust-ig">
				<label class="form-control-sm col-sm-1" style="padding-left:0px !important;">CV No</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right"
				placeholder="2018" readonly>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right"
				placeholder="00000001" style="margin-left: 2px;" readonly>
				<label class="form-control-sm col-sm-1">Date</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-2" placeholder="10/01/2018 11:49 AM" readonly>
				<span class="col-sm-2"></span>
				<label class="form-control-sm col-sm-1">Status</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="New" readonly>
			</div>
			<div class="input-group cust-ig">
				<label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Payee</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="San Miguel Corporation"
				readonly>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group cust-ig">
				<label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-2" placeholder="PHP" readonly>
				<input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
				placeholder="27,153.30" readonly>
			</div>
			<div class="input-group cust-ig">
				<label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-2" placeholder="PHP" readonly>					
				<input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
				placeholder="27,153.30" readonly>
			</div>
		</div>
	</div>
</fieldset>
<div class="cust-tabs-container border-tab" style="margin-top: 10px;">
	<ngb-tabset>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Amount Details</div>
			</ng-template>
			<ng-template ngbTabContent>
				<div class="input-group cust-border" style="padding-top: 0.6em">
					<div class="col-sm-12">
						<app-cust-editable-non-datatable [passData]="amountDetailsData" (tableDataChange)="plusMinus($event)">
						</app-cust-editable-non-datatable>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Tax Details</div>
			</ng-template>
			<ng-template ngbTabContent>
				<div class="input-group cust-border" style="padding-top: 0.6em">
					<div class="col-sm-12">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">VAT Details</legend>
							<div class="custom-row-inline-inset">
								<app-cust-editable-non-datatable [passData]="accountingVATTaxDetails"></app-cust-editable-non-datatable>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-12">
						<fieldset class="scheduler-border" style="margin-bottom:10px !important;">
							<legend class="scheduler-border">Creditable WTax Details</legend>
							<div class="custom-row-inline-inset">
								<app-cust-editable-non-datatable [passData]="accountingCreditableTaxDetails" (tableDataChange)="computeWTax($event)">
									<ng-container controls-r>
										<button class="cust-btn" style="margin-right: 0px !important;">BIR 2307</button>
									</ng-container>
								</app-cust-editable-non-datatable>
							</div>
						</fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Accounting Entries</div>
			</ng-template>
			<ng-template ngbTabContent>
				<div class="input-group cust-border" style="padding-top: 0.6em; padding-bottom: 6px;">
					<div class="col-sm-12">
						<app-cust-editable-non-datatable [passData]="accountingEntriesData">
							<ng-container controls-r>
								<button class="cust-btn" style="margin-right: 0px !important;">Print AE</button>
							</ng-container>
						</app-cust-editable-non-datatable>
					</div>
				</div>
			</ng-template>
		</ngb-tab>		
	</ngb-tabset>
</div>
<fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 18px !important;">
	<div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
		<div class="input-group" style="margin-bottom: -15px !important;">
			<label class="form-control-sm col-sm-1 text-right labels">Created By</label>
			<input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma" disabled>
			<label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
			<input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM" disabled>
			<label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
			<input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma" disabled>
			<label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
			<input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM" disabled>
		</div>
	</div>
</fieldset>