<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<fieldset class="scheduler-border"  style="padding: 15px !important;">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>

			<div class="input-group">
				<span class="form-control-sm col-sm-2"></span>
				<label class="form-control-sm col-sm-2">Period</label>
				<select class="form-control form-control-sm cust-sm col-sm-4">
					<option value="Jan">January</option>
					<option value="Feb">February</option>
					<option value="Mar">March</option>
					<option value="Apr">April</option>
					<option value="May">May</option>
					<option value="Jun">June</option>
					<option value="Jul">July</option>
					<option value="Aug">August</option>
					<option value="Sep">September</option>
					<option value="Oct">October</option>
					<option value="Nov">November</option>
					<option value="Dec">December</option>
				</select>
				<select class="form-control form-control-sm cust-sm col-sm-2" style="margin-left: 2px;">
					<option value="2019">2019</option>
					<option value="2018">2018</option>
					<option value="2017">2017</option>					
				</select>
				<span class="form-control-sm col-sm-2"></span>
			</div>
			<div class="input-group">
				<span class="form-control-sm col-sm-2"></span>
				<label class="form-control-sm col-sm-2">Method</label>
				<select class="form-control form-control-sm cust-sm col-sm">
					<option value="24th Method">24th Method</option>
					<option value="Val 2">Option 2</option>
					<option value="Val 3">Option 3</option>					
				</select>				
				<span class="form-control-sm col-sm-2"></span>
			</div>
			<div class="input-group">
				<span class="form-control-sm col-sm-2"></span>
				<label class="form-control-sm col-sm-2">Extracted by</label>
				<input type="text" class="form-control form-control-sm col-sm" value="cuaresma">
				<span class="form-control-sm col-sm-2"></span>
			</div>
			<div class="input-group">
				<span class="form-control-sm col-sm-2"></span>
				<label class="form-control-sm col-sm-2">Date Extracted</label>
				<input type="date" class="form-control form-control-sm col-sm" placeholder="cuaresma" value="2019-01-31">
				<span class="form-control-sm col-sm-2"></span>
			</div>
			<div class="text-center" style="margin-top: 10px;">
				<button class="cust-btn">Extract</button>
				<button class="cust-btn">Print</button>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-3"></div>        	
</div>