<div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">CV Info</legend>
    <div class="form-row custom-row-inline-inset">
      <div class="col-sm-8">
        <div class="input-group">
          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">CV No</label>
          <input type="text" class="form-control form-control-sm cust-sm col-sm-1" [ngModel]="cvInfo?.cvGenNo.split('-')[0]" style="text-align: right" readonly>
          <input type="text" class="form-control form-control-sm cust-sm col-sm-2" [ngModel]="cvInfo?.cvGenNo.split('-')[1]" style="text-align: right; margin-left: 2px;" readonly>
          <label class="form-control-sm col-sm-1">Date</label>
          <div class="dp-cont col-sm">
            <datepicker [type]="'datetime'" [disabled]="true" [showSeconds]="false" [value]="cvInfo?.cvDate"></datepicker>
          </div>
                <!-- <label class="form-control-sm col-sm-1 text-right" for="xx">Tran ID</label>
                  <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="000284723" style="text-align: right" readonly> -->
                  <label class="form-control-sm col-sm-1">Status</label>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="cvInfo?.cvStatusDesc" readonly>
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-1" style="padding-left: 0px !important;">Payee</label>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="cvInfo?.payee" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="margin-left: 3px !important;" [ngModel]="cvInfo?.currCd" readonly>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="cvInfo?.cvAmt" readonly>
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="margin-left: 3px !important;" value="PHP" readonly>
                  <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="cvInfo?.localAmt" readonly>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="scheduler-border" style="padding:0"> 
            <legend class="scheduler-border">Payment Requests</legend>  
            <div class="form-row custom-row-inline-inset" style="margin-top: 15px !important; margin-bottom: -3px !important;">
              <div class="input-group">
                <div class="col-sm"></div>
                <div class="col-sm-12">
                  <app-cust-editable-non-datatable #paytReqTbl [passData]="passDataPaytReqList" (clickLOV)="showLov()" (newClick)="onRowClick($event)"  (tableDataChange)="passDataPaytReqList.tableData=$event;"></app-cust-editable-non-datatable>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <div class="text-center">
                  <div class="cust-btn-container">
                    <button type="button" class="cust-btn"><a>Cancel</a></button>
                    <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
                    <button type="button" class="cust-btn"><a>View Details</a></button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="col-sm-12">
           
            <fieldset class="scheduler-border" style="margin-top: 10px ! important"> 
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm" style="padding: 0; margin-top: 10px; margin-bottom: 22px">
                    <div class="input-group">
                      <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                          <label class="form-control-sm">Created By</label>
                          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="paytData?.createUser" readonly>
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                          <label class="form-control-sm">Date Created</label>
                          <div class="dp-cont col-sm">
                            <datepicker [type]="'datetime'" [disabled]="true" [value]="paytData?.createDate"></datepicker>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                          <label class="form-control-sm">Last Update By</label>
                          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="paytData?.updateUser" readonly>
                        </div>
                      </div>
                      <div class="col-sm-3" style="padding: 0">
                        <div class="input-group">
                          <label class="form-control-sm">Last Update</label>
                          <div class="dp-cont col-sm">
                            <datepicker [type]="'datetime'" [disabled]="true" [value]="paytData?.updateDate"></datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

<!--   <fieldset class="scheduler-border" style="margin-top: 10px ! important"> 
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm" style="padding: 0; margin-top: 10px; margin-bottom: 22px">
          <div class="input-group">
            <div class="col-sm-3" style="padding: 0">
              <div class="input-group">
                <label class="form-control-sm">Created By</label>
                <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" readonly>
              </div>
            </div>
            <div class="col-sm-3" style="padding: 0">
              <div class="input-group">
                <label class="form-control-sm">Date Created</label>
                <input type="text" class="form-control form-control-sm col-sm" placeholder="10/01/2018 11:49 AM" readonly>
              </div>
            </div>
            <div class="col-sm-3" style="padding: 0">
              <div class="input-group">
                <label class="form-control-sm">Last Update By</label>
                <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" readonly>
              </div>
            </div>
            <div class="col-sm-3" style="padding: 0">
              <div class="input-group">
                <label class="form-control-sm">Last Update</label>
                <input type="text" class="form-control form-control-sm col-sm" placeholder="10/01/2018 11:49 AM" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset> -->
</div>


<app-lov #paytReqLov [passData]="passDataLov" (selectedData)="setData($event)"></app-lov>
<app-confirm-save  #con (onYes)="onSavePaytReqList()"></app-confirm-save>
<app-sucess-dialog #suc [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button #can (onYes)="onClickSave('cancel')" [url]="'/check-voucher'" ></app-cancel-button>

<app-modal class="d-none" id="warnMdl" #warnMdl>
  <div header>Warning Message</div>
  <div body class="container-flex text-center">
    <fieldset class="scheduler-border" style="padding: 30px !important;"> 
      <p class="form-control-sm" style=" margin: 0px !important; padding: 0px !important;">{{ warnMsg }}</p>
    </fieldset>
  </div>
  <div footer class="d-flex justify-content-center w-100">                    
    <button class="cust-btn" type="button" (click)="modalService.dismissAll()"><a>Ok</a></button>
  </div>
</app-modal>






