<style type="text/css">
    .input-group {
        padding: 0px !important;
        margin: 0px !important;
    }

    .input-group label {
        padding: 0px !important;
        margin: 0px !important;
    }

    .form-control-sm{
        
    }
    /*.input-group > .form-control {
        margin-bottom: 5px !important;
    }*/

    .ig-row {
        margin: -3px !important;
    }

    .ig-row label {
        margin-right: 5px !important;
    }

    .input-radio {
        margin-bottom: -10px !important;
    }

    .input-ig-row {
        margin-left: 2px !important;
    }

</style>


<div class="cust-tabs-container">
    <h4>Policy / Expiry & Renewal</h4>
    <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab title="Policy to Hold Cover">
            <ng-template ngbTabContent>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                            <img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
                            <div style="position: fixed;width: 100%;height: 100%;z-index: 991;background-color: rgba(255, 255, 255, 0.5);" *ngIf="loading"></div>
                          <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Policy Info</legend>
                            <div class="col-sm-1"></div>
                            <div class="col-sm">
                                <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                                    <div class="input-group" style="margin-top: -12px !important;">
                                    &nbsp; 
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group ig-row">
                                            <label class="form-control-sm col-sm-2">Policy No</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Line" appRequired [ngModel]="policyInfo.policyNo.split('-')[0]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'lineCd')" maxlength="7">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Year" style="margin-left: 3px;" appRequired [ngModel]="policyInfo.policyNo.split('-')[1]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'year')" maxlength="4">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Sequence No" style="margin-left: 3px;" appRequired [ngModel]="policyInfo.policyNo.split('-')[2]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'seqNo')" maxlength="5">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Ceding ID" style="margin-left: 3px;" appRequired [ngModel]="policyInfo.policyNo.split('-')[3]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'cedingId')" maxlength="3">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Company Series No" style="margin-left: 3px;" appRequired [ngModel]="policyInfo.policyNo.split('-')[4]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'coSeriesNo')" maxlength="4">
                                                <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Alteration No" style="margin-left: 3px;" appRequired [ngModel]="policyInfo.policyNo.split('-')[5]" (blur)="checkPolParams()" (ngModelChange)="policySearchParams($event, 'altNo')" maxlength="3">
                                            </div>
                                            <span>&nbsp;</span>
                                            <div class="text-search-ico col-sm-1"><a (click)="openModal();"><i class="fa fa-search"></i></a></div>
                                        </div>
                                        <div class="input-group ig-row" style="margin-top: -3px !important;">
                                            <label class="form-control-sm col-sm-2">Ceding Company</label>
                                            <input type="text" class="form-control form-control-sm" readonly [ngModel]="policyInfo.cedingName" tabindex="-1">
                                        </div>
                                        <div class="input-group ig-row">
                                            <label class="form-control-sm col-sm-2">Insured</label>
                                            <input type="text" class="form-control form-control-sm" readonly [ngModel]="policyInfo.insuredDesc" tabindex="-1">
                                        </div>
                                        <div class="input-group ig-row">
                                            <label class="form-control-sm col-sm-2">Risk</label>
                                            <input type="text" class="form-control form-control-sm" readonly [ngModel]="policyInfo.riskName" tabindex="-1">
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                 <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Hold Cover Details</legend>
                            <form #myForm="ngForm">
                            <div class="col-sm" style="margin-top: 15px;">
                                <div class="custom-row-inline-inset">
                                    <!-- <div class="input-group"> -->
                                        <div class="input-group ig-row" style="margin-bottom: -14px !important;">
                                            <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important">
                                               <div class="input-group" style="margin-bottom: 0px !important">
                                                   <label class="form-control-sm col-sm-4 labels" style="margin-bottom: 8px !important;">Hold Cover No</label>
                                                   <input type="text" class="form-control form-control-sm col-sm-8 warn" name="holdCovNo" readonly [ngModel]="holdCoverNo" tabindex="-1">
                                               </div>
                                            </div>
                                            <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important"></div>
                                        </div>
                                        <div class="input-group ig-row" style="margin-bottom: -14px !important;">
                                            <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important">
                                                <div class="input-group" style="margin-bottom: -0px !important;">
                                                    <label class="form-control-sm col-sm-4 labels" style="margin-bottom: 8px !important;">Period From</label>
                                                    <input type="date" class="form-control form-control-sm cust-sm warn col-sm" [ngModel]="periodFromDate.date" (ngModelChange)="periodFromDate.date = $event" name="pfdate" appRequired [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'">
                                                    <input type="time" name="pftime" style="margin-left: 3px !important" appRequired class="form-control form-control-sm cust-sm warn col-sm-3" [ngModel]="periodFromDate.time" (ngModelChange)="periodFromDate.time = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'">
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important">
                                                <div class="input-group" style="margin-bottom: -0px !important;">
                                                    <label class="form-control-sm col-sm-4 labels" style="margin-bottom: 8px !important;">Requested By</label>
                                                     <input type="text" name="reqBy" class="form-control form-control-sm col-sm warn" [ngModel]="polHoldCoverParams.reqBy" (ngModelChange)="polHoldCoverParams.reqBy = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'" maxlength="50">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group ig-row" style="margin-bottom: -14px !important;">
                                           <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important">
                                                <div class="input-group" style="margin-bottom: -0px !important;">
                                                    <label class="form-control-sm col-sm-4 labels" style="margin-bottom: 8px !important;">Period To</label>
                                                    <input type="date" name="ptdate" class="form-control form-control-sm cust-sm warn col-sm" appRequired [ngModel]="periodToDate.date" (ngModelChange)="periodToDate.date = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'">
                                                    <input type="time" name="pttime" style="margin-left: 3px !important" appRequired class="form-control form-control-sm cust-sm warn col-sm-3" [ngModel]="periodToDate.time" (ngModelChange)="periodToDate.time = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'">
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="padding: 0px !important;margin: 0px !important">
                                                <div class="input-group" style="margin-bottom: -0px !important;">
                                                    <label class="form-control-sm col-sm-4 labels" style="margin-bottom: 8px !important;">Request Date</label>
                                                    <input type="date" name="reqDate" class="form-control form-control-sm cust-sm col-sm warn" [ngModel]="polHoldCoverParams.reqDate?.split('T')[0]" (ngModelChange)="polHoldCoverParams.reqDate = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group ig-row" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2 labels" style="margin-bottom: 8px !important;" style="padding-left: 0px !important;" >Co. Ref. Hold Cover No</label>
                                            <input name="crhcno" type="text" class="form-control form-control-sm warn" [ngModel]="polHoldCoverParams.compRefHoldCovNo" (ngModelChange)="polHoldCoverParams.compRefHoldCovNo = $event" [readonly]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing" [attr.tabindex]="this.policyInfo.policyNo === '' || isIncomplete || isForViewing ? '-1' : '1'" maxlength="25">
                                            <label class="form-control-sm col-sm-2 labels" style="margin-bottom: 8px !important;">Prepared By</label>
                                            <input type="text" name="preparedBy" class="form-control form-control-sm col-sm-7" [ngModel]="polHoldCoverParams.preparedBy" readonly tabindex="-1">
                                        </div>
                                        <div class="input-group ig-row" style="margin-bottom: -9px !important;">
                                            <label class="form-control-sm col-sm-2 labels" style="margin-bottom: 8px !important;">Status</label>
                                            <input type="text" name="status" class="form-control form-control-sm warn" [ngModel]="statusDesc" readonly tabindex="-1">
                                            <label class="form-control-sm col-sm-2 labels" style="margin-bottom: 8px !important;">Approved By</label>
                                            <input type="text" name="approvedBy" class="form-control form-control-sm col-sm-7" [ngModel]="polHoldCoverParams.approvedBy" readonly tabindex="-1">
                                        </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </form>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-13 text-center" style="margin-top:10px">
                            <div class="cust-btn-container">
                                <button type="button" class="cust-btn" [disabled]="cancelBtnDisabledStatus.includes(this.polHoldCoverParams.status)" [class.cust-btn-disabled]="cancelBtnDisabledStatus.includes(this.polHoldCoverParams.status)" (click)="onClickCancel();"><a>Cancel Hold Cover</a></button>
                                <button type="button" class="cust-btn" [disabled]="approveBtnDisabledStatus.includes(this.polHoldCoverParams.status)" [class.cust-btn-disabled]="approveBtnDisabledStatus.includes(this.polHoldCoverParams.status)" (click)="test(content)"><a>Approval</a></button>
                                <button type="button" class="cust-btn" (click)="onClickSaveBtn()" [disabled]="saveBtnDisabledStatus.includes(this.polHoldCoverParams.status) && !this.isModify" [class.cust-btn-disabled]="saveBtnDisabledStatus.includes(this.polHoldCoverParams.status) && !this.isModify"><a>Save</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="Exit">
                <ng-template ngbTabTitle>
                    <div>Exit</div>
                </ng-template>
                <ng-template ngbTabContent></ng-template>
        </ngb-tab>
    </ngb-tabset>

<!-- ALL MODALS BEGIN HERE -->
    <app-modal hidden [btnTitle]="'List Of Values'" id="lovMdl">
        <div header>List Of Values</div>
        <div body>
           <app-cust-non-datatable [passData]="policyListingData" (rowClick)="onRowClick($event)"></app-cust-non-datatable>
        </div>
        <div footer class="text-center w-100">
            <div class="col-sm-12 text-center">
            <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
            <button class="cust-btn" type="button" (click)="selectPol()" [disabled]="emptySelect || selectedPolicy === null || selectedPolicy === undefined" [class.cust-btn-disabled]="emptySelect || selectedPolicy === null || selectedPolicy === undefined"><a>Ok</a></button>
            </div>
        </div>
    </app-modal>

    <app-modal hidden [btnTitle]="'Cancel Hold Cover'" id="cancelModal">
        <div header>Prompt</div>
        <div body>
           <p>Cancel Hold Cover No <strong>{{this.holdCoverNo}}</strong> ?</p>
        </div>
        <div footer class="text-center w-100">
            <div class="col-sm-12 text-center">
            <button class="cust-btn" type="button" (click)="modalService.dismissAll();cancelHoldCover();"><a>Yes</a></button>
            <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>No</a></button>
            </div>
        </div>
    </app-modal>

    <app-confirm-save (onYes)="onClickSave()"></app-confirm-save>
    <app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():this.btnCancelMainEnabled = false"></app-sucess-dialog>
    <app-cancel-button (onYes)="onClickSave('cancel')" [url]="'/hold-cover-monitoring'" ></app-cancel-button>

<!-- <app-print-modal (selectedData)= "showPrintDialog($event)"></app-print-modal> -->

    <ng-template #content>
        <div class="modal-header">
            <span class="modal-title" id="modal-basic-title">Approval</span>
            <div class="close" style="padding-bottom: 5px;">
            <!--    <a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true"><span style="padding-right: 3px;"
                     id="closes">&times;&nbsp;&nbsp;</span></a> -->
            </div>
        </div>
        <div class="modal-body" style="width: 580px">
            <div class="row">
                <div class="col-sm-6" style="padding-right : 10px ! important;">
                    <fieldset class="scheduler-border" style="padding-left : 20px ! important; padding-right : 10px ! important">
                        <div class="custom-row-inline-inset">
                            <div class="input-group" style="margin-top : 13px ! important">
                                <div class="col-sm-7" style="padding-left : 0px ! important; padding-right : 0px ! important;">
                                    <div class="input-group" style="margin-bottom : -8px ! important">
                                        <label class="form-control-sm" for="xx" style="padding-left: 0px">Status</label>
                                        <input type="text" id="xx" class="form-control form-control-sm col-sm-6" style="margin: 0px 0px 12px 9px !important;" [ngModel]="statusDesc" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="padding: 0px;">
                                    <button class="cust-btn" (click)="approve($event)" [class.cust-btn-disabled]="this.statusDesc.toUpperCase() === 'APPROVED'" [disabled]="this.statusDesc.toUpperCase() === 'APPROVED'">{{authorization !== userName ? 'For Approval' : 'Approve'}}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6" style="padding-left : 10px ! important;">
                    <fieldset class="scheduler-border" style="padding-left : 20px ! important; padding-right : 20px ! important">
                        <div class="custom-row-inline-inset" style="padding: 15px 0px 15px 0px;">
                            <div class="input-group" style="margin-bottom : -14px ! important" >
                                <label class="form-control-sm" for="xx">Destination</label>
                                <select class="form-control form-control-sm cust-sm" style="margin: 0px 0px 14.5px 11px;" appRequired [(ngModel)]="printType">
                                    <option [value]="'SCREEN'">SCREEN</option>
                                    <option [value]="'PDF'">PDF</option>
                                    <option [value]="'PRINTER'">PRINTER</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
        <div class="modal-footer" style="justify-content: center;">
            <div >
                <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                <button class="cust-btn" [class.btnDisabled]="btnDisabled" [disabled]="btnDisabled" type="button" (click)="modalService.dismissAll(); release();"><a>Print</a></button>
            </div>
        </div>
    </ng-template>

    <app-modal hidden [btnTitle]="'Modification'" id="modificationModal">
        <div header>Confirmation Message</div>
        <div body style="text-align: center">
           <p>Selected Policy No has an approved Hold Cover</p>
           <p><strong>{{this.holdCoverNo}}</strong></p>
           <p>Please select an option:</p>
        </div>
        <div footer class="text-center w-100">
            <div class="col-sm-12 text-center">
            <button class="cust-btn" type="button" (click)="modalService.dismissAll(); modificationOption('cancel')"><a>Cancel</a></button>
            <button class="cust-btn" type="button" (click)="modalService.dismissAll(); modificationOption('view')"><a>View</a></button>
            <button class="cust-btn" type="button" (click)="modalService.dismissAll(); modificationOption('mod')"><a>Modification</a></button>
            </div>
        </div>
    </app-modal>