<div>
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm">
					<fieldset class="scheduler-border cust-fs-padlr-offset">
						<legend class="scheduler-border">Open Cover Quotation Details</legend>
						<div class="row">
							<div class="col-sm-8" style="padding-right: 0px !important;">
								<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
									<div class="input-group" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-2">Quotation No</label>
										<input type="text" class="form-control form-control-sm col-sm-1 cap-input">
										<!-- <input type="text" class="form-control form-control-sm col-sm-1 cap-input" >
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm cap-input" style="margin-left: 3px;">
										<span>&nbsp;</span>
										<div class=""><a><i class="fa fa-search"></i></a></div> -->
										<input type="text" class="form-control form-control-sm col-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Ref Open Pol No</label>
										<input type="text" class="form-control form-control-sm" style="margin-right: -4px;">
										<span>&nbsp;</span>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Type of Cession</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="typeOfCession">
										<label class="form-control-sm col-sm-2">Line Class</label>
										<input type="text" class="form-control form-control-sm" style="margin-right: 1px;">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Open Policy No</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Status</label>
										<input type="text" class="form-control form-control-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2" style="font-size: 10px !important;">Ceding Company</label>
										<input type="text" class="form-control form-control-sm col-sm-2">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;">
									</div>
									<div *ngIf="checkTypeOfCession()" class="input-group">
										<label class="form-control-sm col-sm-2 cust-lbl-left-offset">Reinsurance From</label>
										<input type="text" class="form-control form-control-sm col-sm-2">
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Intermediary</label>
										<input type="text" class="form-control form-control-sm col-sm-2">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
									<div class="input-group" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-4">Quote Date</label>
										<input type="date" class="form-control form-control-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Valid Until</label>
										<input type="date" class="form-control form-control-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Requested By</label>
										<input type="text" class="form-control form-control-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Request Date</label>
										<input type="text" class="form-control form-control-sm">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Request Mode</label>
										<select class="form-control form-control-sm cust-sm">
											<option value=""></option>
											<option value="USD">Value 1</option>
											<option value="PHP">Value 2</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">


			<fieldset class="scheduler-border" style="padding-top: 20px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Currency</label>
								<input type="text" class="form-control form-control-sm">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
							</div>
						</div>
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Exch. Rt.</label>
								<input type="text" class="form-control form-control-sm">
								<span>&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>


			<fieldset class="scheduler-border" style="padding-top: 25px !important; padding-bottom: 14px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row" style="margin-top: -9px !important;">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Government" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Indicative" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-sm-8">
			<fieldset *ngIf="line === 'CAR'" class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Insured Details</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="padding-right: 0px !important;">
					<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
						<div class="input-group" style="margin-top: 10px;">
							<label class="form-control-sm col-sm-1">Principal</label>
							<input type="text" class="form-control form-control-sm col-sm-1">
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
							<label class="form-control-sm col-sm-1">Contractor</label>
							<input type="text" class="form-control form-control-sm col-sm-1">
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Insured</label>
							<textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px;"></textarea>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Risk</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group" style="margin-bottom: 0px !important;">
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Object</label>
								<input type="text" class="form-control form-control-sm col-sm-2">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<input type="text" class="form-control form-control-sm" style="margin-left: 9px;">
							</div>
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm-10">
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Nature of Work</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;"></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Province</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">City/Town</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Site</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;"></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">District</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Block</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Lat</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Long</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Duration</label>
							<input type="text" class="form-control form-control-sm col-sm-5">
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>



			<fieldset *ngIf="line === 'EAR'" class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Insured Details</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="padding-right: 0px !important;">
					<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
						<div class="input-group" style="margin-top: 10px;">
							<label class="form-control-sm col-sm-1">Principal</label>
							<input type="text" class="form-control form-control-sm col-sm-1">
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
							<label class="form-control-sm col-sm-1">Contractor</label>
							<input type="text" class="form-control form-control-sm col-sm-1">
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Insured</label>
							<textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px;"></textarea>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Risk</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group" style="margin-bottom: 0px !important;">
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Object</label>
								<input type="text" class="form-control form-control-sm col-sm-2">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<input type="text" class="form-control form-control-sm" style="margin-left: 9px;">
							</div>
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm-10">
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Nature of Work</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;"></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Province</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">City/Town</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Site</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;"></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">District</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Block</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Lat</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Long</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Duration</label>
							<input type="text" class="form-control form-control-sm col-sm-5">
							<label class="form-control-sm col-sm-1">Testing</label>
							<input type="text" class="form-control form-control-sm col-sm">
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>
			<fieldset class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Quotation Wordings</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm">
					<div class="form-row">
						<div class="col-sm">
							<label for="inputEmail4" class="form-control-sm top-label">Opening Paragraph</label>
							<textarea style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm" placeholder="Further to our Quotation No.."></textarea>
						</div>
						<div class="col-sm">
							<label for="inputEmail4" class="form-control-sm top-label">Closing Paragraph</label>
							<textarea style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm" placeholder="This quotation is subject.."></textarea>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">
			<fieldset class="scheduler-border" style="padding-bottom: 15px !important;">
				<legend class="scheduler-border">Share Details</legend>
				<div class="custom-row-inline-inset">
					<div class="form-row" style="margin-bottom: -3px;">
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Total Sl</label>
							<input type="text" class="form-control form-control-sm">
						</div>
					</div>
					<div class="form-row" style="margin-bottom: -16px; margin-top: -10px !important;">
						<div class="form-group col-sm-3">
							<label class="form-control-sm top-label">% Share</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Part of (100%)</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="scheduler-border" style="padding-top: 2px !important; padding-bottom: 1px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="col-sm-1"></div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Prepared By</label>
						<input type="text" class="form-control form-control-sm col-sm-7">
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Approved By</label>
						<input type="text" class="form-control form-control-sm col-sm-7">
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Printed By</label>
						<input type="text" class="form-control form-control-sm col-sm-7">
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Print Date</label>
						<input type="date" class="form-control form-control-sm col-sm-7">
					</div>
				</div>
			</fieldset>
			<fieldset class="scheduler-border" style="padding-bottom: 8px !important; padding-top: 7px !important; margin-top: -4px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px;">
							<label class="form-control-sm top-label">Created By</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px;">
							<label class="form-control-sm top-label">Last Update By</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 8px;">
							<label class="form-control-sm top-label">Date Created</label>
							<input type="date" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 8px;">
							<label class="form-control-sm top-label">Last Update</label>
							<input type="date" class="form-control form-control-sm cust-sm">
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center" style="margin-top: 3px;">
			<div class="cust-btn-container">
				<button type="button" class="cust-btn" (click)="pol($event)"><a>Cancel</a></button>
				<button type="button" class="cust-btn"><a>Save</a></button>
			</div>
		</div>
	</div>
</div>