<img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
<div>
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm">
					<fieldset class="scheduler-border cust-fs-padlr-offset">
						<legend class="scheduler-border">Open Cover Quotation Details</legend>
						<div class="row">
							<div class="col-sm-8" style="padding-right: 0px !important;">
								<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
									<div class="input-group" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-2">Quotation No</label>
										<input type="text" class="form-control form-control-sm col-sm cap-input" [(ngModel)]="ocQuoteGenInfo.openQuotationNo" readonly>
										<!-- <input type="text" class="form-control form-control-sm col-sm-1 cap-input" >
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;">
										<input type="text" class="form-control form-control-sm col-sm cap-input" style="margin-left: 3px;">
										<span>&nbsp;</span>
										<div class=""><a><i class="fa fa-search"></i></a></div> -->
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Ref Open Pol No</label>
										<input type="text" class="form-control form-control-sm" style="margin-right: -4px;"
										[(ngModel)]="ocQuoteGenInfo.refPolNo">
										<span>&nbsp;</span>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Type of Cession</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="typeOfCession" readonly>
										<label class="form-control-sm col-sm-2">Line Class</label>
										<input type="text" class="form-control form-control-sm" style="margin-right: 1px;" [(ngModel)]="lineClassDescr" appRequired>
										<div class="text-search-ico" (click)="getLineClassLov($event)"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Open Policy No</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="ocQuoteGenInfo.openPolicyNo" >
										<label class="form-control-sm col-sm-2">Status</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="ocQuoteGenInfo.status">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2" style="font-size: 10px !important;">Ceding Company</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="cedingCoId" (change)="checkCode('cedingCo')" appRequired>
										<div class="text-search-ico" (click)="getCedingCoLov($event)"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;" [(ngModel)]="cedingCoName" readonly>
									</div>
									<div *ngIf="checkTypeOfCession()" class="input-group">
										<label class="form-control-sm col-sm-2 cust-lbl-left-offset">Reinsurance From</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="ocQuoteGenInfo.reinsurerId" (change)="checkCode('cedingCoNotMember')" appRequired>
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Intermediary</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="mtnIntmId" (change)="checkCode('intermediary')">
										<div class="text-search-ico" (click)="getIntmLov($event)"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm" style="margin-left: 4px;" [(ngModel)]="mtnIntmName" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
									<div class="input-group" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-4">Quote Date</label>
										<input type="date" class="form-control form-control-sm"  [(ngModel)]="ocQuoteGenInfo.issueDate" appRequired>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Valid Until</label>
										<input type="date" class="form-control form-control-sm"  [(ngModel)]="ocQuoteGenInfo.expiryDate" appRequired>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Requested By</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="ocQuoteGenInfo.reqBy">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Request Date</label>
										<input type="date" class="form-control form-control-sm" [(ngModel)]="ocQuoteGenInfo.reqDate">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-4">Request Mode</label>
										<select class="form-control form-control-sm cust-sm" [(ngModel)]="ocQuoteGenInfo.reqMode">
											<option value="e">Email</option>
											<option value="f">Fax</option>
											<option value="p">Phone</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">


			<fieldset class="scheduler-border" style="padding-top: 20px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Currency</label>
								<input type="text" class="form-control form-control-sm" [(ngModel)]="currencyAbbr" appRequired>
								<div class="text-search-ico" (click)=getCurrLov($event)><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
							</div>
						</div>
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Exch. Rt.</label>
								<input id="exRt" type="text" class="form-control form-control-sm text-right req" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="currencyRt" required appCurrencyRate readonly>
								<span>&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>


			<fieldset class="scheduler-border" style="padding-top: 25px !important; padding-bottom: 14px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row" style="margin-top: -9px !important;">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox" [checked]="govCheckbox">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Government" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox" [checked]="indCheckbox">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Indicative" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-sm-8">
			<fieldset *ngIf="line === 'CAR'" class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Insured Details</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="padding-right: 0px !important;">
					<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
						<div class="input-group" style="margin-top: 10px;">
							<label class="form-control-sm col-sm-1">Principal</label>
							<input type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="prinId" (change)="checkCode('principal')" id="principalLOV" appRequired>
							<div class="text-search-ico" (click)="getPrinLov($event)"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;" [(ngModel)]="prinName" readonly>
							<label class="form-control-sm col-sm-1">Contractor</label>
							<input type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="conId"(change)="checkCode('contractor')" id="#ContractorLOV" appRequired>
							<div class="text-search-ico" (click)="getConLov($event)" ><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;" [(ngModel)]="conName" readonly>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Insured</label>
							<textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px;"  [(ngModel)]="insured" appRequired></textarea>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Risk</label>
							<input type="text" class="form-control form-control-sm" [(ngModel)]="riskName">
						</div>
						<div class="input-group" style="margin-bottom: 0px !important;">
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Object</label>
								<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="objId"(change)="checkCode('object')" appRequired>
								<div class="text-search-ico" (click)="getObjLov($event)"><a><i class="fa fa-search"></i></a></div>
								<input type="text" class="form-control form-control-sm" style="margin-left: 9px;" [(ngModel)]="objName" readonly>
							</div>
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm-10"  [(ngModel)]="regionDesc">
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Nature of Work</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;" [(ngModel)]="ocQuoteGenInfo.projDesc" appRequired></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Province</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="provinceDesc">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">City/Town</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="cityDesc">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Site</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;" [(ngModel)]="ocQuoteGenInfo.site" appRequired></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">District</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="districtDesc">
										<label class="form-control-sm col-sm-2">Block</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="blockDesc">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Lat</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Long</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Duration</label>
							<input type="text" class="form-control form-control-sm col-sm-5" [(ngModel)]="ocQuoteGenInfo.duration" appRequired>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>



			<fieldset *ngIf="line === 'EAR'" class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Insured Details</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="padding-right: 0px !important;">
					<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
						<div class="input-group" style="margin-top: 10px;">
							<label class="form-control-sm col-sm-1">Principal</label>
							<input type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="prinId"(change)="checkCode('principal')" id="principalLOV" appRequired>
							<div class="text-search-ico" (click)="getPrinLov($event)"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;" [(ngModel)]="prinName" readonly>
							<label class="form-control-sm col-sm-1">Contractor</label>
							<input type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="conId"(change)="checkCode('contractor')" id="#ContractorLOV" appRequired>
							<div class="text-search-ico" (click)="getConLov($event)"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<input type="text" class="form-control form-control-sm" style="margin-left: 5px;" [(ngModel)]="conName" readonly>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Insured</label>
							<textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px;" [(ngModel)]="insured" appRequired></textarea>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Risk</label>
							<input type="text" class="form-control form-control-sm" [(ngModel)]="riskName">
						</div>
						<div class="input-group" style="margin-bottom: 0px !important;">
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Object</label>
								<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="objId"(change)="checkCode('object')" appRequired>
								<div class="text-search-ico" (click)="getObjLov($event)"><a><i class="fa fa-search"></i></a></div>
								<input type="text" class="form-control form-control-sm" style="margin-left: 9px;" [(ngModel)]="objName" readonly>
							</div>
							<div class="col-sm-6 input-group" style="padding: 0px;">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm-10" [(ngModel)]="regionDesc">
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Nature of Work</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;" [(ngModel)]="ocQuoteGenInfo.projDesc" appRequired></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Province</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="provinceDesc">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">City/Town</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="cityDesc">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Site</label>
							<textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px;" [(ngModel)]="ocQuoteGenInfo.site" appRequired></textarea>

							<div class="col-sm">
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">District</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="districtDesc">
										<label class="form-control-sm col-sm-2">Block</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="blockDesc">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Lat</label>
										<input type="text" class="form-control form-control-sm">
										<label class="form-control-sm col-sm-2">Long</label>
										<input type="text" class="form-control form-control-sm">
									</div>
								</div>
							</div>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Duration</label>
							<input type="text" class="form-control form-control-sm col-sm-5" [(ngModel)]="ocQuoteGenInfo.duration" appRequired>
							<label class="form-control-sm col-sm-1">Testing</label>
							<input type="text" class="form-control form-control-sm col-sm" [(ngModel)] = "ocQuoteGenInfo.testing" appRequired> 
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>
			<!-- <fieldset class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Quotation Wordings</legend> -->
				<!-- <div class="col-sm-1">
				</div>
				<div class="col-sm">
					<div class="form-row">
						<div class="col-sm">
							<label class="form-control-sm top-label">Opening Paragraph</label>
							<textarea style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm" placeholder="Further to our Quotation No.." [(ngModel)]="ocQuoteGenInfo.openingParag"></textarea>
							<div class="text-search-ico" ><a><i class="fa fa-search"></i></a></div>
						</div>
						<div class="col-sm">
							<label class="form-control-sm top-label">Closing Paragraph</label>
							<textarea style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm" placeholder="This quotation is subject.."[(ngModel)]="ocQuoteGenInfo.closingParag"></textarea>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div> -->
				
			<!-- </fieldset> -->
			<fieldset class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Quotation Wordings</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="margin-bottom: -8px; margin-top: 7px;">
					<div class="form-row">
						<div class="input-group">
							<label class="form-control-sm top-label col-sm-6" style="text-align: left !important;">Opening
								Paragraph</label>
							<label class="form-control-sm top-label col-sm-6" style="text-align: left !important; padding-left: 7px !important;">Closing
								Paragraph</label>
						</div>
						<div class="input-group" style="margin-top: 14px !important;margin-bottom: 11px !important;">
							<textarea appRequired style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm col-sm-6" [(ngModel)]="openingWording" appRequired></textarea>
							<div class="text-search-ico" (click)="getOpeningWordingLov($event)"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<textarea appRequired style="font-size: 12px; margin-bottom: 38px; margin-left: 10px !important;" class="form-control form-control-sm col-sm-6" [(ngModel)]="closingWording" appRequired></textarea>
							<div class="text-search-ico" (click)="getClosingWordingLov($event)" ><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
						</div>
						<div class="input-group">
							<div class="text-search-ico" style="margin-top: -76px !important;margin-left: 343px !important;"><a><i class="fa fa-file-text"></i></a></div>
							<div class="text-search-ico" style="margin-top: -77px !important;margin-left: 357px !important;"><a><i class="fa fa-file-text"></i></a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">
			<fieldset class="scheduler-border" style="padding-bottom: 15px !important;">
				<legend class="scheduler-border">Share Details</legend>
				<div class="custom-row-inline-inset">
					<div class="form-row" style="margin-bottom: -3px;">
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Total SI</label>
							<input type="text" class="form-control form-control-sm text-right" [ngModel]="ocQuoteGenInfo.maxSi | number: '1.2-2'" readonly>
						</div>
					</div>
					<div class="form-row" style="margin-bottom: -16px; margin-top: -10px !important;">
						<div class="form-group col-sm-3">
							<label class="form-control-sm top-label">% Share</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right" [ngModel]="ocQuoteGenInfo.pctShare | number: '1.6-6'" readonly>
						</div>
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Part of (100%)</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right" [ngModel]="ocQuoteGenInfo.totalValue | number: '1.2-2'" readonly>
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="scheduler-border" style="padding-top: 2px !important; padding-bottom: 1px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="col-sm-1"></div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Prepared By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="ocQuoteGenInfo.preparedBy" readonly>
						<div class="text-search-ico" (click)="getUsersLov()"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Approved By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="ocQuoteGenInfo.approvedBy" readonly>
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Printed By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="ocQuoteGenInfo.printedBy" readonly>
					</div>
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Print Date</label>
						<input type="date" class="form-control form-control-sm col-sm-7" [(ngModel)]="ocQuoteGenInfo.printDate" readonly>
					</div>
				</div>
			</fieldset>
			<fieldset class="scheduler-border" style="padding-bottom: 8px !important; padding-top: 7px !important; margin-top: -4px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px;">
							<label class="form-control-sm top-label">Created By</label>
							<input type="text" class="form-control form-control-sm cust-sm" [(ngModel)]="ocQuoteGenInfo.createUser" readonly>
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px;">
							<label class="form-control-sm top-label">Last Update By</label>
							<input type="text" class="form-control form-control-sm cust-sm" [(ngModel)]="ocQuoteGenInfo.updateUser" readonly>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 8px;">
							<label class="form-control-sm top-label">Date Created</label>
							<input type="datetime-local" class="form-control form-control-sm cust-sm" [(ngModel)]="ocQuoteGenInfo.createDate" readonly >
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 8px;">
							<label class="form-control-sm top-label">Last Update</label>
							<input type="datetime-local" class="form-control form-control-sm cust-sm" [(ngModel)]="ocQuoteGenInfo.updateDate" readonly>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center" style="margin-top: 3px;">
			<div class="cust-btn-container">
				<button type="button" class="cust-btn" (click)="pol($event)"><a>Cancel</a></button>
				<button type="button" class="cust-btn"><a>Save</a></button>
			</div>
		</div>
	</div>
</div>

<app-mtn-currency id="currIdLov" (selectedData)="setCurr($event)"></app-mtn-currency>
<app-mtn-insured id="prinIdLov" (selectedData)="setPrin($event)"></app-mtn-insured>
<app-mtn-insured id="conIdLov" (selectedData)="setCon($event)"></app-mtn-insured>
<app-mtn-object id="objIdLov" (selectedData)="setObj($event)" [line]="line"></app-mtn-object>
<app-mtn-quotation-wordings  id="wordingOpeningIdLov" (selectedData)="setOpeningWording($event)" [line]="line"></app-mtn-quotation-wordings>
<app-mtn-quotation-wordings  id="wordingClosingIdLov" (selectedData)="setClosingWording($event)" [line]="line"></app-mtn-quotation-wordings>
<app-ceding-company id="cedingCoIdLov" (selectedData)="setCedingCo($event)"></app-ceding-company>
<app-mtn-line-class id="lineClassIdLov" (selectedData)="setLineClass($event)" [line]="line"></app-mtn-line-class>
<app-mtn-intermediary id="intmIdLov" (selectedData)="setIntm($event)"></app-mtn-intermediary>
<app-mtn-users id="usersLov" (selectedData)="setUser($event)"></app-mtn-users>