<div class="cust-tabs-container">
    <h4>Policy / Maintenance</h4>
    <ngb-tabset>
        <ngb-tab title="Deductibles">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border" style="margin-top: 10px !important;">
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right" for="xx" style="margin-bottom: 0px">Line</label>
                                    <input class="form-control form-control-sm  col-sm-1" type="text" name="" placeholder="CAR">
                                    <!-- <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>&nbsp;-->
                                    <input class="form-control form-control-sm  col-sm-7" type="text" name="" style="margin-left: 2px;" placeholder="Contractors All Risks">
                                    <div class="col-sm-1" style="padding-left: 1px"><a><i class="fa fa-search"></i></a></div>&nbsp;
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset" style="margin-bottom: 7px !important">
                                <div class="col-sm-12" style="text-align: center">
                                    <button type="button" class="cust-btn"><a>Clear</a></button>
                                    <button type="button" class="cust-btn" (click)="search()"><a>Search</a></button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <app-cust-non-datatable [passData]="maintenanceDeductibleData"></app-cust-non-datatable>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border">
                            <div class="form-row custom-row-inline-inset" style="margin-top: 0.2em !important;">
                                <div class="input-group ig-row input-radio">
                                    <label class="form-control-sm col-sm-2"></label>
                                    <input class="form-control-sm radioBtn" type="radio" name="optradio" [value]="true" checked="checked" (click)="FixedAmount()">    
                                    <label class="form-control-sm col-sm-2" for="list" style="margin-top: 2px !important; margin-left: 2px !important; text-align: left !important" >Fixed Amount</label>
                                    <input class="form-control-sm radioBtn" type="radio" name="optradio" [value]="false" (click)="NotFixedAmount()">
                                    <label class="form-control-sm col-sm-2" for="list" style="margin-top: 2px !important; margin-left: 2px !important; text-align: left !important">% of Loss Amount</label>
                                    <input class="form-control-sm radioBtn" type="radio" name="optradio" [value]="false" (click)="NotFixedAmount()">
                                    <label class="form-control-sm col-sm-2" for="list" style="margin-top: 2px !important; margin-left: 2px !important; text-align: left !important">% of TSI Amount</label>
                                    <input class="form-control-sm radioBtn" type="radio" name="optradio" [value]="false" (click)="NotFixedAmount()">
                                    <label class="form-control-sm col-sm-2" for="list" style="margin-top: 2px !important; margin-left: 2px !important; text-align: left !important">% of Insured's Value at the Time of Loss</label>
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Deductible</label>
                                    <input type="text" class="form-control form-control-sm col-sm-1" placeholder="OC31">
                                    <input type="checkbox" class="checkbox text-right" checked>
                                    <label class="form-control-sm labels" style="text-align: left !important">Active Tag</label>
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Title</label>
                                    <input type="text" class="form-control form-control-sm col-sm-9" placeholder="OTHER CAUSES 31">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Deductible Amount</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" [disabled]="!fixedAmount">
                                    <label class="form-control-sm col-sm-2 text-right labels">% of Loss Amount</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" [disabled]="fixedAmount">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Minimum Amount</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" placeholder="10,000,000.00" [disabled]="fixedAmount">
                                    <label class="form-control-sm col-sm-2 text-right labels">Maximum Amount</label>
                                    <input type="text" class="form-control form-control-sm col-sm-3" [disabled]="fixedAmount">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Deductible Text</label>
                                    <input type="text" class="form-control form-control-sm col-sm-9" placeholder="20% of loss, minimum of Php 500,000.00 - each and every loss">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Remarks</label>
                                    <input type="text" class="form-control form-control-sm col-sm-9" placeholder="Change % of Loss Amount">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Created By</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" placeholder="CUARESMA">
                                    <label class="form-control-sm col-sm-2 text-right labels">Date Created</label>
                                    <input type="date" class="form-control form-control-sm col-sm-3">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-2 text-right labels">Last Update By</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" placeholder="QUECOM">
                                    <label class="form-control-sm col-sm-2 text-right labels">Last Update</label>
                                    <input type="date" class="form-control form-control-sm col-sm-3">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset" style="margin-bottom: 7px !important">
                                <div class="col-sm-12" style="text-align: center">
                                    <button type="button" class="cust-btn" (click)="update()"><a>Update</a></button>
                                    <button type="button" class="cust-btn" (click)="delete()"><a>Delete</a></button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-row bottom-button-container">
                    <div class="form-group col-sm">
                        <div class="col-md-13 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px;">
                                <button type="button" class="cust-btn"><a>Cancel</a></button>
                                <button type="button" class="cust-btn" (click)="save()"><a>Save</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>