<div class="cust-tabs-container">
    <h4>Maintenance / Quotation & Policy</h4>
    <ngb-tabset>
        <ngb-tab title="Deductibles">
            <ng-template ngbTabContent>
                <fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="form-row custom-row-inline-inset">
                        <div class="input-group">
                            <div class="col-sm-3"></div>
                            <label class="form-control-sm text-right"  style="margin-bottom: 0px">Line</label>
                            <input class="form-control form-control-sm  col-sm-1 cap-input" type="text" (change)="checkCode($event)" [(ngModel)]="line">
                            <div class="text-search-ico" style="padding-left: 1px" (click)="showLineLOV()"><a><i class="fa fa-search"></i></a></div>&nbsp;
                            <input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [(ngModel)]="description" readonly>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border" style="margin-top: 10px !important">
                    <div class="custom-row-inline-inset" style="margin-top: 25px !important;" id="deductibleTbl">
                        <app-cust-editable-non-datatable [passData]="passData" (newClick)="clickRow($event)" (tableDataChange)="passData.tableData=$event; dedType();" #dedTbl (genericBtn)="onDeleteDeductibles()" (onDelete)="dedTbl.onClickDelete('force'); passData.disableGeneric=true">
                            <!-- <button controls-l class="cust-btn" *ngIf="!passData.addFlag" class="cust cust-btn dsbld">Add</button> -->
                            <!-- <button controls-l class="cust-btn" *ngIf="!passData.deleteFlag" class="cust cust-btn dsbld">Delete</button> -->
                        </app-cust-editable-non-datatable>

                            <div class="form-row" style="margin-top: 40px !important;">
                                <div class="form-group col-sm">
                                    <div class="text-center">
                                        <div class="cust-btn-container">
                                            <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
                                            <button type="button" class="cust-btn" (click)="onSaveMtnDeductibles()"><a>Save</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </fieldset>

                <fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
                        <label class="form-control-sm col-sm-1">Created By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="deductiblesData.createUser" readonly>
                        <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
                        <div class="col-sm dp-cont">
                            <datepicker [value]="deductiblesData.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
                        <label class="form-control-sm col-sm-1">Last Update By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="deductiblesData.updateUser" readonly>
                        <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
                        <div class="col-sm dp-cont">
                            <datepicker [value]="deductiblesData.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
                    </div>
                </fieldset>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<app-mtn-line id="lineLOV" (selectedData)="setLine($event)"></app-mtn-line>

<app-confirm-save (onYes)="onSaveDeductibles()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag?this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="onSaveDeductibles('cancel')" [url]="'/maintenance-qu-pol'" ></app-cancel-button>

<app-modal class="d-none" id="warnMdl">
    <div header>Warning Message</div>
    <div body class="container-flex text-center" style="max-width: 300px !important;">
        <fieldset class="scheduler-border" style="padding: 15px !important;min-height: 100px !important"> 
            <p class="form-control-sm" style=" margin: 0px !important; padding: 0px !important;"><b>{{ warnMsg }}</b></p>
        </fieldset>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="this.modalService.dismissAll()"><a>Ok</a></button>
    </div>
</app-modal>
