<div class="cust-tabs-container">
	<h4>Policy / Policy Issuance / Create Policy</h4>
	<ngb-tabset (tabChange)="beforeChange($event);onTabChange($event)">

		<ngb-tab class="ngb-tab" title="General Info">
			<ng-template ngbTabContent>
				<app-pol-gen-info (emitPolicyInfoId)="getPolInfo($event)" [alteration]="false"></app-pol-gen-info>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Item" *ngIf="line=='EEI' || line=='MBI' || line=='CEC' || line=='BPV' || line=='MLP' || line=='DOS'">
			<ng-template ngbTabContent>
				<app-pol-item></app-pol-item>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Coverage">
			<ng-template ngbTabContent>
				<app-pol-coverage [alteration]="false"></app-pol-coverage>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="ALOP">
			<ng-template ngbTabContent>
				<app-pol-alop [policyInfo]="policyInfo" [alterFlag]="true"></app-pol-alop>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Inward Pol Balance">
			<ng-template ngbTabContent>
				<app-inward-pol-balance [policyInfo]="policyInfo" [fromInq]="fromInq"></app-inward-pol-balance>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Endorsement">
			<ng-template ngbTabContent>
				<app-pol-endorsement [policyInfo]="policyInfo"></app-pol-endorsement>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="CoInsurance">
			<ng-template ngbTabContent>
				<app-pol-co-insurance [policyInfo]="policyInfo"></app-pol-co-insurance>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Attachment">
			<ng-template ngbTabContent>
				<app-pol-attachment [alterationFlag]="true"></app-pol-attachment>
			</ng-template>
		</ngb-tab>


		<ngb-tab id="print-tab">
			<ng-template #content>
				<div class="modal-header">
					<span class="modal-title" id="modal-basic-title">&nbsp;</span>
					<!-- <div class="close" style="padding-bottom: 5px;">
						<a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true"><span style="padding-right: 3px;"
							 id="closes">&times;&nbsp;&nbsp;</span></a>
					</div> -->
				</div>
				<div class="modal-body">
					<fieldset class="scheduler-border">
						<div class="custom-row-inline-inset" style="margin-bottom:-5px !important;">
							<div class="input-group" style="margin-bottom:3px !important;">
								<label class="col-sm-3">Report</label>
								<select class="form-control form-control-sm cust-sm col-sm-8">
									<option value="">Report 1</option>
									<option value="">Report 2</option>
									<option value="">Report 3</option>
								</select>
								<div class="col-sm-1"></div>
							</div>
							<div class="input-group" style="margin-bottom:3px !important;">
								<label class="col-sm-3">No. Of Copies</label>
								<input type="text" class="form-control form-control-sm cust-sm col-sm-8 " placeholder="25" style="text-align: right"
								 onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
								<div class="col-sm-1"></div>
							</div>
							<div class="input-group" style="margin-bottom:3px !important;">
								<label class="col-sm-3">Destination</label>
								<select class="form-control form-control-sm cust-sm col-sm-8">
									<option value="">C:\Users\CPI\Desktop\pmmsc\ets-prj</option>
									<option value="">C:\Users\CPI\Desktop\pmmsc\ets-prj</option>
									<option value="">C:\Users\CPI\Desktop\pmmsc\ets-prj</option>
								</select>
								<div class="col-sm-1"></div>
							</div>
							<div class="input-group" style="margin-bottom:3px !important;">
								<label class="col-sm-3">Printer Name</label>
								<select class="form-control form-control-sm cust-sm col-sm-8">
									<option value="">CPI Printer</option>
									<option value="">PMMSC Printer</option>
									<option value="">Printer</option>
								</select>
								<div class="col-sm-1"></div>
							</div>
							<div class="input-group" style="margin-bottom:3px !important;">
								<div class="col-sm-2"></div>&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="col-sm-8">
									<!-- <input type="checkbox" style="vertical-align: middle">&nbsp;<label>Print as Draft</label>
									&nbsp;&nbsp;&nbsp;&nbsp; -->
									<input type="checkbox" style="vertical-align: middle">&nbsp;<label>Include Endorsement</label>
									<div class="col-sm-1"></div>
								</div>
							</div>
						</div>
					</fieldset>

				</div>
				<!-- <div class="modal-footer" style="text-align: center !important;">
					<div>
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
					</div>
				</div> -->
				<div class="form-row">
					<div class="form-group col-sm">
						<div class="col-md-13 text-center" style="margin-top: -6px;">
							<div class="cust-btn-container">
								<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
								<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
							</div>
						</div>
					</div>
				</div>
			</ng-template>

			<ng-template ngbTabTitle>
				<div (click)="showApprovalModal(content)">Print</div>
			</ng-template>

		</ngb-tab>

		<ngb-tab title="Post">
			<ng-template ngbTabContent>
				<app-pol-post [alterationFlag]="false"></app-pol-post>
			</ng-template>
		</ngb-tab>
		 <ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  		</ngb-tab>
	</ngb-tabset>
</div>

<ng-template #contentEditPol>
				<div class="modal-header">
					<span class="modal-title" id="modal-basic-title">Confirmation Message</span>
				</div>
				<div class="modal-body" style="width: 390px">
					<div class="row" style="padding-right: 15px! important; padding-left: 15px ! important">
							<fieldset class="scheduler-border">
								<div class="custom-row-inline-inset">
									<div class="input-group" style="margin-top : 0px ! important">
										<span class="form-control-sm" for="xx" style="padding-left: 40px; padding-right: 35px; font-size: 12px">Selected Policy No is already posted. Modification requires approval.</span>
									</div>
									<div class="input-group" style="margin-top : 20px ! important">
											<div class="input-group" style="margin-bottom : -8px ! important; padding-left: 40px; padding-right: 35px;">
												<div class="col-sm-8" style="padding:0">
												  <div class="input-group">
													<label class="form-control-sm" for="xx" style="padding-left: 0px">Status</label>
												    <input type="text" tabindex="-1" [(ngModel)]="this.policyInfo.status" readonly id="xx" class="form-control form-control-sm col-sm" style="margin-left: 5px">
												  </div>
											    </div>
											</div>
									</div>
								    <div class="input-group" style="margin-top : 5px ! important; margin-bottom: 20px! important" >
										<div class="col-sm" style="padding-left : 0px ! important; padding-right : 0px ! important">
											<div class="input-group" style="padding-left: 40px; padding-right: 35px;">
													<div class="col-sm-8" style="padding:0">
													  <div class="input-group">
														<select class="form-control form-control-sm cust-sm col-sm">
			                                        		<option *ngFor="let approver of approverList; let i = index" [value]="approver.userId">{{ approver.userId + ' - ' + approver.userName }}</option>
			                                   			 </select>
			                                   		  </div>
													</div>
													<div class="col-sm-4" style="padding-left:0px;padding-right: 0px">
														<button class="cust">{{ approveText }}</button>
												    </div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
					</div>
				</div>
				<div class="modal-footer" style="justify-content: center;">
					<div >
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();returnOnModal();"><a>Return</a></button>
					</div>
				</div>
</ng-template>
