.scheduler-border {
	height: 100% !important;
	margin: 0 !important;
	width: 400px !important;
	padding: 0.5em !important;
}

.cust-div {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

#close{
	font-size: 27px;
}

.close{
	color: #fff;
	float: right;
	opacity: 1;
	line-height: .9;
	padding-left: 5px !important;
}

#closes:hover {
	color: #fff;
	opacity: 1;
}

.modal-footer {
	padding: 10px;
}

h6#modal-basic-title.modal-title {
	margin: 5px 0px 5px 5px;
}

h4 {
	font-size: 14px !important;
}