<div class="cust-tabs-container">
	<h4>Policy / Policy Issuance / Create Policy</h4>
	<ngb-tabset>

		<ngb-tab class="ngb-tab" title="General Info">
			<ng-template ngbTabContent>
				<app-pol-gen-info></app-pol-gen-info>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Item">
			<ng-template ngbTabContent>
				<app-pol-item></app-pol-item>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Coverage">
			<ng-template ngbTabContent>
				<app-pol-coverage></app-pol-coverage>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="ALOP">
			<ng-template ngbTabContent>
				<app-pol-alop></app-pol-alop>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Inward Pol Balance">
			<ng-template ngbTabContent>
				
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Endorsement">
			<ng-template ngbTabContent>
				<app-pol-endorsement></app-pol-endorsement>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="CoInsurance">
			<ng-template ngbTabContent>
				<app-pol-co-insurance></app-pol-co-insurance>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Attachment">
			<ng-template ngbTabContent>
				<app-pol-attachment [alterationFlag]="false"></app-pol-attachment>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Print">
			<ng-template ngbTabContent>

			</ng-template>
		</ngb-tab>
		<ngb-tab title="Post">
			<ng-template ngbTabContent>
                <app-pol-post [alterationFlag]="false"></app-pol-post>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Exit">
			<ng-template ngbTabContent>

			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>