<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Credit/Debit Memo /Generate CM/DM</h4>
		<ngb-tabset #tabset (tabChange)="onTabChange($event)">
			<ngb-tab class="ngb-tab" title="CM/DM Entry">
				<ng-template ngbTabContent>
					<app-acct-cmdm-entry [passData]="passData"></app-acct-cmdm-entry>
				</ng-template>
			</ngb-tab>
			<ngb-tab class="ngb-tab" title="Accounting Entries">
				<ng-template ngbTabContent>
					<app-cmdm-accnt-entries></app-cmdm-accnt-entries>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  		</ngb-tab>
		</ngb-tabset>
</div>
