<fieldset class="scheduler-border">
	<legend class="scheduler-border">Inward Policy Balance Info</legend>
	<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
		<div class="input-group" style="margin-bottom: -20px !important; margin-top: 3px !important">
			<label class="form-control-sm col-sm-1" for="xx">Currency</label>
			<input type="text" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" readonly [value]="inwPolInfo.currCd">
			<label class="form-control-sm col-sm-2" for="xx">Total Amount Due</label>
			<input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right" placeholder="" readonly 
				[value]="inwPolInfo.totalAmtDue |  number:'1.2-2'">
			<label class="form-control-sm col-sm-1" for="xx">Total Collection</label>
			<input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" placeholder="" readonly 
				[value]="inwPolInfo.totalColl |  number:'1.2-2'">
				<label class="form-control-sm col-sm-2" for="xx">Outstanding Blanace</label>
			<input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" placeholder="" readonly 
				[value]="inwPolInfo.outstanding |  number:'1.2-2'">
		</div>
	</div>
</fieldset>

<fieldset class="scheduler-border">
	<legend class="scheduler-border">Installment Info</legend>
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-12">
			<app-cust-editable-non-datatable #instllmentTable [passData]="passData" (newClick)="onInstClick($event)"></app-cust-editable-non-datatable>
		</div>
	</div>
</fieldset>

<fieldset class="scheduler-border">
	<legend class="scheduler-border">Premium Collection</legend>
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<app-cust-editable-non-datatable #paytsTable [passData]="passData2" ></app-cust-editable-non-datatable>
		</div>
		<div class="col-sm-1"></div>
	</div>
</fieldset>