<div class="row">
    <div class="col-sm-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">CM/DM Info</legend>
            <div class="container-fluid" style="padding-left: 0px;">
               <div class="form-row custom-row-inline-inset">
                    <div class="input-group bottom">
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="form-control-sm col-sm-3">Memo Type</label>
                                <select class="form-control form-control-sm cust-sm col-sm-5" [(ngModel)]="memoInfo.memoType" appRequired>
                                    <option value="CM">Credit Memo</option>
                                    <option value="DM">Debit Memo</option>
                                </select>
                                <label class="form-control-sm col-sm">Auto
                                    <input class="ml-1" type="checkbox" style="vertical-align: bottom;"  [ngModel]="memoInfo.autoTag == 'Y'" disabled="disabled">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <label class="form-control-sm col-sm-2">Tran Type</label>
                                <select class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="memoInfo.tranTypeCd" appRequired>
                                    <option>Policy</option>
                                    <option>Claims</option>
                                    <option>Offsetting of Net Payable In Trust (Due Company) against Receivable In Trust</option>
                                    <option>Offsetting of Accounts Receivable In Trust against Net Payable In Trust (Due Treaty In-Trust)</option>
                                    <option>Interest Penalty on Overdue Accounts against Net Payable In Trust</option>
                                    <option>Write-off of Bad Debts</option>
                                    <option>Service Fee</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="form-control-sm col-sm-4">Status</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="memoInfo.status" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="input-group bottom">
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="form-control-sm col-sm-3">Memo No</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 spacing" [ngModel]="memoInfo.memoType" disabled="disabled">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm spacing" [ngModel]="memoInfo.memoTranType" disabled="disabled">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm spacing" [ngModel]="memoInfo.memoYear"  disabled="disabled">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-1 spacing" [ngModel]="memoInfo.memoMm" disabled="disabled">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-3" [ngModel]="memoInfo.memoSeqNo" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <label class="form-control-sm col-sm-2">Memo Date</label>
                                <div class="col-sm dp-cont">
                                    <datepicker [type]="'date'" [required]="true" [showIcon]="true" [value]="memoInfo.memoDate?.split('T')[0]" (valueChange)="memoInfo.memoDate=$event+'T'+memoInfo.memoDate.split('T')[1]; updateExpiryDate();"></datepicker>
                                </div>
                                <div class="col-sm-3 dp-cont">
                                    <datepicker [type]="'time'" [required]="true" [value]="memoInfo.memoDate?.split('T')[1]" (valueChange)="memoInfo.memoDate=memoInfo.memoDate.split('T')[0]+'T'+$event" [textAlign]="'center'"></datepicker> 
                                </div>  
                                <label class="form-control-sm col-sm-2">JV Ref No</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="memoInfo.refNo" appRequired>
                                <div style="margin-left: -19px !important;margin-right: 7px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="form-control-sm col-sm-4">Ref. No. Date</label>
                                <div class="col-sm dp-cont">
                                    <datepicker [value]="memoInfo.refNoDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker> 
                                </div>  
                                <!-- <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="memoInfo.refNoDate" readonly="readonly"> -->
                            </div>
                        </div>
                    </div>
                    <div class="input-group bottom">
                        <div class="col-sm-1">
                            <div class="row">
                                <label class="form-control-sm col-sm">Recipient</label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="row">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="memoInfo.payee" appRequired>
                            </div>
                        </div>
                    </div>
                    <div class="input-group bottom" style="margin-bottom: -6px !important;">
                        <div class="col-sm-1">
                            <div class="row">
                                <label class="form-control-sm col-sm" >Particulars</label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="row">
                                <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 55px; margin-bottom: 11px;" (change)="memoInfo.particulars = $event" appRequired>{{memoInfo.particulars}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="input-group bottom">
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="form-control-sm col-sm-3">Amount</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 spacing" [(ngModel)]="memoInfo.currCd" appRequired>
                                <div style="margin-left: -19px !important;margin-right: 7px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="memoInfo.cmdmAmt" appRequired appCurrency>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <label class="form-control-sm col-sm-3">Currency Rate</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-2" [(ngModel)]="memoInfo.currRate" disabled="disabled" appCurrencyRate>
                                <label class="form-control-sm col-sm-3">Local Amount</label>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-1 spacing" [(ngModel)]="memoInfo.localCurrCd" disabled="disabled">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="memoInfo.localAmt" disabled="disabled" appCurrency>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px;">
                                <button type="button" class="cust cust-btn" style="margin-right: 10px !important;"><a>New CMDM</a></button>
                                <button type="button" class="cust cust-btn" style="margin-right: 10px !important;"><a>Save</a></button>
                                <button type="button" class="cust cust-btn" style="margin-right: 10px !important;"><a>Cancel CM/DM</a></button>
                                <button type="button" class="cust cust-btn" style="margin-right: 10px !important;"><a>Print</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important;">
            <div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
                <div class="input-group" style="margin-bottom: -15px !important;">
                    <label class="form-control-sm col-sm-1 text-right labels">Created By</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="memoInfo.createUser" disabled>
                    <label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
                    <div class="col-sm-2 dp-cont">
                        <datepicker [value]="memoInfo.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker> 
                    </div>  
                    <!-- <input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="memoInfo.createDate" disabled> -->
                    <label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="memoInfo.updateUser" disabled>
                    <label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
                    <div class="col-sm-2 dp-cont">
                        <datepicker [value]="memoInfo.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker> 
                    </div>  
                    <!-- <input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="memoInfo.updateDate" disabled> -->
                </div>
            </div>
        </fieldset>
    </div>
</div>