<fieldset class="scheduler-border">
    <legend class="scheduler-border">O.R. Info</legend>
    <div class="form-row custom-row-inline-inset">
      <div class="col-sm-6">
        <div class="input-group">
          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">O.R. No.</label>
          <input type="text" value="000001" class="form-control form-control-sm cust-sm col-sm-2 text-right" numbers-only
           style="z-index: 1 !important;">
          <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -35px !important;">O.R. Date</label>
          <input type="datetime-local" value="2018-10-01T10:45" class="form-control form-control-sm cust-sm col-sm"
          style="z-index: 1 !important;">
           <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -40px !important;">DCB No.</label>
            <input type="text" value="2018-001-55" numbers-only class="form-control form-control-sm cust-sm col-sm-3 text-right"
            style="z-index: 1 !important;">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Payor</label>
          <input type="text" value="BPI/MS INSURANCE CORPORATION" class="form-control form-control-sm cust-sm col-sm"
           placeholder=""  >
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Payment
            Type</label>
          <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Status</label>
           <input type="text" value="New" class="form-control form-control-sm cust-sm col-sm" placeholder="">
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="input-group">
          <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Amount</label>
          <input type="text" value="PHP" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
          <input type="text" value="30,000" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
           placeholder="">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Local Amount</label>
          <input type="text" value="PHP" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
          <input type="text" value="30,000" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
           placeholder="">
        </div>
      </div>
    </div>
  </fieldset>


  <div  class="cust-tabs-container" style="margin-top:10px !important">
      <ngb-tabset>
        <ngb-tab class="ngb-tab" title="Official Receipt">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
               <app-cust-editable-non-datatable [passData]="passDataOfficialReceipt"></app-cust-editable-non-datatable>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab class="ngb-tab" title="Others">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
                
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

<div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;
padding-right: 0px !important;">
	<fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
		<div class="custom-row-inline-inset">
			<div class="form-row" style="margin-bottom: -10px;">
				<div class="input-group">
					<label class="form-control-sm col-sm-1">Created By</label>
					<input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma">
					<label class="form-control-sm col-sm-1">Date Created</label>
					<input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-01T10:45">
					<label class="form-control-sm col-sm-1">Last Update By</label>
					<input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
					<label class="form-control-sm col-sm-1">Last Update</label>
					<input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-02T10:00">
				</div>
			</div>
		</div>
	</fieldset>
</div>