<fieldset class="scheduler-border">
  <legend class="scheduler-border">O.R. Info</legend>
  <div class="form-row custom-row-inline-inset">
    <div class="col-sm-6">
      <div class="input-group">
        <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">O.R. No.</label>
        <input type="text" [ngModel]="record.formattedOrNo" class="form-control form-control-sm cust-sm col-sm-2 text-right" numbers-only
        style="z-index: 1 !important;" readonly>
        <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -35px !important;">O.R. Date</label>
        <div class="col-sm" style="padding: 0px">
            <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="record?.orDate"></datepicker>
        </div>
        <label class="form-control-sm col-sm-2" style="padding-left:0px !important;margin-left: -40px !important;">DCB No.</label>
        <input type="text" [ngModel]="record.dcbNo" numbers-only class="form-control form-control-sm cust-sm col-sm-3 text-right"
        style="z-index: 1 !important;" readonly>
      </div>
      <div class="input-group">
        <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Payor</label>
        <input type="text" [ngModel]="record.payor" class="form-control form-control-sm cust-sm col-sm"
        placeholder="" readonly>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Payment
        Type</label>
        <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="" [ngModel]="record.tranTypeName" readonly>
      </div>
      <div class="input-group">
        <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Status</label>
        <input type="text" class="form-control form-control-sm cust-sm col-sm" [ngModel]="record.orStatDesc" readonly>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="input-group">
        <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Amount</label>
        <input type="text" class="form-control form-control-sm cust-sm col-sm-2" placeholder="" [ngModel]="record.currCd" readonly>
        <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
        placeholder="" [ngModel]="record.orAmt | number: '1.2-2'" readonly>
      </div>
      <div class="input-group">
        <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Local Amount</label>
        <input type="text" class="form-control form-control-sm cust-sm col-sm-2" value="PHP" readonly>
        <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
        placeholder="" [ngModel]="record.orAmt * record.currRate | number: '1.2-2'" readonly>
      </div>
    </div>
  </div>
</fieldset>


  <!-- <div  class="cust-tabs-container" style="margin-top:10px !important">
      <ngb-tabset>
        <ngb-tab class="ngb-tab" title="Official Receipt">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
               <app-cust-editable-non-datatable [passData]="passDataOfficialReceipt"></app-cust-editable-non-datatable>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab class="ngb-tab" title="Official Receipt Service Fee Local">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
               <app-or-service-fee-local></app-or-service-fee-local>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab class="ngb-tab" title="Others">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
                <app-or-others></app-or-others>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> -->

    <div class="cust-tabs-container" style="margin-top:10px !important">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <ng-container [ngSwitch]="paymentType">
              <div *ngSwitchCase="'1'">Official Receipt</div>
              <div *ngSwitchCase="'2'">Official Receipt Service Fee Local</div>
              <div *ngSwitchCase="'3'">Official Receipt Service Fee Munich Re</div>
            </ng-container>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
                <ng-container [ngSwitch]="paymentType">
                  <ng-container *ngSwitchCase="'1'">
                    <app-or-only [record]="record"></app-or-only>
                  </ng-container>
                  <ng-container *ngSwitchCase="'2'">
                    <app-or-service-fee-local></app-or-service-fee-local>
                  </ng-container>
                  <ng-container *ngSwitchCase="'3'">
                    <app-or-service-fee-munich-re></app-or-service-fee-munich-re>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab class="ngb-tab" title="Others">
          <ng-template ngbTabContent>
            <div class="input-group cust-border" style="padding-top: 0.6em">
              <div class="col-sm-12">
                <div class="input-group">
                      <div class="col-sm">
                        <app-or-others></app-or-others>
                      </div>
                    </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

    <div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;
    padding-right: 0px !important;">
    <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
      <div class="custom-row-inline-inset">
       <div class="form-row" style="margin-bottom: -10px;">
        <div class="input-group">
         <label class="form-control-sm col-sm-1" >Created By</label>
         <input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
         <label class="form-control-sm col-sm-1" >Date Created</label>
         <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-01T10:45" disabled>
         <label class="form-control-sm col-sm-1" >Last Update By</label>
         <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
         <label class="form-control-sm col-sm-1" >Last Update</label>
         <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-02T10:00" disabled>
       </div>
     </div>
   </div>
 </fieldset>
</div>

<!-- <app-modal id="taxAlloc" class="d-none" [modalSize]="'sm'">
  <div header>Tax Allocation</div>
  <div body>
    <fieldset class="scheduler-border" style="padding-top: 6px !important;"> 
      <legend class="scheduler-border">O.R. Info</legend>
      <app-cust-editable-non-datatable [passData]="passDataGenTax" ></app-cust-editable-non-datatable>
    </fieldset>

    <fieldset class="scheduler-border" style="padding-top: 6px !important;"> 
      <legend class="scheduler-border">Withholding</legend>
      <app-cust-editable-non-datatable [passData]="passDataWithholding" ></app-cust-editable-non-datatable>
    </fieldset>
  </div>
  <div footer class="w-100">
    <div class="col-md-13 text-center">
        <div class="cust-btn-container" >
            <button type="button" class="cust-btn" (click)="modalService.dismissAll()"><a>Save</a></button>
            <button type="button" class="cust-btn" (click)="modalService.dismissAll()"><a>Return</a></button>
        </div>
    </div>
  </div>
</app-modal>   -->