<div class="cust-tabs-container">
		<h4> Maintenance / Ceding Company List</h4>
		<ngb-tabset>
			<ngb-tab class="ngb-tab" title="Ceding Company">
				<ng-template ngbTabContent>
					<form #myForm="ngForm">
					<div class="row" style="margin-top: 10px;">
						<div class="col-sm-2"></div>
						<div class="col-sm">
							<img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
                            <div style="position: fixed;width: 100%;height: 100%;z-index: 991;background-color: rgba(255, 255, 255, 0.5);" *ngIf="loading"></div>
							<fieldset class="scheduler-border" style="padding-top: 11px !important; padding-bottom: 10px !important;">
								<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
								<div style="margin-right: 25px;">
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Company No</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [ngModel]="companyData.cedingId" readonly name="cedingId">
										<div class="cust-div col-sm-6" style="margin-left: 15px;">
											<input style="margin-left: 258px;" type="checkbox" [ngModel]="companyData.govtTag === 'Y'" (ngModelChange)="$event ? companyData.govtTag = 'Y' : companyData.govtTag = 'N'" name="govtTag">&nbsp;<span class="cust-span">Government</span>
										</div>
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Name</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.cedingName" name="cedingName" appRequired>
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Abbreviation</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.cedingAbbr" name="cedingAbbr" appRequired>
										<label class="form-control-sm col-sm-2">Old Company No</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.oldCedingId" name="oldCedingId">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Address</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.addrLine1" name="addrLine1" appRequired>
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2"></label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.addrLine2" name="addrLine2">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2"></label>
										<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="companyData.addrLine3" name="addrLine3">
										<label class="form-control-sm col-sm-1" style="margin-left: 12px !important;">Zip Code</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="companyData.zipCd" name="zipCd">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Company Contact No.</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.contactNo" name="contactNo">
										<label class="form-control-sm col-sm-2" style="margin-left: 12px !important;">Company Email Address</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.emailAdd" name="emailAdd">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">T.I.N No.</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.tinNo" name="tinNo">
										<!-- <label class="form-control-sm col-sm-2" style="margin-left: 12px !important;">Business Type</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.bussTypeId" name="businessId" numbers-only maxlength="9"> -->
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm">
							<img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
                            <div style="position: fixed;width: 100%;height: 100%;z-index: 991;background-color: rgba(255, 255, 255, 0.5);" *ngIf="loading"></div>
							<fieldset class="scheduler-border" style="padding-top: 11px !important; padding-bottom: 10px !important;">
								<legend class="scheduler-border">VAT Type</legend>
								<div style="margin-right: 25px;">
									<div class="input-group cust-ig">
										<div class="input-group col-sm-2"></div>
										<div class="input-group col-sm-3">
											<input type="radio" name="vatType" [(ngModel)]="companyData.vatTag" value="3" class="col-sm-1"><label class="form-control-sm col-sm" style="text-align: left !important; margin-top: -5px">VAT Rate</label>
										</div>
										<div class="input-group col-sm-3">
											<input type="radio" name="vatType" [(ngModel)]="companyData.vatTag" value="1" class="col-sm-1"><label class="form-control-sm col-sm" style="text-align: left !important; margin-top: -5px">VAT Exempt</label>
										</div>
										<div class="input-group col-sm-3">
											<input type="radio" name="vatType" [(ngModel)]="companyData.vatTag" value="2" class="col-sm-1"><label class="form-control-sm col-sm" style="text-align: left !important; margin-top: -5px">Zero VAT</label>
										</div>
										<div class="input-group col-sm-1"></div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<fieldset class="scheduler-border" style="padding-top: 11px !important; padding-bottom: 10px !important;">
								<legend class="scheduler-border">Membership</legend>
								<div class="row">
									<div class="col-sm-6" style="padding-left: 38px">
										<div style="margin-right: 50px;">
											<div class="input-group cust-ig">
												<label class="form-control-sm col-sm-4">Membership Date</label>
												<!-- <input type="date" class="form-control form-control-sm col-sm-4" [ngModel]="companyData.membershipDate === '' ? '' : ns.toDateTimeString(companyData.membershipDate).split('T')[0]" (ngModelChange)="companyData.membershipDate = $event" name="membershipDate"> -->
												<div class="col-sm dp-cont">
													<datepicker [type]="'date'" [required]="true" [disabled]="companyData.membershipTag === 'N' || companyData.membershipTag === null" [value]="companyData.membershipDate === '' ? '' : ns.toDateTimeString(companyData.membershipDate).split('T')[0]" (valueChange)="companyData.membershipDate = $event" [formName]="'membershipDate'"></datepicker>
												</div>
												
											</div>
											<div class="input-group cust-ig">
												<label class="form-control-sm col-sm-4">Inactive Date</label>
												<!-- <input type="date" class="form-control form-control-sm col-sm" [ngModel]="companyData.inactiveDate === '' ? '' : ns.toDateTimeString(companyData.inactiveDate).split('T')[0]" (ngModelChange)="companyData.inactiveDate = $event" name="inactiveDate"> -->
												<div class="col-sm dp-cont">
													<datepicker [type]="'date'" [required]="true" [disabled]="companyData.activeTag === 'Y' || companyData.activeTag === null" [value]="companyData.inactiveDate === '' ? '' : ns.toDateTimeString(companyData.inactiveDate).split('T')[0]" (valueChange)="companyData.inactiveDate = $event" [formName]="'inactiveDate'"></datepicker>
												</div>
											</div>
											<div class="input-group cust-ig">
												<label class="form-control-sm col-sm-4">Withdrawal Date</label>
												<div class="col-sm dp-cont">
													<datepicker [type]="'date'" [required]="true" [disabled]="companyData.withdrawTag === 'N' || companyData.withdrawTag === null" [value]="companyData.withdrawDate === '' ? '' : ns.toDateTimeString(companyData.withdrawDate).split('T')[0]" (valueChange)="companyData.withdrawDate = $event" [formName]="'withdrawDate'"></datepicker>
												</div>
												<!-- <div class="cust-div col-sm cust-checkbox-pos">
													<input type="checkbox" [ngModel]="companyData.activeTag === 'Y'" (ngModelChange)="$event ? companyData.activeTag = 'Y' : companyData.activeTag = 'N'; $event ? companyData.inactiveDate = '' : ''" name="activeTag" [disabled]="companyData.withdrawTag === 'Y'">&nbsp;<span class="cust-span">Active</span>
													<br/>
													<input type="checkbox" [ngModel]="companyData.withdrawTag === 'Y'" (ngModelChange)="$event ? companyData.withdrawTag = 'Y' : companyData.withdrawTag = 'N'; !$event ? companyData.withdrawDate = '' : ''; $event ? withdrawTagChecked() : ''" name="withdrawTag">&nbsp;<span class="cust-span">Withdrawal</span>
												</div> -->
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div style="margin-right: 50px;">
											<div class="input-group cust-ig">
												<div class="cust-div col-sm-3 cust-checkbox-pos">
													<input type="checkbox" [ngModel]="companyData.membershipTag === 'Y'" (ngModelChange)="$event ? companyData.membershipTag = 'Y' : companyData.membershipTag = 'N'; !$event ? companyData.membershipDate = '' : ''" name="membershipTag" [disabled]="companyData.withdrawTag === 'Y'">&nbsp;<span class="cust-span">Member</span>
												</div>
												<div class="cust-div col-sm-3 cust-checkbox-pos">
													<input type="checkbox" [ngModel]="companyData.activeTag === 'Y'" (ngModelChange)="$event ? companyData.activeTag = 'Y' : companyData.activeTag = 'N'; $event ? companyData.inactiveDate = '' : ''" name="activeTag" [disabled]="companyData.withdrawTag === 'Y'">&nbsp;<span class="cust-span">Active</span>
												</div>
											</div>
											<br/>
											<div class="input-group cust-ig">
												<div class="cust-div col-sm-3 cust-checkbox-pos">
													<input type="checkbox" [ngModel]="companyData.treatyTag === 'Y'" (ngModelChange)="$event ? companyData.treatyTag = 'Y' : companyData.treatyTag = 'N'" name="treatyTag" [disabled]="companyData.withdrawTag === 'Y'">&nbsp;<span class="cust-span">Treaty R/I</span>
												</div>
												<div class="cust-div col-sm-3 cust-checkbox-pos">
													<input type="checkbox" [ngModel]="companyData.withdrawTag === 'Y'" (ngModelChange)="$event ? companyData.withdrawTag = 'Y' : companyData.withdrawTag = 'N'; !$event ? companyData.withdrawDate = '' : ''; $event ? withdrawTagChecked() : ''" name="withdrawTag">&nbsp;<span class="cust-span">Withdrawal</span>
												</div>
											</div>
											<br/>
											<div class="input-group cust-ig">
												<button class="cust-btn cust-btn-extend" (click)="modal.openNoClose();">Ceding Company History</button>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<fieldset class="scheduler-border" style="padding-top: 11px !important; padding-bottom: 10px !important;">
								<legend class="scheduler-border">Company Representative</legend>
								<div class="contain">
									<app-cust-editable-non-datatable [passData]="repData" (tableDataChange)="repData.tableData = $event" (newClick)="onRowClick($event)" (genericBtn)="onClickDelete($event)" (onDelete)="table.onClickDelete('a')" (add)="onClickAdd($event)" (uploadedFiles)="uploads($event)" #compRep></app-cust-editable-non-datatable>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<fieldset class="scheduler-border" style="padding-top: 11px !important; padding-bottom: 10px !important;">
								<legend class="scheduler-border">Other Info</legend>
								<div style="margin-right: 50px;">
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Remarks</label>
										<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="companyData.remarks" name="remarks">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Created By</label>
										<input type="text" class="form-control form-control-sm col-sm" [ngModel]="companyData.createUser" name="createUser" readonly>
										<label class="form-control-sm col-sm-2">Date Created</label>
										<input type="datetime-local" class="form-control form-control-sm col-sm"  [ngModel]="companyData.createDate === '' ? '' : ns.toDateTimeString(companyData.createDate)" readonly name="createDate">
									</div>
									<div class="input-group cust-ig">
										<label class="form-control-sm col-sm-2">Last Update By</label>
										<input type="text" class="form-control form-control-sm col-sm" value="QUECOH" [ngModel]="companyData.updateUser" name="updateUser" readonly>
										<label class="form-control-sm col-sm-2">Last Update</label>
										<input type="datetime-local" class="form-control form-control-sm col-sm" [ngModel]="companyData.updateDate === '' ? '' : ns.toDateTimeString(companyData.updateDate)" name="updateDate" readonly>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-2"></div>
					</div>
				</form>
					<div class="row" style="margin-top: 10px !important; margin-bottom: 10px !important;">
						<div class="col-sm text-center">
							<button class="cust-btn" (click)="onClickCancel();">Cancel</button>
							<button class="cust-btn" (click)="onClickSave();">Save</button>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>


	<app-confirm-save (onYes)="save()"></app-confirm-save>
	<!-- <app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():this.btnCancelMainEnabled = false"></app-sucess-dialog> TRBT#PROD_GRADE -->
	<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
	<app-cancel-button (onYes)="onClickSave('cancel')" [url]="'/ceding-co-list'" ></app-cancel-button>

	<app-modal class="d-none">
		<div header>Ceding Company History</div>
		<div body>
			<div style="width: 100%">
				<div class="input-group cust-ig">
					<label class="form-control-sm col-sm-4">Ceding Company</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm-6" [ngModel]="companyData.cedingId + ' - ' + companyData.cedingName" readonly>
				</div>
				<fieldset class="scheduler-border">
					<div class="custom-row-inline-inset">
						<app-cust-editable-non-datatable [passData]="histData" #hist></app-cust-editable-non-datatable>
					</div>
				</fieldset>
			</div>
		</div>
		<div footer class="w-100 text-center">
			<button class="cust-btn" (click)="modal.closeModal()">Return</button>
		</div>
	</app-modal>