<!-- <style type="text/css">
    .offsetFormGroup {
        margin-bottom: 0px !important;
    }

    .custom-row-inline-inset {
        margin-top: 10px !important;
    }

    .cust-lbl-left-offset {
        padding-left: 0px !important;
    }

    .cust-fs-padlr-offset {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .input-group label {
        line-height: .9;
    }
</style> -->
<div>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Claim Record</legend>
        <div class="form-row custom-row-inline-inset">
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Policy No</label>
                    <input type="text" class="form-control form-control-sm col-sm" ngbTooltip="Line" placeholder=""
                        [ngModel]="line+'-2018-00001-99-0001-000'">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Claim No</label>
                    <input type="text" class="form-control form-control-sm col-sm" [ngModel]="line+'-2018-00001'">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Co Claim No</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="" [(ngModel)]="coClaimNo">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Type of Cession</label>
                    <input type="text" class="form-control form-control-sm" style="margin-left: 3px;" placeholder="Direct"
                        readonly>
                    <label class="form-control-sm col-sm-2">Line Class</label>
                    <input type="text" class="form-control form-control-sm" style="margin-left: 3px; margin-right: 1px !important;"
                        placeholder="CAR Wet Risk" [(ngModel)]="lineClass" readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2" style="font-size: 9.5px !important;">Ceding Company</label>
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        placeholder="99" readonly>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="Asia United Insurance Inc." readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Co Ref No</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="EN-CAR-HO-2018-006792-01" [(ngModel)]="coRefNo" readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Adjuster</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -15px !important;"
                        placeholder="AArema Adjusters and Surveyors, Inc. / TLP Adj. / ACD Co. Inc.">
                    <div class="text-search-ico" style="margin-right: 8px !important; margin-left: -6px !important;"><a><i
                                class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Adjuster Ref No</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="PMMSC-CAR-2018-025 / ADJ2 REF 001 / ADJ3 REF 001" [(ngModel)]="adjRefNo">
                    <div class="cust-btn-container col-sm-2" style="padding-right: 0px !important;
                        padding-bottom: 0px !important; 
                        padding-left: 3px !important;
                        margin-right: -29px !important;
                        margin-top: -3px !important;
                        margin-top: 0px !important;
                        line-height: 13px !important;">
                        <app-modal [btnTitle]="'Adjusters'" style="margin-bottom: 2px;padding-top: 2px !important;">
                            <div header style="width: 800px !important;">Adjusters</div>
                            <div body>
                                <app-cust-editable-non-datatable [passData]="passData">
                                </app-cust-editable-non-datatable>
                            </div>
                            <div footer class="text-center" style="width: 100% !important;">
                                <button type="button" class="cust-btn" style="max-width: 50%!important;" (click)="modalService.dismissAll()"><a>Adjusters
                                        Maintenance</a></button>
                                <button type="button" class="cust-btn" (click)="modalService.dismissAll()"><a>Cancel</a></button>
                                <button type="button" class="cust-btn" (click)="modalService.dismissAll()"><a>Save</a></button>
                            </div>
                        </app-modal>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-row" style="margin-top: 0px !important;">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -22px !important;">Loss
                                Date</label>
                            <input type="date" class="form-control form-control-sm col-sm-5" style="padding-right: 0px !important;"
                                value="2018-12-01">
                            <input type="time" class="form-control form-control-sm col-sm-4" style="padding-right: 0px !important;"
                                value="03:00">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -22px !important;">Report
                                Date</label>
                            <input type="date" class="form-control form-control-sm col-sm-5" style="padding-right: 0px !important;"
                                value="2019-01-01">
                            <input type="time" class="form-control form-control-sm col-sm-4" style="padding-right: 0px !important;"
                                value="03:00">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -22px !important;padding-top: 2px !important;">Creation
                                Date</label>
                            <input type="date" class="form-control form-control-sm col-sm-5" style="padding-right: 0px !important;"
                                value="2019-02-01">
                            <input type="time" class="form-control form-control-sm col-sm-4" style="padding-right: 0px !important;"
                                value="03:00">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -22px !important;padding-top: 2px !important;">&nbsp;&nbsp;Loss
                                Cause</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="E.Q. Volcanism">
                            <div class="text-search-ico" style="margin-right: 5px !important;">
                                <a><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -22px !important;padding-top: 2px !important;">&nbsp;Event
                                Type</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="Earthquake">
                            <div class="text-search-ico" style="margin-right: 5px !important;">
                                <a><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6" style="padding-top: 25px !important;">
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -27px !important;">Reported
                                By</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="Juan Dela Cruz">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -27px !important;">Processed
                                By</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="Juan Dela Cruz">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -27px !important;">Loss
                                Period</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="Basic Period">
                            <div class="text-search-ico" style="margin-right: 5px !important;">
                                <a><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-4" style="margin-left: -27px !important;">Event</label>
                            <input type="text" class="form-control form-control-sm col-sm" placeholder="The Big 1 (Magnitude 7.5)">
                            <div class="text-search-ico" style="margin-right: 5px !important;">
                                <a><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="input-group">
                            <label class="form-control-sm col-sm-2" style="margin-left: -24px !important;">Loss Details</label>
                            <textarea class="form-control form-control-sm col-sm" style="margin-bottom: 17px !important;margin-left: 2px;min-height: 72px !important; font-size: 0.7rem !important"
                                placeholder="Damaged electric cables and supply lines on 2nd and 3rd floors due to earthquake."></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-8">
            <fieldset *ngIf="line === 'CAR'" class="scheduler-border cust-fs-padlr-offset" style="padding-bottom: 21px !important;
				padding-top: 17px !important; margin-right: -7px !important">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Details</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Principal</label>
                            <input type="text" class="form-control form-control-sm col-sm-1" placeholder="001">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;"
                                placeholder="Seirgreich Solutions, Inc.">
                            <label class="form-control-sm col-sm-1">Contractor</label>
                            <input type="text" class="form-control form-control-sm col-sm-1" placeholder="002">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;"
                                placeholder="CJM Electromechanical Services">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"
                                placeholder="Seirgreich Solutions, Inc. / CJM Electromechanical Services"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm" placeholder="La Perla Warehouse Mandaluyong">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2" placeholder="009">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;"
                                    placeholder="Hall Buildings">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10" placeholder="NATIONAL CAPITAL REGION">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Nature of Work</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"
                                placeholder="Warehouse"></textarea>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm" placeholder="METRO MANILA">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm" placeholder="MANDALUYONG CITY">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 12px; margin-left: 2px;"
                                placeholder="Sheridan cor. Reliance St. Mandaluyong City"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm" placeholder="HIGH WAY HILLS">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm" placeholder="442B">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Lat</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Long</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>

            <fieldset *ngIf="line === 'EAR'" class="scheduler-border cust-fs-padlr-offset" style="padding-bottom: 10px !important;
				padding-top: 4px !important; margin-right: -7px !important">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Detail</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Principal</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                            <label class="form-control-sm col-sm-1">Contractor</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Nature of Work</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Lat</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Long</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2" style="margin-bottom: 16px !important;">Testing</label>
                                        <input type="text" class="form-control form-control-sm col-sm-10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>

            <fieldset *ngIf="line === 'EEI' || line === 'CEC'" class="scheduler-border cust-fs-padlr-offset" style="padding-bottom: 16px !important; padding-top: 17px !important; margin-right: -7px !important">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Details</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1"></label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Items<br />to be Insured</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Long</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Lat</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>

            <fieldset *ngIf="line === 'MBI' || line === 'BPV' || line === 'DOS'" class="scheduler-border cust-fs-padlr-offset"
                style="padding-bottom: 16px !important; padding-top: 17px !important; margin-right: -7px !important ">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Details</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1"></label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Items<br />to be Insured</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>

            <fieldset *ngIf="line === 'MLP'" class="scheduler-border cust-fs-padlr-offset" style="padding-bottom: 16px !important; padding-top: 17px !important;  margin-right: -7px !important">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Details</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1"></label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Items<br />to be Insured</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">IPL</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Time Exc.</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>

        </div>
        <div class="col-sm-4">
            <fieldset class="scheduler-border" style="margin-left: -7px !important;padding-bottom: 4px !important; padding-top: 5px !important;">
                <legend class="scheduler-border">Period of Insurance</legend>
                <div class="custom-row-inline-inset">
                    <ng-template *ngIf="!CAR || !EAR">
                        <div class="form-row ig-cust" style="margin-right: 0px;margin-bottom: 28px !important;">
                            <div class="input-group col-sm-6" style="padding: 0px;"><label class="form-control-sm col-sm-4">&nbsp;</label>
                            </div>
                        </div>
                    </ng-template>
                    <div class="form-row">
                        <div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
                            <label class="form-control-sm top-label">&nbsp;Inception Date</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-01-01">
                        </div>
                        <div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
                            <label class="form-control-sm top-label">&nbsp;Expiry Date</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-02-13">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6" style="margin-bottom: 0px;">
                            <label class="form-control-sm top-label">&nbsp;Lapse From</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-01-01">
                        </div>
                        <div class="form-group col-sm-6" style="margin-bottom: 0px;">
                            <label class="form-control-sm top-label">&nbsp;Lapse To</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-02-13">
                        </div>
                    </div>
                    <div *ngIf="line === 'CAR' || line === 'EAR'; else notCARorEAR" class="form-row ig-cust" style="margin-bottom: -12px !important;">
                        <!-- <div class="input-group col-sm-6" style="padding: 0px;">
                            <label class="form-control-sm col-sm-4">Maintenance From</label>
                            <input type="date" class="form-control form-control-sm">
                            <input type="text" class="form-control form-control-sm col-sm-3" style="margin-left: 5px; text-align: center;">
                        </div>
                        <div class="input-group col-sm-6" style="padding: 0px;">
                            <label class="form-control-sm col-sm-4">Maintenance To</label>
                            <input type="date" class="form-control form-control-sm">
                            <input type="text" class="form-control form-control-sm col-sm-3" style="margin-left: 5px; text-align: center;">
                        </div> -->

                        <div class="form-group col-sm-6">
                            <label class="form-control-sm top-label">&nbsp;Maintenance From</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-01-01">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="form-control-sm top-label">&nbsp;Maintenance To</label>
                            <input type="date" class="form-control form-control-sm cust-sm" value="2019-02-21">
                        </div>
                    </div>
                    <ng-template #notCARorEAR>
                        <div class="form-row ig-cust" style="margin-right: 0px;margin-bottom: 28px !important;">
                            <div class="input-group col-sm-6" style="padding: 0px;"><label class="form-control-sm col-sm-4">&nbsp;</label>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </fieldset>
            <fieldset class="scheduler-border" style="margin-left: -7px !important;">
                <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
                <div class="custom-row-inline-inset" style="margin-left: -30px !important;">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3">Currency</label>
                        <input type="text" class="form-control form-control-sm cust-sm" required>

                        <label class="form-control-sm">% Share</label>
                        <input type="text" class="form-control form-control-sm cust-sm" numbers-only required style="text-align: right;">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3">Total SI</label>
                        <input type="text" class="form-control form-control-sm cust-sm" required onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            style="text-align: right;">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3">100% Value</label>
                        <input type="text" class="form-control form-control-sm cust-sm" required onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            placeholder="1,000,000,000.00" style="text-align: right;">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <fieldset class="scheduler-border" style="margin-right: -7px !important; padding-bottom: 4px !important;padding-top: 4px !important;">
                <legend class="scheduler-border">Reserve and Payments</legend>
                <div class="custom-row-inline-inset">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Loss Reserve</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" placeholder="700,000.00"
                            onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            required>
                        <label class="form-control-sm col-sm-1">Status</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="Open"
                            required>
                        <label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Losses Paid</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            placeholder="699,375.64" required>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Expense Reserve</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" placeholder="0.00"
                            onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            required>
                        <label class="form-control-sm col-sm-1">Status</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="Open"
                            required>
                        <label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Expense Paid</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            placeholder="0.00" required>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Total Reserve</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" placeholder="700,000.00"
                            onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            required>
                        <div class="col-sm-2" style="margin-left: -80px !important;"></div>
                        <div class="col-sm"></div>
                        <label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Total Payment</label>
                        <input type="text" class="form-control form-control-sm cust-sm text-right col-sm" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'
                            placeholder="699,375.64" required>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="scheduler-border" style="margin-left: -7px !important; padding-top: 2px !important; padding-bottom: 6px !important;">
                <legend class="scheduler-border">Status Info</legend>
                <div class="custom-row-inline-inset">
                    <div class="form-row">
                        <div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
                            <label class="form-control-sm top-label">&nbsp;Status</label>
                            <input type="text" class="form-control form-control-sm cust-sm" placeholder="In Progress">

                        </div>
                        <div class="text-search-ico" style="z-index: 1 !important; margin: 8px 9px -10px -24px !important;padding-top: 2px !important;">
                            <a><i class="fa fa-search"></i></a></div>
                        <div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
                            <label class="form-control-sm top-label">&nbsp;Approved Amount</label>
                            <input type="text" class="form-control form-control-sm cust-sm text-right" placeholder="800,000.00"
                                onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6" style="margin-bottom: 0px;">
                            <label class="form-control-sm top-label">&nbsp;Approved By</label>
                            <input type="text" class="form-control form-control-sm cust-sm" placeholder="Monica Reyes">
                        </div>
                        <div class="form-group col-sm-6" style="margin-bottom: 0px;">
                            <label class="form-control-sm top-label">&nbsp;Approved Date</label>
                            <input type="datetime-local" class="form-control form-control-sm cust-sm" value="2019-01-01T09:00">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="form-row" style="margin-top: 15px !important;margin-left: -4px !important;">
    <div class="form-group col-sm">
        <div class="col-md-13 text-center">
            <div class="cust-btn-container">
                <button type="button" class="cust-btn"><a>Refresh</a></button>
                <button type="button" class="cust-btn"><a>Cancel</a></button>
                <button type="button" class="cust-btn"><a>Save</a></button>
            </div>
        </div>
    </div>
</div>