<div>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Claim Record</legend>
        <div class="form-row custom-row-inline-inset">
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Policy No</label>
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        ngbTooltip="Line" placeholder="CAR">
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        ngbTooltip="Year" placeholder="2018">
                    <input type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 3px;"
                        ngbTooltip="Sequence No" placeholder="00001">
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        ngbTooltip="Co Code" placeholder="99">
                    <input type="text" class="form-control form-control-sm col-sm-2" style="margin-left: 3px;"
                        ngbTooltip="Co Series No" placeholder="0001">
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        ngbTooltip="Alt No" placeholder="000">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Claim No</label>
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        placeholder="CAR">
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        placeholder="2018">
                    <input type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 3px;"
                        placeholder="000001">
                    <div class="col-sm-1" style="margin-right: 9px !important;"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Co Claim No</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="CAR-HO-2018-00015666">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Type of Cession</label>
                    <input type="text" class="form-control form-control-sm" style="margin-left: 3px;" placeholder="Direct"
                        readonly>
                    <label class="form-control-sm col-sm-2">Line Class</label>
                    <input type="text" class="form-control form-control-sm" style="margin-left: 3px;" placeholder="CAR Wet Risk"
                        readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Ceding Company</label>
                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 3px;"
                        placeholder="99" readonly>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="Asia United Insurance Inc." readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Co Ref No</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;"
                        placeholder="EN-CAR-HO-2018-006792-01" readonly>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Adjuster</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -15px !important;"
                        placeholder="AArema Adjusters and Surveyors, Inc.">
                    <div class="text-search-ico" style=" z-index: 1 !important;margin-right: 6px !important; margin-left: -6px !important;"><a><i
                                class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Adjuster Ref No</label>
                    <input type="text" class="form-control form-control-sm col-sm-5" style="margin-left: 3px;"
                        placeholder="PMMSC-CAR-2018-025">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Loss Date</label>
                    <input type="date" class="form-control form-control-sm col-sm-3" style="margin-left: 3px;">
                    <input type="text" class="form-control form-control-sm col-sm-2" style="margin-left: 3px;"
                        placeholder="03:00 PM">
                    <label class="form-control-sm col-sm-2">Loss Period</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -12px;"
                        placeholder="Basic Period">
                    <div class="text-search-ico" style="z-index: 1 !important; margin-right: 13px !important; margin-left: -7px !important;">
                        <a><i class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Report Date</label>
                    <input type="date" class="form-control form-control-sm col-sm-3" style="margin-left: 3px;">
                    <input type="text" class="form-control form-control-sm col-sm-2" style="margin-left: 3px;"
                        placeholder="03:00 PM">
                    <label class="form-control-sm col-sm-2">Reported By</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: 9px !important;"
                        placeholder="Juan Dela Cruz">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Create Date</label>
                    <input type="date" class="form-control form-control-sm col-sm-3" style="margin-left: 3px;">
                    <input type="text" class="form-control form-control-sm col-sm-2" style="margin-left: 3px;"
                        placeholder="03:00 PM" readonly>
                    <label class="form-control-sm col-sm-2">In House Adj</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: 9px !important;"
                        placeholder="Juan Dela Cruz">
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Loss Details</label>
                    <textarea class="form-control form-control-sm col-sm" style="margin-bottom: 17px !important;margin-left: 3px;margin-right: 9px !important;min-height: 72px !important;"
                        placeholder="Damaged electric cables and supply lines on 2nd and 3rd floors due to earthquake."></textarea>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Loss Cause</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -12px;"
                        placeholder="E.Q. Volcanism">
                    <div class="text-search-ico" style="z-index: 1 !important; margin-right: 13px !important; margin-left: -7px !important;">
                        <a><i class="fa fa-search"></i></a></div>
                    <label class="form-control-sm col-sm-2">Loss Cover</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -12px;"
                        placeholder="Material Damage">
                    <div class="text-search-ico" style="z-index: 1 !important; margin-right: 13px !important; margin-left: -7px !important;">
                        <a><i class="fa fa-search"></i></a></div>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-2">Event</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: -12px;"
                        placeholder="The Big 1 (Magnitude 7.5)">
                    <div class="text-search-ico" style="z-index: 1 !important; margin-right: 13px !important; margin-left: -7px !important;">
                        <a><i class="fa fa-search"></i></a></div>
                    <label class="form-control-sm col-sm-2">Event Type</label>
                    <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px;margin-right: 9px !important;"
                        placeholder="Earthquake" readonly>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-8">
            <fieldset class="scheduler-border cust-fs-padlr-offset" style="padding-bottom: 21px !important;
				padding-top: 17px !important;">
                <legend class="scheduler-border" style="margin-left: 16px !important;">Insured Detail</legend>
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
                        <div class="input-group" style="margin-top: 10px;">
                            <label class="form-control-sm col-sm-1">Principal</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                            <label class="form-control-sm col-sm-1">Contractor</label>
                            <input type="text" class="form-control form-control-sm col-sm-1">
                            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Insured</label>
                            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 13px; margin-left: 2px;"></textarea>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Risk</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="input-group" style="margin-bottom: 0px !important;">
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Object</label>
                                <input type="text" class="form-control form-control-sm col-sm-2">
                                <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 5px;">
                            </div>
                            <div class="col-sm-6 input-group" style="padding: 0px;">
                                <label class="form-control-sm col-sm-2">Region</label>
                                <input type="text" class="form-control form-control-sm col-sm-10">
                            </div>
                        </div>
                        <div class="input-group">


                            <label class="form-control-sm col-sm-1">Nature of Work</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 17px; margin-left: 2px;"></textarea>


                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Province</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">City/Town</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">Site</label>
                            <textarea class="form-control form-control-sm col-sm-5" style="font-size: 11px; min-height: 47px; margin-bottom: 12px; margin-left: 2px;"></textarea>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">District</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Block</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label class="form-control-sm col-sm-2">Lat</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <label class="form-control-sm col-sm-2">Long</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </fieldset>
        </div>
        <div class="col-sm-4">

        </div>
    </div>

</div>