<style>
.col-cards {
	padding-top: 10px;
}
.card-count {
	font-size: 25px;
	font-weight: 600;
}
.card-adtext {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
.card-title {
	font-size: 17px;
	font-weight: 600;
}

.card {
	/*padding: .5em;*/
	border: none;
}

.card:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    cursor: pointer;
}

.card-grad-img {
	background-image: linear-gradient(to right, #9BD0EB , white);
	background-size:  100% 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	padding: 5px 1em;
}

.quotation-img {
	background-image:  url('app/resources/images/wf-transactions/quotation.png');
	background-size:  100% 100%;
	background-repeat: no-repeat;
}

.policy-img {
	background-image:  url('app/resources/images/wf-transactions/policy.png');
	background-size:  40% 100%;
	background-repeat: no-repeat;
}

.distribution-img {
	background-image:  url('app/resources/images/wf-transactions/distribution.png');
	background-size:  40% 100%;
	background-repeat: no-repeat;
}

.claims-img {
	background-image:  url('app/resources/images/wf-transactions/claims.png');
	background-size:  40% 100%;
	background-repeat: no-repeat;
}

.acct-in-trust-img {
	background-image:  url('app/resources/images/wf-transactions/acct-in-trust.png');
	background-size:  40% 100%;
	background-repeat: no-repeat;
}

.acct-service-img {
	background-image:  url('app/resources/images/wf-transactions/acct-service.png');
	background-size:  40% 100%;
	background-repeat: no-repeat;
}

</style>

<div class="reminder-container" style="padding: 0px">
	<div class="row">
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/quotation.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">462</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Quotations</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/policy.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">137</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Policy</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/distribution.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">96</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Distribution</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/claims.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">24</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Claims</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/acct-in-trust.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">242</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Acct in Trust</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-cards">
	    <div class="card">
	      <div class="card-body card-grad-img" style="text-align: right !important;">
	      	<div class="row">
	      		<div class="" style="text-align: center !important; padding: 5px;">
		      		<img style="height: 85.266px; max-height: 85.266px;" src="app/resources/images/wf-transactions/acct-service.png">
		      	</div>
		      	<div class="" style="padding-top: 5px; height: 85.266px; max-height: 85.266px; width: 95px; text-align: right; float:right;">
		      		<span class="card-text card-count">194</span>
			        <br/>
			        <span class="card-text card-adtext">pending records</span>
			      	<br/>
			      	<span class="card-title">Acct Service</span>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>
</div>