#cust-table-container {
    position: relative !important;
}

.cust-filter {
	position: absolute !important;
	right: 1px;
	top: 1px;
	font-size: 14px;
	color: white !important;
	text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
}

.cust-filter:hover {
  	background: linear-gradient(to bottom, #4080df 0%, #2d5986 100%);
}