<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Request for Payment</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Requests List">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12">
						<app-cust-non-datatable [passData]="passData" (rowClick)="onRowClick($event)" (newRowDblClick)="onRowDblClick($event)" (searchToDb)="searchQuery($event)" (export)="export()"></app-cust-non-datatable>
					</div>
					<div class="col-sm-12">
			    		<fieldset class="scheduler-border" style="margin-top: 10px !important;">
		                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
		                        <label class="form-control-sm col-sm-1">Created By</label>
		                        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="reqPaytData?.createUser" readonly>
		                        <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
		                        <div class="col-sm dp-cont">
		                            <datepicker [value]="reqPaytData?.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
		                        </div>
		                        <label class="form-control-sm col-sm-1">Last Update By</label>
		                        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="reqPaytData?.updateUser" readonly>
		                        <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
		                        <div class="col-sm dp-cont">
		                            <datepicker [value]="reqPaytData?.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
		                        </div>
		                    </div>
		                </fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>