<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Post</h6>
    </div>
    <div class="modal-body">
    	<p class="text-center">Saving {{TabName[showTab]}} </p>
    	<p style="width: 300px"><ngb-progressbar [value]="progress" type="info" ></ngb-progressbar></p>
	</div>
</ng-template>

<ng-template #successinfo let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Saving Successful</h6>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      	<button type="button" class="cust-btn" (click)="modal.close('Close click')"><a>Print</a></button>
		<button type="button" class="cust-btn" (click)="modal.close('Close click')" routerLink="''" ><a>Ok</a></button>
    </div>
</ng-template>
