<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Post</p>
    </div>
    <div class="modal-body">
    	<p class="text-center">Saving {{TabName[showTab]}} </p>
    	<p style="width: 300px"><ngb-progressbar [value]="progress" type="info" ></ngb-progressbar></p>
	</div>
</ng-template>

<ng-template #successinfo let-modal>
    <div class="modal-header">
        <div class="input-group" >
            <i class="fa fa-check fa-2x" aria-hidden="true" style="margin-left: 3px"></i> 
            <p class="modal-title" id="modal-basic-title" style="margin-bottom: 10px">Saving Successful</p>
        </div>
    </div>

    <div class="modal-body">
    	<div class="form-row" style="width: 450px;">
    		<div class="input-group">
        		<p class="form-control-sm col-sm-3" style="text-align: right; margin-bottom: -6px ! important;">Policy No.: </p>
        		<p  class="form-control-sm" style="height: auto; margin-bottom: -6px ! important;">CAR-2015-0000289-04 
                </p>
        	</div>
        	<div class="input-group" >
        		<p class="form-control-sm col-sm-3" style="text-align: right; margin-bottom: -6px ! important;">Alteration No.: 
        		</p >
        		<p *ngIf="alterationFlag" class="form-control-sm" style="height: auto; margin-bottom: -6px ! important;">{{alterNum}}
                </p>
                <p *ngIf="!alterationFlag" class="form-control-sm" style="height: auto; margin-bottom: -6px ! important;">00
                </p>

        	</div>
        	<div class="input-group" >
        		<p  class="form-control-sm col-sm-3" style="text-align: right; margin-bottom: -6px ! important;">Ced Company: 
        		</p >
        		<p  class="form-control-sm" style="height: auto; margin-bottom: -6px ! important;">FLT Prime 
                </p>
        	</div>
        	<div class="input-group">
        		<p  class="form-control-sm col-sm-3" style="text-align: right; ">Insured: 
        		</p>
        		<p  class="form-control-sm" style="height: auto;">2nd Inn, Inc. (Sogo Cubao 2) and/or A.G Sanches
        	</div>
      	</div>
    </div>

    <div class="modal-footer" style="justify-content: center;">
        <div class="row">
                <button type="button" class="cust-btn" (click)="modal.close('Close click')"><a>Print</a></button>
                <button type="button" class="cust-btn" (click)="modal.close('Close click')" routerLink=
                "''" ><a>Ok</a></button>
        </div>
    </div>
</ng-template>

