<div class="cust-tabs-container">
	<h4>Policy / Distribution</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Policy Distribution">
			<ng-template ngbTabContent>
				<br />
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm">
						<fieldset class="scheduler-border" style="padding-bottom: 10px !important;">
							<div class="col-sm-1"></div>
							<div class="col-sm">
								<div class="row" style="padding: 1%; margin-right: 3%; margin-bottom: 6px;">
									<div class="input-group">
										<div class="input-group">
											<label class="form-control-sm col-sm-2">Policy No</label>
											<input type="text" class="form-control form-control-sm col-sm-1 cap-input" ngbTooltip="Line">
											<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
											ngbTooltip="Year">
											<input type="text" class="form-control form-control-sm col-sm-4 cap-input" style="margin-left: 3px;"
											ngbTooltip="Sequence No">
											<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
											ngbTooltip="Co Code">
											<input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;"
											ngbTooltip="Co Series No">
											<input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;"
											ngbTooltip="Alt No">
											<span>&nbsp;</span>
											<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										</div>
										<div class="input-group">
											<label class="form-control-sm col-sm-2">Ceding Company</label>
											<input type="text" class="form-control form-control-sm">
										</div>
										<div class="input-group">
											<label class="form-control-sm col-sm-2">Insured</label>
											<input type="text" class="form-control form-control-sm">
										</div>
										<div class="input-group">
											<label class="form-control-sm col-sm-2">Risk</label>
											<input type="text" class="form-control form-control-sm">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm">
						<div class="col-md-12 text-center" style="margin-top:10px">
							<div class="cust-btn-container">
								<button type="button" class="cust-btn"><a>Cancel</a></button>
								<button type="button" [routerLink]="['/policy-dist']" class="cust-btn"><a>Next</a></button>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
