<!-- <div class="input-group cust-border" style="padding-top: 0.6em">
	<div class="col-sm-12">
		<app-cust-editable-non-datatable (tableDataChange)="arOthers($event)" [passData]="passDataArOthers"></app-cust-editable-non-datatable>
	</div>
</div> -->


<app-cust-editable-non-datatable (tableDataChange)="onTableDataChange($event)" [passData]="passData" (genericBtn)="onClickSave();"> </app-cust-editable-non-datatable>

<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():this.btnCancelMainEnabled = false"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>