<!-- <div class="input-group cust-border" style="padding-top: 0.6em">
	<div class="col-sm-12">
		<app-cust-editable-non-datatable (tableDataChange)="arOthers($event)" [passData]="passDataArOthers"></app-cust-editable-non-datatable>
	</div>
</div> -->


<app-cust-editable-non-datatable (tableDataChange)="onTableDataChange($event)" (newClick)="onRowClick($event)" [passData]="passData">
  <ng-container controls-r>
      <button class="cust-btn" style="margin-right: 0px !important;" (click)="export()">Export to Excel</button>
    </ng-container>
 </app-cust-editable-non-datatable>

<div class="form-row" *ngIf="passData.checkFlag">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="onClickCancel();"><a>Cancel</a></button>
          <button type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
        </div>
      </div>
    </div>
</div>

<app-modal class="d-none" >
  <div header>Warning</div>
  <div body>
    <div style="text-align: center">
      <p style="margin: 0px">Net payments must remain the same.</p>
      <p style="margin: 0px"><strong>Original Net Amount: {{originalNet | number: '1.2-2'}}</strong></p>
      <p style="margin: 0px"><strong>Altered Net Amount: {{newAlteredAmt | number: '1.2-2'}}</strong></p>
    </div>
  </div>
  <div footer class="w-100 text-center">
        <button class="cust-btn" type="button" (click)="netMdl.closeModal();"><a>Ok</a></button>
    </div>
</app-modal>

<app-confirm-save (onYes)="save()"></app-confirm-save>
<!-- <app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancel.onNo():this.btnCancelMainEnabled = false"></app-sucess-dialog> TRBT#PROD_GRADE -->
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancel.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSave('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>