/*input[type=radio]{
	vertical-align: top;
}*/


.row{
	margin-bottom: 5px;
}

.row:first-of-type{
	margin-top: 10px;
}

.drp-dwn-cstmz {
    height: calc(1.6rem + 1px);
    padding: 0px;
    border-radius: 0.2rem !important;
}

.text-search-ico {
	margin-left: -18px;
	z-index: 99;
	font-size: 14px;
}

.input-group label {
	padding-left: 0px;
}
.input-group{
	vertical-align: middle;
}

input[type=radio] + label {
  text-align: left !important;
}

select + input, input + div + input{
	margin-left: 6px !important;
}

.left{
	margin-top: -12px !important;
	min-height: 203px;
}

.middle{
	margin-top: 5px !important;
	min-height: 186px;
}

.right{
	margin-top: 5px !important;
}

.fa-question-circle{
	font-size: 60px;
	color: #00194A;
	/*margin-left: 15px;*/
}


.modal-icon{
	margin-left: 10px;
}

.modal-text{
	padding-right: 0px;
	margin-left: 15px;
}