<div class="cust-tabs-container">
	<h4>Policy/ Expiry & Renewal/ Expiry List</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Renewable Policies" (click)="retrieveExpPolList();">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12" >
						<app-cust-editable-non-datatable #table [passData]="passDataRenewalPolicies" (newClick)="onRowClick($event)" (tableDataChange)="updateRenewalPolicy($event)"></app-cust-editable-non-datatable>
					</div>
					<div class="col-sm-12" style="margin-bottom: 10px;">
						<fieldset class="scheduler-border">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm">
											<div class="row" style="margin-top: 0px;margin-right: -4px;">
												<button class="cust col-sm" (click)="gotoInfo();" [disabled]="disabledFlag" [class.cust-btn-disabled]="disabledFlag">Details</button>
												<button class="cust col-sm" (click)="showEditModal(content)" [disabled]="disabledFlag" [class.cust-btn-disabled]="disabledFlag">Edit</button>
												<button class="cust col-sm" (click)="onClickPurge();">Purge</button>
												<button class="cust col-sm" (click)="onClickRenSave();">Save</button>
											</div>
											<div class="row" style="margin-right: -4px;">
												<button class="cust col-sm">Print</button>
												<button class="cust col-sm">Search</button>
												<button class="cust col-sm" (click)="onClickUpdate();" [disabled]="disabledFlag" [class.cust-btn-disabled]="disabledFlag">Update</button>
												<button class="cust col-sm" (click)="onClickProcess();">Process</button>
											</div>
											<div class="row" style="margin-right: -5px !important;margin-top: 15px !important;">
												<label class="form-control-sm col-sm-4 text-right">Changes</label>
												<textarea class="form-control form-control-sm col-sm-8" [disabled]="!changesFlag" (change)="changesValueChanged($event);" [ngModel]="changes" (ngModelChange)="changes = $event"></textarea>
											</div>
											<div class="row" style="margin-right: -5px !important;margin-top: 5px !important;">
												<label class="form-control-sm col-sm-4 text-right">Reason For Non-renewal</label>
												<input type="text" [ngModel]="nrReasonCd" (ngModelChange)="nrReasonCd = $event.toUpperCase()" (change)="checkCode($event, 'nrReason');" class="form-control form-control-sm col-sm-3" [disabled]="!reasonFlag">
												<div class="text-search-ico"><a (click)="showNRReasonLOV();"><i class="fa fa-search"></i></a></div>
												<input type="text" [ngModel]="nrReasonDescription" class="form-control form-control-sm col-sm" style="margin-left: 8px !important;" [disabled]="!reasonFlag">
											</div>
											<div class="row" style="margin-top: -18px;margin-right: -5px !important;">
												<label class="form-control-sm col-sm-4 text-right">Remarks</label>
												<input type="text" class="form-control form-control-sm col-sm-8" [disabled]="disabledFlag" (change)="remarksValueChanged($event);" [ngModel]="remarks" (ngModelChange)="remarks = $event">
											</div>
											<div class="row">
											<div class="col-sm-12"  style="padding: 0px !important;margin-bottom: 7px;">
												<fieldset class="scheduler-border" style="margin-right: 8px !important;    margin-top: -5px !important;">
													<div class="row" style="margin-top: 10px;margin-bottom: 0px;margin-right: -20px;">
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: 100px !important;">
															<label class="form-control-sm col-sm-2" >Process:</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: 29px !important;">
															<input type="radio" (click)="tagProcess('tAll');" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Tag All</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: -41px !important;">
															<input type="radio" (click)="tagProcess('uAll');" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Untag All</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="margin-left: -102px !important;">
															<input type="radio" (click)="tagProcess('tagSel');" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Selected Policies</label>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</div>
									</div>
									</div>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Non-Renewable Policies ">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12">
					<app-cust-editable-non-datatable #nrTable [passData]="passDataNonRenewalPolicies" (newClick)="onRowClickNR($event)" (tableDataChange)="updateNRPolicy($event)"></app-cust-editable-non-datatable>
					</div>
					<div class="col-sm-12" style="margin-bottom: 10px;">
						<fieldset class="scheduler-border">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm">
											<div class="row" style="margin-top: 0px;margin-right: -4px;">
												<button class="cust col-sm" (click)="gotoInfo();" [disabled]="disabledFlag" [class.cust-btn-disabled]="disabledFlag">Details</button>
												<button class="cust col-sm" [disabled]="true" [class.cust-btn-disabled]="true">Edit</button>
												<button class="cust col-sm" (click)="onClickPurge();">Purge</button>
												<button class="cust col-sm">Save</button>
											</div>
											<div class="row" style="margin-right: -4px;">
												<button class="cust col-sm">Print</button>
												<button class="cust col-sm">Search</button>
												<button class="cust col-sm">Update</button>
												<button class="cust col-sm" (click)="onClickProcessNR()">Process</button>
											</div>
											<div class="row" style="margin-right: -5px !important;margin-top: 5px !important;">
												<label class="form-control-sm col-sm-4 text-right">Reason For Non-renewal</label>
												<input type="text" [ngModel]="nrReasonCd" (ngModelChange)="nrReasonCd = $event.toUpperCase()" (change)="checkCode($event, 'nrReason');" class="form-control form-control-sm col-sm-3" [disabled]="!reasonFlag">
												<div class="text-search-ico"><a (click)="showNRReasonLOV();"><i class="fa fa-search"></i></a></div>
												<input type="text" [ngModel]="nrReasonDescription" class="form-control form-control-sm col-sm" style="margin-left: 8px !important;" [disabled]="!reasonFlag">
											</div>
											<div class="row" style="margin-top: -18px;margin-right: -5px !important;">
												<label class="form-control-sm col-sm-4 text-right">Remarks</label>
												<input type="text" class="form-control form-control-sm col-sm-8">
											</div>
											<div class="row">
											<div class="col-sm-12"  style="padding: 0px !important;margin-bottom: 7px;">
												<fieldset class="scheduler-border" style="margin-right: 8px !important;    margin-top: -5px !important;">
													<div class="row" style="margin-top: 10px;margin-bottom: 0px;margin-right: -20px;">
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: 100px !important;">
															<label class="form-control-sm col-sm-2" >Process:</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: 29px !important;">
															<input type="radio" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Tag All</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="    margin-left: -41px !important;">
															<input type="radio" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Untag All</label>
															</div>
														</div>
														<div class="col-sm-3">
															<div class="input-group" style="margin-left: -102px !important;">
															<input type="radio" name="Process" class="form-control-sm" id="test" style="margin-top: 1px !important;">
															<label class="form-control-sm col-sm" for="test" style="margin-left: 3px !important;">Selected Policies</label>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</div>
									</div>
									</div>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>

	<app-modal class="d-none" id="editModal">
		<div header>Edit</div>
		<div body>
		 	<div class="row">
		 	    <div class="col-sm-8" style="padding-left: 0px !important; padding-right: 0px !important;">
		 	    	<fieldset class="scheduler-border">
		 	        <legend class="scheduler-border">Section Covers</legend>
		 	        	<div style="margin-top: 8px !important;">
		 	        		<app-cust-editable-non-datatable #sectionTable [passData]="passDataSectionCover" (newClick)="onRowSecCovClick($event)" (tableDataChange)= "updateSectionCover($event)" (clickLOV)="sectionCoversLOV($event)"></app-cust-editable-non-datatable>
		 	        	</div>
		 	      	</fieldset>
		 	      	<fieldset class="scheduler-border">
		 	        <legend class="scheduler-border">Deductibles</legend>
		 	        	<div style="margin-top: 8px !important;">
		 	        		<app-cust-editable-non-datatable #deductiblesTable [passData]="passDataDeductibles"></app-cust-editable-non-datatable>
		 	        	</div>
		 	      	</fieldset>
		 	    </div>
		 	    <div class="col-sm-4" style="padding-left: 0px !important; padding-right: 0px !important; margin-right: -29px !important;">
		 	    	<fieldset class="scheduler-border">
		 	        <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
		 	        	<div class="cust-sm" style="margin-top: 5px !important;">
		 	                 <div class="input-group" style="margin-top: -7px;">
		 	                   &nbsp;
		 	                 </div>
		 	                 <div class="input-group" style="margin-bottom: -13px !important">
		 	                   <label class="form-control-sm col-sm-4">Currency</label>
		 	                   <input type="text" class="form-control form-control-sm" readonly tabindex="-1" [(ngModel)]="editModal.currencyCd">
		 	                   <label class="form-control-sm col-sm-3">Exch. Rt.</label>
		 	                   <input type="text" class="form-control form-control-sm req" readonly appOtherRates tabindex="-1" [ngModel]="editModal.currencyRt | number: '1.10-10'" (ngModelChange)="editModal.currencyRt = $event">
		 	                 </div>
		 	                 <div class="input-group" style="margin-bottom: -13px !important">
		 	                  <label class="form-control-sm col-sm-4">Total Sum Insured</label>
		 	                  <input type="text" class="form-control form-control-sm req" readonly appCurrency tabindex="-1" [ngModel]="editModal.totalSi | number:'1.2-2'" (ngModelChange)="editModal.totalSi = $event">
		 	                </div>
		 	                <div class="input-group" style="margin-bottom: 2px !important">
		 	                  <label class="form-control-sm col-sm-4">Total Premium</label>
		 	                  <input type="text" class="form-control form-control-sm req" readonly appCurrency tabindex="-1" [ngModel]="editModal.totalPrem | number:'1.2-2'" (ngModelChange)="editModal.totalPrem = $event">
		 	                </div>
		 	            </div>
		 	      	</fieldset>
		 	      	<fieldset class="scheduler-border">
		 	        <legend class="scheduler-border">Total Per Section</legend>
		 	        	<div class="cust-sm totalPerSection" style="margin-top: 5px !important;">
		                 	<app-cust-editable-non-datatable #totalPerSection [passData]="passDataTotalPerSection" (newClick)="onRowSecCovClick($event)"></app-cust-editable-non-datatable>
		                 </div>
		 	      	</fieldset>
		 	      	<fieldset class="scheduler-border">
		 	      	<legend class="scheduler-border">Share Details</legend>
		 	        	<div class="cust-sm" style="margin-top: 5px !important;">
		 	                <div class="input-group" style="margin-top: -14px;">
		 	                  &nbsp;
		 	                </div>
		 	                <div class="input-group" style="margin-bottom: -13px !important">
		 	                 <label class="form-control-sm col-sm-3">Share(%)</label>
		 	                 <input type="text" class="form-control form-control-sm req" appOtherRates [(ngModel)]="editModal.pctShare">
		 	                 
		 	                 <span class="col-sm-1"></span>
		 	               </div>
		 	               <div class="input-group" style="margin-bottom: -6px !important">
		 	                 <label class="form-control-sm col-sm-3" style="margin-bottom: 1px;">100% Value</label>
		 	                 <input type="text" class="form-control form-control-sm calc" appCurrency [(ngModel)]="editModal.totalValue">
		 	                 <span class="col-sm-1"></span>
		 	               </div>
		 	               <div class="input-group" style="margin-bottom: -6px !important">
		 	                 <label class="form-control-sm col-sm-3">PML(%)</label>
		 	                 <input type="text" class="form-control form-control-sm req" appOtherRates [(ngModel)]="editModal.pctPml">
		 	                 <span class="col-sm-1"></span>
		 	               </div>
		 	             </div>
		 	      	</fieldset>
		 	      	<fieldset class="scheduler-border">
		 	      	<legend class="scheduler-border">Remarks</legend>
		 	        	<div style="margin-top: 5px !important;">
		 	        		<div class="cust-sm">
		 		                 <div class="cust-sm col-sm-1"></div>
		 		                 <div class="row" style="margin-right: 0px; margin-bottom: 0px;">
		 		                  <div class="input-group" style="margin-top: -16px;">
		 		                    &nbsp;
		 		                  </div>
		 		                  <div class="input-group" style="margin-top: -5px;">
		 		                   <textarea class="form-control-sm form-control" style="font-size: 11px; min-height: 161.5px; margin-bottom: 10px; margin-left: 13px" [(ngModel)]="editModal.remarks"></textarea> 
		 		                 </div>
		 		                 <div class="input-group">
		 		                  <span class="col-sm-3"></span>
		 		                  <span class="cust-sm"></span>
		 		                </div>
		 		              </div>
		 		            </div>
		 	        	</div>
		 	      	</fieldset>
		 	    </div>
		 	</div>
		</div>
		<div footer class="text-center">
			<div class="row" style="margin-right: 400px">
				<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>CAT Perils</a></button>
				<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
				<button class="cust-btn" type="button" (click)="onClickSave();"><a>Save</a></button>
			</div>
		</div>
	</app-modal>
</div>
<app-mtn-section-covers id="sectionCoversLOV" (selectedData)="selectedSectionCoversLOV($event)" [lineCd]="lineCd" [hideSectionCoverArray]="hideSectionCoverArray" [lovCheckBox]="true" #mtnSectionCover></app-mtn-section-covers>
<app-mtn-nonrenew-reason id="nonRenewReasonLOV" (selectedData)="selectedNRLOV($event)" #mtnNonRenewReason></app-mtn-nonrenew-reason>
<app-confirm-save id="extractedPolicies" (onYes)="saveChangesToExtPolicy()"></app-confirm-save>

<app-modal class="d-none" id="processRenewablePolicyModal">
    <div header>Confirmation</div>
    <div body style="min-width: 300px !important;">
        <div class="custom-row-inline-inset" style="text-align: center" *ngIf="validForRenewalProcessing">                
            <p>Are you sure you want to process selected Renewable Policies?</p>
        </div>
        <div class="custom-row-inline-inset" style="text-align: center" *ngIf="!validForRenewalProcessing">                
            <p>No selected policy to process.</p>
        </div>
    </div>
    <div footer class="w-100 text-right" *ngIf="validForRenewalProcessing">
        <button class="cust-btn" type="button" (click)="processRenewalPolicies(); modalService.dismissAll();"><a>Yes</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>No</a></button>
    </div>
    <div footer class="w-100 text-right" *ngIf="!validForRenewalProcessing">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>OK</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="purgeRenewablePolicyModal">
    <div header>Confirmation</div>
    <div body style="min-width: 300px !important;">
        <div class="custom-row-inline-inset" style="text-align: center">                
            <p>Proceed to Purge Extracted Policy screen?</p>
        </div>
    </div>
    <div footer class="w-100 text-right">
        <button class="cust-btn" type="button" (click)="gotoPurgeExtractedPolicy(); modalService.dismissAll();"><a>Yes</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>No</a></button>
    </div>
</app-modal>


<app-modal class="d-none" id="renewableProcessSuccess">
    <div header>Success</div>
    <div body style="min-width: 300px !important;">
    	<div *ngIf="renewedPolicies.length > 0">
	        <div class="custom-row-inline-inset" style="text-align: left">                
	            <p><b>Renewed Policies: </b></p>
	        </div>
	        <div class="custom-row-inline-inset" style="text-align: center">                
	            <span *ngFor="let renPol of renewedPolicies">{{renPol.newPolicyNo}}<br/></span>
	        </div>
	    </div>

	    <div *ngIf="wcPolicies.length > 0">
	        <div class="custom-row-inline-inset" style="text-align: left">                
	            <p><b>Renewed Policies with changes: </b></p>
	        </div>
	        <div class="custom-row-inline-inset" style="text-align: center">                
	            <span *ngFor="let renPol of wcPolicies">{{renPol.newPolicyNo}}<br/></span>
	        </div>
	    </div>

	    <div *ngIf="nrPolicies.length > 0">
	        <div class="custom-row-inline-inset" style="text-align: left">                
	            <p><b>Non-renewable Policies: </b></p>
	        </div>
	        <div class="custom-row-inline-inset" style="text-align: center">                
	            <span *ngFor="let renPol of nrPolicies">{{renPol.policyNo}} for reason {{renPol.nrReasonDesc}}<br/></span>
	        </div>
	    </div>
    </div>
    <div footer class="w-100 text-right">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
    </div>
</app-modal>

<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-confirm-save id="coverageConfirm" (onYes)="savePolicyChanges()"></app-confirm-save>
<app-cancel-button id="coverageCancel" (onYes)="savePolicyChanges('cancel')" [url]="'/policy-listing'" ></app-cancel-button>