<!-- NOTE: THIS IS ACTUAL EXPENDITURE -->

<fieldset class="scheduler-border">
	 <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
	 	<div class="container-fluid">
	 		<div class="row" style="padding-top: 5px;">
			    <div class="col-sm-12" style="padding: 0">
			    		<div class="row">
			    			<div class="col-sm-5"></div>
				    		<div class="input-group col-sm" style="margin: 0px">
				    			<label class="form-control-sm">Year</label>
				    			<select class="form-control form-control-sm cust-sm col-sm-2 exclude" id="selectYear" [ngModel]="selectedYear" (ngModelChange)="retrieveAcseActExpMonthly($event, true)" style="z-index: 50 !important;">
				    				<option *ngFor="let years of yearArray" [value]="years">{{years}}</option>
								</select>
				    		</div>
			    		</div>
			    	   	<div>
			    	   		<app-cust-editable-non-datatable [passData]="passData" (newClick)="onRowClick($event)"></app-cust-editable-non-datatable>
			    	   	</div>
			    	   	<div class="form-row">
			    	   	    <div class="form-group col-sm">
			    	   	      <div class="col-md-13 text-center" style="margin-left: -5em;">
			    	   	        <br>
			    	   	        <div class="cust-btn-container">
			    	   	          <button type="button" class="cust-btn" (click)="onClickExtract();"><a>Extract</a></button>
			    	   	          <button type="button" class="cust-btn" (click)="onClickPrint();"><a>Print</a></button>
			    	   	        </div>
			    	   	      </div>
			    	   	    </div>
			    	   	</div>
			    </div>
	        </div>
	 	</div>	
	 	
</fieldset> 
<div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;
padding-right: 0px !important;">
  <fieldset class="scheduler-border" style="margin-top: -12px !important; margin-bottom: 10px !important;">
    <div style="margin-top: 8px !important; margin-bottom: 17px !important;">
      <div class="form-row" style="margin-bottom: -10px;">
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Created By</label>
          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="createUpdate == null ? '' : createUpdate.createUser" disabled>
          <label class="form-control-sm col-sm-1">Date Created</label>
          <div class="col-sm" style="padding: 0px">
              <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="createUpdate == null ? '' : createUpdate.createDate"></datepicker>
          </div>
          <label class="form-control-sm col-sm-1">Last Update By</label>
          <input type="text" class="form-control form-control-sm col-sm" [ngModel]="createUpdate == null ? '' : createUpdate.updateUser" disabled>
          <label class="form-control-sm col-sm-1">Last Update</label>
          <div class="col-sm" style="padding: 0px">
              <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="createUpdate == null ? '' : createUpdate.updateDate"></datepicker>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<!-- <app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/'"></app-cancel-button> -->
<app-modal class="d-none" #extModal>
    <div header>Extract</div>  
    <div body style=" max-width: 600px;">
        <div class="form-row custom-row-inline-inset">
            <div class="input-group" style="margin-bottom: 5px !important;">
                <label class="form-control-sm col-sm-12 labels" style="font-size: 11px !important; text-align: center !important;">
                	Please provide the "As of Date" consideration for extraction<br/>of actual expense for the desired budget year
                </label>
            </div>
            <div class="input-group">
            	<div class="col-sm-4"></div>
            	<div class="dp-cont col-sm-4">
                	<datepicker [type]="'date'" [(value)]="extDate"></datepicker>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
    <div footer class="text-center w-100">
        
        <ng-container *ngIf="loader">
	    	<span class="fa fa-spinner fa-spin" style="font-size: 15px;"></span><span style="font-family: Arial; font-size: 15px;">&nbsp;Please wait</span>
	    </ng-container>
	    <ng-container *ngIf="!loader">
	    	<button type="button" class="cust-btn" (click)="extract();"><a>Extract</a></button>
        	<button type="button" class="cust-btn" (click)="extModal.closeModal();"><a>Cancel</a></button>
	    </ng-container>
    </div>
</app-modal>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="extModal.closeModal()"></app-sucess-dialog>