.input-group {
    margin-bottom: -14px !important;
}

.txt-content-rght{
    text-align: right
}

.no-pad-left {
	padding-left: 0;
}

.input-margin-left {
	margin-left: 2px !important;
}

.label-center {
	text-align: center !important;
}