<div class="row">
	<div class="col-sm">
		<fieldset class="scheduler-border" style="padding-bottom: 10px !important;">
			<legend class="scheduler-border">Distribution Info</legend>

			<div class="custom-row-inline-inset" style="margin-bottom: -12px !important;">
				<div class="input-group">
					<!-- <label class="form-control-sm col-sm-1">Dist No</label>
					<input readonly type="text" placeholder="00001" class="form-control form-control-sm col-sm-2" [ngModel]="pad(polDistributionData?.distNo, 'distNo')"> -->
					<label class="form-control-sm col-sm-1">Risk Dist No</label>
					<input readonly type="text" class="form-control form-control-sm col-sm-2" [ngModel]="pad(riskDistId, 'distNo')">
					<label class="form-control-sm col-sm-1">Total SI</label>
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm-2" [ngModel]="polDistributionData?.sumInsured  | number:'1.2-2'">
					<label class="form-control-sm col-sm-1">Risk</label>
					<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="polDistributionData?.riskName">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-1">Risk Dist Status</label>
					<input readonly type="text" class="form-control form-control-sm col-sm-2" [ngModel]="riskDistStatus">
					<label class="form-control-sm col-sm-1">Rate (%)</label>
					<input type="text" class="form-control form-control-sm txt-content-rght col-sm-2" readonly [ngModel]="round((polDistributionData?.premium / polDistributionData?.sumInsured) * 100) | number: '1.10-10'">
					<label class="form-control-sm col-sm-1">Ceding Co</label>
					<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="polDistributionData?.cedingName">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-1">Policy No</label>
					<input readonly type="text" class="form-control form-control-sm col-sm-2" [ngModel]="polDistributionData?.policyNo">
					<label class="form-control-sm col-sm-1">Total Premium</label>
					<input readonly type="text" class="form-control txt-content-rght form-control-sm col-sm-2" [ngModel]="polDistributionData?.premium | number:'1.2-2'" >
					<label class="form-control-sm col-sm-1">Insured</label>
					<input readonly type="text" class="form-control form-control-sm col-sm" [ngModel]="polDistributionData?.insured">
					
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-1">Pol Dist No</label>
					<input readonly type="text" class="form-control form-control-sm col-sm-2" [ngModel]="pad(polDistributionData?.distNo, 'distNo')">
					<label class="form-control-sm col-sm-1">Pol Dist Status</label>
					<input readonly type="text" class="form-control form-control-sm col-sm-2" [ngModel]="polDistributionData?.status">

				</div>
			</div>
		</fieldset>
	</div>
</div>

<div>
	<fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
		<legend class="scheduler-border">Treaty Distribution Per Section</legend>
		<div class="row" style="padding-top: 5px;">
			<div class="col-sm">
				<app-cust-editable-non-datatable [passData]="treatyDistData" #mainTable></app-cust-editable-non-datatable>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10" style="margin-left: -10px;">
				<div class="input-group" style="margin-bottom: -18px !important;">
					<label class="form-control-sm col-sm-2"></label>
					<label class="form-control-sm col-sm label-center">SI Amt</label>
					<label class="form-control-sm col-sm label-center">Prem Amt</label>
					<label class="form-control-sm col-sm label-center">Comm Amt</label>
					<label class="form-control-sm col-sm label-center">VAT on R/I Comm</label>
					<label class="form-control-sm col-sm label-center">Net Due</label>
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2">Section I</label>
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm" [ngModel]="ts1?.si  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts1?.prem  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts1?.comm  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts1?.vat  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts1?.net  | number:'1.2-2'">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2">Section II</label>
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm" [ngModel]="ts2?.si  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts2?.prem  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts2?.comm  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts2?.vat  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ts2?.net  | number:'1.2-2'">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2">Total</label>
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm" [ngModel]="total?.si  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="total?.prem  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="total?.comm  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="total?.vat  | number:'1.2-2'">
					<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="total?.net  | number:'1.2-2'">
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
	</fieldset>

</div>


<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-sm" style="text-align: center; padding: 10px;">
			<div class="cust-btn-container">

				<app-modal [btnTitle]="'View Pool Dist'" (modalOpened)="retrievePoolDistribution();">
					<div header>Pool Distribution Per Section</div>
					<div body>
						<fieldset class="scheduler-border" style="padding-bottom: 10px !important; margin-bottom: -5px !important; padding-top: 32px !important;">
							<div class="row" style="padding-top: 5px;">
								<div class="col-sm" style="margin-top: -28px;">
									<app-cust-editable-non-datatable [passData]="poolDistributionData" #poolTable (export)="exportPoolDist();"></app-cust-editable-non-datatable>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group" style="margin-bottom: -18px !important;">
										<label class="form-control-sm col-sm-1"></label>
										<label class="form-control-sm col-sm-1 label-center">Ret Line</label>
										<label class="form-control-sm col-sm label-center">1st Ret SI Amt</label>
										<label class="form-control-sm col-sm label-center">1st Ret Prem Amt</label>
										<label class="form-control-sm col-sm label-center">2nd Ret SI Amt</label>
										<label class="form-control-sm col-sm label-center">2st Ret Prem Amt</label>
										<label class="form-control-sm col-sm label-center">Comm Amt</label>
										<label class="form-control-sm col-sm label-center">VAT on R/I Comm</label>
										<label class="form-control-sm col-sm label-center">Net Due</label>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-1">Section I</label>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm-1 input-margin-left" [ngModel]="pts1?.ret" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.ret1si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.ret1prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.ret2si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.ret2prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.comAmt" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.vat" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts1?.net" appCurrency>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-1">Section II</label>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm-1 input-margin-left" [ngModel]="pts2?.ret" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.ret1si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.ret1prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.ret2si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.ret2prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.comAmt" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.vat" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="pts2?.net" appCurrency>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-1">Total</label>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm-1 input-margin-left" [ngModel]="ptotal?.ret" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.ret1si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.ret1prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.ret2si" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.ret2prem" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.comAmt" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.vat" appCurrency>
										<input readonly type="text" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" [ngModel]="ptotal?.net" appCurrency>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div footer class="d-flex justify-content-center" style="width: 100% !important;">
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Return</a></button>
					</div>
				</app-modal>

				
				<button type="button" class="cust-btn"><a>Print</a></button>
				<button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
				<button type="button" class="cust-btn" [disabled]="polDistributionData?.status!='Distributed but not posted'" (click)="showConfirmPostMdl()" [class.d-none]="params.fromInq == 'true' || params.fromNegate == 'true'"><a>Post</a></button>
				<button type="button" class="cust-btn" [disabled]="polDistributionData?.status!='Posted'" (click)="showConfirmNegMdl()" [class.d-none]="params.fromInq == 'true'|| params.fromNegate != 'true' "><a>Negate</a></button>
			</div>
		</div>
	</div>
</div>


<app-modal #confirmPost class="d-none">
	<div header>Confirmation</div>
	<div body>
		Are you sure to post this distribution to final?
	</div>
	<div footer class="w-100 text-right">
		<button type="button" class="cust-btn" (click)="postDistribution()"><a>Yes</a></button>
		<button type="button" class="cust-btn" (click)="confirmPostMdl.closeModal();"><a>No</a></button>
	</div>
</app-modal>


<app-modal #inProgCoinsMdl class="d-none">
	<div header>Warning Message</div>
	<div body>
		Unable to post the distribution to final. The following Co-Insurance policies are still In Progress:
	    <div *ngFor="let dist of inProgCoins" class="w-100 text-center">
	      {{dist.policyNo}}
	    </div>
	</div>
	<div footer class="w-100 text-center">
		<button type="button" class="cust-btn" (click)="inProgCoinsMdl.closeModal();"><a>Ok</a></button>
	</div>
</app-modal>

<app-modal #missingCoinsMdl class="d-none">
	<div header>Warning Message</div>
	<div body>
		Unable to post the distribution to final. The following Co-Insurance policies must have alterations:
		<div *ngFor="let dist of missingCoins" class="w-100 text-center">
	      {{dist.policyNo}}
	    </div>
	</div>
	<div footer class="w-100 text-center">
		<button type="button" class="cust-btn" (click)="missingCoinsMdl.closeModal();"><a>Ok</a></button>
	</div>
</app-modal>

<!-- --------------------Negate Land---------------------------------------- -->

<app-modal #confirmNegate class="d-none">
	<div header>Confirmation</div>
	<div body>
		Are you sure to negate this policy distribution?
	</div>
	<div footer class="w-100 text-right">
		<button type="button" class="cust-btn" (click)="negateDistribution()"><a>Yes</a></button>
		<button type="button" class="cust-btn" (click)="confirmNegMdl.closeModal();"><a>No</a></button>
	</div>
</app-modal>

<app-modal #success class="d-none">
	<div header>Confirmation</div>
	<div body class="w-100 text-center">
		Dist No {{padStart(polDistributionData?.distNo,5)}} for<br>
		Policy No {{polDistributionData?.policyNo}}<br>
		was sucessfully posted. 
	</div>
	<div footer class="w-100 text-center">
		<button type="button" class="cust-btn" (click)="sucessMdl.closeModal();"><a>Print</a></button>
		<button type="button" class="cust-btn" (click)="sucessMdl.closeModal();"><a>Ok</a></button>
	</div>
</app-modal>

<app-modal #successNegate class="d-none">
	<div header>Success Message</div>
	<div body class="w-100 text-center">
		Policy distribution was negated successfully!<br>
		Please go to Distribution List to modify the Dist No {{padStart(polDistributionData?.distNo,5)}}.
	</div>
	<div footer class="w-100 text-center">
		<button type="button" class="cust-btn" (click)="goToRiskDistribution();sucessnegMdl.closeModal()"><a>View</a></button>
		<button type="button" class="cust-btn" (click)="goToNegateScreen();sucessnegMdl.closeModal()"><a>Ok</a></button>
	</div>
</app-modal>

<app-modal #successNegateWCoIns class="d-none">
	<div header>Success Message</div>
	<div body class="w-100 text-center">
		The policy has co-insurance. The following Policy No must be negated to update its Risk distribution records.
		<div class="w-100 text-center">
			<div *ngFor="let dist of postedList">
				{{dist.policyNo}}
			</div>
		</div>
	</div>
	<div footer class="w-100 text-center">
		<button type="button" class="cust-btn" (click)="sucessNegWCoMdl.closeModal();goToRiskDistribution()"><a>View</a></button>
		<button type="button" class="cust-btn" (click)="sucessNegWCoMdl.closeModal();goToNegateScreen();"><a>Ok</a></button>
	</div>
</app-modal>