
<style type="text/css">
  .input-group {
        padding: 0px !important;
        margin: 0px !important;
    }

    .input-group label {
        padding: 0px !important;
        margin: 0px !important;
    }

  .input-ig-row {
        margin-left: 2px !important;
    }
    .ig-row {
        margin : -3px !important;
        /*margin-bottom: -14px ! important;*/
    }
    .ig-row label {
        margin-right: 5px !important;
    }
</style>
<div class="cust-tabs-container">
    <h4>Policy / Inquiry </h4>
    <ngb-tabset>
        <ngb-tab title="Open Cover Inquiry">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm" style="padding: 0">
                            <app-cust-non-datatable #listTable [passData]="passData" (rowClick)="onRowClick($event)" (newRowDblClick)="gotoInfo($event)" (searchToDb)="searchQuery($event)"></app-cust-non-datatable>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="padding-left: 0px;padding-right: 8px">
                            <fieldset class="scheduler-border">
                                 <div class="form-row" style="margin-right: 0px; margin-bottom: 1px;">
                                     <div class="input-group ig-row" style="margin-top: 9px ! important;margin-left: 10px ! important;margin-right: 25px ! important" >
                                        <label class="form-control-sm col-sm-2">Open Cover Policy No</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 8px ! important" [value]="policyInfo?.openPolicyNo">
                                    </div>
                                    <div class="input-group ig-row" style="margin-right: 25px ! important;;       margin-left: 10px ! important" >
                                        <label class="form-control-sm col-sm-2">Type of Cession</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important" [value]="policyInfo?.cessionDesc">
                                        <label class="form-control-sm col-sm-2">Status</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 5px ! important" [value]="policyInfo?.statusDesc">
                                    </div>
                                    <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                        <label class="form-control-sm col-sm-2">Ceding Company</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm-2" style="  margin-left: 8px ! important" [value]="policyInfo?.cedingId">
                                        <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px ! important" [value]="policyInfo?.cedingName">
                                    </div>
                                    <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                        <label class="form-control-sm col-sm-2">Inception Date</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important" [value]="policyInfo?.inceptDate | date: 'MM/dd/yyyy hh:mm a'">
                                        <label class="form-control-sm col-sm-2">Expiry Date</label>
                                        <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important"  [value]="policyInfo?.expiryDate  | date: 'MM/dd/yyyy hh:mm a'">
                                    </div>
                                    <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                      <label class="form-control-sm col-sm-2">Issue Date</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important"  [value]="policyInfo?.issueDate  | date: 'MM/dd/yyyy hh:mm a'">
                                      <label class="form-control-sm col-sm-2">Acct. Date</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important"  [value]="policyInfo?.acctDate  | date: 'MM/dd/yyyy hh:mm a'">
                                  </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-6" style="padding-right: 0px;padding-left: 8px">
                              <fieldset class="scheduler-border">
                               <div class="form-row" style="margin-right: 0px; margin-bottom: 1px;">
                                  <div class="input-group ig-row" style="margin-top: 9px ! important;margin-left: 10px ! important;margin-right: 25px ! important" >
                                      <label class="form-control-sm col-sm-2">Insured</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 8px ! important" [value]="policyInfo?.insuredDesc">
                                  </div>
                                  <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                      <label class="form-control-sm col-sm-2">Risk</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 8px ! important" [value]="policyInfo?.riskName">
                                  </div>
                                  <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                      <label class="form-control-sm col-sm-2">Site</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 8px ! important" [value]="policyInfo?.site">
                                  </div>
                                  <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                      <label class="form-control-sm col-sm-2">Object</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm" style="margin-left: 8px ! important" [value]="policyInfo?.objectDesc">
                                      
                                  </div>
                                  <div class="input-group ig-row" style="margin-right: 25px ! important;;margin-left: 10px ! important" >
                                  	  <label class="form-control-sm col-sm-2">Currency</label>
                                  	  <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important" [value]="policyInfo?.currencyCd">
                                      <label class="form-control-sm col-sm-2">Sum Insured</label>
                                      <input readonly type="text" class="form-control form-control-sm col-sm-4" style="margin-left: 8px ! important;text-align: right" [value]="policyInfo?.totalSi | number: '1.2-2'">
                                  </div>
                               </div>
                              </fieldset>        
                            </div>
                         </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>