<div class="cust-tabs-container">
	<h4>Accounting Service / Extract / BIR Taxes</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset (tabChange)="onTabChange($event)" [activeId]="activeID">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Extract</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-extract-bir-taxes (onChange)="tabController($event)"></app-extract-bir-taxes>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Accounting Entries</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-acct-entries></app-acct-entries>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Details</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-acct-details [taxType]="taxType"></app-acct-details>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Upload</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-acct-upload [taxType]="taxType"></app-acct-upload>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
	</ngb-tabset>
</div>