
  <div style="margin: 30px 0px -30px 0px;">
      <div class="input-group" style="margin-top: -27px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group" style="margin-bottom: 0px !important;">
                <label class="form-control-sm col-sm-7 labels">Alloted Policy Balance Payments</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right alloted"
                  appCurrency placeholder="" [(ngModel)]="allotedAmt" [readonly]="!passData.checkFlag">
                <label class="form-control-sm col-sm labels" style="padding-left:0px !important; margin:0px !important;">Total Balance for Selected Policy
                  Transactions</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right"
                  numbers-only placeholder="" readonly [ngModel]="totalBal | number: '1.2-2'">
              </div>
              <div class="input-group" style="margin-bottom: 0px !important;">
                <label class="form-control-sm col-sm labels" style="padding-left:0px !important; margin:0px !important;">Variance</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right" numbers-only
                  placeholder="" readonly [ngModel]="variance | number: '1.2-2'">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <app-cust-editable-non-datatable [passData]="passData" (clickLOV)="openSoaLOV($event)" (newClick)="onRowClick($event)" (tableDataChange)="onTableDataChange($event)">
              </app-cust-editable-non-datatable>
            </div>
          </div>
        </div>
      </div>
  </div>

<div class="form-row" >
        <div class="form-group col-sm">
          <div class="col-md-13 text-center">
            <br>
            <div class="cust-btn-container">
              <button *ngIf="passData.checkFlag" type="button" class="cust-btn" (click)="cancel();"><a>Cancel</a></button>
              <button *ngIf="passData.checkFlag" type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
            </div>
          </div>
        </div>
    </div>

<app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov>
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():this.btnCancelMainEnabled = false"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>