<div class="form-row custom-row-inline-inset">
    <div class="input-group" style="margin-bottom: 0px !important;">
      <label class="form-control-sm col-sm" style="padding-left:0px !important; margin:0px !important;">Total Balance for Selected Policy
        Transactions</label>
      <input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right"
        numbers-only placeholder="" readonly [ngModel]="totalBal | number: '1.2-2'">
    </div>
    <div class="input-group" style="margin-bottom: 0px !important;">
      <label class="form-control-sm col-sm" style="padding-left:0px !important; margin:0px !important;">Variance</label>
      <input type="text" class="form-control form-control-sm cust-sm col-sm-1 text-right" numbers-only
        placeholder="" readonly [ngModel]="variance | number: '1.2-2'">
    </div>
    <div class="input-group" style="margin-top: -27px">
      <div class="col-sm-12">
        <app-cust-editable-non-datatable [passData]="passData" (clickLOV)="openSoaLOV($event)" (newClick)="onRowClick($event)" (tableDataChange)="onTableDataChange($event)"></app-cust-editable-non-datatable>
      </div>
    </div>
</div>

<app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov>