<img src="app/resources/images/Loading_icon2.gif" alt="loading.gif" id="loading" class="" style="position: absolute;top:50%;left:50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 999999" *ngIf="loading">
<div style="position: fixed;width: 100%;height: 100%;z-index: 991;background-color: rgba(255, 255, 255, 0.5);" *ngIf="loading">
</div>
<div class="cust-tabs-container">
    <h4>Quotation</h4>
    <ngb-tabset>
        <ngb-tab class="ngb-tab" title="Quotation Processing">
            <ng-template ngbTabContent style="padding-top: 10px !important;">
                <div>
                    <!-- 
                        USE (searchToDb) event emitter to get the search values of your filter. Then use the values
                        as params for your http get method.
                    -->
                    <app-cust-non-datatable [passData]="passData" (rowClick)="onRowClick($event)" (rowDblClick)="onRowDblClick($event)"
                        (add)="onClickAdd($event)" (edit)="onClickEdit($event)" (searchToDb)="searchQuery($event)" (gnrc1)="onClickCopy();" (gnrc2)="onClickIntCompCopy();" (export)="export()"></app-cust-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab class="ngb-tab" title="Ready for Printing">
            <ng-template ngbTabContent>
                <app-ready-for-printing></app-ready-for-printing>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>


<!-- Hidden Modal -->

<!-- Copy Modal -->
<app-modal class="hidden" id="copyModal" [mdlConfig]="mdlConfig">
    <!-- <div header>Quotation No.</div>
    <div body>
        <fieldset class="scheduler-border">
            <div class="custom-row-inline-inset" style="text-align: center">
                <p>This Quotation No.</p>
                <p style="color:#557a95"><strong>CAR-2018-00001-00-99</strong></p>
                <p>has been copied to Quotation No.</p>
                <p style="color:red"><strong>CAR-2018-00002-00-00</strong></p>
            </div>
        </fieldset>
    </div>
    <div footer>
        <div class="d-flex justify-content-center">
            <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
            <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
        </div>
    </div> -->
    <div header>Copy Quote Details</div>
    <div *ngIf="copyStatus == 0" body>
        <fieldset class="scheduler-border" style="padding-bottom: 4px !important;">
                <div class="custom-row-inline-inset" style="text-align: center">
                    <div class="input-group" style="margin-bottom: -14px !important;">
                        <label class="form-control-sm col-sm-3" style="padding-left: 0;">Ceding Company</label>
                        <input type="text"class="form-control form-control-sm col-sm-2 cap-input" style="margin-right: -1px !important" [(ngModel)]="copyCedingId" (change)="checkCode($event, 'cedingCo')" appRequired>
                        <div class="text-search-ico" (click)="showCedingCompanyLOV()"><a><i class="fa fa-search"></i></a></div>
                        &nbsp;&nbsp;
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="copyCedingName" readonly>
                    </div>
                    <div class="input-group" style="margin-bottom: -14px !important;">
                        <label class="form-control-sm col-sm-3">Risk</label>
                        <input type="text"class="form-control form-control-sm col-sm-2 cap-input" style="margin-right: -1px !important" [(ngModel)]="copyRiskId" (change)="checkCode($event, 'copyRisk')" appRequired>
                        <div class="text-search-ico" (click)="showCopyRiskLOV()"><a><i class="fa fa-search"></i></a></div>
                        &nbsp;&nbsp;
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="copyRiskName" readonly>
                    </div>
                </div>
        </fieldset>
    </div>
    <div *ngIf="copyStatus == 1" body>
        <fieldset class="scheduler-border">
            <div class="custom-row-inline-inset" style="text-align: center">
                <p>This Quotation No.</p>
                <p style="color:#557a95"><strong>{{ copyFromQuotationNo }}</strong></p>
                <p>has been copied to Quotation No.</p>
                <p style="color:red"><strong>{{ copyToQuotationNo }}</strong></p>
            </div>
        </fieldset>
    </div>
    <div footer class="text-center w-100">
        <button *ngIf="copyStatus == 0" class="cust-btn" type="button" (click)="modalService.dismissAll(); clearCopyFields();"><a>Cancel</a></button>
        <button *ngIf="copyStatus == 0 && copyCedingName != '' && copyRiskName != ''" class="cust-btn" type="button" (click)="copyOkBtn();"><a>Ok</a></button>
        <button *ngIf="copyStatus == 0 && (copyCedingName == '' || copyRiskName == '')" class="cust-btn cust-btn-disabled" type="button" [disabled]="true"><a>Ok</a></button>
        <button *ngIf="copyStatus == 1" class="cust-btn" type="button" (click)="modalService.dismissAll(); copyStatus = 0;"><a>Cancel</a></button>
        <button *ngIf="copyStatus == 1" class="cust-btn" type="button" (click)="modalService.dismissAll(); copyStatus = 0; copyModalToGenInfo(copyToQuotationNo)"><a>Ok</a></button>
    </div>
</app-modal>
<!-- End Copy Modal -->

<!-- COPY INTERNAL COMP -->
<app-modal class="hidden" id="copyIntCompModal">
    <div header>Internal Competition</div>
    <div *ngIf="copyStatus == 0" body>
        <fieldset class="scheduler-border" style="padding-bottom: 24px !important; padding-top: 20px !important; height: 80px !important;">
                <div class="custom-row-inline-inset" style="text-align: center">
                    <div class="input-group" style="margin-bottom: -14px !important;">
                        <label class="form-control-sm col-sm-3" style="padding-left: 0;">Ceding Company</label>
                        <input type="text"class="form-control form-control-sm col-sm-2 cap-input" style="margin-right: -1px !important" [(ngModel)]="copyCedingId" (change)="checkCode($event, 'cedingCoIntComp')" appRequired>
                        <div class="text-search-ico" (click)="showCedingCompanyIntCompLOV()"><a><i class="fa fa-search"></i></a></div>
                        &nbsp;&nbsp;
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="copyCedingName" readonly>
                    </div>                   
                </div>
        </fieldset>
    </div>
    <div *ngIf="copyStatus == 1" body>
        <fieldset class="scheduler-border">
            <div class="custom-row-inline-inset" style="text-align: center">
                <p>This Quotation No.</p>
                <p style="color:#557a95"><strong>{{ copyFromQuotationNo }}</strong></p>
                <p>has been copied to Quotation No.</p>
                <p style="color:red"><strong>{{ copyToQuotationNo }}</strong></p>
            </div>
        </fieldset>
    </div>
    <div footer class="text-center w-100">
        <button *ngIf="copyStatus == 0" class="cust-btn" type="button" (click)="modalService.dismissAll(); clearCopyFields();"><a>Cancel</a></button>
        <button *ngIf="copyStatus == 0 && copyCedingName != ''" class="cust-btn" type="button" (click)="copyIntCompOkBtn();"><a>Ok</a></button>
        <button *ngIf="copyStatus == 0 && copyCedingName == ''" class="cust-btn cust-btn-disabled" type="button" [disabled]="true"><a>Ok</a></button>
        <button *ngIf="copyStatus == 1" class="cust-btn" type="button" (click)="modalService.dismissAll(); copyStatus = 0;"><a>Ok</a></button>
    </div>
</app-modal>
<!-- END COPY INTERNAL COMP -->

<!-- Add -->
<app-modal class="hidden" id="addModal">
    <div header>Enter General Info</div>
    <div body>
        <fieldset class="scheduler-border">
            <div class="custom-row-inline-inset">
                <div class="input-group">
                    <label class="form-control-sm col-sm-3">Line</label>
                    <input type="text" [ngModel]="line" (ngModelChange)="line = $event.toUpperCase()" class="form-control form-control-sm col-sm-2 cap-input" style="margin-right: -1px !important" (change)="checkCode($event, 'line')" appRequired>
                    <div class="text-search-ico" (click)="modalService.dismissAll();showLineLOV()"><a><i class="fa fa-search"></i></a></div>
                    &nbsp;&nbsp;
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="description" readonly tabindex="-1">
                </div>
                <div class="input-group" style="margin-top: -12px">
                    <label class="form-control-sm col-sm-3">Type of Cession</label>
                    <input type="text" id="typeOfCessionId" class="form-control form-control-sm col-sm-2" style="margin-right: -1px !important" [(ngModel)]="typeOfCessionId" (change)="checkCode($event, 'typeOfCession')" maxlength="4" numbers-only appRequired>
                    <div class="text-search-ico" (click)="modalService.dismissAll(); showTypeOfCessionLOV()"><a><i class="fa fa-search"></i></a></div>
                    &nbsp;&nbsp;
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="typeOfCession" readonly tabindex="-1">
                </div>
                <div class="input-group" style="margin-top: -12px; margin-bottom: -10px ! important">
                    <label class="form-control-sm col-sm-3" style="margin: 0;">Risk</label>
                    <input type="text" id="riskCd" class="form-control form-control-sm col-sm-2" style="margin-right: -1px !important"
                      [(ngModel)]="riskCd" (change)="checkCode($event, 'risk')" appRequired>
                    <div class="text-search-ico" (click)="showRiskLOV()"><a><i class="fa fa-search"></i></a></div>
                    &nbsp;&nbsp;
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="riskName" readonly tabindex="-1">
                </div>
            </div>
        </fieldset>
    </div>
    <div footer class="text-center w-100">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); clearAddFields();"><a>Cancel</a></button>
        <!-- <button *ngIf="description != '' && typeOfCession != '' && riskName != ''" class="cust-btn" type="button" (click)="modalService.dismissAll(); nextBtnEvent();"><a>Next</a></button>
        <button *ngIf="description == '' || typeOfCession == '' || riskName == ''" class="cust-btn cust-btn-disabled" type="button" [disabled]="true"><a>Next</a></button> -->
        <button [class.cust-btn-disabled]="description == '' || typeOfCession == '' || riskName == ''" class="cust-btn" type="button" (click)="modalService.dismissAll(); nextBtnEvent();" [disabled]="description == '' || typeOfCession == '' || riskName == ''"><a>Next</a></button>
    </div>
</app-modal>

<!-- End Add Modal -->

<!-- Risk LOV Modal -->

<!-- End Risk LOV Modal -->

<!-- Modification or Internal Competition Modal -->
<app-modal class="hidden" id="modIntModal">
    <div header>&nbsp;</div>
    <div body>
        <fieldset class="scheduler-border">
            <div class="custom-row-inline-inset" style="text-align: center">
                <p>Selected Line and Risk has existing Quotation No/s</p>
                <div *ngFor="let ex of existingQuotationNo; let i = index;">
                    <p><strong style="color:#557a95" *ngIf="i < 5">{{ex}}</strong></p>
                    <label class="form-control-sm" *ngIf="(i+1) == existingQuotationNo.length && existingQuotationNo.length > 5" style="margin-bottom: -12px">and {{ ((i+1)-5 > 1) ? (i+1)-5 + ' others.' : (i+1)-5 + ' other.' }}</label>
                </div>
               
                <p>Please select an option:</p>
            </div>
        </fieldset>
    </div>
    <div footer class="text-center w-100">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); toGeneralInfo('modification');"><a>Modification</a></button>
        <button class="cust-btn cust-btn-extend" type="button" (click)="modalService.dismissAll(); toGeneralInfo('internalComp');"><a>Internal Competition</a></button>
        <button class="cust-btn cust-btn-extend" type="button" (click)="modalService.dismissAll(); clearAddFields();"><a>Cancel</a></button>
    </div>
</app-modal>
<!-- End Modification or Internal Competition Modal -->

<app-mtn-risk id="riskLOV" #riskLOV (selectedData)="setRisks($event)"></app-mtn-risk>
<app-mtn-risk id="copyRiskLOV" #copyRiskLOV (selectedData)="setCopyRisks($event)"></app-mtn-risk>
<app-ceding-company id="cedingCompanyLOV" (selectedData)="setCedingcompany($event)"></app-ceding-company>
<app-ceding-company id="cedingCompanyIntCompLOV" (selectedData)="setCedingIntCompCompany($event)" [exclude]="exclude"></app-ceding-company>
<app-mtn-line id="lineLOV" (selectedData)="setLine($event)"></app-mtn-line>
<app-mtn-type-of-cession id="typeOfCessionLOV" (selectedData)="setTypeOfCession($event)"></app-mtn-type-of-cession>
<app-sucess-dialog id="quoProcessing" [icon]="dialogIcon" [message]="dialogMessage"></app-sucess-dialog>
