p{
    margin: 0px;
}
.text-search-ico {
	margin-left: -18px;
	z-index: 99999;
	font-size: 14px;
}

.scheduler-border {
	width: 520px !important;
	padding: 0.5em !important;
}

.input-group label {
    max-width: 18%;
}
.hidden{
    display: none;
}

.cust-btn-disabled {
    background: gray !important;
    cursor: context-menu;
}

.cust-btn {
	cursor: pointer;
}
.cust-btn-extend{
    max-width: 23%;
}
#close{
	font-size: 27px;
}

.close{
	color: #fff;
	float: right;
	opacity: 1;
	line-height: .9;
	padding-left: 5px !important;
}

#closes:hover {
	color: #fff;
	opacity: 1;
}

.modal-footer {
	padding: 10px;
}

h6#modal-basic-title.modal-title {
	margin: 5px 0px 5px 5px;
}

h4 {
	font-size: 14px !important;
}