<div class="cust-tabs-container">
	<h4>Quotation / Quotation Processing</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="List of Quotations">
			<ng-template ngbTabContent>
				<br />

				<app-modal [btnTitle]="'Add'" >
					<div header>Enter General Info</div>
					<div body>
						<fieldset class="scheduler-border">
							<div class="custom-row-inline-inset">
								<div class="input-group">
									<label class="form-control-sm col-sm-3" for="xx">Line</label>
									<input type="text" [(ngModel)]="line" class="form-control form-control-sm col-sm-2">
									<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
									&nbsp;&nbsp;
									<input type="text" id="xx" class="form-control form-control-sm">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-3" for="xx">Type of Cession</label>
									<input type="text" id="xx" class="form-control form-control-sm col-sm-2">
									<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
									&nbsp;&nbsp;
									<input type="text" id="xx" class="form-control form-control-sm">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-3" for="xx">Risk</label>
									<input type="text" id="xx" class="form-control form-control-sm col-sm-2">
									<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
									&nbsp;&nbsp;
									<input type="text" id="xx" class="form-control form-control-sm">
								</div>
							</div>
						</fieldset>
					</div>
					<div footer>
						<div>
							<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Maintain Risk</a></button>
							<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
							<button class="cust-btn" type="button" (click)="nextBtnEvent(line)"><a>Next</a></button>	
						</div>
					</div>
				</app-modal>

				<button *ngIf="disabledEditBtn" class="cust-btn-disabled">Edit</button>
				<button *ngIf="!disabledEditBtn" class="cust-btn" (click)="editBtnEvent()">Edit</button>

				<app-cust-table [filters]="filters" [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes" (rowClick)="onRowClick($event)" (rowDblClick)="onRowDblClick($event)"></app-cust-table>

			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>