.text-search-ico {
	margin-left: -18px;
	z-index: 99999;
	font-size: 14px;
}

.scheduler-border {
	width: 520px !important;
	padding: 0.5em !important;
}

.input-group label {
    max-width: 18%;
}

.cust-btn-disabled {
    font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #d3d3d3 0%, #999999 100%);
    min-width: 60px;
    max-width: 120px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 3px;
}

.cust-btn {
	cursor: pointer;
}