<!-- <div class="row">
  <div class="col-sm-8">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Policy Details</legend>
      <div class="custom-row-inline-inset">
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Risk Dist No</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-3">
          <label class="form-control-sm col-sm-1">Policy No</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-6">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Ceding Co</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-1">
          &nbsp;
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-9">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Insured</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-10">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Risk</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-10">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Province</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-4">
          <label class="form-control-sm col-sm-0">City/Town</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-5">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">District</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-2">
          <label class="form-control-sm col-sm-1">Block</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm-1">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
      <div class="custom-row-inline-inset">
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Currency</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
          <label class="form-control-sm col-sm-2">Exch.Rt.</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Section I</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Section II</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Section III</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Total Sum Insured</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Total Premium</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
      </div>
    </fieldset>
  </div>
</div> -->

<div class="row">
  <div class="col-sm">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Distribution Info</legend>
      <div class="custom-row-inline-inset">
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Risk Dist No</label>
          <input type="text" placeholder="00001" class="form-control form-control-sm col-sm-1" readonly [ngModel]="pad(riskDistributionData?.riskDistId, 'riskDistId')">
          <label class="form-control-sm col-sm-1">Policy No</label>
          <input type="text" placeholder="CAR-2018-00001-099-0001-000" class="form-control form-control-sm col-sm-3" readonly [ngModel]="params.policyNo">
          <label class="form-control-sm col-sm-1">Insured</label>
          <input type="text" placeholder="2nd Inn, Inc. (Sogo Cubao 2) and/or A.G. Sanchez Const. & Dev't Corp." class="form-control form-control-sm col-sm-5" readonly [ngModel]="params.insured">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Ceding Co</label>
          <input type="text" placeholder="FLT Prime" class="form-control form-control-sm col-sm-5" readonly [ngModel]="params.cedingName">
          <label class="form-control-sm col-sm-1">Risk</label>
          <input type="text" placeholder="APMC Bldg" class="form-control form-control-sm col-sm-5" readonly [ngModel]="params.riskName">
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Policy Details</legend>
      <div style="margin-top: 16px !important;margin-bottom: 16px !important;">
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Total SI</label>
          <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.tsiAmt" appCurrency>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Rate (%)</label>
          <input type="text" placeholder="0.025000" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="round((riskDistributionData?.premAmt / riskDistributionData?.tsiAmt) * 100)">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Total Premium</label>
          <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.premAmt" appCurrency>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-sm-4 no-pad-left">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Quota Pool</legend>
      <div style="margin-top: 16px !important;margin-bottom: 16px !important;">
        <div class="input-group">
          <label class="form-control-sm col-sm-4">One Retention Line</label>
          <input type="text" value="200,000.00" class="form-control form-control-sm txt-content-rght col-sm" [ngModel]="riskDistributionData?.retLineAmt" (ngModelChange)="riskDistributionData.retLineAmt = $event" appCurrency>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">1st Retention Line</label>
          <input type="text" placeholder="40" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.retOneLines" appCurrency>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">2nd Retention Line</label>
          <input type="text" placeholder="4,098" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.retTwoLines" appCurrency>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-sm-4 no-pad-left">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Limits</legend>
      <div style="margin-top: 4px; margin-bottom: 8px;">
            <app-cust-editable-non-datatable #limit [passData]="limitsData">
            </app-cust-editable-non-datatable>
      </div>
    </fieldset>
  </div>

</div>

<div>
  <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
    <legend class="scheduler-border">Treaty Distribution</legend>
    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-1">
      </div>
      <div class="col-sm">
        <app-cust-editable-non-datatable #treaty [passData]="treatyDistData"></app-cust-editable-non-datatable>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row" style="margin-top: -18px;">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-8">
        <div class="input-group" style="margin-bottom: -18px !important;">
          <label class="form-control-sm col-sm-2"></label>
          <label class="form-control-sm col-sm label-center">1st Retention</label>
          <label class="form-control-sm col-sm label-center">2nd Retention</label>
          <label class="form-control-sm col-sm label-center">Total</label>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">SI Amount</label>
          <input type="text" placeholder="8,000,000.00" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.retOneTsiAmt" appCurrency>
          <input type="text" placeholder="619,800,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" readonly [ngModel]="riskDistributionData?.retTwoTsiAmt" appCurrency>
          <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" readonly [ngModel]="riskDistributionData?.totalTsiAmt" appCurrency>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Premium Amount</label>
          <input type="text" placeholder="2,5000.00" class="form-control form-control-sm txt-content-rght col-sm" readonly [ngModel]="riskDistributionData?.retOnePremAmt" appCurrency>
          <input type="text" placeholder="193,687.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" readonly [ngModel]="riskDistributionData?.retTwoPremAmt" appCurrency>
          <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left" readonly [ngModel]="riskDistributionData?.totalPremAmt" appCurrency>
        </div>
      </div>
      <div class="col-sm-2">
        <div>
          <label class="col-sm"></label>
        </div>
        <div>
          <input type="checkbox" [ngModel]="riskDistributionData?.autoCalc === 'Y' ? true : false" (ngModelChange)="$event? riskDistributionData.autoCalc = 'Y' : riskDistributionData.autoCalc = 'N'">&nbsp;&nbsp;
          <label style="vertical-align: middle; margin-left: -5px !important;">Auto Calculation</label>
        </div>
        <div class="input-group" style="margin-top: -5px;">
          <div style="width: 100%;">
            <button type="button" style="width: 100px;" class="cust-btn"><a>Distribute</a></button>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </fieldset>


  <!-- <fieldset *ngIf="distFlag === 'pool'" class="scheduler-border" style="padding-bottom: 7px !important;">
    <legend class="scheduler-border">Pool Distribution</legend>
    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-1">
      </div>
      <div class="col-sm">
        <app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="input-group">
          <label class="form-control-sm col-sm-2"></label>
          <label class="form-control-sm col-sm label-center">1st Retention</label>
          <label class="form-control-sm col-sm label-center">2nd Retention</label>
          <label class="form-control-sm col-sm label-center">Total</label>
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">SI Amount</label>
          <input type="text" placeholder="8,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
          <input type="text" placeholder="619,800,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
          <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Premium Amount</label>
          <input type="text" placeholder="2,5000.00" class="form-control form-control-sm txt-content-rght col-sm">
          <input type="text" placeholder="193,687.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
          <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </fieldset>


  <fieldset *ngIf="distFlag === 'coinsurance'" class="scheduler-border" style="padding-bottom: 7px !important;">
    <legend class="scheduler-border">Co-Insurance Distribution</legend>
    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-1">
      </div>
      <div class="col-sm">
        <app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="input-group">
          <label class="form-control-sm col-sm-2">Total SI Amount</label>
          <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
          <label class="form-control-sm col-sm-2">Total Premium Amount</label>
          <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </fieldset>
</div> -->

<!-- <div class="row">
  <div class="col-sm-4">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Quota Pool</legend>
      <div class="custom-row-inline-inset">
        <div class="input-group">
          <label class="form-control-sm col-sm-3">Retention Line</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm txt-content-rght"
            placeholder="200,000.00">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-3">1st Retention</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm txt-content-rght"
            placeholder="40">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-3">2nd Retention</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm txt-content-rght"
            placeholder="4,098">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <fieldset class="scheduler-border" style="height: 100% !important; padding-top: 13px !important; padding-bottom: 17px !important;">
      <legend class="scheduler-border">Limits</legend>
      <div class="custom-row-inline-inset">
        <div class="input-group">
          <label class="form-control-sm col-sm-4">Quota + 1st Surplus</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm txt-content-rght"
            placeholder="1,500,000.00">
        </div>
        <div class="input-group">
          <label class="form-control-sm col-sm-4">2nd Surplus</label>
          <input type="text" class="form-control form-control-sm txt-content-rght col-sm txt-content-rght"
            placeholder="1,500,000.00">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <fieldset class="scheduler-border" style="height: 100% !important;height: 100% !important; padding-top: 10px !important;
    padding-bottom: 18px !important;">
      <legend class="scheduler-border">Distribute</legend>
      <div class="custom-row-inline-inset">
        <div class="form-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <input type="checkbox">&nbsp;&nbsp;
                <label style="vertical-align: middle">Auto Calculation</label>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div style="text-align: center;">
              <button type="button" style="width: 100px;" class="cust-btn"><a>Distribute</a></button>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>

      </div>
    </fieldset>
  </div>
</div> -->
<div class="form-row">
  <div class="form-group col-sm">
    <div class="col-sm" style="text-align: center; padding: 10px;">
      <app-modal [btnTitle]="'View Pool Dist'">
        <div header>Pool Distribution</div>
        <div body>
          <fieldset class="scheduler-border" style="padding-bottom: 7px !important; margin-bottom: -5px !important; padding-top: 3px !important;">
            <div class="row" style="padding-top: 5px;">
              <div class="col-sm">
                <app-cust-editable-non-datatable [passData]="passDataPool"></app-cust-editable-non-datatable>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8" style="margin-top: -22px; margin-left: -20px;">
                <div class="input-group" style="margin-bottom: -18px !important;">
                  <label class="form-control-sm col-sm-2"></label>
                  <label class="form-control-sm col-sm label-center">1st Retention</label>
                  <label class="form-control-sm col-sm label-center">2nd Retention</label>
                  <label class="form-control-sm col-sm label-center">Total</label>
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-2">SI Amount</label>
                  <input type="text" placeholder="8,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
                  <input type="text" placeholder="619,800,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
                  <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-2">Premium Amount</label>
                  <input type="text" placeholder="2,5000.00" class="form-control form-control-sm txt-content-rght col-sm">
                  <input type="text" placeholder="193,687.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
                  <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm input-margin-left">
                </div>
              </div>
              <div class="col-sm-2">
              </div>
            </div>
          </fieldset>
        </div>
        <div footer class="d-flex justify-content-center" style="width: 100% !important;">
          <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
          <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Save</a></button>
        </div>
      </app-modal>

      <app-modal [btnTitle]="'View Co-Insurance'">
        <div header>Co-Insurance Distribution</div>
        <div body>
          <fieldset class="scheduler-border" style="padding-bottom: 7px !important; margin-bottom: -5px !important; padding-top: 3px !important;">
            <div class="row" style="padding-top: 5px;">
              <div class="col-sm">
                <app-cust-editable-non-datatable [passData]="passDataCoInsurance"></app-cust-editable-non-datatable>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8" style="margin-top: -15px; margin-left: -20px;">
                <div class="input-group">
                  <label class="form-control-sm col-sm-2">Total SI Amount</label>
                  <input type="text" placeholder="4,000,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
                  <label class="form-control-sm col-sm-3">Total Premium Amount</label>
                  <input type="text" placeholder="1,000,000.00" class="form-control form-control-sm txt-content-rght col-sm">
                </div>
              </div>
              <div class="col-sm-2">
              </div>
            </div>
          </fieldset>
        </div>
        <div footer class="d-flex justify-content-center" style="width: 100% !important;">
          <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Return</a></button>
        </div>
      </app-modal>
      <button type="button" class="cust-btn"><a>Cancel</a></button>
      <button type="button" class="cust-btn"><a>Save</a></button>
    </div>
  </div>
</div>