<div class="cust-tabs-container">
	<h4>Accounting In-Trust/Acknowledgement Receipt/Generate AR</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
		<!-- <ngb-tab class="ngb-tab" title="AR Entry">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab> -->
		<ngb-tab class="ngb-tab" title="Attachments">
			<ng-template ngbTabContent>
				<app-acc-attachments></app-acc-attachments>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="QSOA">
			<ng-template ngbTabContent>
				<app-qsoa></app-qsoa>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Exit">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>