<div class="cust-tabs-container">
	<h4>Accounting Service / Official Receipt / Generate OR</h4>
	<ngb-tabset (tabChange)="onTabChange($event)">
		<ngb-tab class="ngb-tab" title="OR Entry">
			<ng-template ngbTabContent>
				<app-acct-or-entry [record]="record" (onChange)="checkTabs($event);"></app-acct-or-entry>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="OR Details">
			<ng-template ngbTabContent>
				<app-acct-or-official-receipt [paymentType]="paymentType"></app-acct-or-official-receipt>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="OR Preview">
			<ng-template ngbTabContent>
				<app-or-preview [paymentType]="paymentType"></app-or-preview>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Attachments">
			<ng-template ngbTabContent>
				<app-acct-attachment [paymentType]="paymentType"></app-acct-attachment>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="Exit" class="ngb-tab" title="Exit">
			<ng-template ngbTabContent>
				<app-acct-or-listings></app-acct-or-listings>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>