.modal-header {
    padding: inherit;
    background-color: #3F51B5;
    color: white;
}

.cust-side-nav-bg {
    background-color: #283593;/*#557a95;*/
    color: white;
    height: 100%;
    position: static;
    flex-grow: 100;
    min-height: 650px;
}

.cust-ng-sidebar {
    border: 1px solid gray !important;
    color: white;
    background-color: #283593; /*#557a95;*/
    height: 100%;
}

aside.ng-sidebar{
    background-color: #283593;
}

.cust-btn {
    font-size: 11px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
    min-width: 60px;
    max-width: 120px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 3px;
}

.cust-btn:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%);
}

button.btn.btn-link{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 6px 2px 6px;
    color: #303F9F;
}

button.btn.btn-link:hover{
    color: #303F9F;
}

.cust-filter {
    height: calc(1.3rem + 1px) !important;
    position: absolute !important;
    right: 3px;
    top: 2.9px;
    font-size: 0.7rem !important;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    border-radius: 0px 3px 3px 0px;
    z-index: 1000 !important;
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
}

.cust-filter:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%) ! important;
}

.cust-export {
    height: calc(1.3rem + 1px) !important;
    position: absolute !important;
    right: -14px;
    top: 2.9px;
    font-size: 0.7rem !important;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    z-index: 1000 !important;
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
}

.cust-export:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%) ! important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%) ! important;
}

.progress-bar{
    background-color:#3F51B5 !important;  
}

legend.scheduler-border {
    font-size: 10.5px !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:10px 10px;
    margin-bottom: -14px;
    color: #303F9F ! important;
}

.nav-link {
    padding: 5px 10px !important;
    color: #303F9F;
}

.nav-link:hover {
    color: #3F51B5;
}

.my-pagination /deep/ .ngx-pagination .current {
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%) ! important;
}

.cust {
    background: linear-gradient(to bottom, #303F9F 0%, #283593 100%) ! important;
}

.cust:hover {
    background: linear-gradient(to bottom, #3F51B5 0%, #303F9F 100%) ! important;
}

.selected {
    background-color: #CCCCFF ! important; 
}

#non-datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D9D9F3   ! important;
    color: black;
}

div.span-div {
        float: right; 
        width: 70px; 
        text-align: center; 
        background-color: #303F9F !important;
        padding: 2px 5px; 
        color: white
}

ul a {
        font-size: 12px !important;
        font-weight: 700;
         color: #303F9F;
    }


ul a:hover {
    color: #3F51B5;
    cursor: pointer;
}

ul.timeline > li:before {
 border: 3px solid #283593 ! important;
}

.table th {
        font-weight: 700;
        color: #303F9F ! important;
}

input.form-control-sm {
    height: calc(1.6rem + 1px) !important;
    padding: 0.1rem 0.25rem !important;
    font-size: 0.8rem !important;
    line-height: .9 !important;
    border-radius: 0.2rem !important;
    margin-bottom: -5px !important;
}

input.form-control-sm, select.form-control.form-control-sm.cust-sm, select.editable-select {
    height: calc(1.3rem + 1px) !important;
    font-size: 0.7rem !important;
    font-style: Arial;
}

body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
    background-color: #a3a3e4 ! important;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    color: #333333 !important;
    background: #d6d6ff !important;
}