<fieldset class="scheduler-border" *ngIf="!policyInfo.fromSummary">
	<legend class="scheduler-border">Policy Record Info</legend>
	<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
		<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
			<label class="form-control-sm col-sm-2">Policy No</label>
			<input type="text" [value]="policyInfo.policyNo" class="form-control form-control-sm cust-sm col-sm-2" placeholder=""
			 readonly>
			<label class="form-control-sm col-sm-1" for="xx">Insured</label>
			<input type="text" [value]="policyInfo.insured" class="form-control form-control-sm cust-sm col-sm-5" placeholder="" readonly>
		</div>
		<div class="input-group" style="margin-bottom: -13px !important;">
			<label class="col-sm-1"></label>
			<label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
			<input type="text" [value]="policyInfo.riskName" class="form-control form-control-sm cust-sm col-sm-8" placeholder="" readonly>
		</div>
	</div>
</fieldset>

<fieldset class="scheduler-border">
	<legend class="scheduler-border">Endorsements</legend>
	<!-- <button (click)="pindot($event)" type="button" class="cust-btn" style="margin-left: 227px !important; margin-top: 1px !important; position:absolute !important;">Copy
		Endt</button> -->
	<div class="row" style="padding-bottom: 8px;">
		<div class="col-sm-6" style="padding-right: 2px">
			<fieldset class="scheduler-border" style="margin: 12px 0px 8px 0px !important;">
				<div style="padding-top: 9px;">
					<app-cust-editable-non-datatable #endtTable [passData]="passData" (newClick)="rowClick($event)" (clickLOV)="clickEndtLov($event)"></app-cust-editable-non-datatable>
				</div>
			</fieldset>
		</div>
		<div class="col-sm-6" style="padding-left: 2px">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Deductibles</legend>
				<div style="padding-top: 5px;">
					<app-cust-editable-non-datatable #dedTable [passData]="deductiblesData" (clickLOV)="clickDedLov($event)" 
					(tableDataChange)="ocFlag ? endtTable.indvSelect.deductiblesOc = $event : endtTable.indvSelect.deductibles = $event" ></app-cust-editable-non-datatable>
				</div>
			</fieldset>
		</div>
	</div>

</fieldset>
<div class="form-row" *ngIf="policyInfo.fromInq!='true'">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center">
			<div class="cust-btn-container">
				<button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
				<button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
			</div>
		</div>
	</div>
</div>

<app-mtn-endt-code [hide]="hideEndt" id="endtLov" [line]="currentLine" (selectedData)="setEndt($event)" [lovCheckBox]="true"></app-mtn-endt-code>
<app-lov id="lov" [passData]="passLOVData" (selectedData)="setSelected($event)" [lovCheckBox]="true"></app-lov>

<app-sucess-dialog [icon]="dialogIcon" (onOk)="cancelFlag && dialogIcon == 'success'  ? this.cancel.onNo():null" [message]="dialogMsg"></app-sucess-dialog>
<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-cancel-button (onYes)="save('cancel')" [url]="'/alt-policy-listing'" ></app-cancel-button>