fieldset.scheduler-border-endorsements{
	position: relative
}

.copyEndt {
	position: absolute;
    top: 192px;
    left: 226px;
}

fieldset {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.cust-btn-container{
	margin-top: 10px !important;
}
