.cust-ig {
	margin-top: -14px !important;
}

.input-group label{
	padding-left: 0px;
}

.col-sm-4{
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	flex-basis: 33.3333% !important;
}

.checkbox{
	margin-top: 4px !important;
	margin-right: 5px;
	width: 16px;
	height: 16px;
}