<div class="cust-tabs-container">
    <h4>Accounting Service / Utilities / Consolidate Annual Taxes Withheld</h4>
    <ngb-tabset (tabChange)="onTabChange($event)">
      <ngb-tab class="ngb-tab" title="Import">
        <ng-template ngbTabContent>
            <app-acct-srvc-import></app-acct-srvc-import>
        </ng-template>
      </ngb-tab>
      <ngb-tab class="ngb-tab" title="Annual Details">
        <ng-template ngbTabContent>
          <app-acct-srvc-annual-details></app-acct-srvc-annual-details>
        </ng-template>
      </ngb-tab>
      <ngb-tab class="ngb-tab" title="Consolidate Data">
          <ng-template ngbTabContent>
            <app-acct-srvc-consolidate-data></app-acct-srvc-consolidate-data>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="Exit" class="ngb-tab" title="Exit">
           <ng-template ngbTabContent>
           </ng-template>
        </ngb-tab>
    </ngb-tabset>
  </div>