<!-- ITEM 1 HERE 
<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Number</legend>
		<div class="form-row">
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Line</label>
				<input type="text" [(ngModel)]="this.quotationGenInfo.line" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Year</label>
				<input type="text" [(ngModel)]="this.quotationGenInfo.year" class="form-control form-control-sm cust-sm"
				 placeholder="2018">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Seq No</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="0001">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Req Seq</label>
				<input type="text" [(ngModel)]="this.quotationGenInfo.reqSeq" class="form-control form-control-sm cust-sm"
				 placeholder="0001">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Hist No</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="00001">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Branch</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="MKT">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Line Class</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="Engineering">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Policy Number</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="000001">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Printed By</label>
				<input type="text" class="form-control form-control-sm cust-sm" placeholder="James Reid">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Print Date</label>
				<input type="date" class="form-control form-control-sm cust-sm" value="2018-12-04">
			</div>
		</div>
	</fieldset>
</div>


<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Details</legend>
		<div class="form-row">
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Ceding Company</label>
				<input type="email" class="form-control form-control-sm" placeholder="Banco De Oro">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Quote Status</label>
				<input type="email" class="form-control form-control-sm" placeholder="On Going">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Quote Date</label>
				<input type="date" [ngModel]="this.quotationGenInfo.quoteDate | date:'yyyy-MM-dd'
				" class="form-control form-control-sm"
				>
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Valid Until</label>
				<input type="date" class="form-control form-control-sm" value="2018-01-01">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Requested By</label>
				<input type="text" class="form-control form-control-sm" placeholder="Jobert Austria">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Request Date</label>
				<input type="date" class="form-control form-control-sm" value="2018-01-01">
			</div>
			<div class="form-group col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Request Mode</label>
				<select class="form-control form-control-sm drp-dwn-cstmz">
					<option *ngFor="let req of reqMode" value="{{req.value}}"> {{req.name}}</option>
				</select>
			</div>
		</div>
	</fieldset>
</div>

<div class="row">
	<div class="col-sm-7 cust-col-left-offset">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Insured Details</legend>
			<div class="form-row custom-row-inline-inset">
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Principal</label>
					<input type="text" id="xx" class="form-control form-control-sm cust-sm">
					<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
					<label class="form-control-sm col-sm-2" for="xx">Contractor</label>
					<input type="text" class="form-control form-control-sm">
					<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
					<span>&nbsp;</span>
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Insured</label>
					<input type="text" id="xx" class="form-control form-control-sm">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Property/Project</label>
					<input type="text" id="xx" class="form-control form-control-sm">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Site</label>
					<input type="text" id="xx" class="form-control form-control-sm">
					<label class="form-control-sm col-sm-2" for="xx">Duration/Testing</label>
					<input type="text" class="form-control form-control-sm">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Risk</label>
					<input type="text" id="xx" class="form-control form-control-sm">
					<label class="form-control-sm col-sm-2" for="xx">Object</label>
					<input type="text" class="form-control form-control-sm">
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" for="xx">Location</label>
					<input type="text" id="xx" class="form-control form-control-sm">
				</div>
			</div>
		</fieldset>
	</div>
 
		</fieldset>
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Tags</legend>
			<div class="custom-row-inline-inset">
				<div class="form-row">
					<div class="form-group col-sm-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="checkbox">
								</div>
							</div>
							<input type="text" value="Government Flag" disabled class="form-control form-control-sm">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="checkbox">
								</div>
							</div>
							<input type="text" value="Indicative" disabled class="form-control form-control-sm">
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="checkbox">
								</div>
							</div>
							<input type="text" value="Open Cover" disabled class="form-control form-control-sm">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="checkbox">
								</div>
							</div>
							<input type="text" value="Declaration" disabled class="form-control form-control-sm">
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>

<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Wordings</legend>
		<div class="form-row">
			<div class="col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Opening Paragraph</label>
				<textarea class="form-control form-control-sm" placeholder="Further to our Quotation No.."></textarea>
			</div>
			<div class="col-sm">
				<label for="inputEmail4" class="form-control-sm top-label">Closing Paragraph</label>
				<textarea class="form-control form-control-sm" placeholder="This quotation is subject.."></textarea>
			</div>
			<div class="col-sm">
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="inputEmail4" class="form-control-sm top-label">Created By</label>
						<input type="text" #crBy class="form-control form-control-sm" placeholder="xpact123">
						<label for="inputEmail4" class="form-control-sm top-label">Date Created</label>
						<input type="date" class="form-control form-control-sm" value="2018-12-01">
					</div>
					<div class="form-group col-sm-6">
						<label for="inputEmail4" class="form-control-sm top-label">Last Update By</label>
						<input type="text" class="form-control form-control-sm" placeholder="chrisjeriel">
						<label for="inputEmail4" class="form-control-sm top-label">Last Update</label>
						<input type="date" #lastDa class="form-control form-control-sm" value="2018-12-04">
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<div class="form-row">
		<div class="form-group col-sm">
			<div class="col-md-13 text-center">
				<br>
				<div class="cust-btn-container">
				<button type="button" class="cust-btn"><a>Cancel</a></button>
				<button type="button" class="cust-btn"><a>Save</a></button>
			</div>
			</div>
		</div>
	</div>
</div>

-->