.drp-dwn-cstmz {
    height:26px; 
    padding: 0px;
}
.float-sm-center{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.text-search-ico {
	margin-left: -18px;
	z-index: 99999;
	font-size: 14px;
}

.spec-ico {
	margin-left: -50px;
}

.input-group label {
	padding-left: 0px;
}

