<style type="text/css">
	.offsetFormGroup {
		margin-bottom: 0px !important;
	}

	.custom-row-inline-inset {
		margin-top: 10px !important;
	}

	label.cust-lbl-left-offset {
		margin-left: 20px !important;
	}

	.input-group label {
		line-height: .9 !important;
	}
</style>

<div>
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm">
					<fieldset class="scheduler-border cust-fs-padlr-offset" style="padding-top: 2px !important; padding-bottom: 4px !important;">
						<legend class="scheduler-border">Quotation Details</legend>
						<div class="row">
							<div class="col-sm-8" style="padding-right: 0px !important;">
								<div class="form-row" style="margin-right: 0px;">
									<div class="input-group ig-cust" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-2">Quotation No</label>
										<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="genInfoData.quotationNo">
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-2">Type of Cession</label>
										
										<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="genInfoData.cessionDesc">

										<label class="form-control-sm col-sm-2">Line Class</label>
										<input type="text" [(ngModel)]="genInfoData.lineCd" class="form-control form-control-sm" style="margin-right: 1px;"
										 appRequired>
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-2">Policy Number</label>
										<input type="text" class="form-control form-control-sm" [(ngModel)]="genInfoData.policyNo">
										<label class="form-control-sm col-sm-2">Status</label>
										<input type="text"  class="form-control form-control-sm"
										 appRequired [(ngModel)]="genInfoData.status">
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-2">Ceding Company</label>
										<input type="text" class="form-control form-control-sm col-sm-2" appRequired [(ngModel)]="genInfoData.cedingId">
										<div class="text-search-ico"><a><i class="fa fa-search" (click)="showCedingCompanyLOV()"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm ig-mrgn" [(ngModel)]="genInfoData.cedingName"
										 style="margin-left: 5px;" appRequired>
									</div>
									<div *ngIf="checkTypeOfCession() ||  genInfoData.cessionDesc.toUpperCase() == 'RETROCESSION'" class="input-group ig-cust">
										<label class="form-control-sm col-sm-2">Reinsurance From</label>
										<input type="text" class="form-control form-control-sm col-sm-2" appRequired [(ngModel)]="genInfoData.reinsurerId">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" [(ngModel)]="genInfoData.reinsurerName" class="form-control form-control-sm col-sm ig-mrgn"
										 style="margin-left: 5px;" appRequired>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-2">Intermediary</label>
										<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="genInfoData.intmId" appRequired>
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
										<span>&nbsp;</span>
										<input type="text" class="form-control form-control-sm col-sm ig-mrgn" [(ngModel)]="genInfoData.intmName" style="margin-left: 5px;" appRequired>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
									<div class="input-group ig-cust" style="margin-top: 10px;">
										<label class="form-control-sm col-sm-4">Quote Date</label>
										<input appRequired type="date" [(ngModel)]="genInfoData.issueDate.split('T')[0]" class="form-control form-control-sm">
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-4">Valid Until</label>
										<input appRequired type="date" [(ngModel)]="genInfoData.expiryDate" class="form-control form-control-sm">
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-4">Requested By</label>
										<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="genInfoData.reqBy" >
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-4">Request Date</label>
										<input appRequired type="date" [(ngModel)]="genInfoData.reqDate.split('T')[0]" class="form-control form-control-sm">
									</div>
									<div class="input-group ig-cust">
										<label class="form-control-sm col-sm-4">Request Mode</label>
										<select appRequired class="form-control form-control-sm cust-sm" [(ngModel)]="genInfoData.reqMode">
											<option value="E">Email</option>
											<option value="F">Fax</option>
											<option value="P">Phone</option>
										</select>
									</div>
									<div *ngIf="line === 'MLP' || line === 'DOS'" class="input-group ig-cust">
										<label class="form-control-sm col-sm-4">MBI Ref No</label>
										<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="genInfoData.mbiRefNo">
									</div>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset class="scheduler-border" *ngIf="genInfoData.openCoverTag === 'Y'">
						<legend class="scheduler-border">Open Cover Details</legend>
						<div class="form-row custom-row-inline-inset">
							<div class="col-sm-1"></div>
							<div class="col-sm-10">
								<div class="input-group">
									<label class="form-control-sm col-sm-3">Open Cover Quotation No</label>
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-3" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<input appRequired type="text" class="form-control form-control-sm col-sm-1" style="margin-left:3px !important;">
									<div class="text-search-ico" style="margin-left: 3px !important;"><a><i class="fa fa-search"></i></a></div>
									<span>&nbsp;</span>
								</div>
							</div>
							<div class="col-sm-1"></div>

						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">


			<fieldset class="scheduler-border">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset" style="margin-bottom: 0px !important;">
					<div class="form-row">
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Currency</label>
								<input appRequired type="text" class="form-control form-control-sm" placeholder="PHP" [(ngModel)]="genInfoData.currencyCd">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showCurrencyModal()"></i></a></div>
								<span>&nbsp;</span>
							</div>
						</div>
						<div class="form-group col-sm-6 offsetFormGroup">
							<div class="input-group">
								<label class="form-control-sm col-sm-4 ">Exch. Rt.</label>
								<input appRequired type="text" class="form-control form-control-sm txt-content-rght" placeholder="0" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="genInfoData.currencyRt">
								<span>&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>


			<fieldset class="scheduler-border" style="padding-top: 2px !important; padding-bottom: 3px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row" style="margin-top: 15px;">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox" [checked]="genInfoData.govtTag === 'Y'" (change)="genInfoData.govtTag = (genInfoData.govtTag === 'Y') ? 'N' : 'Y'">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Government" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">										
										<input type="checkbox" [checked]="genInfoData.indicativeTag === 'Y'" (change)="genInfoData.indicativeTag = (genInfoData.indicativeTag === 'Y') ? 'N' : 'Y'">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Indicative" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox" [checked]="genInfoData.openCoverTag === 'Y'" (change)="genInfoData.openCoverTag = (genInfoData.openCoverTag === 'Y') ? 'N' : 'Y'">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Open Cover" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox" [checked]="genInfoData.declarationTag === 'Y'" (change)="genInfoData.declarationTag = (genInfoData.declarationTag === 'Y') ? 'N' : 'Y'">
									</div>
								</div>
								<input type="text" style="font-size: 11px !important;" value="Declaration" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-sm-8">
			<ng-container [ngSwitch]="true">
				<ng-container *ngSwitchCase="line === 'CAR'">

					<!-- FIELDSET FOR TYPE [CAR] -->

					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-2">Principal</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [ngModel]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-2">Contractor</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [ngModel]="genInfoData.contractorId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showContractorLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.contractorName" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 2px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.riskName">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="project.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="project.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Nature of Work</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;" [(ngModel)]="project.projDesc"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">Lat</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.latitude">
									<label class="form-control-sm col-sm-2">Long</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.longitude">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6">
								<label class="form-control-sm col-sm-2">Duration</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.duration">
							</div>
						</div>
					</fieldset>
				</ng-container>

				<!-- FIELDSET FOR TYPE [EAR] -->

				<ng-container *ngSwitchCase="line === 'EAR'">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-2">Principal</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-2">Contractor</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="genInfoData.contractorId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showContractorLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.contractorName" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 2px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="project.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="project.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Nature of Work</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;" [(ngModel)]="project.projDesc"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">Lat</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.latitude">
									<label class="form-control-sm col-sm-2">Long</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.longitude">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6">
								<label class="form-control-sm col-sm-2">Duration</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.duration">
							</div>
							<div class="input-group col-sm-6">
								<label class="form-control-sm col-sm-2">Testing</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.testing">
							</div>
						</div>
					</fieldset>
				</ng-container>

				<!-- FIELDSET FOR TYPE [EEI & CEC]  -->

				<ng-container *ngSwitchCase="line === 'EEI' || line === 'CEC'">
					<fieldset class="scheduler-border" style="padding-top: 12px !important; padding-bottom: 19px !important;">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-10 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;"></label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc" ></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.riskName">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="genInfoData.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Items<br />to be Insured</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">Lat</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.latitude">
									<label class="form-control-sm col-sm-2">Long</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.longitude">
								</div>
							</div>
						</div>
					</fieldset>
				</ng-container>

				<!-- FIELDSET FOR TYPE [MBI & BPV] -->

				<ng-container *ngSwitchCase="line === 'MBI' || line === 'BPV'">
					<fieldset class="scheduler-border" style="padding-top: 12px !important; padding-bottom: 19px !important;">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-10 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;"></label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.riskName">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="project.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="project.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Items<br />to be Insured</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
							</div>
						</div>
					</fieldset>
				</ng-container>

				<!-- FIELDSET FOR TYPE [MLP] -->

				<ng-container *ngSwitchCase="quotationService.toGenInfo[1] === 'MLP'">
					<fieldset class="scheduler-border" style="padding-top: 12px !important; padding-bottom: 19px !important;">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-10 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;"></label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.riskName">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="project.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="project.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Items<br />to be Insured</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">IPL</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.ipl">
									<label class="form-control-sm col-sm-2">Time Exc</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.timeExc">
								</div>
							</div>
						</div>
					</fieldset>
				</ng-container>

				<!-- FIELDSET FOR TYPE [DOS] -->

				<ng-container *ngSwitchCase="quotationService.toGenInfo[1] === 'DOS'">
					<fieldset class="scheduler-border" style="padding-top: 12px !important; padding-bottom: 19px !important;">
						<legend class="scheduler-border">Insured Details</legend>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12" style="margin-top: 10px;">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Insured</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-1" [(ngModel)]="genInfoData.principalId">
								<div class="text-search-ico"><a><i class="fa fa-search" (click)="showPrincipalLOV()"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="genInfoData.principalName" class="form-control form-control-sm col-sm-10 ig-mrgn"
								 style="margin-left: 3px !important;">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;"></label>
								<textarea appRequired class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" [(ngModel)]="genInfoData.insuredDesc"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-12">
								<label class="form-control-sm col-sm-1" style="margin-right: -1px;">Risk</label>
								<input appRequired type="text" class="form-control form-control-sm" [(ngModel)]="project.riskName">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Object</label>
								<input appRequired type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="project.objectId">
								<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
								<span>&nbsp;</span>
								<input appRequired type="text" [(ngModel)]="project.objectDesc" class="form-control form-control-sm col-sm-8 ig-mrgn"
								 style="margin-left: 3px !important;" >
							</div>
							<div class="input-group ig-cust col-sm-6">
								<label class="form-control-sm col-sm-2">Region</label>
								<input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="project.regionDesc">
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Items<br />to be Insured</label>
								<textarea appRequired class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 9px;"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">Province</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.provinceDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">City/Town</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.cityDesc">
								</div>
							</div>
						</div>
						<div class="form-row" style="margin-right: 0px; margin-top: -2px;">
							<div class="input-group col-sm-6" style="margin-bottom: -8px !important;">
								<label class="form-control-sm col-sm-2">Site</label>
								<textarea class="form-control form-control-sm col-sm" style="font-size: 11px; min-height: 47px; margin-bottom: 8px;" [(ngModel)]="project.site"></textarea>
							</div>
							<div class="input-group col-sm-6">
								<div class="input-group ig-cust">
									<label class="form-control-sm col-sm-2">District</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.districtDesc">
									<label class="form-control-sm col-sm-2">Block</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.blockDesc">
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-2">No Claim Pd</label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="project.noClaimPd">
								</div>
							</div>
						</div>
					</fieldset>
				</ng-container>
			</ng-container>
			<fieldset class="scheduler-border cust-fs-padlr-offset">
				<legend class="scheduler-border">Quotation Wordings</legend>
				<div class="col-sm-1">
				</div>
				<div class="col-sm" style="margin-bottom: -8px; margin-top: 7px;">
					<div class="form-row">
						<div class="input-group">
							<label for="inputEmail4" class="form-control-sm top-label col-sm-6" style="text-align: left !important;">Opening
								Paragraph</label>
							<label for="inputEmail4" class="form-control-sm top-label col-sm-6" style="text-align: left !important; padding-left: 7px !important;">Closing
								Paragraph</label>
						</div>
						<div class="input-group" style="margin-top: 2px;">
							<textarea appRequired style="font-size: 12px; margin-bottom: 38px;" class="form-control form-control-sm col-sm-6" [(ngModel)]="genInfoData.openingParag"></textarea>
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<div class="text-search-ico"><a><i class="fa fa-file-text" style="margin-top: 22px !important;"></i></a></div>

							<textarea appRequired style="font-size: 12px; margin-bottom: 38px; margin-left: 10px !important;" class="form-control form-control-sm col-sm-6" [(ngModel)]="genInfoData.closingParag"></textarea>
							<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
							<span>&nbsp;</span>
							<div class="text-search-ico"><a><i class="fa fa-file-text" style="margin-top: 22px !important;"></i></a></div>
						</div>						
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</fieldset>
		</div>
		<div class="col-sm-4" style="padding-left: 0px;">
			<fieldset class="scheduler-border" style="padding-bottom: 16px !important; padding-top: 2px !important;">
				<legend class="scheduler-border">Share Details</legend>
				<div class="custom-row-inline-inset" style="margin-top: 2px !important;">
					<div class="form-row ig-cust">
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Total Sl</label>
							<input type="text" class="form-control form-control-sm text-right" readonly [ngModel]="project.totalSi | number:'1.2-2'">
						</div>
					</div>
					<div class="form-row" style="margin-bottom: -16px; margin-top: -10px;">
						<div class="form-group col-sm-3">
							<label class="form-control-sm top-label">% Share</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right" readonly [(ngModel)]="project.pctShare">
						</div>
						<div class="form-group col-sm" style="margin-left: -6px !important;">
							<label class="form-control-sm top-label">100% Value</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right" readonly [ngModel]="project.totalValue | number:'1.2-2'">
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="scheduler-border" style="padding-top: 7px !important; padding-bottom: 6px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset" style="margin-left: -22px !important;">
					<div class="input-group ig-cust">
						<label class="form-control-sm col-sm-4">Prepared By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="genInfoData.preparedBy">
					</div>
					<div class="input-group ig-cust">
						<label class="form-control-sm col-sm-4">Approved By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="genInfoData.approvedBy">
					</div>
					<div class="input-group ig-cust">
						<label class="form-control-sm col-sm-4">Printed By</label>
						<input type="text" class="form-control form-control-sm col-sm-7" [(ngModel)]="genInfoData.printedBy">
					</div>
					<div class="input-group ig-cust">
						<label class="form-control-sm col-sm-4">Print Date</label>
						<input type="date" class="form-control form-control-sm col-sm-7" [(ngModel)]="genInfoData.printDate">
					</div>
				</div>
			</fieldset>
			<fieldset class="scheduler-border" style="padding-top: 0px !important; padding-bottom: 0px !important;">
				<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px; margin-left: 3px;">
							<label class="form-control-sm top-label">Created By</label>
							<input appRequired type="text" class="form-control form-control-sm cust-sm" [(ngModel)]="genInfoData.createUser">
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -10px; margin-left: -5px;">
							<label class="form-control-sm top-label">Last Update By</label>
							<input appRequired type="text" class="form-control form-control-sm cust-sm" [(ngModel)]="genInfoData.updateUser">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6" style="margin-bottom: 8px; margin-left: 3px;">
							<label class="form-control-sm top-label">Date Created</label>
							<input appRequired type="date" class="form-control form-control-sm cust-sm" [(ngModel)]="genInfoData.createDate">
						</div>
						<div class="form-group col-sm-6" style="margin-bottom: 8px; margin-left: -5px;">
							<label class="form-control-sm top-label">Last Update</label>
							<input appRequired type="date" class="form-control form-control-sm cust-sm" [(ngModel)]="genInfoData.updateDate">
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div class="form-row">
	<div class="form-group col-sm">
		<div class="col-md-13 text-center">
			<div class="cust-btn-container" style="margin-top: 10px !important;">
				<button type="button" class="cust-btn"><a>Cancel</a></button>
				<button type="button" class="cust-btn" (click)="saveQuoteGenInfo();"><a>Save</a></button>
			</div>
		</div>
	</div>
</div>

<ng-template #content>
	<div class="modal-header">
		<span class="modal-title" id="modal-basic-title">Item Information</span>
		<div class="close" style="padding-bottom: 5px;">
			<a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true"><span style="padding-right: 3px;"
				 id="closes">&times;&nbsp;&nbsp;</span></a>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm">
				<button class="cust-btn">Add</button>
				<button class="cust-btn">Delete</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<app-cust-table [filters]="filters" [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes"></app-cust-table>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<div>
			<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
			<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Save</a></button>
		</div>
	</div>
</ng-template>

<app-mtn-insured id="principalLOV" (selectedData)="setPrincipal($event)"></app-mtn-insured>
<app-mtn-insured id="contractorLOV" (selectedData)="setContractor($event)"></app-mtn-insured> 
<app-mtn-insured id="insuredLOV" (selectedData)="setInsured($event)"></app-mtn-insured>
<app-mtn-currency id="currencyModal" (selectedData)="setCurrency($event)"></app-mtn-currency>
<app-ceding-company id="cedingCompanyLOV" (selectedData)="setCedingcompany($event)"></app-ceding-company>
