<p-calendar *ngIf="type == 'datetime'"
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueChanged()"
	[showTime]="true"
	[hourFormat]="12"
	[showIcon]="showIcon"
	[style]="spanStyle"
	[inputStyle]="inputStyle"
	[inputStyleClass]="'form-control form-control-sm'"
	[icon]="'fa fa-calendar'"	
	[showSeconds]="showSeconds"
	[disabled]="disabled"
	[showButtonBar]="true"
	[minDate]="minimumDate"
	[clearButtonStyleClass]="'cust-btn'"
	[todayButtonStyleClass]="'cust-btn'"
	[monthNavigator]="true"
	[yearNavigator]="true"
	[yearRange]="'1970:2200'"></p-calendar>

<p-calendar *ngIf="type == 'date'" 
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueChanged()"
	[showIcon]="showIcon"
	[style]="spanStyle"
	[inputStyle]="inputStyle"
	[inputStyleClass]="'form-control form-control-sm'"
	[icon]="'fa fa-calendar'"
	[disabled]="disabled"
	[showButtonBar]="true"
	[minDate]="minimumDate"	
	[clearButtonStyleClass]="'cust-btn'"
	[todayButtonStyleClass]="'cust-btn'"
	[monthNavigator]="true"
	[yearNavigator]="true"
	[yearRange]="'1970:2200'"
	(onBlur)="onBlur($event)"
	(onSelect)="onSelect()"></p-calendar>
<!-- (onClearClick)="clearInput($event)" (onBlur)="testCh($event)"  [clearButtonStyleClass]="'cust-btn'" [monthNavigator]="true" [yearNavigator]="true" -->

<p-calendar *ngIf="type == 'time'"
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueChanged()"
	[showTime]="true"
	[hourFormat]="12"
	[showIcon]="false"
	[style]="{ width: '100%', position: 'absolute', display: 'contents' }"
	[inputStyle]="inputStyle"
	[inputStyleClass]="'form-control form-control-sm'"
	[timeOnly]="true"
	[disabled]="disabled"></p-calendar>