<ng-container *ngIf="type == 'datetime'" #dttpl>
<p-calendar 
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueUpdated()"
	[showTime]="true"
	[hourFormat]="12"
	[showIcon]="!disabled"
	[style]="spanStyle"
	[inputStyle]="inputStyle"
	[inputStyleClass]="inputStyleClass"
	[icon]="icon"	
	[showSeconds]="showSeconds"
	[disabled]="disabled"
	[showButtonBar]="true"
	[minDate]="minimumDate"
	[maxDate]="maximumDate"
	[clearButtonStyleClass]="'cust-btn'"
	[todayButtonStyleClass]="'cust-btn'"
	[selectOtherMonths]="true"
	[disabledDates]="disabledDates"
	[disabledDays]="disabledDays"
	[monthNavigator]="true"
	[yearNavigator]="true"
	[yearRange]="'1970:2120'"
	[tabindex]="tabindex"
	[name]="name"
	appendTo="body"
	(onBlur)="onBlur($event)"
	(onSelect)="onSelect()"
	(onFocus)="focused()"
	(onClearClick)="onClearClick()"></p-calendar></ng-container>

<ng-container *ngIf="type == 'date'" #dtpl>
<p-calendar 
	#cal
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueUpdated()"
	[showIcon]="!disabled"
	[style]="spanStyle"
	[inputStyle]="inputStyle"
	[inputStyleClass]="inputStyleClass"
	[icon]="icon"
	[disabled]="disabled"
	[showButtonBar]="true"
	[minDate]="minimumDate"
	[maxDate]="maximumDate"
	[clearButtonStyleClass]="'cust-btn'"
	[todayButtonStyleClass]="'cust-btn'"
	[selectOtherMonths]="true"
	[monthNavigator]="true"
	[yearNavigator]="true"
	[disabledDates]="disabledDates"
	[disabledDays]="disabledDays"
	[yearRange]="'1970:2120'"
	[tabindex]="tabindex"
	[name]="name"
	appendTo="body"
	(onBlur)="onBlur($event)"
	(onSelect)="onSelect()"
	(onFocus)="focused()"
	(onClearClick)="onClearClick()"></p-calendar></ng-container>

<ng-container *ngIf="type == 'time'" #ttpl>
<p-calendar
	[ngModel]="datepickerVal"
	(ngModelChange)="datepickerVal=$event; valueUpdated()"
	[showTime]="true"
	[hourFormat]="12"
	[showIcon]="false"
	[style]="spanStyle"
	[inputStyle]="inputStyle"
	[inputStyleClass]="inputStyleClass"
	[timeOnly]="true"
	[disabled]="disabled"
	[tabindex]="tabindex"
	[name]="name"
	appendTo="body"
	(onBlur)="onBlur($event)"
	(onFocus)="focused()"></p-calendar></ng-container>