<fieldset class="scheduler-border">
	<legend class="scheduler-border">Extraction Info</legend>
	<div class="form-row custom-row-inline-inset">
		<div class="col-sm-5">
			<div class="input-group">
				<label class="form-control-sm col-sm-1">Period:</label>
				<label class="form-control-sm col-sm-2">From</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-4">
				<label class="form-control-sm col-sm-1">To</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-4">
			</div>
		</div>
		<div class="col-sm-7">
			<div class="input-group">
				<label class="form-control-sm col-sm-2">Extracted By</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-4">
				<label class="form-control-sm col-sm-2">Date Extracted</label>
				<input type="text" class="form-control form-control-sm cust-sm col-sm-4">
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="scheduler-border">
	<legend class="scheduler-border">Extraction Info</legend>
		<div class="row">
			<div class="col-sm-12" style="margin-top: 15px !important;">
				<app-cust-editable-non-datatable [passData]="AccountingEntryData"></app-cust-editable-non-datatable>
			</div>
		</div>
</fieldset>
