<app-modal class="d-none" id="successMdl">
	<div header>&nbsp;</div>
	<div body class="pb-0">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="col-sm-12">
					<i class="fa fa-check-circle fa-4x"></i>
				</div>
				<div class="col-sm-12">
					<p>{{message}}</p>
				</div>
			</div>
		</div>		
	</div>
	<div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Okay</a></button>
    </div>
</app-modal>