<div class="cust-tabs-container">
	<h4>Maintenance / Accounting Service / Withholding Tax</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Withholding Tax Maintenance">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-12" style="margin-top: 20px">
						<fieldset class="scheduler-border">
							<div class="row" style="margin-top: 15px">
								<div class="col-sm-12">
									<app-cust-editable-non-datatable [passData]="passData" (newClick)="onRowClick($event)" #whTax></app-cust-editable-non-datatable>
								</div>
								<div class="form-control-sm col-sm-1"></div>
								<label class="form-control-sm col-sm-1">Remarks</label>
								<input type="text" class="form-control form-control-sm col-sm-8" [ngModel]="params.remarks" (ngModelChange)="table.indvSelect.remarks=$event;table.indvSelect.edited=true" [disabled]="remarksFlag">
							</div>
							<div class="form-row" style="margin-top: 13px !important;">
							    <div class="form-group col-sm">
							        <div class="col-md-12 text-center">
							            <div class="cust-btn-container">
							                <button type="button" class="cust-btn" style="min-width: 85px;" (click)="onClickCancel()"><a>Cancel</a></button>
							                <button type="button" class="cust-btn" style="min-width: 85px;" (click)="onClickSave()"><a>Save</a></button>
							                <button type="button" class="cust-btn" style="min-width: 85px;" (click)="onClickHistory()" [disabled]="historyFlag" [class.cust-btn-disabled]="historyFlag"><a>History</a></button>
							                <button type="button" class="cust-btn" style="min-width: 85px;" (click)="print()"><a>Print</a></button>
							            </div>
							        </div>
							    </div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-12">
					    <fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important;">
					        <div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
					            <div class="input-group" style="margin-bottom: -15px !important;">
					                <label class="form-control-sm col-sm-1 text-right labels">Created By</label>
					                <input type="text" class="form-control form-control-sm col-sm-2" readonly [(ngModel)]="params.createUser">
					                <label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
					                <div class="col-sm-2" style="padding: 0px">
					                    <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="params.createDate"></datepicker>
					                </div>
					                <label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
					                <input type="text" class="form-control form-control-sm col-sm-2" readonly [(ngModel)]="params.updateUser">
					                <label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
					                <div class="col-sm-2" style="padding: 0px">
					                    <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="params.updateDate"></datepicker>
					                </div>
					            </div>
					        </div>
					    </fieldset>
					</div>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
<app-modal class="d-none" id="amountDetails" #taxAmtHist>
    <div header>WithHolding Tax Maintenance History</div>  
    <div body>
        <div class="row">
			<div class="col-sm-12" style="margin-top: 20px">
				<app-cust-editable-non-datatable [passData]="passDataHistory" (newClick)="whTaxHistClick($event)" #whTaxHist></app-cust-editable-non-datatable>
			</div>
			<div class="col-sm-12">
				<div class="input-group">
					<label class="form-control-sm col-sm-2">Remarks</label>
					<input type="text" class="form-control form-control-sm col-sm-8" [ngModel]="paramsHist.remarks" (ngModelChange)="whTaxHistTbl.indvSelect.remarks=$event;whTaxHistTbl.indvSelect.edited=true" [disabled]="remarksHistFlag">
				</div>
			</div>
		</div>
    </div>
    <div footer class="text-center">
		<div class="input-group">
			<button type="button" class="cust-btn" (click)="onClickWhTaxHist()"><a>Save</a></button>
			<button type="button" class="cust-btn" (click)="taxAmtHistMdl.closeModal();"><a>Cancel</a></button>
		</div>
    </div>
</app-modal>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag && dialogIcon!=='error-message' ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-confirm-save (onYes)="saveMtnWhTax()" #whTaxSave></app-confirm-save>
<app-confirm-save (onYes)="saveWhTaxHist()" #whTaxHistSave></app-confirm-save>
<app-cancel-button (onYes)="saveMtnWhTax('cancel')" [url]="'/journal-voucher'" ></app-cancel-button>
<app-print-modal-mtn-acct id="printModal" (selectedData)="printPreview($event);"></app-print-modal-mtn-acct>