th, td{
    white-space: nowrap;
/*    min-width: 0px;
    max-width: 1px;*/
    overflow: hidden;
}
.table-scroll{
    overflow: auto;
    max-width: 100%
}
#cust-table-container {
    position: relative !important;
}

.cust-btn-container {
	position: absolute !important;
	left: 1px;
	top: 1px;
	z-index: 99 !important;
}
.icon {
	text-align: center;
	
}

.cust-btn {
	font-size: 11px;
	font-weight: bold;
	color: white !important;
	text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    z-index: 9999 !important;
    border-radius: 2px;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
    width: 60px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.cust-btn {
	margin-right: 3px;
}

.cust-btn:hover {
  	background: linear-gradient(to bottom, #4080df 0%, #2d5986 100%);
}

.dropdown-menu {
	padding: 0px !important;
	padding-bottom: 10px !important;
}

.dropdown-item{
	width: 300px;
	height: 200px;
	overflow: auto;
}

div.input-group-text {
	font-size: 9px;
	font-weight: bold;
	width: 100px;
}

input.form-control {
	font-size: 11px !important;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: white !important;
	color: gray !important;
}


.dropdown-item.active, .dropdown-item:hover {
	background-color: white !important;
	color: gray !important;
}

div.input-group {
	margin-bottom: 2px !important;
}

.cust-tbl-submit {
	border-radius: 2px !important;
	font-size: 12px !important;
}

.cust-tbl-label {
	font-size: 11px;
	font-weight: bold;
}

.dataTables_wrapper .dataTables_filter input {
  margin-right: 0px;
}

.editable-text {
	padding: 0px;
	border: none;
	background-color: inherit;
	width: 90%;
}

.editable-select {
	width: 90%;
	padding: 0px;
	border: none;
	background-color: inherit;
}

.editable-text:focus {
	padding: 5px;
}

.editable-checkbox {
	padding: 1em !important;
}

.editable-number {
	text-align: right;
	width: 90%;
	padding: 0px;
	border: none;
	background-color: inherit;
}

.editable-date {
	width: 90%;
	padding: 0px;
	border: none;
	background-color: inherit;
}

.fa-search {
	float: right;
	/*width: 4%*/
}

.number{
	width: 93%;	 
	float: right;
}

.icon .fa:not(:first-child) {
	margin-left: 5px;
}

.checkbox {
	width: 6px;
}