<form #myForm="ngForm">
<div>
	<fieldset class="scheduler-border" style="padding-top: 4px !important;
    padding-bottom: 4px !important;">
		<legend class="scheduler-border">Policy Record Info</legend>
		<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
			<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
				<label class="col-sm-1"></label>
				<label class="form-control-sm col-sm-1" for="xx">Policy No</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2"
				 [ngModel]="policyInfo.policyNo" placeholder="" name="policyNo" readonly>
				<label class="form-control-sm col-sm-1" for="xx">Insured</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-5" placeholder=""
				 [ngModel]="policyInfo.insuredDesc" name="insured" readonly>
			</div>
			<div class="input-group" style="margin-bottom: -13px !important;">
				<label class="col-sm-1"></label>
				<label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-8" placeholder="" [ngModel]="policyInfo.riskName" name="riskName"
				 readonly>
			</div>
		</div>
	</fieldset>
	<div class="row top">
		<div class="col-sm-6 left-div">
			<fieldset class="scheduler-border col-sm-12 left" style="padding-top: 7px !important;padding-bottom: 2px !important;">
				<div class="form-row custom-row-inline-inset">
					<div class="input-group">
						<label class="form-control-sm col-sm-2 text-right" for="xx">Insured</label>
						<input [readonly]="alterFlag" class="form-control form-control-sm  col-sm-2" type="text" name="insId" [(ngModel)]="polAlopData.insId">
						<div *ngIf="!alterFlag" class="text-search-ico"><a (click)="openGenericLOV('insured')"><i *ngIf="!alterFlag"  class="fa fa-search"></i></a></div>&nbsp;
						<input [readonly]="alterFlag" class="form-control form-control-sm  col-sm" type="text" style="margin-left: -7px !important;" name="insuredName"
						 [(ngModel)]="polAlopData.insuredName">
					</div>

					<div class="input-group textarea">
						<label class="form-control-sm col-sm-2"></label>
						<textarea class="form-control form-control-sm col-sm" rows="2" [(ngModel)]="polAlopData.insuredDesc" name="insuredDesc" appRequired></textarea>
						<br>
					</div>

					<div class="input-group" style="margin-top:6px !important;">
						<label class="form-control-sm col-sm-2 text-right" style="padding-top: 4px !important;" for="xx">Address</label>
						<input [readonly]="alterFlag" class="form-control form-control-sm  col-sm" type="text" name="address" [(ngModel)]="polAlopData.address">
					</div>

				</div>
			</fieldset>
		</div>
		<div class="col-sm-6 right-div">
			<fieldset class="scheduler-border col-sm-12 right fieldset-padding-bottom">
				<div class="form-row custom-row-inline-inset">
					<div class="input-group">
						<label class="form-control-sm col-sm-3 text-left" style=" padding-left: 0px !important;" for="xx">The Insured
							Business</label>
					</div>

					<div class="input-group textarea">
						<textarea class="form-control form-control-sm col-sm-12" rows="3" [(ngModel)]="polAlopData.insBusiness" name="insBusiness"></textarea>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<fieldset class="scheduler-border middle fieldset-padding-bottom">
		<div class="form-row custom-row-inline-inset">
			<div class="input-group">
				<label class="col-sm-1 "></label>
				<label class="col-sm-4">Insured Interest: Gross Profit and Increased Cost of Working</label>
				<label class="col-sm"></label>
			</div>
			<div class="input-group" style="margin-top: 14px !important;">
				<label class="col-sm-3"></label>
				<label class=" form-control-sm col-sm-2" for="annSumInsured">Annual Sum Insured</label>
				<input [readonly]="true" class="form-control form-control-sm  col-sm-5 text-right" type="text" id="annSumInsured" [ngModel]="polAlopData.annSi | number:'1.2-2'" name="annSi" appCurrency
				 onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
			</div>
			<div class="input-group">
				<label class="col-sm-3"></label>
				<label class="form-control-sm col-sm-2 text-left" for="sumInsForMaxIndem">Sum Insured for Maximum Indemnity Period</label>
				<input [readonly]="true" class="form-control form-control-sm  col-sm-5 text-right" type="text" id="sumInsForMaxIndem" [ngModel]="polAlopData.maxIndemPdSi | number:'1.2-2'" (ngModelChange)="polAlopData.maxIndemPdSi=$event" name="maxIndemPdSi" appCurrency
				 onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
			</div>
		</div>
	</fieldset>

	
	<fieldset class="scheduler-border bottom">
		<div class="form-row custom-row-inline-inset">
			<div class="input-group">
				<label class="form-control-sm col-sm-4" for="periodFrom">Period of Insurance from</label>
				<input  #from class="form-control form-control-sm  col-sm-2" type="date" id="periodFrom" [ngModel]="polAlopData.issueDate?.split('T')[0]" (ngModelChange)="polAlopData.issueDate = $event" (change)="checkDates()" name="issueDate">
				<label class="form-control-sm col-sm-1" for="periodTo">to</label>
				<input  #to class="form-control form-control-sm  col-sm-2" type="date" id="periodTo" [ngModel]="polAlopData.expiryDate?.split('T')[0]" (ngModelChange)="polAlopData.expiryDate = $event" name="expiryDate" (change)="checkDates()">
				<label class="form-control-sm col-sm-2 text-left">(Scheduled Date of Completion)</label>

			</div>
			<div class="input-group">
				<label class="form-control-sm col-sm-4" for="maxIndemPeriod">Maximum Indemnity Period</label>
				<input [readonly]="!alterFlag" class="form-control form-control-sm  col-sm-1" type="number" id="maxIndemPeriod" [ngModel]="polAlopData.maxIndemPd" (ngModelChange)= "polAlopData.maxIndemPd = $event" (blur)="polAlopData.maxIndemPdSi = ((this.polAlopData.maxIndemPd/12)*this.polAlopData.annSi)" name="maxIndemPd" appRequired>
				<label class="form-control-sm col-sm-1 text-left" for="maxIndemPeriod">months</label>
			</div>
			<div class="input-group">
				<label class="form-control-sm col-sm-4" for="fromIndem">from</label>
				<input class="form-control form-control-sm  col-sm-2" type="date" id="fromIndem" [ngModel]="polAlopData.indemFromDate?.split('T')[0]" (ngModelChange)="polAlopData.indemFromDate=$event" name="indemFromDate">
			</div>
			<div class="input-group">
				<label class="form-control-sm col-sm-4" for="timeExcess">Time Excess</label>
				<input [readonly]="!alterFlag" class="form-control form-control-sm  col-sm-1" type="text" id="fromIndem" [(ngModel)]="polAlopData.timeExc" name="timeExc"
				 style="margin-right: 133px !important;" appRequired>
			</div>
			<div class="input-group">
				<label class="form-control-sm col-sm-4" for="interval">Progress reports to be presented at intervals of</label>
				<input [readonly]="!alterFlag" class="form-control form-control-sm  col-sm-1" type="number" id="interval" [(ngModel)]="polAlopData.repInterval" name="repInterval" appRequired>
				<label class="form-control-sm col-sm-1 text-left" for="maxIndemPeriod">months</label>
			</div>
		</div>
	</fieldset>

	<div class="form-row bottom-button-container">
		<div class="form-group col-sm">
			<div class="col-md-13 text-center">
				<div class="cust-btn-container" style="margin-top: 10px;">
					<button type="button" class="cust-btn" (click)="openAlopItem()"><a>Item Information</a></button>
					<button type="button" class="cust-btn" (click)="cancelButton()"><a>Cancel</a></button>
					<button type="button" class="cust-btn" (click)="onClickSavePolAlop()"><a>Save</a></button>
				</div>
			</div>
		</div>
	</div>

		<app-modal class="d-none" id="alopItemModal">
			<div header>Item Information</div>	
			<div body>
				 <div>
		                <app-cust-editable-non-datatable [passData]="passDataCar">
		                </app-cust-editable-non-datatable>
		         </div>  
			</div>
			<div footer class="text-center">
					<button type="button" class="cust-btn" (click)="modalService.dismissAll(); showAlopItem=false"><a>Cancel</a></button>
					<button type="button" class="cust-btn" (click)="onClickSavePolAlopItem()"><a>Save</a></button>
			</div>
		</app-modal>

	<!-- <ng-container *ngIf="line=='EAR'">
		<app-modal class="d-none" id="alopItemModal">
			<div header>Item Information</div>	
			<div body>
				 <div>
		                <app-cust-editable-non-datatable [passData]="passDataEar">
		                </app-cust-editable-non-datatable>
		         </div>  
			</div>
			<div footer class="text-center">
					<button type="button" class="cust-btn" (click)="cancelModal(); showAlopItem=false"><a>Cancel</a></button>
					<button type="button" class="cust-btn" (click)="onClickSavePolAlopItem()"><a>Save</a></button>
			</div>
		</app-modal>
	</ng-container> -->
</div>
</form>

<app-mtn-insured id="insuredLOV" (selectedData)="setInsured($event)"></app-mtn-insured>
<app-lov id="lov" [passData]="passLOV" (selectedData)="setInsured($event)"></app-lov>

<!-- <app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="(cancelFlag && alopFlag === 'alop') ? cancelBtn.onNo() : (cancelFlag && alopFlag === 'alopitem')? cancelModalBtn.onNo() : (dialogMessage === '' || (dialogMessage === 'Successfully Saved')? modalService.dismissAll():null)" (onOk)="cancelFlag && dialogIcon!=='error-message' ? this.cancelBtn.onNo():null"></app-sucess-dialog> -->
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag && dialogIcon!=='error-message' ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-confirm-save id="polAlop" (onYes)="savePolAlop()"></app-confirm-save>
<app-cancel-button (onYes)="savePolAlop('cancel')" [url]="polURL" #cancelButtonComponent></app-cancel-button>

<app-confirm-save id="polAlopItem" (onYes)="savePolAlopItem()"></app-confirm-save>
<app-cancel-button (onYes)="savePolAlopItem('cancel')" [url]="null" #cancelModalComponent ></app-cancel-button>
