.text-search-ico {
	margin-left: -18px;
	z-index: 100;
	font-size: 14px;
}

.right,.left, .right fieldset,.insuredInt{
	display: inline-block;
    margin-top: 5px !important;

}

.left-div{
	padding-left:0px;
	padding-right: 5px;
	/*float: left;*/
}

.right-div{
	padding-right:0px;
	padding-left: 5px;
	/*float: right;*/
}

.right{
	padding-right: 0px;
	/*float: right;*/
}


.bottom-button-container{
	display: block;
}

.text-center{
	margin: auto;
}

label.text-left{
	text-align: left !important;
}

.top{
	margin-left: 0px;
	margin-right: 0px;
}

.textarea{
	height: 75px !important;
}

.textarea textarea{
	height: 85% !important;
	border-radius: 0.2rem !important;
}

.textarea textarea{
	height: 85% !important;
	border-radius: 0.2rem !important;
	font-size: 0.7rem !important;
}

.right .textarea{
	height: 108px !important; 
}

.right .textarea textarea{
	height: 89% !important;
}

.middle, .bottom{
	margin-top: 5px !important;
}

.middle label.text-left{
	padding-left:59px;
}

.left div{
	padding-right: 10px !important;
}

.input-group {
    margin-bottom: -14px !important;
}
.fieldset-padding-bottom {
	padding-bottom: 7px !important;
}

.cust-btn-container{
	margin-top: 10px !important;
}
