<style type="text/css">
    .float-sm-center {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .txt-content-rght {
        text-align: right
    }

    .mrgn-fieldset {
        margin-top: 17px;
    }

    .fieldset-height {
        height: 104%;
    }

    .input-group {
        margin-bottom: -14px !important;
    }
</style>

<div>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Quotation Info</legend>
        <div class="form-row custom-row-inline-inset">
            <div class="input-group">
                <label class="form-control-sm col-sm-2">Quotation No </label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2" [ngModel]="quotationNo"
                    disabled="disabled">
                <label class="form-control-sm col-sm-1">Insured</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-6" placeholder="Insured Name"
                    disabled="disabled">
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-2">Risk</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-9" placeholder="Risk" disabled="disabled">
            </div>
        </div>
    </fieldset>
</div>
<div>
    <!-- <fieldset class="scheduler-border">
        <legend class="scheduler-border">Attached Files</legend>
        <app-cust-editable-table [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="nData" [tableData]="tableData" [tHeader]="tHeader" [checkFlag]="true" [pageLength]="pageLength"></app-cust-editable-table>
       <app-cust-editable-table [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="nData" [tableData]="tableData" [tHeader]="tHeader" [checkFlag]="true" [options] = "options" [selectFlag]="true" [dataTypes]="dataTypes"></app-cust-editable-table>
       </fieldset> -->
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Attached Files</legend>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="padding-top: 8px; padding-bottom: 15px;">
                <app-cust-editable-non-datatable  [passData]="passData" (onDataChange)="passData.tableData=$event" ></app-cust-editable-non-datatable>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </fieldset>
</div>
<div class="form-row">
    <div class="form-group col-sm">
        <div class="col-md-13 text-center">
            <div class="cust-btn-container" style="margin-top: 10px">
                <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
                <button type="button" class="cust-btn" (click)="saveData()"><a>Save</a></button>
            </div>
        </div>
    </div>
</div>