<div class="cust-tabs-container">
  <h4>Policy / Utilities / Update Information</h4>
  <ngb-tabset>
    <ngb-tab title="Update Installment">
      <ng-template ngbTabContent>
        <fieldset class="scheduler-border fldst">
            <div class="form-row custom-row-inline-inset">
              <div class="input-group">
                <div class="col-sm-2"></div>
                <label class="form-control-sm col-sm-1">Policy No</label>
                <input type="text" class="form-control form-control-sm col-sm-1 cap-input req" style="margin-left: 3px;" ngbTooltip="Line" [(ngModel)] = "polNo[0]" (change)="search('lineCd',$event)" maxlength="7" appRequired>
                <input type="text" class="form-control form-control-sm col-sm-1 cap-input req" style="margin-left: 3px;" ngbTooltip="Year" [(ngModel)] = "polNo[1]" (change)="search('year',$event)" numbers-only maxlength="4" appRequired>
                <input type="text" class="form-control form-control-sm col-sm   cap-input text-right req" style="margin-left: 3px;" ngbTooltip="Sequence No" [(ngModel)] = "polNo[2]" (change)="search('seqNo',$event)" mask="99999" (blur)="polNo[2]=pad($event,5)" numbers-only maxlength="5" appRequired>
                <input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right req" style="margin-left: 3px;" ngbTooltip="Co Code" [(ngModel)] = "polNo[3]" (change)="search('cedingId',$event)" mask="999" (blur)="polNo[3]=pad($event,3)" maxlength="3" appRequired>
                <input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right req" style="margin-left: 3px;" ngbTooltip="Co Series No" [(ngModel)] = "polNo[4]" (change)="search('coSeriesNo',$event)" mask="9999" (blur)="polNo[4]=pad($event,4)" numbers-only maxlength="4" appRequired>
                <input type="text" class="form-control form-control-sm col-sm-1 cap-input text-right req" style="margin-left: 3px;" ngbTooltip="Alt No" [(ngModel)] = "polNo[5]" (change)="search('altNo',$event)" (blur)="polNo[5]=pad($event,3)" numbers-only maxlength="3" appRequired>
                <span>&nbsp;</span>
                <div><a (click)="showLOV()"><i class="fa fa-search"></i></a></div>
                <div class="form-row">
                  <div class="form-group">
                    <div class="col-md-12 text-center">
                      <div class="cust-btn-container">
                        <button type="button" class="cust-btn" (click)="clearFields()"><a>Clear</a></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
        </fieldset>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Policy Record</legend>
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <label class="form-control-sm col-sm-3" style="margin-left: -17px !important;">Ceding Company</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="cedingName" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group" style="padding-right: 38px !important;">
                    <label class="form-control-sm col-sm-1">Risk</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="riskName" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <label class="form-control-sm col-sm-3" style="margin-left: -17px !important;">Insured</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="insuredDesc" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group" style="padding-right: 38px !important;">
                    <label class="form-control-sm col-sm-1"  style="margin-right: 10px; margin-left: -10px"> Currency</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="currency" readonly>
                    <label class="form-control-sm col-sm-2">Total Premium</label>
                    <input type="text" class="form-control form-control-sm col-sm" [ngModel]="totalPrem | number:'1.2-2'" readonly>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Installment Info</legend>
            <div class="custom-row-inline-inset">
              <app-cust-editable-non-datatable #instllmentTable [passData]="passDataInstallmentInfo" (newClick)="updateOtherCharges($event)" (tableDataChange)="calcComm($event); compute();" (onDelete)="delInst()"></app-cust-editable-non-datatable>
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Other Charges</legend>
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <app-cust-editable-non-datatable #otherTable [passData]="passDataOtherCharges" (clickLOV)="clickLOV($event)" (tableDataChange)="compute();instllmentTable.indvSelect.otherCharges=$event" (onDelete)="delOth()"></app-cust-editable-non-datatable>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <div class="text-center" style="margin-top: 8px !important;">
              <div class="cust-btn-container">
                <button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
                <button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<app-modal hidden [btnTitle]="'List Of Values'" id="polLovMdl">
    <div header>List Of Values</div>
    <div body>
       <!-- <app-cust-non-datatable [passData]="passDataLOV" (rowClick)="onRowClick($event)" (searchToDb)="searchQuery($event)"></app-cust-non-datatable> -->
       <app-loading-table [passData]="passDataLOV" #polLov (rowClick)="onRowClick($event);" (searchToDb)="searchQuery($event)"></app-loading-table>
    </div>
    <div footer class="text-center w-100">
        <div class="col-sm-12 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="setDetails('mdlOk');"><a>Ok</a></button>
        </div>
    </div>
</app-modal>

<app-lov [passData]="passLOVData" (selectedData)="setSelected($event)" [lovCheckBox]="true" #otherLov></app-lov>
<app-sucess-dialog id="inward" [icon]="dialogIcon" (onOk)="cancelFlag && dialogIcon == 'success'  ? this.cancel.onNo():null" [message]="dialogMsg"></app-sucess-dialog>
<app-confirm-save id="inwardSave" (onYes)="save()"></app-confirm-save>
<app-cancel-button (onYes)="save('cancel')" [url]="'/update-installment'" ></app-cancel-button>

<app-modal class="d-none" id="altWarningModal">
    <div header>Warning Message</div>
    <div body style="min-width: 420px !important;">
        <fieldset class="scheduler-border" style="padding: 17px 20px 12px 20px !important;">
            <div class="custom-row-inline-inset" style="text-align: center">
                <p *ngIf="warningMsg == 0">A policy must have one or more installments.</p>
                <p *ngIf="warningMsg == 1">Policy No has a pending alteration in Alteration List Screen. <br>
                All alterations must be posted before updating the installment.</p>
                <p *ngIf="warningMsg == 2">Total premium must be equal to the sum of premium per installment.</p>
            </div>
        </fieldset>
    </div>
    <div footer class="w-100 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); clearFields();"><a>Ok</a></button>
    </div>
</app-modal>
