<div class="cust-tabs-container">
  <h4>Policy / Utilities / Update Information</h4>
  <ngb-tabset>
    <ngb-tab class="ngb-tab" title="Update Installment">
      <ng-template ngbTabContent>
        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="input-group " style="margin-bottom: -4px !important;">
                    <label class="form-control-sm col-sm-2" style="margin-bottom: 0px !important;">Policy No</label>
                    <input type="text" class="form-control form-control-sm col-sm-1 cap-input" [ngModel]="polNo[0]" ngbTooltip="Line">
                    <input type="text" class="form-control form-control-sm col-sm-1 cap-input" [ngModel]="polNo[1]" style="margin-left: 3px;"
                      ngbTooltip="Year">
                    <input type="text" class="form-control form-control-sm col-sm-3 cap-input" [ngModel]="polNo[2]" style="margin-left: 3px;"
                      ngbTooltip="Sequence No">
                    <input type="text" class="form-control form-control-sm col-sm-1 cap-input" [ngModel]="polNo[3]" style="margin-left: 3px;"
                      ngbTooltip="Co Code">
                    <input type="text" class="form-control form-control-sm col-sm-2 cap-input" [ngModel]="polNo[4]" style="margin-left: 3px;"
                      ngbTooltip="Co Series No">
                    <input type="text" class="form-control form-control-sm col-sm-1 cap-input" [ngModel]="polNo[5]" style="margin-left: 3px;"
                      ngbTooltip="Alt No">
                    <span>&nbsp;</span>
                    <div class="text-search-ico"><a><i class="fa fa-search" (click)="showLOV();"></i></a></div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- <div class="text-center" style="margin-top: 3px !important;">
                <div class="cust-btn-container">
                  <button type="button" class="cust-btn"><a>Clear</a></button>
                  <button type="button" class="cust-btn"><a>Search</a></button>
                </div>
              </div> -->
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Policy Record</legend>
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <label class="form-control-sm col-sm-3" style="margin-left: -17px !important;">Ceding Company</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="cedingName">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group" style="padding-right: 38px !important;">
                    <label class="form-control-sm col-sm-3" style="margin-left: -86px !important;">Risk</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="riskName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <label class="form-control-sm col-sm-3" style="margin-left: -17px !important;">Insured</label>
                    <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="insuredDesc">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="input-group">
                        <label class="form-control-sm col-sm-4" style="margin-left: -14px !important;">Currency</label>
                        <input type="text" class="form-control form-control-sm col-sm" style="margin-left: 3px !important;" [(ngModel)]="currency">
                      </div>
                    </div>
                    <div class="col-sm-8" style="padding-right: 53px !important;">
                      <div class="input-group">
                        <label class="form-control-sm col-sm-4" style="margin-left: -36px !important;">Total Premium</label>
                        <input type="text" class="form-control form-control-sm col-sm" [ngModel]="totalPrem | number:'1.2-2'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Installment Info</legend>
            <div class="custom-row-inline-inset">
              <app-cust-editable-non-datatable #instllmentTable [passData]="passDataInstallmentInfo" (newClick)="updateOtherCharges($event)" (tableDataChange)="compute()" (onDelete)="delInst()"></app-cust-editable-non-datatable>
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Other Charges</legend>
            <div class="custom-row-inline-inset">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <app-cust-editable-non-datatable #otherTable [passData]="passDataOtherCharges" (clickLOV)="clickLOV($event)" (tableDataChange)="compute();instllmentTable.indvSelect.otherCharges=$event" (onDelete)="delOth()"></app-cust-editable-non-datatable>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <div class="text-center" style="margin-top: 8px !important;">
              <div class="cust-btn-container">
                <button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
                <button type="button" class="cust-btn" (click)="save()"><a>Save</a></button>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<app-modal hidden [btnTitle]="'List Of Values'" id="polLovMdl">
    <div header>List Of Values</div>
    <div body>
       <!-- <app-cust-non-datatable [passData]="passDataLOV" (rowClick)="onRowClick($event)" (searchToDb)="searchQuery($event)"></app-cust-non-datatable> -->
       <app-cust-non-datatable [passData]="passDataLOV" #polLov (rowClick)="onRowClick($event);"></app-cust-non-datatable>
    </div>
    <div footer class="text-center w-100">
        <div class="col-sm-12 text-center">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); setDetails();"><a>Ok</a></button>
        </div>
    </div>
</app-modal>

<app-lov [passData]="passLOVData" (selectedData)="setSelected($event)" [lovCheckBox]="true"></app-lov>
<app-sucess-dialog id="inward" [icon]="dialogIcon" (onOk)="cancelFlag && dialogIcon == 'success'  ? this.cancel.onNo():null" [message]="dialogMsg"></app-sucess-dialog>
<app-confirm-save id="inwardSave" (onYes)="save()"></app-confirm-save>
<app-cancel-button (onYes)="save('cancel')" [url]="'/policy-listing'" ></app-cancel-button>