<div class="container-fluid">
  <div class="row">
    <div mwlResizable
      [enableGhostResize]="true"
      [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
      (resizeEnd)="onResizeEnd($event)" 
      class="col-md-2 nopadding bord" *ngIf="currentUser">
        <div class="cust-side-nav-bg">
            <div class="side-nav-header cust-padding">
                <h3 class="text-center">PMMSC</h3>
                <p>Module Id: GICLS101</p>
                <p>Database: PCIC</p>
                <p>Server Time: 12:01 PM</p>
                <p>User Id: chrisjeriel</p>
            </div>
            <div class="side-nav-body">
                <a href="/">Home</a>
                <a href="/quotation">Quotation</a>
                <a href="/quotation-inquiry">Underwriting</a>
                <a href="/quotation">Accounting</a>
                <a href="/quotation">Claims</a>
                <a href="/quotation">Security</a>
                <a href="/quotation">Security</a>
                <a href="/dummy">Available Components</a>
            </div>
        </div>
    </div>
    <div class="col-md nopadding">
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-light cust-nav-bar-bg justify-content-end" *ngIf="currentUser">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="/"><fa name="home"></fa></a>
                    <a class="nav-item nav-link" routerLink="/quotation"><fa name="bell"></fa></a>
                    <a class="nav-item nav-link" (click)="logout()"><fa name="sign-out"></fa></a>
                </div>
            </nav>
            <div class="mainContentPad">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
</div>