<style>
    .btn-link:hover {
        color: #0056b3;
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        background-color: #f1f1f1;
        width: 95%;
        text-align: left;
    }
</style>

<ng-sidebar-container style="position: static;" (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="'push'" 
    [keyClose]="_keyClose"
    [position]="'left'"
    [dock]="'true'"
    [dockedSize]="'0px'"
    [sidebarClass]="'demo-sidebar'"
    [closeOnClickOutside]="_closeOnClickOutside" *ngIf="currentUser">
    
    <div class="cust-ng-sidebar">
      <div class="cust-side-nav-bg">
          <div class="side-nav-header">
              <div class="text-center">
                  <img src="app/resources/images/PMMSC-blank-sq.png" alt="logo.png" id="logo">
              </div>
              
                <h3 class="text-center">
                    PMMSC
              </h3>
                <p>Module Id: QLR101</p>
                <p>Database: PMMSC</p>
                <!--<p>Server Time: Nov 21, 2018 10:32:10 AM</p>-->
                <p>Server Time: {{datetime | date: 'medium'}}</p>
                <p>User Id: {{ currentUser.username }}</p>
          </div>
          <hr>
          <div class="side-nav-body">
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <fa name="file"></fa>&nbsp;Quotation
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <button [routerLink]="['/quotation-processing']" class="button btn btn-link">Quotation Processing</button>
                        <br/>
                        <button [routerLink]="['/quotation-inquiry']" class="button btn btn-link">Quotation Inquiry</button>
                        <br>
                        <button [routerLink]="['/quotation-HoldCover']" class="button btn btn-link">Quotation to Hold Cover</button>
                        <br/>
                        <button [routerLink]="['/hold-cover-monitoring']" class="button btn btn-link">Hold Cover Monitoring</button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <fa name="list-ul"></fa>&nbsp;Underwriting
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel title="Policy Issuance">
                                <ng-template ngbPanelContent>
                                    <button [routerLink]="['/create-policy']" class="button btn btn-link">Create Policy</button>
                                    <br/>
                                    <button [routerLink]="['/par-listing']" class="button btn btn-link">Policy Listing</button>
                                    <br/>
                                    <button [routerLink]="['/createAlterationPAR']" class="button btn btn-link">Create Alteration</button>
                                    <br/>
                                    <button [routerLink]="['/alt-par-listing']" class="button btn btn-link">Alteration List</button>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Distribution">
                            </ngb-panel>
                            <ngb-panel title="Expiry & Renewal">
                                <ng-template ngbPanelContent>
                                    <button [routerLink]="['/extract-expiring-policies']" class="button btn btn-link">Extract Expiring Policies</button>
                                    <br/>
                                    <button [routerLink]="['/expiry-listing']" class="button btn btn-link">Expiry Listing</button>
                                    <br/>
                                    <button [routerLink]="['/policy-HoldCover']" class="button btn btn-link">Policy To Hold Cover</button>
                                    <br/>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="Renewal Processing">
                            </ngb-panel>
                            <ngb-panel title="Generate Documents">
                                 <ng-template ngbPanelContent>
                                    <button [routerLink]="['/policy-printing']" class="button btn btn-link">Policy Printing</button>  
                                </ng-template>  
                            </ngb-panel>
                        </ngb-accordion>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <fa name="calculator"></fa>&nbsp;Accounting
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <fa name="vcard"></fa>&nbsp;Claims
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <fa name="user-secret"></fa>&nbsp;Security
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
           </div>
        </div>
    </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <section class="demo-contents">
            <div class="">
                <nav class="navbar navbar-expand-lg navbar-light cust-nav-bar-bg justify-content-end" *ngIf="currentUser">
                    <a class="nav-item nav-link" style="position: absolute; left: 0px;" (click)="_toggleOpened()"><fa name="bars"></fa></a>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" routerLink="/"><fa name="home" placement="bottom" ngbTooltip="Home"></fa></a>
                        <a class="nav-item nav-link" routerLink="/notes"><fa name="bell" placement="bottom" ngbTooltip="Notes & Reminders"></fa></a>
                        <a class="nav-item nav-link" (click)="logout()"><fa name="sign-out" placement="bottom" ngbTooltip="Logout"></fa></a>
                    </div>
                </nav>
                <div style="text-align: center">
                    <div class="mainContentPad">
                        <alert></alert>
                        <router-outlet></router-outlet>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</ng-sidebar-container>