<style>
    .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    background-color: #f1f1f1;
    width: 95%;
    text-align: left;
}

</style>

<div id="cust-tooltip" style="position: absolute;z-index: 99999;background-color: rgb(25,25,25);color: rgb(217,217,217);font-size: 9px !important; display: none ; padding: 3px 5px;">
    test
</div>
<ng-sidebar-container style="position: static;" (onBackdropClicked)="_onBackdropClicked()">
    <ng-sidebar [(opened)]="_opened" [mode]="'push'" [keyClose]="_keyClose" [position]="'left'" [dock]="'true'"
        [dockedSize]="'0px'" [sidebarClass]="'demo-sidebar'" [closeOnClickOutside]="_closeOnClickOutside" *ngIf="currentUser">

        <div class="cust-ng-sidebar">
            <div class="cust-side-nav-bg">
                <div class="side-nav-header">
                    <div class="text-center">
                        <img src="app/resources/images/PMMSC-blank-sq.png" alt="logo.png" id="logo">
                    </div>
                    <h3 class="text-center">
                        PMMSC
                    </h3>
                    <p>Module Id: QLR101</p>
                    <p>Database: PMMSC</p>
                    <!--<p>Server Time: Nov 21, 2018 10:32:10 AM</p>-->
                    <p>Server Time: {{datetime | date: 'medium'}}</p>
                    <p>User Id: {{ currentUser.username }}</p>
                </div>
                <hr>
                <div class="side-nav-body">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="file"></fa>&nbsp;Quotation
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE001') > -1">
                                    <button id="QUOTE001" [routerLink]="['/quotation-processing']" class="button btn btn-link">Quotation
                                        Processing</button>
                                    <br />
                                </ng-container>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE011') > -1">
                                    <button id="QUOTE011" [routerLink]="['/quotation-inquiry']" class="button btn btn-link">Quotation
                                        Inquiry</button>
                                    <br>
                                </ng-container>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE012') > -1">
                                    <button id="QUOTE012" [routerLink]="['/quotation-to-hold-cover']" class="button btn btn-link">Quotation
                                        to Hold Cover</button>
                                    <br />
                                </ng-container>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE013') > -1">
                                    <button id="QUOTE013" [routerLink]="['/hold-cover-monitoring']" class="button btn btn-link">Hold
                                        Cover Monitoring</button>
                                    <br />
                                </ng-container>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE018') > -1">
                                    <button id="QUOTE018" [routerLink]="['/change-quote-status']" class="button btn btn-link">Change
                                        Quote Status</button>
                                    <br />
                                </ng-container>
                                <!-- <ng-container *ngIf="accessibleModules.indexOf('QUOTE014') > -1">
                                    <button id="QUOTE014" [routerLink]="['/open-cover-processing']" class="button btn btn-link"> Open
                                        Cover Processing</button>
                                    <br />
                                </ng-container>
                                <ng-container *ngIf="accessibleModules.indexOf('QUOTE017') > -1">
                                    <button id="QUOTE017" [routerLink]="['/open-cover-inquiry']" class="button btn btn-link"> Open
                                        Cover Inquiry</button>
                                </ng-container> -->
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="list-ul"></fa>&nbsp;Policy
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel title="Issuance">
                                        <ng-template ngbPanelContent>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/create-policy']" class="button btn btn-link">Create
                                                Policy</button>
                                            <br />
                                            </ng-container>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/policy-listing']" class="button btn btn-link">Policy
                                                List</button>
                                            <br />
                                            </ng-container>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/create-alteration']" class="button btn btn-link">Create
                                                Alteration</button>
                                            <br />
                                            </ng-container>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/alt-policy-listing']" class="button btn btn-link">Alteration
                                                List</button>
                                            <br />
                                            </ng-container>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/create-open-cover']" class="button btn btn-link">Create
                                                Open Cover</button>
                                                <br />
                                            </ng-container>
                                            <ng-container *ngIf="accessibleModules.indexOf('QUOTEX99') == -1">
                                            <button [routerLink]="['/open-cover-list']" class="button btn btn-link">Open Cover List</button>
                                                <br />
                                            </ng-container>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Distribution">
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['/pol-dist']" class="button btn btn-link">Distribution Processing</button>
                                            <br />
                                            <button [routerLink]="['/pol-dist-list']" class="button btn btn-link">Distribution List</button>
                                            <br />
                                            <button [routerLink]="['/negate-distribution']" class="button btn btn-link">Negate
                                                Distribution</button>
                                            <br />
                                            <button [routerLink]="['/batch-processing']" class="button btn btn-link">Batch
                                                Processing</button>
                                            <br>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Expiry & Renewal">
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['/extract-expiring-policies']" class="button btn btn-link">Extract
                                                Expiring Policies</button>
                                            <br />
                                            <button [routerLink]="['/expiry-listing']" class="button btn btn-link">Expiry
                                                Listing</button>
                                            <br />
                                            <button [routerLink]="['/policy-holdcover']" class="button btn btn-link">Policy
                                                To Hold Cover</button>
                                            <br />
                                            <button [routerLink]="['/pol-hold-cov-monitoring']" class="button btn btn-link">Hold Cover Monitoring</button>
                                            <br />
                                            <button [routerLink]="['purge-extracted-policy']" class="button btn btn-link">Purge
                                                Extracted Policies</button>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Inquiry">
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['/policy-inquiry']" class="button btn btn-link">Policy
                                                Inquiry</button>
                                            <br />
                                            <button [routerLink]="['/pol-oc-inquiry']" class="button btn btn-link">Open Cover
                                                Inquiry</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Generate Documents">
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['/policy-printing']" class="button btn btn-link">Policy
                                                Printing</button>
                                                <br/>
                                            <button [routerLink]="['/total-val-pol-print']" class="button btn btn-link">100% Value Policy Printing</button>
                                            <br/>
                                        </ng-template>
                                    </ngb-panel>
                                    <!-- <ngb-panel title="Maintenance">
                                            <ng-template ngbPanelContent>
                                                <button [routerLink]="['/maintenance-line']" class="button btn btn-link">Line</button>
                                                <br />
                                                <button [routerLink]="['/maintenance-ceding-co']" class="button btn btn-link">Ceding Companies</button>
                                                <br />
                                                <button [routerLink]="['/maintenance-deductible']" class="button btn btn-link">Deductible</button>
                                                <br />
                                                <button [routerLink]="['/maintenance-risk-list']" class="button btn btn-link">Risk</button>
                                                <br />
                                            </ng-template>
                                        </ngb-panel> -->
                                    <ngb-panel title="Utilities">
                                        <ng-template ngbPanelContent>
                                            <ngb-accordion #acc="ngbAccordion">
                                                <ngb-panel title="Update Information">
                                                    <ng-template ngbPanelContent>
                                                        <button [routerLink]="['/pol-util-gen-info']" class="button btn btn-link">Update
                                                            General Info</button>
                                                        <br />
                                                        <button [routerLink]="['/pol-util-installment']" class="button btn btn-link">Update
                                                            Installment</button>
                                                        <br />
                                                    </ng-template>
                                                </ngb-panel>
                                            </ngb-accordion>
                                            <button [routerLink]="['/spoil-pol-alt']" class="button btn btn-link">Spoil Policy/Alteration</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="vcard"></fa>&nbsp;Claims
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <button [routerLink]="['/clm-claim-processing']" class="button btn btn-link">Claims
                                    Processing</button>
                                <br />
                                <button [routerLink]="['clm-change-claim-status']" class="button btn btn-link">Change
                                    Claim Status</button>
                                    <br />
                                <button [routerLink]="['']" class="button btn btn-link">Claim
                                    Recovery</button>
                                <br />
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Inquiry
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['claims-inquiry']" class="button btn btn-link">Claims
                                                Inquiry</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                        <!-- <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="calculator"></fa>&nbsp;Accounting In-Trust
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <button [routerLink]="['/accounting']" class="button btn btn-link"> Acknowledgement Receipt </button>
                                <br />
                           </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="calculator"></fa>&nbsp;Accounting Service
                            </ng-template>
                            <ng-template ngbPanelContent>

                            </ng-template>
                        </ngb-panel> -->
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="calculator"></fa>&nbsp;Accounting In-Trust
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <button [routerLink]="['/acct-ar-listings']" class="button btn btn-link">
                                    Acknowledgement Receipt </button>
                                <br />
                                <button [routerLink]="['/check-voucher']" class="button btn btn-link"> Check Voucher
                                </button>
                                <br />
                                <button [routerLink]="['/journal-voucher']" class="button btn btn-link"> Journal
                                    Voucher </button>
                                <br />
                                <button [routerLink]="['/payt-req']" class="button btn btn-link"> Request for Payment
                                </button>
                                <br />
                                <button [routerLink]="['/investments']" class="button btn btn-link"> Investments
                                </button>
                                <br />
                                <button [routerLink]="['acc-s-credit-debit-memo']" class="button btn btn-link">Credit/Debit Memo</button>
                                <br />
                                <button [routerLink]="['quarterly-stmt-of-acct']" class="button btn btn-link">Quarterly Statement of Account </button>
                                <br />
                                <button [routerLink]="['profit-commission']" class="button btn btn-link">Profit Commission</button>
                                <br />
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Inquiry
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['acct-it-cancelled-trans']" class="button btn btn-link">Cancelled
                                                Transactions</button>
                                            <br />
                                            <button [routerLink]="['acct-it-edited-acct-entries']" class="button btn btn-link">Edited
                                                Accounting Entries</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Extract
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['accounting-entries']" class="button btn btn-link">Accounting
                                                Entries</button>
                                            <br />
                                            <button [routerLink]="['trial-balance']" class="button btn btn-link">Trial
                                                Balance</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Reports
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['print-registers']" class="button btn btn-link">Registers</button>
                                            <br/>
                                            <button [routerLink]="['bordereaux']" class="button btn btn-link">Bordereaux</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Utilities
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['change-trans-stat-to-new']" class="button btn btn-link">Change
                                                Transaction Status to New</button>
                                            <br />
                                            <button [routerLink]="['edit-acct-entries']" class="button btn btn-link">Edit
                                                Accounting Entries</button>
                                            <br />
                                            <button [routerLink]="['cancel-transaction']" class="button btn btn-link">Cancel
                                                Transaction</button>
                                            <br />
                                            <button [routerLink]="['allocate-investment']" class="button btn btn-link">Allocate Investment Income</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Month End
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['mon-end-data-chk-in-trust']" class="button btn btn-link">Data Checking</button>
                                            <br />
                                            <button [routerLink]="['mon-end-batch-in-trust']" class="button btn btn-link">Batch Processing</button>
                                            <br />
                                            <button [routerLink]="['mon-end-trial-bal-in-trust']" class="button btn btn-link">Trial Balance Processing</button>
                                            <br />
                                            <button [routerLink]="['funds-held']" class="button btn btn-link">Funds Held</button>
                                            <br />
                                            <button [routerLink]="['batch-os-takeup']" class="button btn btn-link">Batch Outstanding Losses</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="calculator"></fa>&nbsp;Accounting Service
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <button [routerLink]="['acct-or-listings']" class="button btn btn-link">Official Receipt
                                </button>
                                <br />
                                <button [routerLink]="['/check-voucher-service']" class="button btn btn-link"> Check Voucher
                                </button>
                                <br />
                                <button [routerLink]="['/journal-voucher-service']" class="button btn btn-link"> Journal Voucher
                                </button>
                                <br />
                                <!-- <button [routerLink]="['fixed-assets']" class="button btn btn-link">Fixed Assets</button>
                                <br /> -->
                                <button [routerLink]="['accounting-service-expense-budget']" class="button btn btn-link">Expense Budget</button>
                                <br />
                                <button [routerLink]="['acc-s-request-for-payment']" class="button btn btn-link">Request for Payment</button>
                                <br />
                               <!--  <button [routerLink]="['accounting-service-pcv-listings']" class="button btn btn-link">Petty Cash Voucher</button>
                                <br /> -->
                                <!-- <button [routerLink]="['accounting-service-exp-budget']" class="button btn btn-link">Expense Budget</button> -->
                                <button [routerLink]="['/credit-debit-memo']" class="button btn btn-link">Credit/Debit Memo</button>
                                <br />
                                <!-- <button [routerLink]="['accounting-service-exp-budget']" class="button btn btn-link">Expense Budget</button>
                                <br /> -->
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Extract
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['accounting-service-extract']" class="button btn btn-link">Accounting
                                                Entries</button>
                                            <br />
                                            <button [routerLink]="['accounting-service-trial-bal']" class="button btn btn-link">Trial
                                                Balance</button>
                                            <br />
                                             <button [routerLink]="['extract-bir-taxes']" class="button btn btn-link">BIR Taxes</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Inquiry
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['acc-s-edited-acct-entries']" class="button btn btn-link">Edited Accounting Entries</button>
                                            <br />
                                            <button [routerLink]="['accounting-service-inquiry']" class="button btn btn-link">Edited Tax Details</button>
                                            <br />
                                            <button [routerLink]="['acct-srvc-inquiry-cncld-trans']" class="button btn btn-link">Cancelled Transactions</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Reports
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['print-registers-service']" class="button btn btn-link">Registers</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Utilities
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['accounting-service-utilities']" class="button btn btn-link">Edit Tax Details</button>
                                            <br />
                                            <button [routerLink]="['acc-s-edit-acct-entries']" class="button btn btn-link">Edit Accounting Entries</button>
                                            <br />
                                            <button [routerLink]="['acct-srvc-util-catw']" class="button btn btn-link">Consolidate Annual Taxes Withheld</button>
                                            <br />
                                            <button [routerLink]="['acc-s-change-tran-stat-new']" class="button btn btn-link">Change Transaction Status to New</button>
                                            <br />
                                            <button [routerLink]="['cancel-transaction-service']" class="button btn btn-link">Cancel Transactions</button>
                                            <br />
                                            <button [routerLink]="['batch-or-printing']" class="button btn btn-link">Batch OR Printing</button>
                                            <br />
                                            <button [routerLink]="['batch-invoice-printing']" class="button btn btn-link">Batch Invoice Printing</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Month End
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['month-end-data-checking']" class="button btn btn-link">Data Checking</button>
                                            <br />
                                            <button [routerLink]="['month-end-batch-processing']" class="button btn btn-link">Batch Processing</button>
                                            <br />
                                            <button [routerLink]="['month-end-trial-bal-proc']" class="button btn btn-link">Trial Balance Processing</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="wrench"></fa>&nbsp;Maintenance
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <!--  -->
                                <button [routerLink]="['/maintenance-qu-pol']" class="button btn btn-link">Quotation & Policy</button>
                                <br/>
                                <!-- <button [routerLink]="['/mtn-claims']" class="button btn btn-link">Claims</button> -->
                                <button [routerLink]="['/maintenance-clm']" class="button btn btn-link">Claims</button>
                                <br/>
                                <button [routerLink]="['/maintenance-acct']" class="button btn btn-link">Accounting</button>
                                <br/>
                                <!-- <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Accounting In-Trust
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['chart-of-accounts']" class="button btn btn-link">Chart
                                                of Accounts</button>
                                            <br />
                                            <button [routerLink]="['generate-number-series']" class="button btn btn-link">Generate Number
                                                Series</button>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion> -->

                                <button [routerLink]="['/mtn-system']" class="button btn btn-link">System</button>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <fa name="user-secret"></fa>&nbsp;Security
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <button [routerLink]="['users-maintenance']" class="button btn btn-link">Users Maintenance</button>
                                <br />
                                <button [routerLink]="['modules-maintenance']" class="button btn btn-link">Modules Maintenance</button>
                                <br />
                                <!-- <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            Users Maintenance
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <button [routerLink]="['users']" class="button btn btn-link">Users</button>
                                            <br />
                                            <button [routerLink]="['user-group-maintenance']" class="button btn btn-link">User Groups Maintenance</button>
                                            <br />
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion> -->
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <section class="demo-contents">
            <div class="">
                <nav class="navbar navbar-expand-lg navbar-light cust-nav-bar-bg justify-content-end" *ngIf="currentUser">
                    <a class="nav-item nav-link" style="position: absolute; left: 0px;" (click)="_toggleOpened()">
                        <fa name="bars"></fa>
                    </a>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" routerLink="/">
                            <fa name="home" placement="bottom" ngbTooltip="Home"></fa>
                        </a>
                        <a class="nav-item nav-link" routerLink="/notes">
                            <fa name="bell" placement="bottom" ngbTooltip="Notes & Reminders"></fa>
                        </a>
                        <a class="nav-item nav-link">
                            <fa name="gear" placement="bottom" (click)="open(content)" ngbTooltip="Settings">
                            </fa>
                        </a>
                        <a class="nav-item nav-link" (click)="logout()">
                            <fa name="sign-out" placement="bottom" ngbTooltip="Logout"></fa>
                        </a>
                    </div>
                </nav>
                <div style="text-align: center" id="wrapperDiv">
                    <div class="mainContentPad">
                        <alert></alert>
                        <router-outlet></router-outlet>
                        <alert2></alert2>
                    </div>
                </div>

            </div>
        </section>
    </div>
</ng-sidebar-container>

<ng-template #content let-modal>
    <div class="modal-header">
        <div class="modal-title" id="modal-basic-title">
            Color Theme
        </div>
    </div>
    <div class="modal-body">
        <div layout="row" layout-wrap layout-align="center center">
            <p style="font-size: 12px; text-align: center; margin-bottom: 5px"> Select a color from the Theme Color
                Palettes below: </p>
        </div>
        <div layout="row" layout-wrap layout-align="center center">
            <div class="form-row" style="justify-content: center;">
                <button class='btn col-sm-2' style="height : 40px; background: #557a95" (click)="changeTheme()">
                </button>
                <button class='btn col-sm-2' style="height : 40px; margin-left: 5px;
                background: #4CAF50"
                    (click)="changeTheme('green')">
                </button>
                <button class='btn col-sm-2' style="height : 40px; margin-left: 5px; background: #D32F2F" (click)="changeTheme('red')">
                </button>
                <button class='btn col-sm-2' style="height : 40px; margin-left: 5px; background: #536DFE" (click)="changeTheme('indigo')">
                </button>
                <button class='btn col-sm-2' style="height : 40px; margin-left: 5px; background: #E91E63" (click)="changeTheme('pink')">
                </button>
            </div>

        </div>

    </div>
    <div class="modal-footer" style="justify-content: center; margin-top: -5px">
        <div class="row" style="margin-top: -5px">
            <button type="button" class="cust-btn" style="margin-bottom: -5px" (click)="modal.close('Close click'); applyTheme()"><a>Close</a></button>
        </div>
    </div>
</ng-template>
