<div class="cust-tabs-container">
	<h4>Security / Modules Maintenance</h4>
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Modules</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-security-modules></app-security-modules>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Modules Transaction</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-module-transactions></app-module-transactions>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
		</ngb-tabset>
</div>