<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Request for Payment / Generate Request</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Request Entry</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-payment-request-entry [data]="paymentData" (onChange)="tabController($event)"></app-payment-request-entry>
				</ng-template>
			</ngb-tab>

			<ngb-tab [disabled]="paymentType != 'Claim Payment'">
				<ng-template ngbTabTitle>
					<div>Claims</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-payment-claims></app-payment-claims>
				</ng-template>
			</ngb-tab>

			<ngb-tab [disabled]="paymentType != 'Premium Returns'">
				<ng-template ngbTabTitle>
					<div>Premium Returns</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-payment-premium-returns></app-payment-premium-returns>
				</ng-template>
			</ngb-tab>
			<ngb-tab [disabled]="paymentType != 'QSOA Balances'">
				<ng-template ngbTabTitle>
					<div>QSOA Balances</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-pr-qsoa></app-pr-qsoa>
				</ng-template>
			</ngb-tab>
			<ngb-tab [disabled]="paymentType != 'Others'">
				<ng-template ngbTabTitle>
					<div>Others</div>
				</ng-template>
				<ng-template ngbTabContent>
					<!-- Others Component -->
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
	</ngb-tabset>
</div>