<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm p-0">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Extract Parameters</legend>
				<div class="form-row custom-row-inline-inset">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" style="    margin-top: -5px !important;">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Period</legend>
								<div class="form-row custom-row-inline-inset">
									<div class="input-group" style="margin-bottom: -14px !important;">
									    <label class="form-control-sm col-sm-1">From</label>
									    <input type="date" id="xx" class="form-control form-control-sm cust-sm col-sm">
									    <label class="form-control-sm col-sm-1">To</label>
									    <input type="date" id="xx" class="form-control form-control-sm cust-sm col-sm">
									</div>
								</div>
						</fieldset>
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Type</legend>
								<div class="form-row custom-row-inline-inset">
									<div class="input-group" style="margin-bottom: -25px !important;margin-top: -10px !important;">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
										<div class="form-row custom-row-inline-inset">
										<div class="testcon" style="margin-top: 1px !important;">
									    <input type="radio" name="type" value="Total" [(ngModel)]="accountCode" class="form-control-sm" (blur)="changeAccountCode()">
									    </div>
									    <label class="form-control-sm col-sm-6" style="text-align: left !important;">Total Debit & Total Credits</label>
									    <div class="testcon" style="margin-top: 1px !important;">
									    <input type="radio" name="type" class="form-control-sm" value="Net" (blur)="changeAccountCode()" [(ngModel)]="accountCode" style="margin-left: 30px !important;">
										</div>
									    <label class="form-control-sm col-sm-1">Net</label>
									    </div>
										</div>
									    <div class="col-sm-2"></div>
									</div>
								</div>
					    </fieldset>
		                <div class="form-row" style="    margin-bottom: -10px !important;">
		    		        <div class="form-group col-sm">
		    		            <div class="col-md-12 text-center">
		    		                <div class="cust-btn-container" style="margin-top: 10px;">
		    		                    <!-- <button type="button" class="cust-btn" (click)="extract()"><a>Extract</a></button> TRBT#PROD_GRADE -->
		    		                    <button type="button" class="cust-btn"><a>Extract</a></button>
		    		                </div>
		    		            </div>
		    		        </div>
		    		    </div>
					</div>
					<div class="col-sm-1"></div>
				</div>
		</fieldset>
		<!-- <fieldset class="scheduler-border">
			<legend class="scheduler-border">Printing Parameters</legend>
				<div class="form-row custom-row-inline-inset" style="margin-top: 15px !important;">
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<fieldset class="scheduler-border">
							<div class="form-row custom-row-inline-inset">
								<div class="input-group" style="margin-top: 4px !important">
									 <label class="form-control-sm col-sm" style="text-align: left !important">Extracted By</label>
								</div>
								<div class="input-group" style="margin-top: -12px !important;margin-bottom: 24px !important;">
									<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm">
								</div>
								<div class="input-group">
									 <label class="form-control-sm col-sm" style="text-align: left !important">Date Extracted</label>
								</div>
								<div class="input-group" style="margin-top: -12px !important;margin-bottom: 19px !important;">
									<input type="datetime-local" id="xx" class="form-control form-control-sm cust-sm col-sm">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-5">
						<fieldset class="scheduler-border">
							<div class="form-row custom-row-inline-inset">
								<div class="input-group" style="margin-top: 6px !important;">
									 <label class="form-control-sm col-sm-4" style="text-align: left !important">Destination</label>
									 <select class="form-control form-control-sm cust-sm">
									 	<option value="Printer">Printer</option>
									 </select>
								</div>
								<div class="input-group" style=" margin-bottom: -10px !important;">
									<div class="col-sm-4"></div>
										<input type="radio" name="fileformat" class="form-control-sm">
									  	<label class="form-control-sm col-sm-1">PDF</label>
									  	<input type="radio" name="fileformat" class="form-control-sm" style="margin-left: 30px !important;">
									  	<label class="form-control-sm col-sm-1">Excel</label>
								</div>
								<div class="input-group" style="margin-bottom: -12px !important;">
									 <label class="form-control-sm col-sm-4" style="text-align: left !important">Printer Name</label>
									 <select class="form-control form-control-sm cust-sm">
									 	<option value="Printer">EPSON 3600i</option>
									 </select>
								</div>
								<div class="input-group" style="margin-bottom: -10px !important;">
									 <label class="form-control-sm col-sm-4" style="text-align: left !important">No Of Copies</label>
									 <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-1"></div>
				</div>
				<div class="form-row" style="margin-bottom: -2px !important;">
    		        <div class="form-group col-sm">
    		            <div class="col-md-12 text-center">
    		                <div class="cust-btn-container" style="margin-top: 10px;">
    		                    <button type="button" class="cust-btn"><a>Print</a></button>
    		                </div>
    		            </div>
    		        </div>
    		    </div>
		</fieldset> -->
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Printing Parameters</legend>
			<div class="form-row custom-row-inline-inset period" style="margin-top: -2px !important">
				<div class="col-sm-2"></div>
				<div class="col-sm" style="display: flex;padding: 0">
					<div class="col-sm" style="padding:0;margin-right: 2px;">
						<fieldset class="scheduler-border col-sm">
							<legend class="scheduler-border">Report Type</legend>
							<div class="form-row custom-row-inline-inset first-row" >
								<div class="input-group " style="margin-bottom: -10px !important;">
									<div class=" col-sm-2 ">
										<input class="form-control-sm" type="radio" name="reportType" id="All" checked="checked">	
									</div>
									<label class="form-control-sm col-sm-6 text-left" for="All">&nbsp;Summary</label>
								</div>
								<div class="input-group " style="margin-bottom: -10px !important;">
									<div class=" col-sm-2 ">
										<input class="form-control-sm" type="radio" name="reportType" id="Unbalance">
									</div>
									<label class="form-control-sm col-sm-6 text-left" for="Unbalance">&nbsp;Detailed</label>
								</div>
							</div>
						</fieldset>
						<fieldset class="scheduler-border col-sm" style="margin-top: -12px !important;">
							<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
							<div class="form-row custom-row-inline-inset" style="margin-top: 3px !important;margin-bottom: 3px !important;">
								<div class="input-group">
									<label class="form-control-sm col-sm-4">Extracted By</label>
									<input class="form-control-sm form-control col-sm" type="text" id="from" value="cuaresma">	
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-4">Date Extracted</label>
									<input class="form-control-sm form-control col-sm" type="datetime-local" id="from" value="2018-01-17T10:38">	
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm" style="padding:0;margin-left: 2px;">
						<fieldset class="scheduler-border col-sm">
							<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
							<div class="form-row custom-row-inline-inset">
								<div class="input-group">
									<label class="form-control-sm col-sm-4">Destination</label>
									<select class="form-control form-control-sm cust-sm col-sm">
										<option>Printer</option>
									</select>
								</div>

								<div class="input-group">
									<label class="col-sm-4"></label>
									<div class=" col-sm-1 ">
										<input class="form-control-sm" type="radio" name="optradio" id="All" checked="checked">	
									</div>
									<label class="form-control-sm col-sm text-left" for="All">&nbsp;PDF</label>
									<div class=" col-sm-1 ">
										<input class="form-control-sm" type="radio" name="optradio" id="All">	
									</div>
									<label class="form-control-sm col-sm text-left" for="All">&nbsp;Excel</label>
									<label class="col-sm-1"></label>
								</div>

								<div class="input-group">
									<label class="form-control-sm col-sm-4">Printer Name</label>
									<select class="form-control form-control-sm cust-sm col-sm">
										<option>EPSON 3600I</option>
									</select>
								</div>
								<div class="input-group">
									<label class="form-control-sm col-sm-4">No of Copies</label>
									<input class="form-control-sm form-control col-sm text-right" type="text" id="from">	
								</div>
							</div>	
						</fieldset>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>

			<div class="form-row">
				<div class="col-sm" style="margin-bottom: 5px;">
					<div class="col-md-13 text-center">
						<div class="cust-btn-container">
							<button class="cust-btn" type="button"><a>Print</a></button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-2"></div>
</div>