<fieldset class="scheduler-border">
    <legend class="scheduler-border">A.R. Info</legend>
    <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
        <div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
            <label class="form-control-sm col-sm-1" for="xx">A.R. No</label>
            <input type="text" id="xx" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-1"
                   placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Date</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Payment Type</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Status</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Amount</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" style="margin-right: 4px !important;">
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
        </div>
        <div class="input-group" style="margin-bottom: -13px !important;">
            <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Payee</label>
            <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder=""
                   readonly>
            <label class="form-control-sm col-sm-1" for="xx">Local Amount</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" style="margin-right: 4px !important;">
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
        </div>
    </div>
</fieldset>

<div class="cust-tabs-container" style="margin-top: 0.6em;">
	<ngb-tabset>
		<ngb-tab id="idko">
			<ng-template ngbTabTitle>
				<div>Amount Details</div>
			</ng-template>
			<ng-template ngbTabContent>

			</ng-template>
		</ngb-tab>

		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Accounting Entries</div>
			</ng-template>
			<ng-template ngbTabContent>

			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Tax Details</div>
			</ng-template>
			<ng-template ngbTabContent>
				<!--Add your content here -->
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
