<fieldset class="scheduler-border">
    <legend class="scheduler-border">A.R. Info</legend>
    <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
        <div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
            <label class="form-control-sm col-sm-1" for="xx">CV No</label>
            <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1"
                   placeholder="2015">
           	<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1"
           	placeholder="00000001">
            <label class="form-control-sm col-sm-1" for="xx">Date</label>
            <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-1" placeholder="10/01/2018 11:49 AM">
            <label class="form-control-sm col-sm-1" for="xx">Tran ID</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Status</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="">
            <label class="form-control-sm col-sm-1" for="xx">Amount</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" style="margin-right: 4px !important;">
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
        </div>
        <div class="input-group" style="margin-bottom: -13px !important;">
            <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Payee</label>
            <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder=""
                   readonly>
            <label class="form-control-sm col-sm-1" for="xx">Local Amount</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" style="margin-right: 4px !important;">
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-2" placeholder="">
        </div>
    </div>
</fieldset>

<div class="cust-tabs-container border-tab" style="margin-top: 0.6em;">
	<ngb-tabset>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Amount Details</div>
			</ng-template>
			<ng-template ngbTabContent>
				<div class="row" style="margin-top: 0.6em">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" style="position: relative;">
						<div style="position: absolute; right: 19px;">
							 <div class="form-row custom-row-inline-inset">
                                <div class="input-group">
                                     <label class="form-control-sm labels" style="text-align: left !important">Auto Compute</label>
                                    <input type="checkbox" class="checkbox text-right">
                                </div>
                            </div>
						</div>
						<app-cust-editable-non-datatable [passData]="amountDetailsData"></app-cust-editable-non-datatable>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Accounting Entries</div>
			</ng-template>
			<ng-template ngbTabContent>
				<div class="row" style="margin-top: 0.6em; padding-bottom: 3.7em;">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" style="position: relative;">
						<div style="position: absolute; right: 12px;">
							<button class="cust-btn">Print AE</button>
						</div>
						<app-cust-editable-non-datatable [passData]="accountingEntriesData"></app-cust-editable-non-datatable>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Tax Details</div>
			</ng-template>
			<ng-template ngbTabContent>
				<!--Add your content here -->
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>

<fieldset class="scheduler-border">
	<div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
        <div class="input-group">
            <label class="form-control-sm col-sm-1 text-right labels">Created By</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
            <label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
            <label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
            <label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
        </div>
    </div>
</fieldset>