<app-modal id="cedingCompany" class="d-none" (modalOpened)="openModal()" id="cedingCompanyMdl" #mdl>
    <div header>List of Values</div>
    <div body>
        <app-cust-non-datatable [passData]="passDataCedingCompanyMember" (rowClick)="onRowClick($event)"></app-cust-non-datatable>
    </div>
    <div footer>
        <div class="d-flex justify-content-center">




            <button class="cust-btn" type="button" (click)="modal.closeModal()"><a>Cancel</a></button>

            <button [disabled]="selected == null" class="cust-btn" type="button" (click)="modal.closeModal();okBtnClick($event);"><a>Ok</a></button>

            <!-- <button *ngIf="selected == null" class="cust-btn cust-btn-disabled" type="button"><a>Ok</a></button> -->

        </div>
    </div>
</app-modal>


