
tbody tr, thead tr{
    height: calc(1.3rem + 1px);
}
th, td{
    white-space: nowrap;
    font-size: 0.7rem !important;
    /*margin: 0px !important;
    padding: 0px !important;*/
    padding: 10px !important;
    height: calc(1.3rem + 1px) !important;
    /*min-width: 30px; */
    /*max-width: 100%;*/
    /*max-width: 165px;*/
    overflow: hidden;
}
th{
    padding: 8px !important;
    margin: 0px !important;
}
td{
    padding: 4px !important;
    margin: 0px !important;
}

.checkbox-padding{
    padding: 0px !important;
}

div.filler{
    padding: 6px;
}
.content-container{
    /*min-width: inherit;
    max-width: inherit;
    width: inherit;*/
}
.margin-table{
    margin-top: 30px;
}
.table-scroll{
    overflow-x: auto;
   /* overflow-y: auto; */
   overflow-y: hidden;
    max-width: 100%;
}
.table-scroll-unli{
    max-height: 34em;
}
.sticky{
    position: -webkit-sticky !important; /* Safari */
    position: sticky !important;
    top: -0.55px;
}
.isCheckBox{
    width: 10px !important;
}
.fixedTable{
    position: absolute;
    min-width: 30px;
    max-width: 142px;
}

.btnDisabled{
    background: gray !important;
    cursor: context-menu;
}

.checkbox-container-header{
    text-align: center !important;
    padding-top: 8px !important;
    padding-bottom: 4px !important;
}

.checkbox-container-body{
    text-align: center; 
    padding: 1px !important
}

.checkbox{
    height: 13px;
}
#non-datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#non-datatable td, #non-datatable th{
    border: 1px solid #ddd;
}

/*#non-datatable tr:nth-child(even){background-color: #f2f2f2;}*/

#non-datatable tr:hover {background-color: #ffffb3;}
/*#non-datatable tr:active {background-color: #67b4fc;}*/

#non-datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c9d9d9;
    color: black;
}
.selected{
    background-color: #d8e9f9; /*#67b4fc82; #67b4fc !important;*/
}

.headcol {
    position: absolute;
    left: inherit;
    min-width: 30px; 
    max-width: 150px;
}
.no-padding{
    padding: 0;
}
.no-border{
    border-style: none;
}
.relative{
    position: relative;
    left: -1.5%;
}
#cust-table-container {
    position: relative !important;
    margin-top: 1%;
}

.cust-btn-container {
    position: absolute !important;
    left: 1px;
    top: 1px;
    z-index: 99 !important;
}

.expire{
    position: absolute !important;
    right: 250px;
    top: 2px;
    font-size: 11px;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    z-index: 1000 !important;
}
.print{
    position: absolute;
    top: 2px;
    z-index: 1000 !important;
}
.expireIn{
    height: calc(1.3rem + 1px) !important;
    padding: 0.1rem 0.25rem !important;
    font-size: 0.7rem !important;
    line-height: .7 !important;
    border-radius: 0.2rem !important;
    margin-bottom: -5px !important;
    overflow: visible;
    outline: none;
    border-style: none;
    border: 1px solid gray;
    width: 50px;
}

.cust-filter {
    height: calc(1.3rem + 1px) !important;
    position: absolute !important;
    right: 3px;
    top: 2.9px;
    font-size: 0.7rem !important;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    border-radius: 0px 3px 3px 0px;
    z-index: 1000 !important;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
}

.cust-export {
    height: calc(1.3rem + 1px) !important;
    position: absolute !important;
    right: -14px;
    top: 2.9px;
    font-size: 0.7rem !important;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    border-style: none;
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    z-index: 1000 !important;
    background: linear-gradient(to bottom, #4080bf 0%, #2d5986 100%);
}

.cust-export::after {
    display:none;
}

.cust-filter:hover {
    background: linear-gradient(to bottom, #4080df 0%, #2d5986 100%);
}

.cust-search-form{
    height: calc(1.3rem + 1px) !important;
    width: 150px !important;
    font-size: 0.7rem !important;
    border-radius: 0.2rem !important;
    margin-bottom: -5px !important;
    overflow: visible !important;
    outline: none !important;
    border-style: none !important;
    border: 1px solid gray !important;
}

.search-filter{
    position: absolute !important;
    right: 34px;
    z-index: 1000;
}

.pagination{
    /*margin-top: 0.5%;*/
    float: right;
}


.dropdown-menu {
    padding: 0px !important;
    padding-bottom: 10px !important;
}

.dropdown-item{
    width: 400px;
    height: 200px;
    overflow: auto;
    padding: 10px;
}

div.input-group-text {
    font-size: 9px;
    font-weight: bold;
    width: 100px;
}

input.form-control {
    font-size: 11px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
    color: gray !important;
}


.dropdown-item.active, .dropdown-item:hover {
    background-color: white !important;
    color: gray !important;
}

div.input-group {
    margin-bottom: 2px !important;
}

.cust-tbl-submit {
    border-radius: 2px !important;
    font-size: 12px !important;
}

.cust-tbl-label {
    font-size: 11px;
    font-weight: bold;
}

.unclickable {
    pointer-events: none;
}

.my-pagination /deep/ .ngx-pagination {
    font-size: 11px;
    border-radius: 4px;
}

.my-pagination /deep/ .ngx-pagination .current {
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
}
/deep/ .cust-tabs-container ul li a span{
    font-size: 10px !important;
}

.pagingStatus{
    float: left;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #bde8ff;}
/*/deep/ ul.ngx-pagination {
border: 1px solid gray;
border-radius: 2px;
padding: 0;
}*/
#cust-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(45,89,134,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#cust-scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#cust-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(45,89,134,.3);
    background-color: #d3d3d3;
}

.fa-caret-down, .fa-caret-up{
    position: absolute;
    right: 5px;
}

.negativeNumber{
    color: red;
}

.genericBtn{
    min-width: 60px;
    max-width: max-content;
    width: auto;
}

.dropdown-item-export{
    width: auto;
    height: 200px;
    overflow: auto;
    padding: 10px;
}

.cust-tbl-label:hover {
    background-color: gray !important;
}

.cust-btn-dlist {
    font-size: -9px !important;
    width: 100%;
}

.cust-ig-text {
    font-size: 9px !important;
    font-weight: bold;
    height: calc(1.3rem + 1px) !important;
}

.pinned {
    position: sticky !important;
    box-shadow: 1px 0 0 0 #ddd !important;
    background: inherit;
}