<div class="row">
    <div class="col-sm-12">
        <button type="button" class="cust-btn refresh" (click)="refresh()"><a>Refresh</a></button>
        <app-cust-non-datatable id="table" [passData]="passData" (searchToDb)="searchQuery($event)" (newRowDblClick)="onRowDblClick($event)"  (rowClick)="onRowClick($event)"></app-cust-non-datatable>

    </div>
</div>
<div class="form-row">
    <div class="form-group col-sm">
        <div class="col-md-13 text-center">
            <div class="cust-btn-container">
                <br>
                <button type="button" class="cust-btn" [class.btnDisabled]="btnDisabled" [disabled]="btnDisabled" (click)="showPrintModal();"><a>Print</a></button>
                <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
            </div>
        </div>
    </div>
</div>
<app-print-modal id="readyPrintingList" (selectedData)= "showPrintPreview($event)" (onCancel)="cancelModal()" [printDefaultType]="defaultType"></app-print-modal>
<app-sucess-dialog id="readyPrinting" [icon]="dialogIcon" [message]="dialogMessage" (onOk)="modalOnOk();"></app-sucess-dialog>
