<div class="cust-tabs-container">
	<h4>Policy / Policy Issuance</h4>
	<ngb-tabset>
		<ngb-tab class="ngb-tab" title="Policy List">
			<ng-template ngbTabContent>

				<!-- <app-cust-editable-table [addFlag]="true" [editFlag]="true" [deleteFlag]="false" [nData]="nData" [tableData]="tableData" [tHeader]="tHeader"></app-cust-editable-table> -->
				<!-- <br />
				 <button class="cust-btn" [routerLink]="['/create-policy']"><a>Add</a></button>
		<button class="cust-btn" [routerLink]="['/policy-issuance', {line:'CAR'}]"><a>Edit</a></button>
		
				 <app-cust-table [filters]="filters" [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes"></app-cust-table> -->

				<app-cust-non-datatable [passData]="passData"></app-cust-non-datatable>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>