<div class="notes-div">
	<h4>Notes and Reminders</h4>
	<p>List of Notes and Reminders</p>

	<app-cust-editable-table [addFlag]="true" [editFlag]="true" [deleteFlag]="false" [nData]="nData" [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes" [opts]="opts"></app-cust-editable-table>

	<div class="form-row">
		<div class="form-group col-sm">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-sm cust-btn-bg">Cancel</button>
				<button type="button" class="btn btn-sm cust-btn-bg">Save</button>
			</div>
		</div>
	</div>
</div>

