<div class="row">
    <div class="col-sm-12" style="margin-top: 3px" >
         <div style="position: relative;">
         	<button class="cust-btn" style="position:absolute; right: 0px; max-width: 200px !important;" (click)="ShowModal()">View Overdue Accounts</button>
         	<app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
         </div>
    </div>
</div>	

<app-modal class="d-none" id="ViewOverdue">
	<div header>List of Overdue Accounts for Offset</div>	
	<div body>
                <app-cust-editable-non-datatable [passData]="passDataOffsetting"></app-cust-editable-non-datatable>
         
	</div>
	<div footer class="text-center w-100">
		<div class="d-flex justify-content-center">
			<button type="button" class="cust-btn" (click)="modalService.dismissAll()"><a>Return</a></button>
		</div>
	</div>
</app-modal>

