<div class="row">
	<div class="col-sm-12">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Claim Info</legend>
			<div class="form-row custom-row-inline-inset" style="margin-top: 10px !important;">
				<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
					<div class="col-sm-1"></div>
					<label class="form-control-sm col-sm-1">Claim No</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm-3" disabled value="CAR-2018-000001">
					<label class="form-control-sm col-sm-1">Insured</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm-5" disabled value="2nd Inn. Inc">
					<div class="col-sm-1"></div>
				</div>
				<div class="input-group" style="margin-bottom: -13px !important;">
					<div class="col-sm-1"></div>
					<label class="form-control-sm col-sm-1" style="height: auto;">Policy No</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm-3" disabled value="CAR-2018-00001-99-0001-000">
					<label class="form-control-sm col-sm-1">Risk</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm-5" disabled value="Ayala Wakeboard">
					<div class="col-sm-1"></div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<fieldset class="scheduler-border" style="margin-right: -5px !important;">
			<legend class="scheduler-border">SI per Section</legend>
			<div class="form-row custom-row-inline-inset" style="margin-top: 10px !important;">
				<div class="input-group cust-ig">
					<div class="col-sm-2 text-right pr-0">
						<input type="checkbox">
					</div>
					<label class="form-control-sm col-sm-2">Section I</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm text-right" placeholder="3,000,000.00">
					<div class="col-sm-3"></div>
				</div>
				<div class="input-group cust-ig">
					<div class="col-sm-2 text-right pr-0">
						<input type="checkbox">
					</div>
					<label class="form-control-sm col-sm-2">Section II</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm text-right" placeholder="0.00">
					<div class="col-sm-3"></div>
				</div>
				<div class="input-group cust-ig">
					<div class="col-sm-2 text-right pr-0">
						<input type="checkbox">
					</div>
					<label class="form-control-sm col-sm-2">Section III</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm text-right" placeholder="0.00">
					<div class="col-sm-3"></div>
				</div>
				<br/>
				<br/>
				<div class="input-group cust-ig">
					<label class="form-control-sm col-sm-4">Allowable Maximum Claim</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm text-right" placeholder="3,000,000.00">
					<div class="col-sm-3"></div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-6">
		<fieldset class="scheduler-border" style="margin-left: -5px !important; padding-top: 37px !important; padding-bottom: 37px !important;">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
			<div class="form-row custom-row-inline-inset" style="margin-top: 10px !important;">
				<div class="input-group cust-ig">
					<div class="col-sm-2"></div>
					<label class="form-control-sm col-sm-2">Currency</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm-2" placeholder="PHP">
					<label class="form-control-sm col-sm">Exch. Rt.</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm-2 text-right" placeholder="1.00">
					<div class="col-sm-3"></div>
				</div>
				<div class="input-group cust-ig">
					<div class="col-sm-1"></div>
					<label class="form-control-sm col-sm-3">Total Sum Insured</label>
					<input type="text"class="form-control form-control-sm cust-sm col-sm text-right" placeholder="3,000,000.00">
					<div class="col-sm-3"></div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
			<app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
		</fieldset>
	</div>
</div>
<div class="row" style="margin-top: 10px !important;">
	<div class="col-sm-12 d-flex justify-content-center">
		<button class="cust-btn">Cancel</button>
		<button class="cust-btn">Save</button>
	</div>
</div>