<fieldset class="scheduler-border">
	<legend class="scheduler-border">List of Records</legend>
	<div style="margin-bottom: -8px !important; margin-top: -6px !important; position: relative;">
		<button class="cust-btn" style="position:absolute; left: 0px; max-width: 200px !important;">Change Status to New</button>
		<app-cust-non-datatable [passData]="orData" style="width: 100%"></app-cust-non-datatable>
	</div>

	<div class="input-group" style="margin-left: -20px;">
		<label class="form-control-sm col-sm-1">Created By</label>
		<input type="text" class="form-control form-control-sm col-sm" value="cuaresma">
		<label class="form-control-sm col-sm-1">Date Created</label>
		<input type="datetime-local" class="form-control form-control-sm col-sm" [value]="dateCreated">	
		<label class="form-control-sm col-sm-1">Last Updated By</label>
		<input type="text" class="form-control form-control-sm col-sm" value="cuaresma">
		<label class="form-control-sm col-sm-1">Last Update</label>
		<input type="datetime-local" class="form-control form-control-sm col-sm" [value]="lastUpdate"> 	
	</div>
</fieldset>