<div class="row">
	<div class="col-sm-12">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Claim Info</legend>
			<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;" style="margin-top: 10px !important;">
				<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
					<div class="col-sm-1"></div>
					<label class="form-control-sm col-sm-1">Claim No</label>
					<input type="text" value="CAR-2018-000001" class="form-control form-control-sm cust-sm col-sm-3" readonly> 
					<label class="form-control-sm col-sm-1">Insured</label>
					<input type="text" value="2nd Inn. Inc" class="form-control form-control-sm cust-sm col-sm-5" readonly>
					<div class="col-sm-1"></div>
				</div>
				<div class="input-group" style="margin-bottom: -13px !important;">
					<div class="col-sm-1"></div>
					<label class="form-control-sm col-sm-1" style="height: auto;">Policy No</label>
					<input type="text" value="CAR-2018-00001-99-0001-000" class="form-control form-control-sm cust-sm col-sm-3" readonly>
					<label class="form-control-sm col-sm-1">Risk</label>
					<input type="text" value="Ayala Wakeboard" class="form-control form-control-sm cust-sm col-sm-5" readonly>
					<div class="col-sm-1"></div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-12">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">History</legend>
			<div class="custom-row-inline-inset">
				<div class="row">
					<div class="col-sm-12">
						<app-cust-editable-non-datatable [passData]="passDataHistory" (newClick)="clickRow($event)" (tableDataChange)="passDataHistory.tableData=$event; compResPayt();" #histTbl></app-cust-editable-non-datatable>
					</div>
				</div>
				<div class="form-row" style="margin-top: -10px;margin-right: 22px !important;">
					<div class="input-group">
						<label class="form-control-sm col-sm-1">Processed By</label>
						<input type="text" class="form-control form-control-sm col-sm" [ngModel]="clmHistoryData.createUser" readonly>
						<label class="form-control-sm col-sm-1">Processed Date</label>
						<div class="col-sm dp-cont">
                            <datepicker [value]="clmHistoryData.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
						<label class="form-control-sm col-sm-1">Last Updated By</label>
						<input type="text" class="form-control form-control-sm col-sm" [ngModel]="clmHistoryData.updateUser" readonly>
						<label class="form-control-sm col-sm-1">Last Update</label>
						<div class="col-sm dp-cont">
                            <datepicker [value]="clmHistoryData.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="row">
			<div class="col-sm-8">
				<fieldset class="scheduler-border" style="margin-right: -7px !important; padding-bottom: 4px !important;padding-top: 4px !important;">
					<legend class="scheduler-border">Reserve and Payments</legend>
					<div class="custom-row-inline-inset">
						<div class="input-group">
							<label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Loss Reserve</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" [ngModel]="clmHistoryData.lossResAmt"  mask="comma_separator.2" readonly>
							<label class="form-control-sm col-sm-1">Status</label>
							<input type="text" class="form-control form-control-sm cust-sm col-sm" readonly>
							<label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Losses Paid</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" [ngModel]="clmHistoryData.lossPdAmt" mask="comma_separator.2" readonly>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Expense Reserve</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" [ngModel]="clmHistoryData.expResAmt" mask="comma_separator.2" readonly>
							<label class="form-control-sm col-sm-1">Status</label>
							<input type="text" class="form-control form-control-sm cust-sm col-sm" readonly>
							<label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Expense Paid</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm"  [ngModel]="clmHistoryData.expPdAmt" mask="comma_separator.2" readonly>
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Total Reserve</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm"  [ngModel]="clmHistoryData.totalRes" mask="comma_separator.2" readonly>
							<label class="form-control-sm col-sm-1"></label>
							<div type="text" class="cust-sm col-sm" required style="padding: 0px 5px"></div>
							<label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Total Payment</label>
							<input type="text" class="form-control form-control-sm cust-sm text-right col-sm"  [ngModel]="clmHistoryData.totalPayt" mask="comma_separator.2" readonly>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-sm-4">
				<fieldset class="scheduler-border" style="margin-left: -7px !important; padding-top: 3px !important; padding-bottom: 12px !important;">
					<legend class="scheduler-border">Status Info</legend>
					<div class="custom-row-inline-inset">
						<div class="form-row">
							<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
								<label class="form-control-sm top-label">&nbsp;Status</label>
								<input type="text" class="form-control form-control-sm cust-sm" placeholder="In Progress">
							</div>
							<div class="text-search-ico" style="z-index: 1 !important; margin: 8px 9px -10px -24px !important;padding-top: 2px !important;">
								<a><i class="fa fa-search"></i></a></div>
							<div class="form-group col-sm-6" style="margin-bottom: 0px; margin-top: -14px;">
								<label class="form-control-sm top-label">&nbsp;Approved Amount</label>
								<input type="text" class="form-control form-control-sm cust-sm text-right" placeholder="800,000.00" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57'>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6" style="margin-bottom: 0px;">
								<label class="form-control-sm top-label">&nbsp;Approved By</label>
								<input type="text" class="form-control form-control-sm cust-sm" placeholder="Monica Reyes">
							</div>
							<div class="form-group col-sm-6" style="margin-bottom: 0px;">
								<label class="form-control-sm top-label">&nbsp;Approved Date</label>
								<div class="col-sm dp-cont" style="margin-left: -2px !important">
		                            <datepicker [value]="clmHistoryData.approvedDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
		                        </div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm">
				<div class="col-md-13 text-center">
					<div class="cust-btn-container" style="margin-top: 10px; width: 100% !important;">
						<button type="button" class="cust-btn" (click)="showResStatMdl()"><a>Reserve Status</a></button>
						<button type="button" class="cust-btn" (click)="showApprovedAmtMdl()"><a>Approved Amount</a></button>
						<button type="button" class="cust-btn" (click)="onClickCancel()"><a>Cancel</a></button>
						<button type="button" class="cust-btn" (click)="onClickSave()"><a>Save</a></button>
					</div>
				</div>
			</div>
		</div>

<app-modal class="d-none" id="resStatMdl">
    <div header>Reserve Status</div>
    <div body class="container-flex text-center" style="min-width: 750px !important;">
        <fieldset class="scheduler-border" style="padding: 15px !important;min-height: 100px !important"> 
            <div class="custom-row-inline-inset">
				<div class="input-group">
					<label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Loss Reserve</label>
					<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" readonly>
					<label class="form-control-sm col-sm-1">Status</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm" required>
					<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
					<label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Losses Paid</label>
					<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" readonly>
				</div>
				<div class="input-group">
					<label class="form-control-sm col-sm-2" style="margin-left: -36px !important;">Expense Reserve</label>
					<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" readonly>
					<label class="form-control-sm col-sm-1">Status</label>
					<input type="text" class="form-control form-control-sm cust-sm col-sm" required>
					<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
					<label class="form-control-sm col-sm-2" style="margin-left: -32px !important;">Expense Paid</label>
					<input type="text" class="form-control form-control-sm cust-sm text-right col-sm" readonly>
				</div>
			</div>
        </fieldset>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="this.modalService.dismissAll()"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="this.modalService.dismissAll()"><a>Save</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="approvedAmtMdl">
    <div header>Approved Amount</div>
    <div body class="container-flex text-center" style="min-width: 750px !important;">
       <app-cust-editable-non-datatable [passData]="passDataApprovedAmt" #apAmtTbl></app-cust-editable-non-datatable>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="onClickCancelAppAmt()"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="onClickSaveAppAmt()"><a>Save</a></button>
    </div>
</app-modal>

<app-confirm-save (onYes)="onSaveClaimHistory()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button #cancelClmHist (onYes)="onSaveClaimHistory('cancel')" [url]="'/clm-claim-processing'" ></app-cancel-button>

<app-confirm-save id="confirm-appAmt" (onYes)="onSaveClaimApprovedAmt()"></app-confirm-save>
<app-sucess-dialog #successAppAmt [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancelAppAmt();"></app-sucess-dialog>
<app-cancel-button #cancelAppAmt (onYes)="onSaveClaimApprovedAmt('cancel')"></app-cancel-button>