<div>
	<fieldset class="scheduler-border">
		<div class="col-sm-7">
		<legend class="scheduler-border">Basic Information</legend>
		<div class="form-row">
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Line</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Year</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Seq No</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4">
			</div>
			<div class="form-group col-sm-1">
				<label for="inputEmail4" class="form-control-sm top-label">Alt No</label>
				<input type="text" class="form-control form-control-sm cust-sm" id="inputEmail4">
			</div>
		</div>
		<div class="form-row custom-row-inline-inset">
			<div class="input-group">
				<label class="form-control-sm col-sm-1" for="xx">Branch</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2" placeholder="CAR-2015-0289-04"
				 readonly>
				<label class="form-control-sm col-sm-1" for="xx">Line Class</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-7" placeholder="Insured Name"
				 readonly>
			</div>
		</div>
	</div>
	</fieldset>
</div>