<div class="cust-tabs-container">
    <h4>Accounting Service / Fixed Assets</h4>
      <ngb-tabset>
	      <ngb-tab class="ngb-tab" title="Fixed Asset Details">
	        <ng-template ngbTabContent>
	          <div>
	          		
	          </div>
	        </ng-template>
	      </ngb-tab>
	      <ngb-tab class="ngb-tab" title="Monthly Depreciation Details">
	        <ng-template ngbTabContent>
	          
	        </ng-template>
	      </ngb-tab>
	        <ngb-tab class="ngb-tab" title="Exit">
	           <ng-template ngbTabContent>
	                
	           </ng-template>
	      </ngb-tab>
    </ngb-tabset>
  </div>
