.labels{
    margin-bottom: 7px !important;
    padding-bottom: 0px !important;
    max-height: 2.3em
}

.text-search-ico {
	margin-left: -18px;
	z-index: 200;
	font-size: 14px;
}
.cust-btn-extend{
    /*max-width: inherit;*/
    width: 100%;
    margin-bottom: 5px;
}