<fieldset class="scheduler-border">
    <legend class="scheduler-border">JV Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-9">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">JV No</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-1"
                placeholder="2015" style="text-align: right;text-align: right;" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-1"
                placeholder="00000001" style="text-align: right; margin-left: 2px;text-align: right;" readonly>
                <label class="form-control-sm col-sm-1" style="    margin-left: -2px !important;">Date</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="10/01/2018 11:49 AM" readonly>
                <label class="form-control-sm col-sm-4">Status</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="New" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">JV Type</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm" placeholder="San Miguel Corporation"
                readonly>
                <label class="form-control-sm col-sm-1 text-right">Ref No</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="
2017 - 00023974
" readonly>
                <label class="form-control-sm col-sm-1">Date</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="10/01/2018 11:49 AM" readonly>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Amount</label>
                 <select class="form-control form-control-sm cust-sm col-sm-2" readonly>
                           <option value="PHP">PHP</option>
                           <option value="EUR">EUR</option>
                           <option value="USD">USD</option>
                </select>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 2px !important;"
                placeholder="27,153.30" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-4" style="padding-left:0px !important;">Local Amount</label>
                 <select class="form-control form-control-sm cust-sm col-sm-2" readonly>
                           <option value="PHP">PHP</option>
                           <option value="EUR">EUR</option>
                           <option value="USD">USD</option>
                   </select>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 2px !important;"
                placeholder="27,153.30" readonly>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">JV Accounting Entries</legend>
     <div class="row">
        <div class="col-sm-12" style="margin-top: 10px">
            <app-cust-editable-non-datatable [passData]="accEntriesData">
                                    <ng-container controls-r>
                                        <button class="cust-btn" style="margin-right: 0px !important;">Print AE</button>
                                    </ng-container>
            </app-cust-editable-non-datatable>
        </div>
     </div>
</fieldset>
<fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important; ">
    <div class="form-row custom-row-inline-inset" style="margin-left: -27px; margin-bottom: 15px !important;">
        <div class="input-group">
            <label class="form-control-sm col-sm-1 text-right labels">Created By</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
            <label class="form-control-sm col-sm-1 text-right labels">Date Created</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
            <label class="form-control-sm col-sm-1 text-right labels">Last Update By</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma">
            <label class="form-control-sm col-sm-1 text-right labels">Last Update</label>
            <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM">
        </div>
    </div>
</fieldset>