<ng-template #content let-modal>
    <div class="modal-header">
     <!-- <h6 class="modal-title" id="modal-basic-title">{{modalTitle}}</h6>-->
     <span class="modal-title" id="modal-basic-title"><ng-content  select="[header]"></ng-content></span>
     <!-- <div class="close" >
        <a class="btn-cust" aria-label="Close" (click)="modal.dismiss('Cross click')" aria-hidden="true" ><span id="closes">&times;</span></a>

    </div> -->
</div>
<div class="modal-body">
    <ng-content select="[body]"></ng-content>
        <!--<div *ngIf="modalCustTable">
            <app-cust-table [tableData]="tableData" [tHeader] = "tHeader" [dataTypes] = "dataTypes" [filters]="filters"></app-cust-table>
        </div>
        <div *ngIf="modalCustEditableTable">
            <app-cust-editable-table [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [tableData]="tableData" [tHeader]="tHeader" [checkFlag]="true" [magnifyingGlass]="magnifyingGlass" [nData]="nData"></app-cust-editable-table>
        </div>
        <div *ngIf="modalProgressBar">
            <ngb-progressbar type="info" [value]="progress"></ngb-progressbar>
        </div>
        <div *ngIf="textFlag">
            {{modalText}}
        </div>-->
    </div>
    <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
       <!-- <button *ngIf="btnModalOk" type="button" class="cust-btn" (click)="modal.close('Save click')"><a>Ok</a></button>
        <button *ngIf="btnModalYes" type="button" class="cust-btn" (click)="modal.close('Save click');open(content);"><a>Yes</a></button>
        <button *ngIf="btnModalNo" type="button" class="cust-btn" (click)="modal.close('Save click')"><a>No</a></button>
        <button *ngIf="btnModalCancel" type="button" class="cust-btn" (click)="modal.close('Save click')"><a>Cancel</a></button>-->
    </div>
</ng-template>

<button id="modalBtn" class="cust-btn" (click)="open(content)"><a>{{btnTitle}}</a></button>

