<!-- <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Request Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" for="xx" style="padding-left:0px !important;">Request No</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-4"
                placeholder="00000001" style="text-align: right; margin-left: 2px;" readonly>
                <label class="form-control-sm col-sm-1" for="xx">Date</label>
                <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="10/01/2018 11:49 AM" readonly>
                <label class="form-control-sm col-sm-1" for="xx">Status</label>
                <input type="text" id="xx"  class="form-control form-control-sm cust-sm col-sm-3" placeholder="New" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1" for="xx" style="padding-left:0px !important;">Payee</label>
                <input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm" placeholder="San Miguel Corporation"
                readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                <input type="text" value="PHP" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
                placeholder="7,500,000.00   
" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <input type="text" value="PHP" class="form-control form-control-sm cust-sm col-sm-1" placeholder="" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"
                placeholder="7,500,000.00   
" readonly>
            </div>
        </div>
    </div>
</fieldset> -->
<fieldset class="scheduler-border">
	<legend class="scheduler-border">QSOA Balances List</legend>
	<div class="form-row custom-row-inline-inset" style="margin-bottom: -8px !important;">
		<app-cust-editable-non-datatable [passData]="passData" style="width: 100%"></app-cust-editable-non-datatable>
	</div>
</fieldset>
<!-- <fieldset class="scheduler-border" style="margin-top: 5px !important;">
	<div class="form-row custom-row-inline-inset">
		<div class="input-group" style="margin-left: -20px;">
			<label class="form-control-sm col-sm-1">Created By</label>
			<input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
			<label class="form-control-sm col-sm-1">Date Created</label>
			<input type="text" class="form-control form-control-sm col-sm" value="10/01/2018 10:45 AM">	
			<label class="form-control-sm col-sm-1">Last Updated By</label>
			<input type="text" class="form-control form-control-sm col-sm"  placeholder="cuaresma">
			<label class="form-control-sm col-sm-1">Last Update</label>
			<input type="text" class="form-control form-control-sm col-sm" value="10/01/2018 10:45 AM">	
		</div> 
	</div>
</fieldset> -->