<div class="cust-tabs-container">
	<h4>Security / Users Maintenance</h4>
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Users</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-users></app-users>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>User Groups Maintenance</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-user-groups-maintenance></app-user-groups-maintenance>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
	</ngb-tabset>
</div>