<style>
.btn-action {
	margin-right: 10px;
	text-decoration: none;
	border: none;
	background-color: white;
}

.btn-action:hover {
	    color: #007bff;
	    cursor: pointer;
}

</style>

<div style="border: 1px solid #c5c3c3; margin-bottom: .75em; padding: 13px 1em;">
	<button class="btn-action"><a><fa name="calendar"></fa></a></button>
	<button class="btn-action"><a><fa name="google-wallet"></fa></a></button>
	<button class="btn-action"><a><fa name="wpforms"></fa></a></button>
	<button class="btn-action"><a><fa name="area-chart"></fa></a></button>
	<button class="btn-action"><a><fa name="asl-interpreting"></fa></a></button>
	<button class="btn-action"><a><fa name="optin-monster"></fa></a></button>
	<button class="btn-action"><a><fa name="industry"></fa></a></button>
</div>