<div class="cust-tabs-container">
    <h4>Quotation</h4>
    <ngb-tabset>
        <ngb-tab title="Quotation to Hold Cover">
            <ng-template ngbTabContent>
                 <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Quotation Info</legend>
                            <div class="col-sm-1"></div>
                            <div class="col-sm">
                                <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                                    <div class="input-group" style="margin-top: -10px;">
                                        &nbsp;
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Quotation No</label>
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1 warn" maxlength="3" appRequired ngbTooltip="Line" #qline [(ngModel)]="qLine" (change)="searchQuoteInfo(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value)">
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1 warn" maxlength="4" appRequired ngbTooltip="Year" #qyear style="margin-left: 2px;" [(ngModel)]="qYear" (change)="searchQuoteInfo(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value)" numbers-only>
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-2 warn text-right" maxlength="5" appRequired ngbTooltip="Sequence No" #qseqNo style="margin-left: 2px;" [(ngModel)]="qSeqNo" (change)="searchQuoteInfo(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value)" numbers-only>
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1 warn text-right" maxlength="2" appRequired ngbTooltip="Revision No" #qrevNo style="margin-left: 2px;" [(ngModel)]="qRevNo" (change)="searchQuoteInfo(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value)" numbers-only>
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1 warn text-right" maxlength="2" appRequired ngbTooltip="Company No" #qcomNo style="margin-left: 2px;" [(ngModel)]="qCedingId" 
                                            (change)="searchQuoteInfo(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value)" numbers-only>
                                            <span>&nbsp;</span>
                                            <div class="text-search-ico"><a (click)="search()"><i class="fa fa-search"></i></a></div>
                                        </div>
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Ceding Company</label>
                                            <input type="text" class="form-control form-control-sm"  [(ngModel)]="cedCo"  readonly tabindex="-1">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Insured</label>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="insured" readonly tabindex="-1">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -9px !important;">
                                            <label class="form-control-sm col-sm-2">Risk</label>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="risk" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border" style="margin-top: -25px !important;">
                            <legend class="scheduler-border">Hold Cover Details</legend>
                            <!-- <div class="col-sm-3"></div> -->
                            <div class="col-sm">
                                <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                                    <div class="input-group" style="margin-top: -10px;">
                                        &nbsp;
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Hold Cover No</label>
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1" ngbTooltip="HC Prefix" value="HC" readonly tabindex="-1">
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1 warn" ngbTooltip="Line" style="margin-left: 2px;" maxlength="3" appRequired  #hcline [(ngModel)]="hcLine" readonly tabindex="-1">
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1 warn" ngbTooltip="Year" style="margin-left: 2px;" maxlength="4" appRequired #hcyear numbers-only  readonly tabindex="-1" [(ngModel)]="hcYear">
                                            <input type="text" class="form-control form-control-sm col-sm col-sm-2 warn text-right" style="margin-left: 2px;" ngbTooltip="Sequence No" maxlength="5" appRequired  #hcseqNo numbers-only [(ngModel)]="hcSeqNo" numbers-only>
                                            <input type="text" class="form-control form-control-sm col-sm col-sm-1 warn text-right" style="margin-left: 2px;"ngbTooltip="Revision No" maxlength="2"  appRequired #hcrevNo numbers-only [(ngModel)]="hcRevNo" numbers-only>    

                                        </div>
                                         <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Period From</label>
                                            <input type="date" class="form-control form-control-sm cust-sm warn" appRequired #periodFrom (blur)="setPeriodTo(periodFrom.value)" [(ngModel)]="holdCover.periodFrom.split('T')[0]">
                                            <label class="form-control-sm col-sm-2">Requested By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7" #reqBy [(ngModel)]="holdCover.reqBy">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-2">Period To</label>
                                            <input type="date" class="form-control form-control-sm cust-sm warn" appRequired #periodTo  [(ngModel)]="holdCover.periodTo.split('T')[0]">
                                            <label class="form-control-sm col-sm-2">Request Date</label>
                                            <input type="date" class="form-control form-control-sm cust-sm col-sm-7" #reqDate [(ngModel)]="holdCover.reqDate.split('T')[0]">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -14px !important;">
                                            <label class="form-control-sm col-sm-3" style="margin-left: -62px !important;  margin-right: 1px !important;">Co. Ref. Hold Cover No</label>
                                            <input type="text" class="form-control form-control-sm" #coRef [(ngModel)]="holdCover.compRefHoldCovNo">
                                            <label class="form-control-sm col-sm-2">Prepared By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7" #prepBy [(ngModel)]="holdCover.preparedBy" readonly tabindex="-1">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -9px !important;">
                                            <label class="form-control-sm col-sm-2">Status</label>
                                            <input type="text" class="form-control form-control-sm warn" #status appRequired [(ngModel)]="holdCover.status" readonly tabindex="-1">
                                            <label class="form-control-sm col-sm-2">Approved By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7" #appBy [(ngModel)]="holdCover.approvedBy" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px !important;">
                                 <app-modal [btnTitle]="'Approval'">
                                    <div header>Approval</div>
                                    <div body>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <fieldset class="scheduler-border" style="padding-bottom: 42px !important;padding-left: 28px !important; padding-right: 36px !important;">
                                                    <div class="row" style="    margin-top: 39px;">
                                                    <label class="form-control-sm" style="margin-left: -1px !important;">Status</label>
                                                    <input type="text" class="form-control form-control-sm col-sm" style=" margin-right: 85px !important;">
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="    margin-left: 6px;"></select>
                                                        <button class="cust" style="margin-right: 0px; margin-left: 3px !important;">For Approval</button>
                                                    </div>
                                                </fieldset>
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="scheduler-border" style="    margin-left: -20px !important;">
                                                    <div class="row" style="    margin-top: 16px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Report</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">No Of Copies</label>
                                                        <input type="text" class="form-control form-control-sm col-sm" style="margin-right: 25px !important;" disabled="disabled">
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Destination</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Printer Name</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div footer class="text-center w-100">
                                        <div class="col-sm-12 text-center">
                                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
                                        </div>
                                    </div>
                                    </app-modal>
                                <button type="button" class="cust-btn"><a>Cancel</a></button>
                                <button type="button" class="cust-btn" (click)="onSaveClick(qline.value,qyear.value,qseqNo.value,qrevNo.value,qcomNo.value,periodTo.value,periodFrom.value,coRef.value,status.value,reqDate.value,prepBy.value,appBy.value,hcline.value,hcyear.value,hcseqNo.value,hcrevNo.value,reqBy.value)"><a>Save</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-12 text-center">
                            <div class="cust-btn-container" style="margin-top: 10px !important;">
                                <app-modal hidden [btnTitle]="'List Of Values'" id="lovMdl">
                                    <div header>List Of Values</div>
                                    <div body>
                                       <app-cust-non-datatable [passData]="passDataQuoteLOV" (rowClick)="onRowClick($event)"></app-cust-non-datatable>
                                    </div>
                                    <div footer class="text-center w-100">
                                        <div class="col-sm-12 text-center">
                                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                                        <button class="cust-btn" type="button" (click)="onSaveClickLOV()"><a>Save</a></button>
                                        </div>
                                    </div>
                                </app-modal>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>

<app-modal class="d-none" id="successMdl">
    <div header>Success</div>
    <div body class="container-flex text-center">
        <span class="fa fa-check-circle fa-3x" style="vertical-align: middle;"></span>
        <span style="vertical-align: middle; margin-left: 15px;">Saved successfully!</span>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Okay</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="warningMdl">
    <div header>Warning</div>
    <div body class="container-flex text-center">
        <span class="fa fa-info-circle fa-3x" style="vertical-align: middle;"></span>
        <span style="vertical-align: middle; margin-left: 15px;">{{ warningMsg }}</span>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Okay</a></button>
    </div>
</app-modal>