<div class="cust-tabs-container">
    <h4>Quotation / Quotation to Hold Cover</h4>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Quotation Info</legend>
                <div class="col-sm-1"></div>
                <div class="col-sm">
                    <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                        <div class="input-group" style="margin-top: -10px;">
                            &nbsp;
                        </div>
                        <div class="input-group">
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Quotation No</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="quoteLine">
                                <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm" style="margin-left: 5px;">
                                <span>&nbsp;</span>
                                <div class="text-search-ico"><a (click)="search()"><i class="fa fa-search"></i></a></div>
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Ceding Company</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Insured</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Risk</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Hold Cover Details</legend>
                <!-- <div class="col-sm-3"></div> -->
                <div class="col-sm">
                    <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                        <div class="input-group" style="margin-top: -10px;">
                            &nbsp;
                        </div>
                        <div class="input-group">
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Hold Cover No</label>
                                <input type="text" class="form-control form-control-sm col-sm-1">
                                <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm col-sm-1 " style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm col-sm-1" style="margin-left: 5px;">
                                <input type="text" class="form-control form-control-sm col-sm-1 " style="margin-left: 5px;">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-7"></div>
                            </div>
                             <div class="input-group">
                                <label class="form-control-sm col-sm-2">Period From</label>
                                <input type="date" class="form-control form-control-sm cust-sm" id="inputQuotation">
                                <label class="form-control-sm col-sm-2">Requested By</label>
                                <input type="text" class="form-control form-control-sm col-sm-7">
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Period To</label>
                                <input type="date" class="form-control form-control-sm cust-sm" id="inputQuotation">
                                <label class="form-control-sm col-sm-2">Request Date</label>
                                <input type="date" class="form-control form-control-sm cust-sm col-sm-7" id="inputQuotation">
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Co. Ref. Hold Cover No</label>
                                <input type="text" class="form-control form-control-sm">
                                <label class="form-control-sm col-sm-2">Prepared By</label>
                                <input type="text" class="form-control form-control-sm col-sm-7">
                            </div>
                            <div class="input-group">
                                <label class="form-control-sm col-sm-2">Status</label>
                                <input type="text" class="form-control form-control-sm">
                                <label class="form-control-sm col-sm-2">Approved By</label>
                                <input type="text" class="form-control form-control-sm col-sm-7">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm">
            <div class="col-md-13 text-center">
                <br>
                <div class="cust-btn-container">
                    <button type="button" class="cust-btn"><a>Print</a></button>
                    <button type="button" class="cust-btn"><a>Cancel</a></button>
                    <button type="button" class="cust-btn"><a>Save</a></button>
                </div>
            </div>
        </div>
    </div>

    <app-modal class="hidden" >
    <div header>List of Values</div>
    <div body>
        <app-cust-table [tableData]="tableData" [tHeader]="tHeader"></app-cust-table>
    </div>
    <div footer>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
    </div>
    </app-modal>

