<div class="cust-tabs-container">
    <h4>Quotation</h4>
    <ngb-tabset>
        <ngb-tab title=" Quotation to Hold Cover">
            <ng-template ngbTabContent>
                 <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Quotation Info</legend>
                            <div class="col-sm-1"></div>
                            <div class="col-sm">
                                <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                                    <div class="input-group" style="margin-top: -10px;">
                                        &nbsp;
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Quotation No</label>
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1" ngbTooltip="Line" [(ngModel)]="quoteLine">
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1" ngbTooltip="Year" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-2" ngbTooltip="Sequence No" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1" ngbTooltip="Revision No" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm cap-input col-sm-1" ngbTooltip="Company No" style="margin-left: 2px;">
                                            <span>&nbsp;</span>
                                            <div class="text-search-ico"><a (click)="search()"><i class="fa fa-search"></i></a></div>
                                        </div>
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Ceding Company</label>
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Insured</label>
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -9px !important;">
                                            <label class="form-control-sm col-sm-2">Risk</label>
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <fieldset class="scheduler-border" style="margin-top: -25px !important;">
                            <legend class="scheduler-border">Hold Cover Details</legend>
                            <!-- <div class="col-sm-3"></div> -->
                            <div class="col-sm">
                                <div class="row" style="margin-right: 0px; margin-bottom: 11px;">
                                    <div class="input-group" style="margin-top: -10px;">
                                        &nbsp;
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Hold Cover No</label>
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1" ngbTooltip="Line">
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1" ngbTooltip="Year" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm col-sm cap-input col-sm-1" ngbTooltip="Sequence No" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm col-sm col-sm-2" style="margin-left: 2px;">
                                            <input type="text" class="form-control form-control-sm col-sm col-sm-1" style="margin-left: 2px;">

                                        </div>
                                         <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Period From</label>
                                            <input type="date" class="form-control form-control-sm cust-sm" id="inputQuotation">
                                            <label class="form-control-sm col-sm-2">Requested By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Period To</label>
                                            <input type="date" class="form-control form-control-sm cust-sm" id="inputQuotation">
                                            <label class="form-control-sm col-sm-2">Request Date</label>
                                            <input type="date" class="form-control form-control-sm cust-sm col-sm-7" id="inputQuotation">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -13px !important;">
                                            <label class="form-control-sm col-sm-2">Co. Ref. Hold Cover No</label>
                                            <input type="text" class="form-control form-control-sm">
                                            <label class="form-control-sm col-sm-2">Prepared By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7">
                                        </div>
                                        <div class="input-group" style="margin-bottom: -9px !important;">
                                            <label class="form-control-sm col-sm-2">Status</label>
                                            <input type="text" class="form-control form-control-sm">
                                            <label class="form-control-sm col-sm-2">Approved By</label>
                                            <input type="text" class="form-control form-control-sm col-sm-7">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="col-md-13 text-center">
                            <br>
                            <div class="cust-btn-container" style="margin-top: -5px !important;">
                                 <app-modal [btnTitle]="'Approval'">
                                    <div header>Approval</div>
                                    <div body>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <fieldset class="scheduler-border" style="padding-bottom: 35px !important;padding-left: 28px !important; padding-right: 36px !important;">
                                                    <div class="row" style="    margin-top: 42px;">
                                                    <label class="form-control-sm" style="margin-left: -1px !important;">Status</label>
                                                    <input type="text" class="form-control form-control-sm col-sm" style=" margin-right: 85px !important;">
                                                    </div>
                                                    <div class="row" style="margin-top: -13px !important;">
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="    margin-left: 6px;"></select>
                                                        <button class="cust" style="margin-right: 0px; margin-left: 3px !important;">For Approval</button>
                                                    </div>
                                                </fieldset>
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="scheduler-border" style="    margin-left: -20px !important;">
                                                    <div class="row" style="    margin-top: 16px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Report</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">No Of Copies</label>
                                                        <input type="text" class="form-control form-control-sm col-sm" style="margin-right: 25px !important;" disabled="disabled">
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Destination</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                    <div class="row" style="margin-top: -14px !important;">
                                                        <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Printer Name</label>
                                                        <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;" disabled="disabled"></select>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div footer style=" margin-right: 200px !important;">
                                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
                                    </div>
                                    </app-modal>
                                <button type="button" class="cust-btn"><a>Cancel</a></button>
                                <button type="button" class="cust-btn"><a>Save</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <app-modal class="hidden" >
                <div header>List of Values</div>
                <div body>
                    <app-cust-non-datatable [passData] = "passData"></app-cust-non-datatable>
                </div>
                <div footer style="    margin-right: 190px !important;">
                    <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
                    <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                </div>
                </app-modal>

               

               <!--  <app-modal >
                <div header>Approval</div>
                <div body>
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset class="scheduler-border" style="padding-bottom: 35px !important;padding-left: 28px !important; padding-right: 36px !important;">
                                <div class="row" style="    margin-top: 42px;">
                                <label class="form-control-sm" style="margin-left: -1px !important;">Status</label>
                                <input type="text" class="form-control form-control-sm col-sm" style=" margin-right: 60px !important;">
                                </div>
                                <div class="row" style="margin-top: -13px !important;">
                                    <select  class="form-control form-control-sm col-sm cust-sm" style="    margin-left: 6px;"></select>
                                    <button class="cust" style="margin-right: 0px; margin-left: 3px !important;">Approve</button>
                                </div>
                            </fieldset>
                            
                        </div>
                        <div class="col-sm-6">
                            <fieldset class="scheduler-border" style="    margin-left: -20px !important;">
                                <div class="row" style="    margin-top: 16px !important;">
                                    <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Report</label>
                                    <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;"></select>
                                </div>
                                <div class="row" style="margin-top: -14px !important;">
                                    <label class="form-control-sm col-sm-4" style="margin-left: 15px;">No Of Copies</label>
                                    <input type="text" class="form-control form-control-sm col-sm" style="margin-right: 25px !important;">
                                </div>
                                <div class="row" style="margin-top: -14px !important;">
                                    <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Destination</label>
                                    <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;"></select>
                                </div>
                                <div class="row" style="margin-top: -14px !important;">
                                    <label class="form-control-sm col-sm-4" style="margin-left: 15px;">Printer Name</label>
                                    <select  class="form-control form-control-sm col-sm cust-sm" style="margin-right: 25px !important;"></select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div footer style=" margin-right: 200px !important;">
                    <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                    <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
                </div>
                </app-modal> -->
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>