<div class="cust-tabs-container">
  <h4>Accounting In-Trust / Month End / Batch Processing</h4>
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab class="ngb-tab" title="Process Month End">
      <ng-template ngbTabContent>
        <div class="d-flex">
        	<div class="col-sm-1"></div>
        	<fieldset class="scheduler-border col-sm-10">
        		<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
        		<div class="row justify-content-sm-center pt-1">
        			<div class="col-sm-4 d-flex">
				        <label class="form-control-sm col-sm-5 pl-0 pr-1 text-right mb-0">Production Date</label>
		            <!-- <input type="date" class="form-control form-control-sm col-sm" value="2019-01-31"> -->
                <div class="dp-cont col-sm">
                  <datepicker [type]="'date'"></datepicker>
                </div>
				    </div>
        		</div>
        		<div class="input-group">
        			<label class="col-sm-2"></label>
        			<textarea class="form-control form-control-sm col-sm-8" style="font-size: 11px; min-height: 300px; margin-bottom: 17px !important;">Report Summary</textarea>
        		</div>
    			<div class="form-group col-sm text-center" style="margin-bottom: 5px;">
    		      <div class="cust-btn-container">
    		        <button type="button" class="cust cust-btn"><a>Generate</a></button>
    		        <button type="button" class="cust cust-btn"><a>Data Check Report</a></button>
    		      </div>
    		    </div>
        	</fieldset>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab class="ngb-tab" title="Exit" id="Exit">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>