.drp-dwn-cstmz {
    height:27px; 
    padding: 0px;
}

.btn {
	    margin-bottom: 7px;
}

.invoice {
	margin-left: 80px;
	margin-top: -15px;
}

.taxInfo {
	margin-top: 8px;
}

.remarks {
	margin-left: -6px;
}

.remarks-label {
	padding-right: 14px;
}