
	<fieldset class="scheduler-border">
    <legend class="scheduler-border">Policy Record Info</legend>
    <div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
        <div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
            <label class="col-sm-1"></label>
            <label class="form-control-sm col-sm-1" for="xx">Policy No</label>
            <input type="text" id="xx" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2"
                   placeholder="" readonly>
            <label class="form-control-sm col-sm-1" for="xx">Insured</label>
            <input type="text" id="xx" value="Insurer" class="form-control form-control-sm cust-sm col-sm-5" placeholder=""
                   readonly>
        </div>
        <div class="input-group" style="margin-bottom: -13px !important;">
            <label class="col-sm-1"></label>
            <label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
            <input type="text" id="xx" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder=""
                   readonly>
        </div>
    </div>
	</fieldset>
<div class="row">
    <div class="col-sm-12">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Invoice Information</legend>
      		<div class="input-group" style="margin-bottom: -15px !important">
      				<div class="cust-sm col-sm-2"></div>
		      		<label class="form-control-sm col-sm-1">Currency</label>
		            <input type="text" class="form-control form-control-sm cust-sm col-sm-1">
		            <div class="cust-sm col-sm-1"></div>
		            <label class="form-control-sm col-sm-1">Prenium</label>
		            <input type="text" class="form-control form-control-sm cust-sm col-sm-3">
		     </div>
    </fieldset>
    </div>
</div>
<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Installment Info</legend>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<app-cust-editable-non-datatable [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [tableData]="tableData_Invoice" [tHeader]=" tHeader_Invoice" [dataTypes]=" dataTypes_Invoice" [pageLength]="pageLength"></app-cust-editable-non-datatable>
				</div>
				<div class="col-sm-2"></div>
			</div>
	</fieldset>
</div>
<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Other Charges</legend>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<app-cust-editable-non-datatable [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [tableData]="tableData_taxInfo" [tHeader]="tHeader" [dataTypes]="dataTypes" [pageLength]="pageLength"></app-cust-editable-non-datatable>
				</div>
				<div class="col-sm-3"></div>
			</div>
	</fieldset>
</div>
 <div class="form-row">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="pol($event)"><a>Cancel</a></button>
          <button type="button" class="cust-btn"><a>Save</a></button>
        </div>
      </div>
    </div>
  </div>