<div class="cust-tabs-container">
	<h4>Accounting Service / Extract / Accounting Entries</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset (tabChange)="onTabChange($event)">
		<ngb-tab class="ngb-tab" title="Extract">
			<ng-template ngbTabContent>
				<app-acct-trial-bal-extract (accCodeChange)="accCodeChange($event)"></app-acct-trial-bal-extract>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Trial Balance">
			<ng-template ngbTabContent>
				<app-acct-trial-bal-tb [accountCode]="accountCode"></app-acct-trial-bal-tb>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="Exit">
			<ng-template ngbTabTitle>
				<div>Exit</div>
			</ng-template>
			<ng-template ngbTabContent></ng-template>
  		</ngb-tab>
	</ngb-tabset>
</div>