
.text-search-ico {
	margin-left: -18px;
	z-index: 99999;
	font-size: 14px;
}

.spec-ico {
	margin-left: -50px;
}
.mrgn-fieldset{
    margin-top: 17px;
}
.pi-fldst-hght{
    height: 100px !important;
}
