<div class="cust-tabs-container">
  <h4>Policy / Inquiry </h4>
  <ngb-tabset>
    <ngb-tab title="Policy Inquiry">
      <ng-template ngbTabContent>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Policy Info</legend>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <div class="form-row">
                <div class="form-group col-sm-1">
                  <label for="inputEmail4" class="form-control-sm top-label">Line</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm">
                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
                <div class="form-group col-sm-1">
                  <label for="inputEmail4" class="form-control-sm top-label">Year</label>
                  <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                </div>
                <div class="form-group col-sm-1">
                  <label for="inputEmail4" class="form-control-sm top-label">Seq No</label>
                  <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                </div>
                <div class="form-group col-sm-1">
                  <label for="inputEmail4" class="form-control-sm top-label">Alt No</label>
                  <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                </div>
                <div class="form-group col-sm-2">
                  <label for="inputEmail4" class="form-control-sm top-label">Status</label>
                  <select class="form-control form-control-sm cust-sm">
                    <option></option>
                  </select>
                </div>
                <div class="form-group col-sm-2">
                  <label for="inputEmail4" class="form-control-sm top-label">Branch</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
                <div class="form-group col-sm-2">
                  <label for="inputEmail4" class="form-control-sm top-label">Line Class</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
                <div class="form-group col-sm-2">
                  <label for="inputEmail4" class="form-control-sm top-label">Ceding Company</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm" placeholder="">
                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </fieldset>

        <div class="row">
          <div class="col-sm-4">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Period of Issuance</legend>
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label">Inception Date</label>
                  <input type="date" class="form-control form-control-sm cust-sm">
                </div>
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label">Expiry Date</label>
                  <input type="date" class="form-control form-control-sm cust-sm">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Insured Details</legend>
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label">Principal</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm">
                    <div class="text-search-ico" style="margin-bottom: 6px;"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="form-control-sm top-label">Contractor</label>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm cust-sm">
                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-2">
            <div class="mrgn-fieldset">
              <fieldset class="scheduler-border fieldset-height">
                <div class="custom-row-inline-inset">
                  <div class="form-row">
                    <div class="" style="margin-bottom: 10px;">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox">
                          </div>
                        </div>
                        <input type="text" style="font-size: 11px !important;" value="Open Cover" disabled class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="" style="margin-bottom: 2px;">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox">
                          </div>
                        </div>
                        <input type="text" style="font-size: 11px !important;" value="Declaration" disabled class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="form-row">
              <div class="form-group col-sm">
                <div class="col-md-13 text-center">
                  <br>
                  <div class="cust-btn-container">
                    <button type="button" class="cust-btn"><a>Search</a></button>
                    <button type="button" class="cust-btn"><a>Clear</a></button>
                    <button type="button" class="cust-btn"><a>Print</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div>
          <app-cust-table [tableData]="tableData" [tHeader]="tHeader" [dataTypes]="dataTypes"></app-cust-table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>