<fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="form-row custom-row-inline-inset">
                        <div class="input-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm">
                                <div class="input-group">
                                    <label class="form-control-sm"  style="margin-bottom: 0px">Region</label>
                                    <input id="regionCode" class="form-control form-control-sm  col-sm-2" type="text" (change)="checkCode($event, 'region')" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' maxlength="2" numbers-only  [ngModel]="locData?.regionCd" (ngModelChange)="locData.regionCd = $event.toUpperCase()">
                                    <div id=search class="text-search-ico" style="padding-left: 1px" (click)="openGenericLOV('region', $event)"><a><i id=searchicon class="fa fa-search"></i></a></div>&nbsp;
                                    <input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;" [ngModel]="locData?.regionDesc" readonly>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="input-group">
                                    <label class="form-control-sm"  style="margin-bottom: 0px">Province</label>
                                    <input id="provinceCode" class="form-control form-control-sm  col-sm-2" type="text" (change)="checkCode($event, 'province')" onkeypress='return  event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57' numbers-only   [ngModel]="locData?.provinceCd" (ngModelChange)="locData.provinceCd = $event.toUpperCase()">
                                    <div id=search class="text-search-ico" style="padding-left: 1px" (click)="openGenericLOV('province', $event)"><a><i id=searchicon class="fa fa-search"></i></a></div>&nbsp;
                                    <input class="form-control form-control-sm  col-sm" type="text" style="margin-left: 2px;"  [ngModel]="locData?.provinceDesc" readonly>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
</fieldset>
<fieldset class="scheduler-border" style="margin-top: 10px !important">
                <div class="row">
                    <div class="col-sm">
                        <div class="custom-row-inline-inset" style="margin-top: 25px !important;">
                            <!-- <app-cust-editable-non-datatable #cityTable [passData]="passData" (genericBtn)="deleteCity()" (newClick)="onRowClick($event)" (clickLOV)="clickCrestaZone($event)"  (onDelete)="cityTable.onClickDelete('force');onClickDelCity(this.deleteBool);" (tableDataChange)="change($event);"></app-cust-editable-non-datatable> TRBT#PROD_GRADE -->
                            <app-cust-editable-non-datatable #cityTable [passData]="passData" (genericBtn)="deleteCity()" (newClick)="onRowClick($event)" (clickLOV)="clickCrestaZone($event)"  (onDelete)="cityTable.onClickDelete('force');onClickDelCity(this.deleteBool);" (tableDataChange)="change();"></app-cust-editable-non-datatable>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px !important;">
                    <div class="col-sm d-flex justify-content-center">
                        <!-- <button class="cust-btn" style="z-index: 1000 !important"  [class.d-none]="inquiryFlag" (click)="cancel()">Cancel</button>
                        <button class="cust-btn" style="z-index: 1000 !important"  [class.d-none]="inquiryFlag" (click)="onClickSave()">Save</button> TRBT#PROD_GRADE -->
                        <button class="cust-btn" style="z-index: 1000 !important" (click)="cancel()">Cancel</button>
                        <button class="cust-btn" style="z-index: 1000 !important" (click)="onClickSave()">Save</button>
                    </div>
                </div>
</fieldset>
<fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
                        <label class="form-control-sm col-sm-1">Created By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="cityRecord.createUser" readonly>
                        <label class="form-control-sm col-sm-1">Created Date</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" [(ngModel)]="cityRecord.createDate" readonly>
                        <label class="form-control-sm col-sm-1">Last Update By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="cityRecord.updateUser" readonly>
                        <label class="form-control-sm col-sm-1">Last Update</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" [(ngModel)]="cityRecord.updateDate" readonly>
                    </div>
</fieldset>

<app-confirm-save #confirmSave (onYes)="onClickSaveCity()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag?this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSaveCity('cancel')" [url]="'/maintenance-qu-pol'" ></app-cancel-button>
<app-lov [passData]="passLOV" id="lov" (selectedData)="setLOVField($event)"></app-lov>
<app-mtn-cresta-zone id="crestaZoneLOV" (selectedData)="selectedCrestZoneLOV($event)"></app-mtn-cresta-zone>