<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Utilities / Edit Accounting Entries</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Edit Entries</div>
				</ng-template>
				<ng-template ngbTabContent>
					<div class="row">
						<div class="col-sm-12">
						    <fieldset class="scheduler-border">
						        <legend class="scheduler-border">Transaction Info</legend>
						           <div class="container-fluid div-group">
						           	   <div class="form-row custom-row-inline-inset" >
						           	    <div class="input-group" style="margin-bottom: -8px !important;">
						           	    	<label class="form-control-sm col-sm-1 outer-labels labels">Transaction Class</label>
						           	    	<div class="input-group div-group col-sm-2">
						           	    		<select class="form-control form-control-sm cust-sm col-sm-12" [(ngModel)]="tranClass" appRequired>
						           	    			<option [value]="'AR'">Acknowledgement Receipt</option>
						           	    			<option [value]="'CV'">Check Voucher</option>
						           	    			<option [value]="'JV'">Journal Voucher</option>
						           	    		</select>
						           	    	</div>
						           	    	<div class="input-group div-group col-sm-3">
						           	    		<label class="form-control-sm col-sm-4">Tran Date</label>
						           	    		<div class="col-sm-8" style="padding: 0px">
        										    <datepicker [type]="'date'" [required]="false" [disabled]="true" [value]="''"></datepicker>
        										</div>
						           	    	</div>
						           	    	<div class="input-group div-group col-sm-3">
						           	    		<label class="form-control-sm col-sm-4">Backup By</label>
						           	        	<input type="text"  class="form-control form-control-sm cust-sm col-sm-8" readonly>
						           	    	</div>
						           	    	<div class="input-group div-group col-sm-3">
						           	    		<label class="form-control-sm col-sm-4">Tran Amount</label>
						           	        	<input type="text"  class="form-control form-control-sm cust-sm col-sm-2" readonly>
						           	        	<span>&nbsp;</span>
						           	        	<input type="text"  class="form-control form-control-sm cust-sm col-sm-10" readonly>
						           	    	</div>
						           	    </div>
						           	    <div class="input-group" style="margin-bottom: -8px !important;">
						           	    	<label class="form-control-sm col-sm-1 outer-labels labels">Reference Number</label>
						           	    	<div class="input-group div-group col-sm-2">
						           	    		<input type="text"  class="form-control form-control-sm cust-sm col-sm-12" appRequired>
						           	    		<div class="text-search-ico" (click)="retrieveTransactions();"><a><i class="fa fa-search"></i></a></div>
						           	    	</div>
						           	    	<div class="input-group div-group col-sm-3">
						           	    		<label class="form-control-sm col-sm-4">Tran Status</label>
						           	    		<input type="text"  class="form-control form-control-sm cust-sm col-sm-8" readonly>
						           	    	</div>
					           	        	<div class="input-group div-group col-sm-3">
					           	        		<label class="form-control-sm col-sm-4">Backup Date</label>
					           	            	<div class="col-sm-8" style="padding: 0px">
        										    <datepicker [type]="'date'" [required]="false" [disabled]="true" [value]="''"></datepicker>
        										</div>
					           	        	</div>
				           	        		<div class="input-group div-group col-sm-3">
				           	        			<label class="form-control-sm col-sm-4">Local Amount</label>
				           	        	    	<input type="text"  class="form-control form-control-sm cust-sm col-sm-2" readonly>
				           	        	    	<span>&nbsp;</span>
				           	        	    	<input type="text"  class="form-control form-control-sm cust-sm col-sm-10" readonly>
				           	        		</div>
						           	    </div>
						           	    <div class="input-group">
						           	    	<label class="form-control-sm col-sm-1 outer-labels labels">Payor/Payee</label>
						           	    	<div class="input-group div-group col-sm-5">
		           	    						<input type="text" class="form-control form-control-sm cust-sm col-sm-12" readonly>
						           	    	</div>
						           	    	<label class="form-control-sm col-sm-1 labels">Tran Type</label>
						           	    	<div class="input-group div-group col-sm-5">
		           	    						<input type="text" class="form-control form-control-sm cust-sm col-sm-12" readonly>
						           	    	</div>
						           	    </div>
						           	    <div class="input-group" style="margin-bottom: 0px !important;">
						           	    	<label class="form-control-sm col-sm-1 outer-labels labels">Particulars</label>
						           	        <div class="input-group div-group col-sm-11">
		           	    						<textarea class="form-control form-control-sm cust-sm col-sm-12" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" readonly></textarea>
						           	    	</div>
						           	    </div>
						           	</div>
						           </div>
						    </fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<fieldset class="scheduler-border">
								<legend class="scheduler-border">Accounting Entries</legend>
								<div style="margin-bottom: 11px;margin-top:11px;">
									<app-cust-editable-non-datatable [passData]="passData"></app-cust-editable-non-datatable>
									<div class="form-row" style="padding-top: 7px;">
										<div class="input-group col-sm-2"></div>
										<div class="input-group div-group col-sm-8">
											<label class="form-control-sm col-sm-2">Reason for Change</label>
											<textarea class="form-control form-control-sm cust-sm col-sm-10" style="font-size: 11px; min-height: 38px; margin-bottom: 5px;" appRequired></textarea>
										</div>
										<div class="input-group col-sm-2"></div>
									</div>
									<div class="form-row">
										<div class="form-group col-sm" style="margin-bottom: 0px">
											<div class="col-md-13 text-center" style="margin-top: 8px;">
												<div class="cust-btn-container">
													<button type="button" class="cust-btn"><a>Save</a></button>
													<button type="button" class="cust-btn"><a>Cancel</a></button>
													<button type="button" class="cust-btn"><a>Restore</a></button>
													<button type="button" class="cust-btn"><a>Print</a></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important; ">
								<div class="form-row custom-row-inline-inset" style="margin-left: -27px; margin-bottom: 15px !important;">
							        <div class="input-group">
							            <label class="form-control-sm col-sm-1 text-right footer-labels">Created By</label>
							            <input type="text" class="form-control form-control-sm col-sm-2" readonly>
							            <label class="form-control-sm col-sm-1 text-right footer-labels">Date Created</label>
							            <div class="col-sm-2" style="padding: 0px">
							                <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="''"></datepicker>
							            </div>
							            <label class="form-control-sm col-sm-1 text-right footer-labels">Last Update By</label>
							            <input type="text" class="form-control form-control-sm col-sm-2" readonly>
							            <label class="form-control-sm col-sm-1 text-right footer-labels">Last Update</label>
							            <div class="col-sm-2" style="padding: 0px">
							                <datepicker [showSeconds]="true" [required]="false" [disabled]="true" [value]="''"></datepicker>
							            </div>
							        </div>
							    </div>
							</fieldset>
						</div>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
</div>

<app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov>
