<app-modal class="d-none" (modalOpened)="openModal()" id="quarterEnd" #modal>
	<div header>Quarter Ending</div>	
	<div body>
		 <div class="form-row custom-row-inline-inset">
            <div class="input-group">
                <label class="form-control-sm col-sm-3 text-right labels">Month End</label>
                <select class="form-control form-control-sm cust-sm col-sm-5" [(ngModel)]="quarter">
                	<option *ngFor="let quarter of quarters" [value]="quarter">{{slicer(quarter)}}</option>
                </select>
                <label class="form-control-sm col-sm-2 text-right labels">Year</label>
                <dropdown [(ngModel)]="selectedCar1" [options]="cities" [editable]="true"></dropdown> 
                <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCar1" editable="true" scrollHeight="100" panelStyleClass="form-control form-control-sm cust-sm col-sm-1" styleClass="form-control form-control-sm cust-sm col-sm-1" dropdownIcon="fa fa-caret-down"></p-dropdown>  -->
                     
                

                <button class="cust-btn" style="height: 24px !important;margin-left: 6px;" (click)="modal.closeModal()">OK
                </button>
            </div>
        </div>
	</div>
	<div footer class="text-center">
	</div>
</app-modal>