<div class="col-sm-12" style="position: relative; padding-left: 0px; padding-right: 0px;">
	<app-cust-editable-non-datatable [passData]="passData" (tableDataChange)="onTableDataChange($event)">
	</app-cust-editable-non-datatable>
</div>
<div class="form-row">
    <div class="form-group col-sm">
      <div class="col-md-13 text-center">
        <br>
        <div class="cust-btn-container">
          <button type="button" class="cust-btn" (click)="cancel();"><a>Cancel</a></button>
          <button type="button" class="cust-btn" (click)="onClickSave();"><a>Save</a></button>
        </div>
      </div>
    </div>
</div>


<!-- <app-lov [passData]="passLov" (selectedData)="setSelectedData($event)" #lov> -->
<!-- <app-quarter-ending-lov (selectedData)="setSelectedData($event)"></app-quarter-ending-lov> -->

<app-confirm-save (onYes)="save()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-cancel-button (onYes)="save('cancel')" [url]="'/acct-ar-listings'" ></app-cancel-button>