<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Info</legend>
		<div class="form-row custom-row-inline-inset">
			<div class="input-group">
				<label class="form-control-sm col-sm-1" for="xx">Quotation No</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-2" placeholder="CAR-2015-0289-04"
				 readonly>
				<label class="form-control-sm col-sm-1" for="xx">Insured</label>
				<input type="text" id="xx" class="form-control form-control-sm cust-sm col-sm-7" placeholder="Insured Name"
				 readonly>
			</div>
		</div>
	</fieldset>

	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Option</legend>
		<app-cust-editable-table [checkFlag]="true" [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="quoteOptionNData" [tableData]="quoteOptionTableData" [tHeader]="quoteOptionTHeader" [dataTypes]="quoteOptionDataType" [magnifyingGlass]="magnifyingGlass" [(editedData)]="quoteOptionEdited" [columnId]="'optionNo'"></app-cust-editable-table>
	</fieldset>

	<!-- <fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Other Rates</legend>
		<app-cust-editable-table [checkFlag]="true" [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="otherRatesNData" [tableData]="otherRatesTableData" [tHeader]="otherRatesTHeader" [dataTypes]="otherRatesDataType"></app-cust-editable-table>
	</fieldset> -->

	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Quotation Other Rates</legend>
		<app-cust-editable-table [checkFlag]="true" [addFlag]="true" [editFlag]="false" [deleteFlag]="true" [nData]="otherRatesNData" [tableData]="otherRatesTableData" [tHeader]="otherRatesTHeader" [dataTypes]="otherRatesDataType"></app-cust-editable-table>
	</fieldset>

	<div class="form-row">
		<div class="form-group col-sm">
			<div class="col-md-13 text-center">
				<br>
				<div class="cust-btn-container">
				<button type="button" class="cust-btn"><a>Cancel</a></button>
				<button type="button" class="cust-btn" (click)="save()"><a>Save</a></button>
			</div>
			</div>
		</div>
	</div>

</div>