<div class="cust-tabs-container">
  <h4>Accounting Service / Inquiry / Edited Accounting Entries</h4>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div>Inquire</div>
      </ng-template>
      <ng-template ngbTabContent>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Filter Options</legend>
          <div class="container-fluid">
            <div class="form-row custom-row-inline-inset">
              <div class="input-group">
                <label class="form-control-sm col-sm-2">Transaction Type</label>
                <select class="form-control form-control-sm cust-sm col-sm-3">
                  <option value="CV">Check Voucher</option>
                  <option value="OR">Official Receipt</option>
                  <option value="JV">Journal Voucher</option>
                </select>
                <div class="input-group col-sm-5">
                  <label class="form-control-sm col-sm-1">Period:</label>
                  <label class="form-control-sm col-sm-2">From:</label>
                  <input type="date" class="form-control form-control-sm col-sm-4" value="2018-10-01">
                  <label class="form-control-sm col-sm-1">To:</label>
                  <input type="date" class="form-control form-control-sm col-sm-4" value="2018-10-31">
                </div>
                <div class="col-sm-1">
                  <button class="cust-btn">Search</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="scheduler-border">
          <legend class="scheduler-border">List of Edited Transactions</legend>
          <div class="custom-row-inline-inset" style="position: relative;">
            <ng-template #content>
              <div class="modal-header">
                <span class="modal-title" id="modal-basic-title">Edited Entries</span>
              </div>
              <div class="modal-body" style="max-width: 1090px !important;">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Transaction Info</legend>
                  <div class="form-row custom-row-inline-inset">
                    <div class="col-sm-6">
                      <div class="input-group">
                        <label class="form-control-sm col-sm-3">Transaction Type</label>
                        <input type="text" class="form-control form-control-sm col-sm-3" placeholder="Check Voucher">
                        <label class="form-control-sm col-sm-2">Tran Date</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" value="2015-05-28T09:00">
                      </div>
                      <div class="input-group">
                        <label class="form-control-sm col-sm-3">Reference Number</label>
                        <input type="text" class="form-control form-control-sm col-sm-3" placeholder="2018-00372881">
                        <label class="form-control-sm col-sm-2">Tran Status</label>
                        <input type="text" class="form-control form-control-sm col-sm" placeholder="New">
                      </div>
                      <div class="input-group">
                        <label class="form-control-sm col-sm-3">Payor/Payee</label>
                        <input type="text" class="form-control form-control-sm col-sm" placeholder="INVOICE COMMUNICATIONS INC.">
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="input-group">
                        <label class="form-control-sm col-sm-2">Amount</label>
                        <input type="text" class="form-control form-control-sm col-sm-1" placeholder="PHP">
                        <input type="text" class="form-control form-control-sm col-sm-3 text-right" numbers-only style="margin-left:3px !important;"
                          placeholder="2,999.00">
                        <label class="form-control-sm col-sm-2" style="margin-left: -15px !important;">Edited By</label>
                        <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma">
                      </div>
                      <div class="input-group">
                        <label class="form-control-sm col-sm-2">Local Amount</label>
                        <input type="text" class="form-control form-control-sm col-sm-1" placeholder="PHP">
                        <input type="text" class="form-control form-control-sm col-sm-3 text-right" numbers-only style="margin-left:3px !important;"
                          placeholder="2,999.00">
                        <label class="form-control-sm col-sm-2" style="margin-left: -15px !important;">Date Edited</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" value="2015-05-28T09:00">
                      </div>
                      <div class="input-group">
                        <label class="form-control-sm col-sm-2">Particulars</label>
                        <input type="text" class="form-control form-control-sm col-sm" placeholder="Billing for the period of August 16 to September 15, 2018">
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="input-group">
                        <label class="form-control-sm col-sm-2" style="margin-left: -43px !important;">Reason</label>
                        <input type="text" class="form-control form-control-sm col-sm" placeholder="Account should be Internet Expense, not Telephone Line">
                        <div class="cust-btn-container" style="margin-left:3px !important;">
                          <button class="cust-btn col-sm-1" (click)="modalService.dismissAll()">Return</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </fieldset>

                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Old Accounting Entries</legend>
                  <div class="custom-row-inline-inset">
                    <app-cust-non-datatable [passData]="passDataOldAcctEntries">
                    </app-cust-non-datatable>
                  </div>
                </fieldset>

                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Latest Accounting Entries</legend>
                  <div class="custom-row-inline-inset">
                    <app-cust-non-datatable [passData]="passDataLatestAcctEntries">
                    </app-cust-non-datatable>
                  </div>
                </fieldset>

              </div>

            </ng-template>

            <app-cust-editable-non-datatable [passData]="passDataListOfEditedTransactions" (genericBtn)="showModal(content)">
            </app-cust-editable-non-datatable>
          </div>
        </fieldset>

      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>
        <div>Exit</div>
      </ng-template>
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>