<div class="cust-tabs-container">
<!-- <<<<<<< HEAD
	<h4>Accounting Service / Expense Budget</h4>
	 <ngb-tabset (tabChange)="beforeChange($event)">
		<ngb-tabset (tabChange)="onTabChange($event)">
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Budget Details</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-budget-details></app-budget-details>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>By Month</div>
				</ng-template>
				<ng-template ngbTabContent>					
					<app-by-month></app-by-month>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Extract From Last Year</div>
				</ng-template>
				<ng-template ngbTabContent>
					<app-extract-from-last-year></app-extract-from-last-year>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  			</ngb-tab>
	</ngb-tabset>
======= -->
	 <h4>Accounting Service / Expense Budget</h4>
	 	<ngb-tabset (tabChange)="onTabChange($event)">
	 		  <ngb-tab class="ngb-tab" title="Budget for the Year">
	 		  	<ng-template ngbTabContent>
	 		  		<app-budget-details></app-budget-details>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="Budget by Month">
	 		  	<ng-template ngbTabContent>
	 		  		<app-by-month></app-by-month>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="Actual Expenditure">
	 		  	<ng-template ngbTabContent>
	 		  		<app-extract-from-last-year></app-extract-from-last-year>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="Exit" id="Exit">
	 		  	<ng-template ngbTabContent>
	 		  	</ng-template>
	 		  </ngb-tab>
	 	</ngb-tabset>
<!-- >>>>>>> 978e0a86388844d0fc07436f2327abfe7de2467c -->
</div>