<div class="cust-tabs-container">
	 <h4>Accounting Service / Expense Budget</h4>
	 	<ngb-tabset (tabChange)="onTabChange($event)">
	 		  <ngb-tab class="ngb-tab" title="Budget Details">
	 		  	<ng-template ngbTabContent>
	 		  		<app-budget-details></app-budget-details>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="By Month">
	 		  	<ng-template ngbTabContent>
	 		  		<app-by-month></app-by-month>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="Extract from Last Year">
	 		  	<ng-template ngbTabContent>
	 		  		<app-extract-from-last-year></app-extract-from-last-year>
	 		  	</ng-template>
	 		  </ngb-tab>
	 		  <ngb-tab class="ngb-tab" title="Exit" id="Exit">
	 		  	<ng-template ngbTabContent>
	 		  	</ng-template>
	 		  </ngb-tab>
	 	</ngb-tabset>
</div>