<div class="cust-tabs-container">
	<h4>Accounting In-Trust / Check Voucher / Generate CV</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
		<ngb-tab class="ngb-tab" title="CV Entry">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="CV Details">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Payment Requests List">
			<ng-template ngbTabContent>
				<app-cv-payment-request-list></app-cv-payment-request-list>
			</ng-template>
		</ngb-tab>
		<ngb-tab class="ngb-tab" title="Attachments">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Exit">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>