<div class="cust-tabs-container">
	<h4>Quotation / Quotation Processing</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset>
			<ngb-tab id="idko">
				<ng-template ngbTabTitle>
					<div>CV Entry</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>

			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>CV Details</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>

			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Payment Requests List</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Attachments</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
				<ng-template ngbTabContent>
				</ng-template>
			</ngb-tab>
	</ngb-tabset>
</div>