<fieldset class="scheduler-border" style="margin-bottom: 15px !important;">
    <legend class="scheduler-border">Request Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Request No</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-3"
                placeholder="CSR-2018-09-0001" readonly>
                <label class="form-control-sm col-sm-2">Request Date</label>
                <input type="datetime-local"  class="form-control form-control-sm cust-sm col-sm-3" [value]="date" readonly>
                <label class="form-control-sm col-sm-1">Status</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" placeholder="New" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1">Payee</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm" placeholder="Engineering Builders Inc." readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                 <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;"placeholder="PHP" readonly>
           <!--      <select class="form-control form-control-sm cust-sm col-sm-2">
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select> -->
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;"placeholder="10,000,000.00" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;"placeholder="PHP" readonly>
                <!-- <select class="form-control form-control-sm cust-sm col-sm-2">
                        <option value="PHP">PHP</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select> -->
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" placeholder="10,000,000.00" readonly>
            </div>
        </div>
    </div>
</fieldset>

<!-- <div class="cust-tabs-container border-tab" style="margin-top: 10px;">
	<ngb-tabset>
		<ngb-tab *ngIf="paymentType == 'Claim Expense Payment to Adjusters'">
			<ng-template ngbTabTitle>
				<div>Claim Expense Payment to Adjuster</div>
			</ng-template>
			<ng-template ngbTabContent>
                <div class="contain">
				    <app-cust-editable-non-datatable [passData]="AdjustersData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Claim Expense Payment to Other Parties'">
            <ng-template ngbTabTitle>
                <div>Claim Expense Payment to Other Parties</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="OtherPartyData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Claim Payment to Ceding Company'">
            <ng-template ngbTabTitle>
                <div>Claim Payment to Ceding Company</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="CedingCompanyData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Inward Policy Balances - Returns'">
            <ng-template ngbTabTitle>
                <div>Inward Policy Balances - Return</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="paymentType == 'Payment of Service Fee by In-Trust to Service Accounting'">
            <ng-template ngbTabTitle>
                <div>Payment of Service Fee</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="contain">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <div>Others</div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-ar-others></app-ar-others>
            </ng-template>
		</ngb-tab>
    </ngb-tabset>
</div>
 -->

<div class="cust-tabs-container" style="margin-top:10px !important">
    <ngb-tabset>
      <ngb-tab *ngIf="paymentType != 'Others - Visible on any Payment Type'">
        <ng-template ngbTabTitle>
          <ng-container [ngSwitch]="paymentType.toUpperCase()">
           <div *ngSwitchCase ="'CLAIM EXPENSE PAYMENT TO CEDING COMPANY'">Claim Expense Payment to Ceding Company</div>
              <div *ngSwitchCase ="'CLAIM EXPENSE PAYMENT TO OTHER PARTIES'">Claim Expense Payment to Other Parties</div>
              <div *ngSwitchCase ="'CLAIM PAYMENT TO CEDING COMPANY'">Claim Payment to Ceding Company</div>
              <div *ngSwitchCase ="'INWARD POLICY BALANCES - RETURNS'">Inward Policy Balances - Returns</div>
              <div *ngSwitchCase ="'PAYMENT OF SERVICE FEE BY IN-TRUST TO SERVICE ACCOUNTING'">Payment of Service Fee</div>
              <div *ngSwitchCase ="'TREATY BALANCE DUE PARTICIPANTS'">Treaty Balance Due Participants</div>
              <div *ngSwitchCase ="'INVESTMENT (PLACEMENT)'">Investment (Placement)</div>
              <div *ngSwitchCase ="'QSOA BALANCES'">QSOA Balances</div>
              <div *ngSwitchCase ="'OTHERS - VISIBLE ON ANY PAYMENT TYPE'">Others - Visible on any Payment Type</div>
          </ng-container>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <ng-container [ngSwitch]="paymentType.toUpperCase()">
                <ng-container *ngSwitchCase ="'CLAIM EXPENSE PAYMENT TO CEDING COMPANY'">
                    <app-cust-editable-non-datatable [passData]="AdjustersData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'CLAIM EXPENSE PAYMENT TO OTHER PARTIES'">
                    <app-cust-editable-non-datatable [passData]="OtherPartyData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'CLAIM PAYMENT TO CEDING COMPANY'">
                    <app-cust-editable-non-datatable [passData]="CedingCompanyData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'INWARD POLICY BALANCES - RETURNS'">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="'PAYMENT OF SERVICE FEE BY IN-TRUST TO SERVICE ACCOUNTING'">

                    <!-- <app-cust-editable-non-datatable [passData]="ServiceAccountingData"></app-cust-editable-non-datatable> -->
                    <div class="row pt-1" >
                        <div controls-l class="input-group" style="margin-left: 30px">
                          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Service Fee</label>
                          <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="z-index: 99">
                          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Period As Of</label>
                          <input type="date" class="form-control form-control-sm cust-sm col-sm-2" style="z-index: 99">
                          <div class="col-sm-1">
                            <button class="cust-btn" style="z-index: 99">Distribute</button>
                          </div>
                        </div>
                      <app-cust-non-datatable [passData]="MainCompanyServiceAccountingData" class="w-100 px-5" style="margin-top: -36px ! important">
                      </app-cust-non-datatable>
                      
                    </div>
                    <div class="row" style="margin-top: 10px">
                      <app-cust-editable-non-datatable [passData]="SubServiceAccountingData" class="w-100 px-5"></app-cust-editable-non-datatable>
                    </div>

                </ng-container>
                <ng-container *ngSwitchCase ="'TREATY BALANCE DUE PARTICIPANTS'">
                    <div class="d-flex p-0">
                      <div class="col-sm-2"></div>
                      <div class="col-sm">
                        <app-cust-editable-non-datatable [passData]="TreatyBalanceData"></app-cust-editable-non-datatable>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase ="'INVESTMENT (PLACEMENT)'">
                    <app-payt-req-investment></app-payt-req-investment>
                </ng-container>
                <ng-container *ngSwitchCase="'QSOA BALANCES'">
                    <app-pr-qsoa></app-pr-qsoa>
                </ng-container>
                <ng-container *ngSwitchCase ="'OTHERS - VISIBLE ON ANY PAYMENT TYPE'">
                    
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="paymentType.toUpperCase() === 'INWARD POLICY BALANCES'" class="ngb-tab" title="Unapplied Collection">
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <app-unapplied-collection></app-unapplied-collection>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab class="ngb-tab" title="Others">
        <ng-template ngbTabContent>
          <app-ar-others></app-ar-others>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;
  padding-right: 0px !important;">
  <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
    <div class="custom-row-inline-inset">
      <div class="form-row" style="margin-bottom: -10px;">
        <div class="input-group">
          <label class="form-control-sm col-sm-1">Created By</label>
          <input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
          <label class="form-control-sm col-sm-1">Date Created</label>
          <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-01T10:45" disabled>
          <label class="form-control-sm col-sm-1">Last Update By</label>
          <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
          <label class="form-control-sm col-sm-1">Last Update</label>
          <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-02T10:00" disabled>
        </div>
      </div>
    </div>
  </fieldset>
  </div>