<fieldset class="scheduler-border" style="margin-bottom: 15px !important;">
    <legend class="scheduler-border">Request Info</legend>
    <div class="form-row custom-row-inline-inset">
        <div class="col-sm-8">
            <div class="input-group">
                <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Request No</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-3" [ngModel]="rowData.paytReqNo" readonly>
                <!-- <label class="form-control-sm col-sm-2">Request Date</label>
                <input type="datetime-local"  class="form-control form-control-sm cust-sm col-sm-3" [value]="date" readonly> -->
                <label class="form-control-sm col-sm-2 no-margin">Request Date</label>
                <div class="col-sm-3 dp-cont" style="margin-left: 0px !important">
                  <datepicker type="datetime" [showIcon]="false" [disabled]="true" [value]="rowData.reqDate"></datepicker>
                </div>
                <label class="form-control-sm col-sm-1">Status</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm-2" [ngModel]="rowData.reqStatusDesc" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-1">Payee</label>
                <input type="text"  class="form-control form-control-sm cust-sm col-sm" [ngModel]="rowData.payee" readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Amount</label>
                 <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;" [ngModel]="rowData.currCd" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="rowData.reqAmt | number:'1.2-2'" readonly>
            </div>
            <div class="input-group">
                <label class="form-control-sm col-sm-3" style="padding-left:0px !important;">Local Amount</label>
                <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" style="margin-left: 3px !important;" [ngModel]="rowData.currCd" readonly>
                <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px !important;" [ngModel]="rowData.localAmt | number:'1.2-2'" readonly>
            </div>
        </div>
    </div>
</fieldset>

<div class="cust-tabs-container" style="margin-top:10px !important">
    <ngb-tabset>
      <ngb-tab *ngIf="rowData.tranTypeCd != 8">
        <ng-template ngbTabTitle>
          <div>{{ rowData.tranTypeDesc }}</div>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <ng-container [ngSwitch]="rowData.tranTypeCd">
                <ng-container *ngSwitchCase ="1">
                    <app-cust-editable-non-datatable [passData]="AdjustersData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="2">
                    <app-cust-editable-non-datatable [passData]="OtherPartyData"></app-cust-editable-non-datatable>
                </ng-container>  
                <ng-container *ngSwitchCase ="3">
                    <app-cust-editable-non-datatable (clickLOV)="showLOV($event)" [passData]="cedingCompanyData" #cedCompTbl></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="4">
                    <app-cust-editable-non-datatable [passData]="PremiumReturnData"></app-cust-editable-non-datatable>
                </ng-container>
                <ng-container *ngSwitchCase ="5">
                    <div class="row pt-1" >
                        <div controls-l class="input-group" style="margin-left: 30px">
                          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Service Fee</label>
                          <input type="text" class="form-control form-control-sm cust-sm col-sm-2" style="z-index: 99">
                          <label class="form-control-sm col-sm-1" style="padding-left:0px !important;">Period As Of</label>
                          <input type="date" class="form-control form-control-sm cust-sm col-sm-2" style="z-index: 99">
                          <div class="col-sm-1">
                            <button class="cust-btn" style="z-index: 99">Distribute</button>
                          </div>
                        </div>
                      <app-cust-non-datatable [passData]="MainCompanyServiceAccountingData" class="w-100 px-5" style="margin-top: -36px ! important">
                      </app-cust-non-datatable>
                      
                    </div>
                    <div class="row" style="margin-top: 10px">
                      <app-cust-editable-non-datatable [passData]="SubServiceAccountingData" class="w-100 px-5"></app-cust-editable-non-datatable>
                    </div>

                </ng-container>
                <ng-container *ngSwitchCase ="6">
                    <div class="d-flex p-0">
                      <div class="col-sm-2"></div>
                      <div class="col-sm">
                        <app-cust-editable-non-datatable [passData]="TreatyBalanceData"></app-cust-editable-non-datatable>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase ="7">
                    <app-payt-req-investment></app-payt-req-investment>
                </ng-container>
                <ng-container *ngSwitchCase="'QSOA BALANCES'">
                    <app-pr-qsoa></app-pr-qsoa>
                </ng-container>
                <ng-container *ngSwitchCase ="8">
                    
                </ng-container>
              </ng-container>
              <div class="form-row" style="margin-top: 40px !important;">
                <div class="form-group col-sm">
                  <div class="text-center">
                    <div class="cust-btn-container">
                      <button type="button" class="cust-btn"><a>Cancel</a></button>
                      <button type="button" class="cust-btn" (click)="onClickSaveCPC()"><a>Save</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <!-- <ngb-tab *ngIf="paymentType.toUpperCase() === 'INWARD POLICY BALANCES'" class="ngb-tab" title="Unapplied Collection">
        <ng-template ngbTabContent>
          <div class="input-group cust-border" style="padding-top: 0.6em">
            <div class="col-sm-12">
              <app-unapplied-collection></app-unapplied-collection>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab class="ngb-tab" title="Others">
        <ng-template ngbTabContent>
          <app-ar-others></app-ar-others>
        </ng-template>
      </ngb-tab> -->
    </ngb-tabset>
  </div>


  <div class="col-sm-12" style="margin-top: 25px !important;padding-left: 0px !important;padding-right: 0px !important;">
    <fieldset class="scheduler-border" style="padding-bottom: 7px !important;">
      <div class="custom-row-inline-inset">
        <div class="form-row" style="margin-bottom: -10px;">
          <div class="input-group">
            <label class="form-control-sm col-sm-1">Created By</label>
            <input type="text" appCurrency class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
            <label class="form-control-sm col-sm-1">Date Created</label>
            <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-01T10:45" disabled>
            <label class="form-control-sm col-sm-1">Last Update By</label>
            <input type="text" class="form-control form-control-sm col-sm" placeholder="cuaresma" disabled>
            <label class="form-control-sm col-sm-1">Last Update</label>
            <input type="datetime-local" class="form-control form-control-sm col-sm" value="2018-10-02T10:00" disabled>
          </div>
        </div>
      </div>
    </fieldset>
  </div>


<app-mtn-clm-history-lov #mtnClmHistLov (selectedData)="selectedDataLov($event)" [limitClmHistTbl]="limitClmHistTbl" [lovCheckBox]="true"></app-mtn-clm-history-lov>

<app-confirm-save (onYes)="onSaveCPC()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSaveCPC('cancel')" [url]="'/payt-req'" ></app-cancel-button>