<!-- <app-cust-editable-non-datatable [passData]="lossReserveDepositData"></app-cust-editable-non-datatable> -->

<div class="form-row custom-row-inline-inset" style="padding-top: 50px !important; padding-bottom: 50px !important">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Company</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm-2 text-right" value="0000001">
            <input type="text" class="form-control form-control-sm cust-sm col-sm" style="margin-left: 3px !important;" value="BPI/MS INSURANCE CORPORATION">
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Address</label>
            <textarea class="form-control form-control-sm" style="font-size: 11px; min-height: 38px; margin-bottom: 17px;">
                16th Flr., 6811 BPI-Philam Life Makati, Ayala Ave., Salcedo Village Bel-Air, Makati City, Metro Manila, Philippines 1209
            </textarea>
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Membership Date</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="October 12, 2018">
            <label class="form-control-sm col-sm-2">Business Type</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="Non-Life Insurance">
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Tax Identification No.</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="10-93i3020-393">
            <label class="form-control-sm col-sm-2">Status</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="Active">
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Primary Contact Person</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="Mr. Joselito M. Reyes">
        </div>
        <div class="input-group">
            <label class="form-control-sm col-sm-2">Contact No.</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="(02) 738-0294">
            <label class="form-control-sm col-sm-2">Email Address</label>
            <input type="text" class="form-control form-control-sm cust-sm col-sm" value="support_bpimsinscorp@bpims.com">
        </div>
    </div>
    <div class="col-sm-1"></div>
    
</div>

