
<quill-editor class="txt-edtr" [ngModel]="editorContent" (ngModelChange)="editorContent = $event" [style]="{height: '100%', width: '100%', font: '11px arial'}" [modules]="{toolbar: false}" [readOnly]="true" [sanitize]="false" [placeholder]="''"></quill-editor>

<div style="margin-top: -52px;" class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
<div style="margin-top: -32px;"class="text-search-ico"><a><i class="fa fa-pencil" (click)="showTextEditorModal(content);"></i></a></div>

<ng-template #content>
  <div class="modal-header">
    <span class="modal-title" id="modal-basic-title">Text Editor</span>
    <div class="close" style="padding-bottom: 5px;">
      <a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true" ><span style="padding-right: 3px;" id="closes">&times;&nbsp;&nbsp;</span></a>
    </div>
  </div>
  <div class="modal-body">
    <quill-editor class="txt-edtr" [ngModel]="editorContent" (ngModelChange)="editorContent = $event" [style]="{height: '300px', width: '900px', font: '11px arial'}" [modules]="{toolbar: false}" [sanitize]="false"></quill-editor> 
  </div>
  <div class="modal-footer">
    <div>
      <button class="cust-btn" type="button" (click)="closeTextEditorModal($event)"><a>Okay</a></button>
    </div>
  </div>
</ng-template>