<!-- 
<fieldset class="scheduler-border">
	<legend class="scheduler-border" *ngIf="!holdCover">Policy Record Info</legend>
	<legend class="scheduler-border" *ngIf="holdCover">Open Cover Details</legend>
	<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
		<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
			<label class="col-sm-1" *ngIf="!holdCover"></label>
			<label class="form-control-sm col-sm-1" *ngIf="!holdCover">Policy No</label>
			<label class="form-control-sm col-sm-2" *ngIf="holdCover">Open Cover Pol No</label>
			<input type="text" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2" placeholder=""
			 readonly>
			<label class="form-control-sm col-sm-1" for="xx">Insured</label>
			<input type="text" value="Insurer" class="form-control form-control-sm cust-sm col-sm-5" placeholder="" readonly>
		</div>
		<div class="input-group" style="margin-bottom: -13px !important;">
			<label class="col-sm-1"></label>
			<label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
			<input type="text" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder="" readonly>
		</div>
	</div>
</fieldset>
<div>
	<fieldset class="scheduler-border">
		 <legend class="scheduler-border">Co-Insurance</legend>
        <div>
             <app-cust-editable-non-datatable [passData]='coInsuranceData'></app-cust-editable-non-datatable>
        </div>
	</fieldset>
</div> -->



<fieldset class="scheduler-border">
	<legend class="scheduler-border">Policy Record Info</legend>
	<div class="form-row custom-row-inline-inset" style="margin-top: -2px !important;">
		<div class="input-group" style="margin-bottom: -13px !important; margin-top: 3px !important">
			<label class="col-sm-1"></label>
			<label class="form-control-sm col-sm-1">Policy No</label>
			<input type="text" value="CAR-2018-5081-077-0177" class="form-control form-control-sm cust-sm col-sm-2" placeholder="" [ngModel]="policyInfo.policyNo"
			 readonly>
			<label class="form-control-sm col-sm-1" for="xx">Insured</label>
			<input type="text" [ngModel]="policyInfo.insuredDesc" value="Insurer" class="form-control form-control-sm cust-sm col-sm-5" placeholder="" readonly>
		</div>
		<div class="input-group" style="margin-bottom: -13px !important;">
			<label class="col-sm-1"></label>
			<label class="form-control-sm col-sm-1" for="xx" style="height: auto;">Risk</label>
			<input type="text" [ngModel]="policyInfo.riskName" value="Risk Name" class="form-control form-control-sm cust-sm col-sm-8" placeholder="" readonly>
		</div>
	</div>
</fieldset>
<div>
	<fieldset class="scheduler-border">
		 <legend class="scheduler-border">Co-Insurance</legend>
        <div>
             <app-cust-editable-non-datatable [passData]="coInsuranceData"></app-cust-editable-non-datatable>
        </div>
	</fieldset>
</div>
