<div class="cust-tabs-container">
	<h4>Maintenance / Quotation & Policy</h4>
	<ngb-tabset (tabChange)="onTabChange($event)">
		<ngb-tab class="ngb-tab" title="Intermediary List">
			<ng-template ngbTabContent>
				<fieldset class="scheduler-border" style="margin-top: 10px !important">
                    <div class="custom-row-inline-inset" style="margin-top: 25px !important;">
						<app-cust-non-datatable [passData]="passDataIntmList" (tableDataChange)="passDataIntmList.tableData=$event" (rowClick)="onRowClick($event)" (add)="onClickAdd($event)" (newRowDblClick)="intmRecord=$event;onRowDblClick()" (edit)="onClickEdit($event)" (searchToDb)="searchQuery($event)" (export)="export()"></app-cust-non-datatable>
					</div>
				</fieldset>

				<fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
                        <label class="form-control-sm col-sm-1">Created By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.createUser" readonly>
                        <label class="form-control-sm col-sm-1">Created Date</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.createDate" readonly>
                        <label class="form-control-sm col-sm-1">Last Update By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.updateUser" readonly>
                        <label class="form-control-sm col-sm-1">Last Update</label>
                        <input type="datetime-local" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.updateDate" readonly>
                    </div>
                </fieldset>

                <!-- <fieldset class="scheduler-border" style="margin-top: 10px !important;">
                    <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
                        <label class="form-control-sm col-sm-1">Created By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.createUser" readonly>
                        <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
                        <div class="col-sm dp-cont">
                            <datepicker [value]="intmRecord.createDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
                        <label class="form-control-sm col-sm-1">Last Update By</label>
                        <input type="text" class="form-control form-control-sm col-sm" [(ngModel)]="intmRecord.updateUser" readonly>
                        <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
                        <div class="col-sm dp-cont">
                            <datepicker [value]="intmRecord.updateDate" [showIcon]="false" [showSeconds]="true" [disabled]="true"></datepicker>
                        </div>
                    </div>
                </fieldset> -->

			</ng-template>
		</ngb-tab>
		<ngb-tab id="Exit">
            <ng-template ngbTabTitle>
                <div>Exit</div>
            </ng-template>
            <ng-template ngbTabContent></ng-template>
        </ngb-tab>
	</ngb-tabset>
</div>
