<div class="cust-tabs-container">
  <h4>Accounting In-Trust / Month End / Trial Balance Processing</h4>
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab class="ngb-tab" title="Generate Trial Balance">
      <ng-template ngbTabContent>
        <div class="d-flex">
        	<div class="col-sm-4"></div>
        	<fieldset class="scheduler-border col-sm-4"  style="padding: 15px !important;">
        		<legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
        		
        			<div class="input-group mt-1">
				        <label class="form-control-sm col-sm-5 pl-0 pr-1 text-right">Transaction Date</label>
		                <input type="date" class="form-control form-control-sm col-sm-5" value="2019-01-31">
				    </div>

        			<div class="input-group cust-ig">
				        <div class="form-control-sm col-sm-5 pl-0 pr-1 text-right mb-0">
				        	<input type="checkbox" checked="checked" name="">
				        </div>
		                <label class="form-control-sm text-left col-sm">Include Previous Months</label>
				    </div>
        			<div class="input-group cust-ig">
				        <div class="form-control-sm col-sm-5 pl-0 pr-1 text-right mb-0">
				        	<input type="checkbox" checked="checked" name="">
				        </div>
		                <label class="form-control-sm text-left col-sm">Include Previous Years</label>
				    </div>
        			<div class="input-group">
				        <div class="form-control-sm col-sm-5 pl-0 pr-1 text-right mb-0">
				        	<input type="checkbox" checked="checked" name="">
				        </div>
		                <label class="form-control-sm text-left col-sm">Adjusting Entries Only</label>
				    </div>

    			<div class="form-group col-sm text-center" style="margin-bottom: 5px;">
    		      <div class="cust-btn-container">
    		        <button type="button" class="cust cust-btn"><a>Generate</a></button>
    		      </div>
    		    </div>
        	</fieldset>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab class="ngb-tab" title="Exit" id="Exit">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>