<div class="form-row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
      <fieldset class="scheduler-border">
          <legend class="scheduler-border">Read Me</legend>
          <div class="form-row custom-row-inline-inset">
            <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="input-group">
                  <ol>
                    <li class="form-control-sm">Create a folder and save the monthly DAT files from BIR Alpha system in that folder.</li>
                    <li class="form-control-sm">Click Open File icon to select the folder where you saved the monthly DAT files.</li>
                    <li class="form-control-sm">Click Import to import all the monthly details.</li>
                    <li class="form-control-sm">Click Summary in tab Annual Details to consolidate per taxpayer.</li>
                    <li class="form-control-sm">Click Export in tab Consolidated Data to create CSV data and DAT file in the folder.</li>
                  </ol>
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-1">Year</label>
                  <input type="text" class="form-control form-control-sm col-sm-2" value="2018">
                </div>
                <div class="input-group">
                  <label class="form-control-sm col-sm-1">Folder</label>
                  <input type="text" class="form-control form-control-sm col-sm" value="24th Method">
                  <div class="form-row" style="margin-left:0px !important; margin-top: -1px !important;">
                      <div class="form-group col-sm">
                        <div class="cust-btn-container">
                          <button class="fa fa-folder-open "></button>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="input-group" style="margin-top: 8px !important;">
                  <div class="form-group col-sm">
                    <div class="text-center">
                        <div class="cust-btn-container">
                            <button class="cust-btn col-sm-3">Import</button>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
          </div>
        </fieldset>
  </div>
  <div class="col-sm-2"></div>
</div>