<div class="cust-tabs-container">
    <h4>Quotation</h4>
    <ngb-tabset>
        <ngb-tab title="Change Quote Status">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-sm-9">   
                        <app-cust-editable-non-datatable  [passData]="passData" (rowClick)="onRowClick($event)" ></app-cust-editable-non-datatable>                     
                    </div>
                    <div class="col-sm-3" style="margin-top: 2px;">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Batch Option</legend>
                            <div class="form-group" style="margin-bottom: 13px;margin-left: 35px !important;">
                                <div class="input-group">
                                    <input class="form-control-sm" type="radio" name="batchOption" [value]="9"
                                        style="    margin-top: 2px !important;" [(ngModel)]="statusCode">
                                    <label class="form-control-sm col-sm-10" style="text-align: left !important;">Did
                                        Not Materialize</label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control-sm" type="radio" name="batchOption" value="10"
                                        style="    margin-top: 2px !important;" [(ngModel)]="statusCode">
                                    <label class="form-control-sm col-sm-10" style="text-align: left !important;">Risk
                                        Not Commensurate</label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control-sm" type="radio" name="batchOption" value="99"
                                        style="    margin-top: 2px !important;" [(ngModel)]="statusCode">
                                    <label class="form-control-sm col-sm-10" style="text-align: left !important;">Spoiled</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons">
                            <button class="cust-btn cust-btn-extend" type="button" (click)="process()"><a>Process</a></button>
                            <br />
                            <button class="cust-btn cust-btn-extend" type="button" (click)="query()"><a>Search</a></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <fieldset class="scheduler-border" style="margin-top: -15px !important;">
                            <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group alignment" style="margin-right: 10%; margin-bottom: -14px !important;">
                                    <label class="form-control-sm col-sm-2 text-right">Quotation No</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" [ngModel]="selected?.quotationNo">
                                    <label class="form-control-sm col-sm-2 text-right">Status</label>
                                    <input type="text" name="" class="form-control form-control-sm col-sm-4" [ngModel]="selected?.status">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group alignment" style="margin-right: 10%; margin-bottom: -14px !important;">
                                    <label class="form-control-sm col-sm-2 text-right">Ceding Co</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" [ngModel]="selected?.cedingName">
                                    <label class="form-control-sm col-sm-2 text-right">Insured</label>
                                    <input type="text" name="" class="form-control form-control-sm col-sm-4" [ngModel]="selected?.insuredDesc">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset">
                                <div class="input-group alignment" style="margin-right: 10%; margin-bottom: -14px !important;">
                                    <label class="form-control-sm col-sm-2 text-right">Risk</label>
                                    <input type="text" class="form-control form-control-sm col-sm-4" [ngModel]="selected?.project?.riskName">
                                    <label class="form-control-sm col-sm-2 text-right">Processor</label>
                                    <input type="text" name="" class="form-control form-control-sm col-sm-4">
                                </div>
                            </div>
                            <div class="form-row custom-row-inline-inset" style="margin-bottom: 11px !important;">
                                <div class="input-group alignment" style="margin-right: 10%; margin-bottom: -10px !important;">
                                    <label class="form-control-sm col-sm-2 text-right">Reason</label>
                                    <input type="text" class="form-control form-control-sm col-sm-1" style="margin-right: 1px !important;">
                                    <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                                    <div class="col-sm-3" style="padding-left: 2px; padding-right: 0px;">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                    <label class="form-control-sm col-sm-2 text-right">Remarks</label>
                                    <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px">
                                        <input type="text" name="" class="form-control form-control-sm" style="padding-left: 1px">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="center">
                        <div class="col-md-13 text-center">
                            <div class="cust-btn-container" style="margin-right: 255px !important;margin-top: 10px !important;">
                                <button type="button" class="cust-btn" (click)="cancel()"><a>Cancel</a></button>
                                <button type="button" class="cust-btn" ><a>Save</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />

                <app-modal class="hidden">
                    <div header>Search</div>
                    <div body>
                        <div class="max-size">
                            <fieldset class="scheduler-border">
                                <br />
                                <div class="form-row custom-row-inline-inset" style="margin-top: -5px !important;">
                                    <div class="input-group alignment" style="margin-bottom: -13px !important;">
                                        <label class="form-control-sm col-sm-3 text-right">Quotation No</label>
                                        <input type="text" class="form-control form-control-sm">
                                        <input type="text" class="form-control form-control-sm" style="margin-left: 2px !important;">
                                        <input type="text" class="form-control form-control-sm" style="margin-left: 2px !important;">
                                        <input type="text" class="form-control form-control-sm" style="margin-left: 2px !important;">
                                        <input type="text" class="form-control form-control-sm" style="margin-left: 2px !important;">
                                        <a style="margin-left: 5px;"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="form-row custom-row-inline-inset">
                                    <div class="input-group alignment" style="margin-bottom: -13px !important;">
                                        <label class="form-control-sm col-sm-3 text-right">Type of Cession</label>
                                        <input type="text" class="form-control form-control-sm col-sm-2">
                                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                                        <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 2px !important;">
                                    </div>
                                </div>
                                <div class="form-row custom-row-inline-inset">
                                    <div class="input-group alignment" style="margin-bottom: -13px !important;">
                                        <label class="form-control-sm col-sm-3 text-right">Ceding Company</label>
                                        <input type="text" class="form-control form-control-sm col-sm-2">
                                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                                        <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 2px !important;">
                                    </div>
                                </div>
                                <div class="form-row custom-row-inline-inset">
                                    <div class="input-group alignment" style="margin-bottom: -20px !important;">
                                        <label class="form-control-sm col-sm-3 text-right">Risk</label>
                                        <input type="text" class="form-control form-control-sm col-sm-2">
                                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                                        <input type="text" class="form-control form-control-sm col-sm-8" style="margin-left: 2px !important;">
                                    </div>
                                </div>
                                <br>
                            </fieldset>
                        </div>
                    </div>
                    <div footer style=" margin-right: 185px !important;">
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
                    </div>
                </app-modal>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="cancelFlag ? this.cancelBtn.onNo():null"></app-sucess-dialog>
<app-confirm-save (onYes)="saveData()"></app-confirm-save>
<app-cancel-button (onYes)="saveData('cancel')" [url]="'/quotation-processing'" ></app-cancel-button>