<div class="cust-tabs-container">
    <h4>Quotation / Change Quote Status</h4>
</div>
<br/>
<div class="row">
    <div class="col-sm-9">
        <app-cust-table [tableOnly]="true" [tHeader]="tHeader" [tableData]="tableData" [checkFlag]="true"></app-cust-table>
    </div>
    <div class="col-sm-3">
        <div id="fieldsetLabel"><label>Batch Option</label></div>
        <fieldset class="scheduler-border">
            <div class="form-group">
                <input type="radio" name="batchOption" value="Did Not Materialized"><span class="radioLabels">&nbsp; Did Not Materialized</span>
                <br/>
                <input type="radio" name="batchOption" value="Risk Not Commensurate"><span class="radioLabels">&nbsp; Risk Not Commensurate</span>
                <br/>
                <input type="radio" name="batchOption" value="Spoiled"><span class="radioLabels">&nbsp; Spoiled</span>
            </div>
        </fieldset>
        <div class="buttons">
            <button class="cust-btn cust-btn-extend" type="button"><a>Process</a></button>
            <br/>
            <button class="cust-btn cust-btn-extend" type="button"><a>Untag All</a></button>
            <br/>
            <button class="cust-btn cust-btn-extend" type="button" (click)="query()"><a>Query</a></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <fieldset class="scheduler-border">
            <br/>
            <div class="alignment">
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Quotation No</label>
                        <input type="text" class="form-control form-control-sm col-sm-4">
                        <label class="form-control-sm col-sm-2 text-right">Status</label>
                        <input type="text" name="" class="form-control form-control-sm col-sm-4"> 
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Ceding Co</label>
                        <input type="text" class="form-control form-control-sm col-sm-4">
                        <label class="form-control-sm col-sm-2 text-right">Insured</label>
                        <input type="text" name="" class="form-control form-control-sm col-sm-4"> 
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Risk</label>
                        <input type="text" class="form-control form-control-sm col-sm-4">
                        <label class="form-control-sm col-sm-2 text-right">Processor</label>
                        <input type="text" name="" class="form-control form-control-sm col-sm-4"> 
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Reason</label>
                        <input type="text" class="form-control form-control-sm col-sm-1">
                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                        <input type="text" class="form-control form-control-sm col-sm-3">
                        <label class="form-control-sm col-sm-2 text-right">Remarks</label>
                        <input type="text" name="" class="form-control form-control-sm col-sm-4"> 
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-12" align="center">
        <div class="col-md-13 text-center">
            <br>
            <div class="cust-btn-container">
                <button type="button" class="cust-btn"><a>Cancel</a></button>
                <button type="button" class="cust-btn" (click)="save()"><a>Save</a></button>
            </div>
        </div>
    </div>
</div>
<br/><br/>

<app-modal class="hidden">
    <div header>Query</div>
    <div body>
        <div class="max-size">
            <fieldset class="scheduler-border">
                <br/>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Quotation No</label>
                        <input type="text" class="form-control form-control-sm">
                        <input type="text" class="form-control form-control-sm">
                        <input type="text" class="form-control form-control-sm">
                        <input type="text" class="form-control form-control-sm">
                        <input type="text" class="form-control form-control-sm">
                        <a><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Type of Cession</label>
                        <input type="text" class="form-control form-control-sm col-sm-2">
                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                        <input type="text" class="form-control form-control-sm col-sm-8">
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Ceding Company</label>
                        <input type="text" class="form-control form-control-sm col-sm-2">
                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                        <input type="text" class="form-control form-control-sm col-sm-8">
                    </div>
                </div>
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group alignment">
                        <label class="form-control-sm col-sm-2 text-right">Risk</label>
                        <input type="text" class="form-control form-control-sm col-sm-2">
                        <div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
                        <input type="text" class="form-control form-control-sm col-sm-8">
                    </div>
                </div>
                <br>
            </fieldset>
        </div>
    </div>
    <div footer>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
    </div>
</app-modal>
