<div class="cust-tabs-container">
	<h4>Quotation / Quotation Processing</h4>
	<ngb-tabset (tabChange)="beforeChange($event)">

		<ngb-tab class="ngb-tab" title="General Info">
			<ng-template ngbTabContent>
				<app-general-info></app-general-info>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="idko">
			<ng-template ngbTabTitle>
				<div>Coverage</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-coverage></app-coverage>
			</ng-template>
		</ngb-tab>

		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Quote Option</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quote-option></app-quote-option>
			</ng-template>
		</ngb-tab>

		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Endorsement</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quote-endorsement></app-quote-endorsement>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>ALOP</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quo-alop></app-quo-alop>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Internal Competition</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-internal-competition></app-internal-competition>
			</ng-template>
		</ngb-tab>
		<ngb-tab>
			<ng-template ngbTabTitle>
				<div>Attachment</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-attachment></app-attachment>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="approval-tab">

			<ng-template #content>
				<div class="modal-header">
					<span class="modal-title" id="modal-basic-title">Approval</span>
					<div class="close" style="padding-bottom: 5px;">
						<a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true"><span style="padding-right: 3px;"
							 id="closes">&times;&nbsp;&nbsp;</span></a>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<fieldset class="scheduler-border">
								<div class="custom-row-inline-inset cust-div">
									<div class="input-group">
										<label class="form-control-sm col-sm-3" for="xx">Status</label>
										<input type="text" id="xx" class="form-control form-control-sm col-sm-5">
										&nbsp;
									</div>
									<div class="input-group">
										<select class="form-control form-control-sm cust-sm col-sm-8">
											<option>user1</option>
											<option>user2</option>
											<option>user3</option>
										</select>
										&nbsp;
										<button class="cust-btn">Approve</button>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-6">
							<fieldset class="scheduler-border">
								<div class="custom-row-inline-inset cust-div">
									<div class="input-group">
										<label class="form-control-sm col-sm-5" for="xx">Report</label>
										<input type="text" id="xx" class="form-control form-control-sm col-sm-7">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-5" for="xx">No. of Copies</label>
										<input type="text" id="xx" class="form-control form-control-sm col-sm-7">
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-5" for="xx">Destination</label>
										<select class="form-control form-control-sm cust-sm col-sm-7">
											<option>Screen</option>
											<option>PDF</option>
											<option>Printer</option>
										</select>
									</div>
									<div class="input-group">
										<label class="form-control-sm col-sm-5" for="xx">Printer Name</label>
										<select class="form-control form-control-sm cust-sm col-sm-7">
											<option>Printer A</option>
											<option>Printer B</option>
											<option>Printer C</option>
										</select>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<div>
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Cancel</a></button>
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Print</a></button>
					</div>
				</div>
			</ng-template>

			<ng-template ngbTabTitle>
				<div (click)="showApprovalModal(content)">Approval</div>
			</ng-template>

		</ngb-tab>
		<ngb-tab title="Exit">
			<ng-template ngbTabContent>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>