<div class="cust-tabs-container">
	<h4 *ngIf="!inquiryFlag">Quotation / Quotation Processing {{ header }}</h4>
	<h4 *ngIf="inquiryFlag">Quotation / Quotation Inquiry</h4>
	<!-- <ngb-tabset (tabChange)="beforeChange($event)"> -->
		<ngb-tabset  (tabChange)="onTabChange($event)">
		<ngb-tab class="ngb-tab" title="General Info">
			<ng-template ngbTabContent>
				<app-general-info (checkQuoteId)="checkQuoteInfo($event)" [quoteInfo]="quoteInfo" [inquiryFlag]="inquiryFlag"
					(enblEndtTab)="enblEndtTab=$event"></app-general-info>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="idko" [disabled]="quoteInfo.quoteId == ''">
			<ng-template ngbTabTitle>
				<div>Coverage</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-coverage [quotationInfo]="quoteInfo" [inquiryFlag]="inquiryFlag" (enblQuoteOpTab)="enblQuoteOpTab=$event"></app-coverage>
			</ng-template>
		</ngb-tab>
		<ngb-tab [disabled]="quoteInfo.quoteId == ''|| false">
			<ng-template ngbTabTitle>
				<div>Quote Option</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quote-option [quotationInfo]="quoteInfo" [inquiryFlag]="inquiryFlag" (showAlop)="quoteInfo.showAlop = $event" (enblEndtTab)="enblEndtTab=$event"></app-quote-option>
			</ng-template>
		</ngb-tab>

		<ngb-tab [disabled]="quoteInfo.quoteId == '' || !enblEndtTab">
			<ng-template ngbTabTitle>
				<div>Endorsement</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quote-endorsement [quotationInfo]="quoteInfo" [endorsementType]="'General'" [inquiryFlag]="inquiryFlag"></app-quote-endorsement>
			</ng-template>
		</ngb-tab>
		<ngb-tab *ngIf="(line=='CAR' || line=='EAR') && quoteInfo.showAlop" [disabled]="quoteInfo.quoteId == ''">
	<!-- 	<ngb-tab> -->
			<ng-template ngbTabTitle>
				<div>ALOP</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-quo-alop [quotationInfo]="quoteInfo" [inquiryFlag]="inquiryFlag"></app-quo-alop>
			</ng-template>
		</ngb-tab>
		<ngb-tab [disabled]="quoteInfo.quoteId == ''">
			<ng-template ngbTabTitle>
				<div>Internal Competition</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-internal-competition [quotationInfo]="quoteInfo" [inquiryFlag]="inquiryFlag"></app-internal-competition>
			</ng-template>
		</ngb-tab>
		<ngb-tab [disabled]="quoteInfo.quoteId == ''">
			<ng-template ngbTabTitle>
				<div>Attachment</div>
			</ng-template>
			<ng-template ngbTabContent>
				<app-attachment [quotationInfo]="quoteInfo" [inquiryFlag]="inquiryFlag"></app-attachment>
			</ng-template>
		</ngb-tab>
		<ngb-tab *ngIf="!inquiryFlag" id="approval-tab" [disabled]="quoteInfo.quoteId == ''">

			<ng-template #content>
				<div class="modal-header">
					<span class="modal-title" id="modal-basic-title">Approval</span>
					<div class="close" style="padding-bottom: 5px;">
					<!-- 	<a class="btn-cust" aria-label="Close" (click)="modalService.dismissAll();" aria-hidden="true"><span style="padding-right: 3px;"
							 id="closes">&times;&nbsp;&nbsp;</span></a> -->
					</div>
				</div>
				<div class="modal-body" style="width: 580px">
					<div class="row">
						<div class="col-sm-6" style="padding-right : 10px ! important;">
							<fieldset class="scheduler-border" style="padding-left : 20px ! important; padding-right : 10px ! important">
								<div class="custom-row-inline-inset">
									<div class="input-group" style="margin-top : 13px ! important">
										<div class="col-sm-8" style="padding-left : 0px ! important; padding-right : 0px ! important;">
											<div class="input-group" style="margin-bottom : -8px ! important">
												<label class="form-control-sm" for="xx" style="padding-left: 0px">Status</label>
												<input type="text" id="xx" class="form-control form-control-sm col-sm">
											</div>
										</div>
									</div>

									<div class="input-group">
										<div class="col-sm" style="padding-left : 0px ! important; padding-right : 0px ! important">
											<div class="input-group">
												<select class="form-control form-control-sm cust-sm col-sm-8">
													<option>CPI</option>
													<option>PMMSC-Admin</option>
												</select>
												<button class="cust">Approve</button>
											</div>
										</div>
										<!-- <div class="col-sm-4" style="padding-left : 0px ! important; padding-right : 0px ! important; text-align: center">
											<button class="cust">Approve</button>
										</div> -->
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm-6" style="padding-left : 10px ! important;">
							<fieldset class="scheduler-border" style="padding-left : 20px ! important; padding-right : 20px ! important">
								<div class="custom-row-inline-inset">
									<div class="input-group" style="margin-bottom : -14px ! important; margin-top : 13px ! important">
										<label class="form-control-sm" for="xx">Report</label>
										<select [(ngModel)]=selectedReport class="form-control form-control-sm cust-sm" style="margin-left: 33px" appRequired (change)="tabController($event);">
											<option *ngFor="let report of reportsList" [value]="report.val">{{report.desc}}</option>
										</select>
									</div>
									<div class="input-group" style="margin-bottom : -14px ! important" >
										<label class="form-control-sm" for="xx">Destination</label>
										<select class="form-control form-control-sm cust-sm" style="margin-left: 11px" [(ngModel)]="printType">
											<option>SCREEN</option>
											<option>PDF</option>
											<option>PRINTER</option>
											<!-- <option>Google Docs</option> -->
										</select>
									</div>
<!-- 									<div class="input-group" style="margin-bottom : -14px ! important">
										<label class="form-control-sm" for="xx">Printer Name</label>
										<select class="form-control form-control-sm cust-sm" style="margin-left: 2px">
											<option>No printer available.</option>
										</select>
									</div>
									<div class="input-group" style="margin-bottom : -14px ! important">
										<label class="form-control-sm" for="xx">No. of Copies</label>
										<input type="text" id="xx" class="form-control form-control-sm" appRequired style="margin-left: 2px !important;">
									</div> -->
									<!-- <div class="input-group" style="margin-bottom : -14px ! important">
										<label class="form-control-sm" for="xx">Option No</label>
										<input type="text" id="xx" class="form-control form-control-sm cust-sm" appRequired style="    margin-left: 16px;">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
									</div>
									<div class="input-group" style="margin-bottom : -14px ! important">
										<label class="form-control-sm" for="xx">Wordings</label>
										<input type="text" id="xx" class="form-control form-control-sm" appRequired style="    margin-left: 19px;">
										<div class="text-search-ico"><a><i class="fa fa-search"></i></a></div>
									</div> -->
									
									
								</div>
							</fieldset>
						</div>
					</div>

				</div>
				<div class="modal-footer" style="justify-content: center;">
					<div >
						<button class="cust-btn" type="button" (click)="modalService.dismissAll();cancel();"><a>Cancel</a></button>
						<button class="cust-btn" [class.btnDisabled]="btnDisabled" [disabled]="btnDisabled" type="button" (click)="showPrintPreview();"><a>Print</a></button>
					</div>
				</div>
			</ng-template>

			<ng-template ngbTabTitle>
				<div *ngIf="!inquiryFlag && quoteInfo.quoteId != ''" (click)="showApprovalModal(content)">Approval</div>
				<div *ngIf="!inquiryFlag && quoteInfo.quoteId == ''">Approval</div>
			</ng-template>

		</ngb-tab>
		<ngb-tab id="Exit">
				<ng-template ngbTabTitle>
					<div>Exit</div>
				</ng-template>
    			<ng-template ngbTabContent></ng-template>
  		</ngb-tab>
	</ngb-tabset>
</div>
<app-sucess-dialog id="quotation" [icon]="dialogIcon" [message]="dialogMessage" (onOk)="modalService.dismissAll();"></app-sucess-dialog>
<ng-template #confirmLeave>
	<app-confirm-leave></app-confirm-leave>
</ng-template>