<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Policy Record</legend>
		<div class="form-row">
			<div class="form-group col-sm-1">
				<label class="form-control-sm top-label">Line</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-1">
				<label class="form-control-sm top-label">Year</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-1">
				<label class="form-control-sm top-label">Seq No</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-1">
				<label class="form-control-sm top-label">Alt No</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Branch</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Line Class</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Ceding Company</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Co Pol No</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Co Ref No</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
		</div>
	</fieldset>
</div>

<div>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Policy Record Status</legend>
		<div class="form-row" style="margin-bottom: -5px;">
			<div class="form-group col-sm-1">
				<label class="form-control-sm top-label">Status</label>
				<select class="form-control form-control-sm cust-sm" id="inputQuotation">
					<option></option>
					<option><b>I -</b> In-force</option>
					<option><b>C -</b> Converted</option>
					<option><b>E -</b> Expired</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label class="form-control-sm top-label">Printed By</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-2">
				<label class="form-control-sm top-label">Print Date</label>
				<input type="date" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm-2">
				<label class="form-control-sm top-label">Quotation No</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Requested By</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Request Date</label>
				<input type="text" class="form-control form-control-sm cust-sm">
			</div>
			<div class="form-group col-sm">
				<label class="form-control-sm top-label">Request Mode</label>
				<select class="form-control form-control-sm cust-sm" id="inputQuotation">
					<option></option>
					<option><b>F -</b> Full</option>
					<option><b>P -</b> Partial</option>
				</select>
			</div>
		</div>
	</fieldset>
</div>

<div>
	<div class="row">
		<div class="col-sm-9">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Period of Issuance</legend>
				<div class="form-row">
					<div class="form-group col-sm">
						<label class="form-control-sm top-label">Issue Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
					<div class="form-group col-sm">
						<label class="form-control-sm top-label">Inception Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
					<div class="form-group col-sm">
						<label class="form-control-sm top-label">Expiry Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
					<div class="form-group col-sm">
						<label class="form-control-sm top-label">Effective Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-sm-3">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Policy Date</legend>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label class="form-control-sm top-label">Distribution Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
					<div class="form-group col-sm-6">
						<label class="form-control-sm top-label">Accouting Date</label>
						<input type="date" class="form-control form-control-sm cust-sm">
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>


<div>
	<div class="row">
		<div class="col-sm-9">
			<div>
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Insured Details</legend>
					<div class="form-row" style="margin-right: 0px; margin-bottom: 5px;">
						<div class="input-group" style="margin-top: 10px;">
							<label class="form-control-sm col-sm-1">Principal</label>
							<input type="text" class="form-control form-control-sm cust-sm">
							<label class="form-control-sm col-sm-1">Contractor</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Insured</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Property</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Site</label>
							<input type="text" class="form-control form-control-sm">
							<label class="form-control-sm col-sm-1">Duration</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Risk</label>
							<input type="text" class="form-control form-control-sm">
							<label class="form-control-sm col-sm-1">Object</label>
							<input type="text" class="form-control form-control-sm">
						</div>
						<div class="input-group">
							<label class="form-control-sm col-sm-1">Location</label>
							<input type="text" class="form-control form-control-sm">
						</div>
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Other Info</legend>
					<div class="form-row">
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Created By</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Date Created</label>
							<input type="date" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Last Updated By</label>
							<input type="text" class="form-control form-control-sm cust-sm">
						</div>
						<div class="form-group col-sm">
							<label class="form-control-sm top-label">Last Update</label>
							<input type="date" class="form-control form-control-sm cust-sm">
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="col-sm-3">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Share Details</legend>
				<div class="custom-row-inline-inset">
					<div class="input-group">
						<label class="form-control-sm col-sm-4">Intermediary</label>
						<input type="text" class="form-control form-control-sm">
					</div>
				</div>
			</fieldset>
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Tags</legend>
				<div class="custom-row-inline-inset">
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Booked" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Alteration" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Government" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Distribution" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Open Cover" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Installment" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Declaration Policy" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Extension" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Hold Cover" disabled class="form-control form-control-sm">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<input type="checkbox">
									</div>
								</div>
								<input style="font-size: 0.7rem !important;" type="text" value="Min. Deposit" disabled class="form-control form-control-sm">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
