.text-search-ico {
	margin-left: -20px !important;
    margin-right: 5px !important;
    z-index: 200;
}

.cust-btn-extend{
    max-width: inherit;
    width: 100%;
    margin-bottom: 5px;
}

.labels{
	margin: 0px;
}

.text-area-font{
	font-size: 11px;
    min-height: 38px;
    margin-bottom: 5px;
}

.no-padding{
	padding: 0px;
}

