 <div class="row">
    <div class="col-sm-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">CV Info</legend>
            <div class="d-flex">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="form-row" style="margin-top: 13.5px !important;margin-bottom: 13.5px !important;">
                        <div class="input-group">
                            <label class="form-control-sm col-sm-1">CV. No</label>
                            <div class="input-group col-sm-3 no-padding">
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-4" [(ngModel)]="saveAcitCv.cvYear" readonly>
                                <input type="text" class="form-control form-control-sm cust-sm col-sm-8" style="text-align: right;margin-left: 3px;" [(ngModel)]="saveAcitCv.cvNo"  readonly>
                            </div>
                            <label class="form-control-sm col-sm-2 no-margin">Date</label>
                            <div class="col-sm-3 dp-cont" style="margin-left: 0px !important">
                              <datepicker [type]="'datetime'" [disabled]="false" [required]="true" [(value)]="saveAcitCv.cvDate"></datepicker>
                            </div>
                            <label class="form-control-sm col-sm-1">Status</label>
                            <input type="text" class="form-control form-control-sm cust-sm col-sm-3" [(ngModel)]="saveAcitCv.cvStatus" readonly>
                        </div>
                        <div class="input-group" style="margin-top: -5px">
                            <label class="form-control-sm col-sm-1">Payee</label>
                            <input type="text" class="form-control form-control-sm cust-sm col-sm" [(ngModel)]="saveAcitCv.payee" maxlength="500" appRequired>
                            <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('payee')"><i class="fa fa-search"></i></a></div>
                        </div>
                        <div class="input-group" style="margin-top: -5px">
                            <label class="form-control-sm col-sm-1">Particulars</label>
                            <textarea class="form-control form-control-sm cust-sm col-sm text-area-font" style="min-height: 53px" maxlength="1000" [(ngModel)]="saveAcitCv.particulars" appRequired></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-1"></div>
            </div>
        </fieldset>
    </div>
   <!--  <div class="col-sm-2" style="padding-left: 10px !important;">
        <fieldset class="scheduler-border" style="padding: 8px 0px !important;">
            <legend class="scheduler-border" style="visibility: hidden; padding-top: 24px !important; padding-left: 0px !important; padding-right: 0px !important;"></legend>
                <div class="cust-btn-container" style="text-align: center; margin-top: 1px; margin-bottom: 3px;"> 
                <button class="cust-btn " style="width: 100%;margin-bottom: 5px !important;">New CV</button>
                <button class="cust-btn " style="width: 100%;margin-bottom: 5px !important;">Save</button>
                <button class="cust-btn " style="width: 100%;margin-bottom: 5px !important;">Cancel CV</button>
                <button class="cust-btn " style="width: 100%" (click)="showPrintModal();">Print</button>
                <app-modal id="printModal" [btnTitle]="'Print'" class="d-none">
                    <div header>Print Check/DV</div>
                    <div body>
                        <div class="container-fluid">
                            <div class="custom-row-inline-inset">
                                <div class="input-group">
                                    <div class="col-sm-4"></div>
                                    <div class="input-group col-sm-3 labels" style="padding: 0px;">
                                        <input type="checkbox" style="margin-top: 6px;" checked>
                                        <label class="form-control-sm" for="xx">CV</label>
                                    </div>
                                    <div class="input-group col-sm-3 labels" style="padding: 0px;">
                                        <input type="checkbox" style="margin-top: 6px;" checked>
                                        <label class="form-control-sm" for="xx">Check</label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-4 labels">Destination</label>
                                    <select class="form-control form-control-sm cust-sm col-sm-8">
                                        <option>Printer</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-4 labels">Printer Name</label>
                                    <select class="form-control form-control-sm cust-sm col-sm-8">
                                        <option>EPSON 3600i</option>
                                        <option>BROTHER J100</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label class="form-control-sm col-sm-4 labels">No. of Copies</label>
                                    <input type="number" class="form-control form-control-sm cust-sm col-sm-8 text-right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div footer class="text-center w-100">
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); cancel();"><a>Cancel</a></button>
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); confirm();"><a>Print</a></button>
                    </div>
                </app-modal>
            </div>
        </fieldset>
    </div> -->
    <div class="col-sm-12">
        <fieldset class="scheduler-border" style="padding-bottom: 20px !important;">
            <legend class="scheduler-border">Check Details</legend>
            <div class="test d-flex" style="margin-top: 20px !important;">
                <div class="col-sm-1" style="margin-left: -15px !important;"></div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Bank</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.bankName" maxlength="100" appRequired>
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('bank')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Check Amount</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-2" [(ngModel)]="saveAcitCv.currCd" maxlength="3" appRequired>
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('curr')"><i class="fa fa-search"></i></a></div>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" [(ngModel)]="saveAcitCv.cvAmt" appRequired style="margin-left: 3px;">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Currency Rate</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10 text-right" [(ngModel)]="saveAcitCv.currRate" appRequired>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Local Amount</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-2" [(ngModel)]="saveAcitCv.localAmt" readonly>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px;" readonly>
                    </div>
                    <div class="input-group" style="margin-top: 20px !important;"></div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Prepared By</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.preparedByName" appRequired>
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('prep-user')"><i class="fa fa-search"></i></a></div>
                    </div>

                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels"></label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [ngModel]="saveAcitCv.preparedByDes" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 no-margin">Date Prepared</label>
                        <div class="col-sm dp-cont" style="margin-left: 0px !important">
                            <datepicker [type]="'datetime'" [disabled]="false" [required]="true" [(value)]="saveAcitCv.preparedDate"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Bank Account No.</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.bankAcct" appRequired>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Check No.</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10 text-right" [(ngModel)]="saveAcitCv.checkNo" appRequired>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 no-margin" style="margin-bottom: 0px !important">Check Date</label>
                        <div class="col-sm dp-cont" style="margin-left: 0px !important">
                            <datepicker [type]="'datetime'" [disabled]="false" [required]="true" [(value)]="saveAcitCv.checkDate"></datepicker>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Check Class</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.checkClassDesc" appRequired>
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('class')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group" style="margin-top: 20px !important;"></div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels">Certified Correct</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.certifiedByName" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 labels"></label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.certifiedByDes" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-3 no-margin">Date Certified</label>
                        <div class="col-sm dp-cont" style="margin-left: 0px !important">
                            <datepicker type="datetime" [showIcon]="false" [disabled]="true" [required]="true" [value]="saveAcitCv?.certifiedDate"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

       <!--  <div class="col-sm-12">
            <fieldset class="scheduler-border" style="padding-bottom: 20px !important;">
            <legend class="scheduler-border">Check Details</legend>
                <div class="test d-flex" style="margin-top: 20px !important;">

                </div>
            </fieldset> -->


<!--             <div class="text-center" style="margin-top: 15px !important;">
                 <button class="cust" (click)="showCVEndtDetModal()">CV Endorsements Details</button>
            </div> -->
<!--             <app-modal id="cvEndt" class="d-none"  >
                    <div header>Check Voucher Endorsements Details</div>
                    <div body>
                        <div class="container-fluid">
                            <fieldset class="scheduler-border" style="margin-bottom: -15px !important;"> 
                                 <legend class="scheduler-border">Prepared By</legend> 
                                     <div class="form-row custom-row-inline-inset" style="margin-top: 15px !important;">
                                        <app-cust-editable-non-datatable [passData]="preparedByData"></app-cust-editable-non-datatable>
                                    </div>
                            </fieldset>
                             <fieldset class="scheduler-border" style="margin-bottom: -15px !important; margin-top: 15px ! important"> 
                                 <legend class="scheduler-border">Certified By</legend> 
                                     <div class="form-row custom-row-inline-inset" style="margin-top: 15px !important;">
                                        <app-cust-editable-non-datatable [passData]="certifiedByData"></app-cust-editable-non-datatable>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" style="margin-bottom: -15px !important; margin-top: 15px ! important"> 
                                 <legend class="scheduler-border">Approved By</legend> 
                                     <div class="form-row custom-row-inline-inset" style="margin-top: 15px !important;">
                                        <app-cust-editable-non-datatable [passData]="approvedByData"></app-cust-editable-non-datatable>
                                    </div>
                            </fieldset>


                                
                        </div>
                    </div>
                    <div footer class="text-center w-100">
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll(); save();"><a>Save</a></button>
                        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Return</a></button>
                    </div>
            </app-modal> -->













<!--             <div class="col-sm-12">
                <div class="form-row custom-row-inline-inset">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-1">Prepared By</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Ma Cecilia Dela Paz -  Castro">
                        <div style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                        <label class="form-control-sm col-sm-1">Certified Correct</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Juan Dela Cruz">
                        <div style="margin-left: -19px !important;margin-right: 6px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                        <label class="form-control-sm col-sm-1">Approved By</label>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Jose Reyes">
                        <div style="margin-left: -19px !important;margin-right: 6px !important;z-index: 200;font-size: 14px;"><a><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group" style="margin-top: -7px !important;">
                        <div class="col-sm-1"></div>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Accountant I">
                        <div class="col-sm-1"></div>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="Section Manager">
                        <div class="col-sm-1"></div>
                        <input type="text" class="form-control form-control-sm cust-sm col-sm-3" placeholder="">
                    </div>
                    <div class="input-group" style="margin-top: 15px !important;margin-bottom: -25px !important;">
                        <label class="form-control-sm col-sm-1 labels">Date Prepared</label>
                        <input type="datetime-local" class="form-control form-control-sm cust-sm col-sm-3" value="2018-10-01T08:45">
                        <label class="form-control-sm col-sm-1 labels">Date Certified</label>
                        <input type="datetime-local" class="form-control form-control-sm cust-sm col-sm-3" value="2018-10-02T15:00">
                        <label class="form-control-sm col-sm-1 labels">Date Approved</label>
                        <input type="datetime-local" class="form-control form-control-sm cust-sm col-sm-3" value="2018-10-04T13:30">
                    </div>
                </div>
            </div> -->

            <div class="form-row">
                <div class="form-group col-sm" style="margin-bottom: 8px;">
                    <div class="col-md-13 text-center">
                        <div class="cust-btn-container">
                            <button type="button" class="cust-btn">New CV</button>
                            <button type="button" class="cust-btn" (click)="onClickSave()">Save</button>
                            <button type="button" class="cust-btn">Cancel CV</button>
                            <button type="button" class="cust-btn">Certify</button>
                            <button type="button" class="cust-btn">Approve</button>
                            <button type="button" class="cust-btn">Print</button>
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>
    </div>
    <div class="col-sm-12" style="margin-top: 0px !important;">
        <fieldset class="scheduler-border" style="margin: 0px !important; margin-top: 12px !important;">
            <div class="form-row custom-row-inline-inset" style="margin-left: -27px;">
                <div class="input-group" style="margin-bottom: -15px !important;">
                    <label class="form-control-sm col-sm-1 text-right ">Created By</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma" disabled>
                    <label class="form-control-sm col-sm-1 text-right ">Date Created</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM" disabled>
                    <label class="form-control-sm col-sm-1 text-right ">Last Update By</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" placeholder="cuaresma" disabled>
                    <label class="form-control-sm col-sm-1 text-right ">Last Update</label>
                    <input type="text" class="form-control form-control-sm col-sm-2" placeholder="10/01/2018 11:49 AM" disabled>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<app-lov #payeeLov [passData]="passDataLov" (selectedData)="setData($event,'payee')"></app-lov>
<app-lov #bankLov [passData]="passDataLov" (selectedData)="setData($event,'bank')"></app-lov>
<app-lov #classLov [passData]="passDataLov" (selectedData)="setData($event,'class')"></app-lov>
<app-mtn-currency #currLov (selectedData)="setData($event,'curr')"></app-mtn-currency>
<app-mtn-printable-names #prepUserLov (selectedData)="setData($event,'prep-user')"></app-mtn-printable-names>

<app-confirm-save (onYes)="onSaveAcitCv()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSave('cancel')" [url]="'/generate-cv'" ></app-cancel-button>
