 <form #myForm="ngForm">
 <div class="row">
    <div class="col-sm-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">CV Info</legend>
            <div class="d-flex">
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-sm-12">
                    <div class="form-row" style="margin-top: 13.5px !important;margin-bottom: 13.5px !important;">
                        <div class="input-group" style="margin-bottom: -14px !important;">
                            <label class="form-control-sm col-sm-1">CV. No</label>
                            <div class="input-group col-sm-2 no-padding">
                                <input name="input1" type="text" class="form-control form-control-sm cust-sm col-sm-4" [(ngModel)]="saveAcitCv.cvYear" readonly>
                                <input name="input2" type="text" class="form-control form-control-sm cust-sm col-sm-8" style="text-align: right;margin-left: 3px;" [(ngModel)]="saveAcitCv.cvNo"  readonly>
                            </div>
                            <label class="form-control-sm col-sm-1 no-margin" style="margin-left: -40px !important;">Date</label>
                            <div class="col-sm-2 dp-cont" style="margin-left: 0px !important">
                                <datepicker [type]="'datetime'" [disabled]="saveAcitCv.cvStatus != 'N' && saveAcitCv.cvStatus != 'F'" [required]="true" [(value)]="saveAcitCv.cvDate"></datepicker>
                            </div>
                            <label class="form-control-sm col-sm-1" style="margin-left: -30px !important; z-index: -1">Status</label>
                            <input name="input3" type="text" class="form-control form-control-sm cust-sm col-sm-2" [(ngModel)]="saveAcitCv.cvStatusDesc" readonly>
                            <label class="form-control-sm col-sm-2" style="margin-left: -40px !important;">Payment Request Type</label>
                            <input name="input4" type="text" class="form-control form-control-sm cust-sm col-sm warn paytreqtype" [(ngModel)]="saveAcitCv.paytReqTypeDesc" maxlength="500" appRequired [disabled]="existsInCvDtl" autoComplete="off">
                            <div *ngIf="!removeIcon && !existsInCvDtl" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('paytreqtype')"><i class="fa fa-search"></i></a></div>
                        </div>
                        <div class="input-group" style="margin-bottom: -14px !important;">
                            <label class="form-control-sm col-sm-1">Payee</label>
                            <input name="inputPayeeCd" type="text" class="form-control form-control-sm cust-sm col-sm-1 warn payee" [(ngModel)]="saveAcitCv.payeeCd" maxlength="500" appRequired [disabled]="existsInCvDtl" autoComplete="off" (change)="checkCode($event,'payee')" numbers-only>
                            <div *ngIf="!removeIcon && !existsInCvDtl" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('payee')"><i class="fa fa-search"></i></a></div>
                            <input name="input5" type="text" class="form-control form-control-sm cust-sm col-sm warn" [(ngModel)]="saveAcitCv.payee" maxlength="500" appRequired  autoComplete="off" style="margin-left: 3px !important;">
                        </div>
                        <div class="input-group" style="margin-bottom: -1px !important;">
                            <label class="form-control-sm col-sm-1">Particulars</label>
                            <textarea name="textarea1" class="form-control form-control-sm cust-sm col-sm text-area-font warn particulars" style="min-height: 53px" maxlength="1000" [(ngModel)]="saveAcitCv.particulars" appRequired autoComplete="off"></textarea>
                        </div>
                        <div class="input-group" *ngIf="saveAcitCv.cvStatus == 'X'">
                            <label class="form-control-sm col-sm-1">Cancellation Reason</label>
                            <textarea name="taCancelReason" class="form-control form-control-sm cust-sm col-sm text-area-font" style="min-height: 53px" maxlength="1000" [(ngModel)]="saveAcitCv.cancelReason" autoComplete="off" readonly></textarea>
                        </div>
                    </div>

                </div>
            <!-- <div class="col-sm-1"></div> -->
        </div>
    </fieldset>
</div>

    <div class="col-sm-12">
        <fieldset class="scheduler-border" style="padding-bottom: 20px !important;">
            <legend class="scheduler-border">Check Details</legend>
            <div class="test d-flex" style="margin-top: 20px !important;">
                <div class="col-sm-1" style="margin-left: -15px !important;"></div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Disbursement Type</label>
                        <select name="selectDt" class="form-control form-control-sm cust-sm col-sm warn cl-spoil" appRequired [ngModel]="saveAcitCv.disbType" (ngModelChange)="saveAcitCv.disbType=$event; onChangeDisbType();" [disabled]="saveAcitCv.cvStatus !== 'N' && saveAcitCv.cvStatus !== 'F'">
                            <option *ngFor="let i of disbTypeList" value="{{ i.code }}">{{ i.description }}</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Source Bank</label>
                        <input name="input6" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn bank cl-spoil" (change)="setBankAcctData()" [(ngModel)]="saveAcitCv.bankDesc" maxlength="100" appRequired autoComplete="off">
                        <div *ngIf="!removeIcon || (removeIcon && spoiled)" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('bank')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Disbursed Amount</label>
                        <input name="input7" type="text" class="form-control form-control-sm cust-sm col-sm-2 warn curr" [ngModel]="saveAcitCv.currCd" (ngModelChange)="saveAcitCv.currCd=$event.toUpperCase()" maxlength="3" appRequired [disabled]="existsInCvDtl" (change)="checkCode($event, 'curr')" autoComplete="off">
                        <div *ngIf="!removeIcon && !existsInCvDtl" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('curr')"><i class="fa fa-search"></i></a></div>
                        <input name="input8" type="text" class="form-control form-control-sm cust-sm col-sm text-right warn" maxlength="24" [(ngModel)]="saveAcitCv.cvAmt" (change)="setLocalAmt();" numbers-only appRequired style="margin-left: 3px;" autoComplete="off">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Currency Rate</label>
                        <input name="input9" type="text" class="form-control form-control-sm cust-sm col-sm-10 text-right warn" maxlength="32" [(ngModel)]="saveAcitCv.currRate" (change)="setLocalAmt();" numbers-only appRequired [disabled]="existsInCvDtl" autoComplete="off">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Local Amount</label>
                        <input name="input10" type="text" class="form-control form-control-sm cust-sm col-sm-2" value="PHP" readonly>
                        <input name="input11" type="text" class="form-control form-control-sm cust-sm col-sm text-right" style="margin-left: 3px;" [(ngModel)]="saveAcitCv.localAmt" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Destination Bank</label>
                        <input name="input12" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn bank cl-spoil" (change)="setBankAcctData(1)" [(ngModel)]="saveAcitCv.destBankDesc" maxlength="100" autoComplete="off" [disabled]="saveAcitCv.disbType !== 'BT'">
                        <div *ngIf="(!removeIcon || (removeIcon && spoiled)) && saveAcitCv.disbType == 'BT'" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('dest-bank')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Transfer Reference No.</label>
                        <input name="input13" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn prep-user cl-spoil" [(ngModel)]="saveAcitCv.btRefNo" autoComplete="off" [disabled]="saveAcitCv.disbType !== 'BT'">
                    </div>
                    <div class="input-group" style="margin-top: 20px !important;"></div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Prepared By</label>
                        <input name="input14" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn prep-user cl-spoil" [(ngModel)]="saveAcitCv.preparedByName" (change)="checkCode($event, 'prep-user')" appRequired autoComplete="off">
                        <div *ngIf="!removeIcon || (removeIcon && spoiled)" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('prep-user')"><i class="fa fa-search"></i></a></div>
                    </div>

                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels"></label>
                        <input name="input15" type="text" class="form-control form-control-sm cust-sm col-sm-10" [ngModel]="saveAcitCv.preparedDes" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 no-margin">Date Prepared</label>
                        <div class="col-sm dp-cont" style="margin-left: 0px !important">
                            <datepicker [type]="'datetime'" [disabled]="(spoiled)?false:saveAcitCv.cvStatus != 'N' && saveAcitCv.cvStatus != 'F'" [required]="true" [(value)]="saveAcitCv.preparedDate"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Swift Code</label>
                        <input name="input25" type="text" [disabled]="saveAcitCv.disbType !== 'BT'" class="form-control form-control-sm cust-sm col-sm-10 warn bank-acct cl-spoil" [(ngModel)]="saveAcitCv.swiftCd" autoComplete="off">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Source Acct. No.</label>
                        <input name="input16" type="text" [disabled]="saveAcitCv.bankDesc == '' || saveAcitCv.bankDesc == null" class="form-control form-control-sm cust-sm col-sm-10 warn bank-acct cl-spoil" [(ngModel)]="saveAcitCv.bankAcctDesc" appRequired autoComplete="off">
                        <ng-container *ngIf="!removeIcon || (removeIcon && spoiled)">
                            <div *ngIf="saveAcitCv.bankDesc != '' && saveAcitCv.bankDesc != null" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('bank-acct')"><i class="fa fa-search"></i></a>
                            </div>
                        </ng-container>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Check No.</label>
                        <input name="input17" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn cl-spoil" [disabled]="saveAcitCv.bankAcctDesc == '' || saveAcitCv.bankAcctDesc == null || saveAcitCv.disbType !== 'CK'" [(ngModel)]="saveAcitCv.checkNo" numbers-only appRequired autocomplete="off" (blur)="padCheckNo()">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 no-margin" style="margin-bottom: 0px !important">Check Date</label>
                        <div class="col-sm dp-cont checkDateWarn" style="margin-left: 0px !important">
                            <datepicker [type]="'datetime'" [disabled]="((spoiled)?false:saveAcitCv.cvStatus != 'N' && saveAcitCv.cvStatus != 'F') || saveAcitCv.disbType !== 'CK'" [required]="true" [(value)]="saveAcitCv.checkDate"></datepicker>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Check Class</label>
                        <input name="input18" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn class cl-spoil" [(ngModel)]="saveAcitCv.checkClassDesc" appRequired autoComplete="off" [disabled]="saveAcitCv.disbType !== 'CK'">
                        <div *ngIf="(!removeIcon || (removeIcon && spoiled)) && saveAcitCv.disbType == 'CK'" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('class')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Destination Acct. No.</label>
                        <input name="input19" type="text" [disabled]="saveAcitCv.destBankDesc == '' || saveAcitCv.destBankDesc == null || saveAcitCv.disbType !== 'BT'" class="form-control form-control-sm cust-sm col-sm-10 warn bank-acct cl-spoil" [(ngModel)]="saveAcitCv.destAcctNo" autoComplete="off">
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Destination Acct. Name</label>
                        <input name="input20" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn prep-user cl-spoil" [(ngModel)]="saveAcitCv.destAcctName" autoComplete="off" [disabled]="saveAcitCv.disbType !== 'BT'">
                    </div>
                    <div class="input-group" style="margin-top: 20px !important;"></div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels">Certified Correct</label>
                        <input name="input21" type="text" class="form-control form-control-sm cust-sm col-sm-10 warn cl-spoil" [(ngModel)]="saveAcitCv.certifiedByName" (change)="checkCode($event, 'cert-user')" autoComplete="off">
                        <div *ngIf="!removeIcon || (removeIcon && spoiled)" style="margin-left: -18px !important;margin-right: 5px !important;z-index: 200;font-size: 14px;"><a (click)="showLov('cert-user')"><i class="fa fa-search"></i></a></div>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 labels"></label>
                        <input name="input22" type="text" class="form-control form-control-sm cust-sm col-sm-10" [(ngModel)]="saveAcitCv.certifiedDes" readonly>
                    </div>
                    <div class="input-group">
                        <label class="form-control-sm col-sm-4 no-margin">Date Certified</label>
                        <div class="col-sm dp-cont" style="margin-left: 0px !important">
                            <datepicker [type]="'datetime'" [disabled]="(spoiled)?false:saveAcitCv.cvStatus != 'N' && saveAcitCv.cvStatus != 'F'" [required]="false" [(value)]="saveAcitCv.certifiedDate"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm" style="margin-bottom: 8px;">
                    <div class="col-md-13 text-center">
                        <div class="cust-btn-container">
                            <button type="button" class="cust-btn" (click)="onClickNewCv()">New CV</button>
                            <button type="button" class="cust-btn" [disabled]="(spoiled)?false:saveAcitCv.cvStatus != 'N' && saveAcitCv.cvStatus != 'F'" (click)="onClickSave()">Save</button>
                            <button type="button" class="cust-btn" [disabled]="(saveAcitCv.cvStatus == 'P' && saveAcitCv.mainAcctEntDate != null)?true:(saveAcitCv.cvStatus == 'X' || saveAcitCv.cvNo == '')?true:false" (click)="fromBtn='cancel-req';approvalCd='AC009';overrideFunc('AC009')">Cancel CV</button>
                            <button type="button" class="cust-btn" [disabled]="(saveAcitCv.cvStatus == 'X' || saveAcitCv.disbType !== 'CK')?true:(saveAcitCv.checkStatus != 'P' || saveAcitCv.tranId == '')?true:false" (click)="fromBtn='spoil';approvalCd='AC008';overrideFunc('AC008')">Spoil Check</button>
                            <button type="button" class="cust-btn" [disabled]="saveAcitCv.cvStatus == 'N' || saveAcitCv.cvStatus == 'X' || saveAcitCv.cvStatus == 'A' || saveAcitCv.cvStatus == 'P' || saveAcitCv.cvNo == '' || saveAcitCv.cvNo == null " (click)="onClickOkPrint()">Ok For Printing</button>
                            <!-- <button type="button" class="cust-btn" [disabled]="(saveAcitCv.checkStatus == 'P' || saveAcitCv.checkStatus == null || spoiled)?true:(saveAcitCv.cvStatus != 'A' && saveAcitCv.cvStatus != 'P')?true:false" (click)="fromBtn='print';approvalCd='AC004';overrideFunc('AC004')">Print</button> -->
                            <button type="button" class="cust-btn" [disabled]="saveAcitCv.cvStatus != 'A' && saveAcitCv.cvStatus != 'P'" (click)="fromBtn='print';approvalCd='AC004';overrideFunc('AC004');">Print</button>
                            <button *ngIf="canUploadAcctEnt" type="button" class="cust-btn" [disabled]="saveAcitCv.cvStatus == 'X' || saveAcitCv.cvStatus == 'A' || saveAcitCv.cvStatus == 'P' || saveAcitCv.cvNo == '' || saveAcitCv.cvNo == null " (click)="upload()">Upload Acct. Ent</button>
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>
    </div>
    <div class="col-sm-12">
    <fieldset class="scheduler-border" style="margin-top: 10px !important;">
      <div class="input-group" style="margin-left: -13px !important;margin-top: 10px !important;">
        <label class="form-control-sm col-sm-1">Created By</label>
        <input name="input23" type="text" class="form-control form-control-sm col-sm" [(ngModel)]="saveAcitCv.createUser" readonly>
        <label class="form-control-sm col-sm-1 no-margin">Date Created</label>
        <div class="col-sm dp-cont">
          <datepicker [showIcon]="false" [showSeconds]="true" [disabled]="true" [value]="saveAcitCv.createDate"></datepicker>
        </div>
        <label class="form-control-sm col-sm-1">Last Update By</label>
        <input name="input24" type="text" class="form-control form-control-sm col-sm" [(ngModel)]="saveAcitCv.updateUser" readonly>
        <label class="form-control-sm col-sm-1 no-margin">Last Update</label>
        <div class="col-sm dp-cont">
          <datepicker [showIcon]="false" [showSeconds]="true" [disabled]="true" [value]="saveAcitCv.updateDate"></datepicker>
        </div>
      </div>
    </fieldset>
  </div>
</div>
</form>

<app-modal class="d-none" id="uploadAcct" #AcctEntries>
    <div header>Uploading Accounting Entries</div>  
    <div body>
        <div class="form-row custom-row-inline-inset">
            <div class="input-group">
                <label class="form-control-sm col-sm-2 text-right labels">File</label>
                <input type="text" class="form-control form-control-sm col-sm-8" readonly [ngModel]="fileName">
                <button class="fa fa-folder-open btn-file" title="Open File" style="height: 21px !important;margin-left: 6px;" (click)="openFile()">
                    <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="validateFile($event)" id="upload" class="file-hidden">
                </button>
            </div>
        </div>
    </div>
    <div footer class="text-center">
        <span class="fa fa-spinner fa-spin" style="font-size: 15px;" *ngIf="uploadLoading"></span>
        <button type="button" class="cust-btn" (click)="uploadAcctEntries();" [disabled]="uploadLoading" [class.cust-btn-disabled]="uploadLoading"><a>Upload</a></button>
        <button type="button" class="cust-btn" (click)="upAcctEntMdl.closeModal();"><a>Cancel</a></button>
    </div>
</app-modal>

<app-modal class="d-none" #confirmMdl >
    <div header>Confirmation</div>
    <div body class="container-flex text-center">
        <div *ngIf="fromBtn == 'approve-req'" class="input-group">
            <p class="col-sm-12">Are you sure you want to approve this Check Voucher?</p>
        </div>
        <div *ngIf="fromBtn == 'cancel-req'" class="input-group">
            <p class="col-sm-12">Are you sure you want to cancel this Check Voucher?</p>
            <label class="form-control-sm col-sm-1 text-right labels">Reason</label>
            <textarea name="textarea2" class="form-control form-control-sm cust-sm col-sm text-area-font warn particulars" style="min-height: 53px" maxlength="1000" [(ngModel)]="saveAcitCv.cancelReason" appRequired autoComplete="off"></textarea> 
        </div>
        <div *ngIf="fromBtn == 'print'" class="input-group">
            <ng-container *ngIf="printData.printCv && printData.printCheck; else elseMsg">
                <p class="col-sm-12">Was the printing of Check Voucher and Check successful?</p>    
            </ng-container>
            
            <ng-template #elseMsg>
                <p *ngIf="printData.printCv" class="col-sm-12">Was the printing of Check Voucher successful?</p>
                <p *ngIf="printData.printCheck" class="col-sm-12">Was the printing of Check successful?</p>
            </ng-template>
        </div>
        <div *ngIf="fromBtn == 'spoil'" class="input-group">
            <p class="col-sm-12">Are you sure you want to spoil this Check?</p>
        </div>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="onYesConfirmed()">Yes</button>
        <button class="cust-btn" type="button" (click)="confirmMdl.closeModal()">No</button>
    </div>
</app-modal>

<app-modal class="d-none" #warnMdl >
    <div header>Warning</div>
    <div body class="container-flex text-center">
        <div class="input-group">
            <pre style="font-family: inherit !important;width: inherit !important; margin-bottom: 0px !important;"><p style="margin-bottom: 0px !important;">{{ warnMsg }}</p></pre>
        </div>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="warnMdl.closeModal()">Ok</button>
    </div>
</app-modal>

<app-modal class="d-none" #printMdl>
    <div header>Print Check/DV</div>
    <div body>
        <div class="container-fluid">
            <div class="custom-row-inline-inset">
                <div class="input-group">
                    <div class="col-sm-4"></div>
                    <div class="input-group col-sm-3 labels" style="padding: 0px;">
                        <input name="cb1" type="checkbox" style="margin-top: 6px;" [ngModel]="printData.printCv" (ngModelChange)="printData.printCv=$event;">
                        <label class="form-control-sm">CV</label>
                    </div>
                    <div class="input-group col-sm-3 labels" style="padding: 0px;">
                        <input name="cb1" type="checkbox" style="margin-top: 6px;" id="checkCbId" [ngModel]="printData.printCheck" (ngModelChange)="printData.printCheck=$event;validateCheck();">
                        <label class="form-control-sm">Check</label>
                    </div>
                </div>
                <div class="input-group" style="margin-bottom: -14px !important">
                    <input type="radio" name="rad" style="margin-left: 70px !important" [value]="0" [ngModel]="printData.reportType" (ngModelChange)="printData.reportType=$event;">
                    <label class="form-control-sm" style="padding: 0px !important;margin-top: -1px !important;margin-left: 5px !important;">Summary</label>
                </div>
                <div class="input-group" style="margin-bottom: -14px !important">
                    <input type="radio" name="rad" style="margin-left: 70px !important" [value]="1" [ngModel]="printData.reportType" (ngModelChange)="printData.reportType=$event;">
                    <label class="form-control-sm" style="padding: 0px !important;margin-top: -1px !important;margin-left: 5px !important;">Detailed</label>
                </div>
                <div class="input-group" style="margin-bottom: -14px !important">
                    <input type="radio" name="rad" style="margin-left: 70px !important" [value]="2" [ngModel]="printData.reportType" (ngModelChange)="printData.reportType=$event;">
                    <label class="form-control-sm" style="padding: 0px !important;margin-top: -1px !important;margin-left: 5px !important;">Detail per SL</label>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-4 labels">Destination</label>
                    <select class="form-control form-control-sm cust-sm col-sm-8" [ngModel]="printData.destination" (ngModelChange)="printData.destination=$event;clearPrinterName();">
                        <option value="screen">Screen</option>
                        <option value="printer">Printer</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="form-control-sm col-sm-4 labels">Printer Name</label>
                    <select class="form-control form-control-sm cust-sm col-sm-8" [ngModel]="printData.selPrinter" (ngModelChange)="printData.selPrinter=$event;" [disabled]="printData.destination != 'printer'">
                        <ng-container *ngFor="let printer of printData.printers">
                            <option [value]="printer">{{ printer }}</option>    
                        </ng-container>
                    </select>
                </div>
                <!-- <div class="input-group">
                    <label class="form-control-sm col-sm-4 labels">No. of Copies</label>
                    <input name="input23" type="number" class="form-control form-control-sm cust-sm col-sm-8 text-right">
                </div> -->
            </div>
        </div>
    </div>
    <div footer class="text-center w-100">
        <button class="cust-btn" type="button" (click)="printMdl.closeModal()"><a>Cancel</a></button>
        <button class="cust-btn" type="button" (click)="printMdl.closeModal();fromBtn='print';confirmMdl.openNoClose();print();" [disabled]="(!printData.printCv && !printData.printCheck) || printData.destination == '' || (printData.destination == 'printer')?(printData.selPrinter == '')?true:false:false">Print</button>
    </div>
</app-modal>

<app-lov #payeeLov [passData]="passDataLov" (selectedData)="setData($event,'payee')"></app-lov>
<app-lov #bankLov [passData]="passDataLov" (selectedData)="setData($event, fromBankLov)" ></app-lov>
<app-lov #bankAcctLov [passData]="passDataLov" (selectedData)="setData($event,'bank-acct')" ></app-lov>
<app-lov #classLov [passData]="passDataLov" (selectedData)="setData($event,'class')" ></app-lov>
<app-lov #paytReqTypeLov [passData]="passDataLov" (selectedData)="setData($event,'paytreqtype')" ></app-lov>
<app-mtn-currency #currLov (selectedData)="setData($event,'curr')"></app-mtn-currency>
<app-mtn-printable-names #prepUserLov (selectedData)="setData($event,'prep-user')"></app-mtn-printable-names>
<app-mtn-printable-names #certUserLov (selectedData)="setData($event,'cert-user')"></app-mtn-printable-names>

<app-confirm-save (onYes)="onSaveAcitCv()"></app-confirm-save>
<app-sucess-dialog [icon]="dialogIcon" [message]="dialogMessage" (onOk)="checkCancel();"></app-sucess-dialog>
<app-cancel-button (onYes)="onClickSave('cancel')" [url]="'/generate-cv'" ></app-cancel-button>

<app-override-login [approvalCd]="approvalCd" (isSuccess)="onOkOverride($event)" #override></app-override-login>
<app-uploader (emitMessage)="uploaderActivity($event)" style="display: none"></app-uploader>

<app-modal class="d-none" #servfeeInfoMdl>
    <div header>Information</div>
    <div body class="container-flex text-center">
        <div class="input-group">
            <p class="col-sm-12">Invoices, ORs and JVs for the allocation of Service Fee were successfully generated.<br />Please check the said transactions in Accounting Service.</p>
        </div>
    </div>
    <div footer class="d-flex justify-content-center w-100">                    
        <button class="cust-btn" type="button" (click)="showServfeeInfoMdl=false; servfeeInfoMdl.closeModal()">Ok</button>
    </div>
</app-modal>