<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="padding:0">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Extract Parameters</legend>
				<div class="input-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<div class="input-group col-sm-12">
							<fieldset class="scheduler-border col-sm" style="margin-bottom: 10px !important;">
								<legend class="scheduler-border">Tax Type</legend>
									<div class="contain">
										<div class="input group">
											<label class="col-sm-2"></label>
											<input type="radio" id="cred-whtax" name="tax-type" value="1" [(ngModel)]="params.taxType" (change)="taxTypeChange($event)">
											<label class="form-control-sm col-sm-7 text-left" for="cred-whtax">Creditable Withholding Tax</label>
										</div>
										<div class="input group top">
											<label class="col-sm-2"></label>
											<input type="radio" id="input-vat" name="tax-type" value="2" [(ngModel)]="params.taxType" (change)="taxTypeChange($event)">
											<label class="form-control-sm col-sm-7 text-left" for="input-vat">Input VAT</label>
										</div>
										<div class="input group top">
											<label class="col-sm-2"></label>
											<input type="radio" id="output-vat" name="tax-type" value="3" [(ngModel)]="params.taxType" (change)="taxTypeChange($event)">
											<label class="form-control-sm col-sm-7 text-left" for="output-vat">Output VAT</label>
										</div>
										<div class="input group top">
											<label class="col-sm-2"></label>
											<input type="radio" id="whtax" name="tax-type" value="4" [(ngModel)]="params.taxType" (change)="taxTypeChange($event)">
											<label class="form-control-sm col-sm-7 text-left" for="whtax">Withholding Tax</label>
										</div>
									</div>
							</fieldset>


						</div>
						<div class="input-group col-sm-12">
							<fieldset class="scheduler-border col-sm">
								<legend class="scheduler-border">Period</legend>
									<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-bottom: -14px !important;">
										    <label class="form-control-sm col-sm-1">From</label>
										    <!-- <input type="date" id="xx" class="form-control form-control-sm cust-sm col-sm"> -->
										    <div class="col-sm dp-cont">
												<datepicker [type]="'date'" [value]="params.fromDate?.split('T')[0]" (valueChange)="params.fromDate=$event;"></datepicker>
											</div>
										    <label class="form-control-sm col-sm-1">To</label>
										    <!-- <input type="date" id="xx" class="form-control form-control-sm cust-sm col-sm"> -->
										    <div class="col-sm dp-cont">
												<datepicker [type]="'date'" [value]="params.toDate?.split('T')[0]" (valueChange)="params.toDate=$event;"></datepicker>
											</div>
										</div>
									</div>
							</fieldset>
						</div>
						<div class="form-row" style="margin-bottom: -5px !important;">
		    		        <div class="form-group col-sm">
		    		            <div class="col-md-12 text-center" style="padding-top: 5px; padding-bottom: 5px;">
		    		                <div class="cust-btn-container" style="margin-top: 10px;">
		    		                    <button type="button" class="cust-btn" (click)="onClickExtract()"><a>Extract</a></button>
		    		                </div>
		    		            </div>
		    		        </div>
		    		    </div>
					</div>
					<div class="col-sm-2"></div>
				</div>
		</fieldset>

		<fieldset class="scheduler-border" style="padding-bottom: 5px !important;">
			<legend class="scheduler-border">Printing Parameters</legend>
			<div class="form-row custom-row-inline-inset">
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<fieldset class="scheduler-border" >
						<legend class="scheduler-border">Report Type</legend>
							<div class="form-row custom-row-inline-inset period">
								<div class="input-group check-row" style="margin-bottom: -14px !important;">
									<div class="col-sm-3 text-right" style="padding-right: 5px !important;">
										<input value="S" [(ngModel)]="rType" id="rType1" type="radio" style="vertical-align: baseline;" name="typeRadio">
									</div>
									<label for="rType1" class="form-control-sm col-sm text-left" style="padding-left: 0 !important;">Summary</label>
								</div>
								<div class="input-group check-row">
									<div class="col-sm-3 text-right" style="padding-right: 5px !important;">
										<input value="D" [(ngModel)]="rType" id="rType2" type="radio" style="vertical-align: baseline;" name="typeRadio">
									</div>
									<label for="rType2" class="form-control-sm col-sm text-left" style="padding-left: 0 !important;">Detailed</label>
								</div>
							</div>
							
					</fieldset>
				</div>
				<div class="col-sm-4"> 
					<fieldset class="scheduler-border" style="margin-top: 12px !important; padding-bottom: 10px !important; padding-top: 18px !important;">
						<div class="form-row custom-row-inline-inset mid">
							<div class="input-group">
								<label class="form-control-sm col-sm-4">Destination</label>
								<select class="form-control form-control-sm cust-sm" [(ngModel)]="params.destination">
									<!-- <option value="screen">Screen</option>
			    					<option value="printPdf">Printer</option> -->
			    					<option value="exl">Excel</option>
								</select>
							</div>
						</div>
						
					</fieldset>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="form-row">
				<div class="col-sm" style="margin-bottom: 5px;">
					<div class="col-md-13 text-center">
						<div class="cust-btn-container">
							<button class="cust-btn" type="button" (click)="getExtractToCsv()"><a>Print</a></button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-2"></div>
</div>

<app-modal class="d-none" id="extract" #mdl>
    <div header>{{ modalHeader }}</div>  
    <div body class="w-100 text-center">
    	<span *ngIf="modalMode == 'reExtract'">Extracted records on the specified parameters already exists. <br>Do you want to extract the record again?</span>

    	<span *ngIf="modalMode != 'reExtract'">{{ modalBody }}</span>
    </div>
    <div footer class="w-100 text-center">
        <button *ngIf="modalMode == 'reExtract'" type="button" class="cust-btn" (click)="mdl.closeModal();onClickExtract('f');"><a>Yes</a></button>
        <button *ngIf="modalMode == 'reExtract'" type="button" class="cust-btn" (click)="mdl.closeModal();"><a>No</a></button>
        <button *ngIf="modalMode != 'reExtract'" type="button" class="cust-btn" (click)="mdl.closeModal();"><a>Ok</a></button>
    </div>
</app-modal>
<app-sucess-dialog #appDialog [icon]="dialogIcon" [message]="dialogMessage"></app-sucess-dialog>