<div class="cust-tabs-container">
	<h4>Expiry & Renewal</h4>
	<ngb-tabset>
		<ngb-tab title="Purge Extracted Policy">
			<ng-template ngbTabContent>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm">
						<app-cust-editable-non-datatable #tbl [passData]="passData" (newClick)="row($event)"></app-cust-editable-non-datatable>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-6" style="margin-top: 17px;">
						<fieldset class="scheduler-border">
							<div class="form-row custom-row-inline-inset">	
								<div class="col-sm-4">
									<div class="row">
										<button type="button" class="cust-btn"  style="margin-left: 7px;width: 100%;margin-bottom: 5px;z-index: 99 !important" (click)="cancel()"><a>Cancel</a></button>
									</div>
									<div class="row">
										<button type="button" class="cust-btn"  style="margin-left: 7px;width: 100%; margin-bottom: 5px;z-index: 99 !important" (click)="onClickPurge();"><a>Purge</a></button>
									</div>
								</div>
								<div class=" col-sm-4">
									<div class="row list">
										<input type="checkbox" name="expiredAndProcess" id="both" class="form-control-sm" (change)="expiredAndProcess($event)"><label class="form-control-sm" for="both">All Expired And Processed</label>
									</div>
									<div class="row list">
										<input type="checkbox" name="unprocessed" id="unprocessed" class="form-control-sm" (change)="unprocessed($event)"><label class="form-control-sm" for="unprocessed">All Unprocessed</label>
									</div>
									<div class="row list">
										<input type="checkbox" name="processed" id="processed" class="form-control-sm" (change)="processed($event)"><label class="form-control-sm" for="processed">All Processed</label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row list" style="margin-left: 1px;">
										<input type="checkbox" name="baseParam" id="basedOnParams" class="form-control-sm" (change)="baseParam($event)"><label class="form-control-sm" for="basedOnParams">Based on Parameter</label>
									</div>
									<div class="row list" style="margin-left: -5px;">
										 <button class="cust-btn" (click)="parameter();" style="margin-left: 7px;width:100%;margin-bottom: 5px;margin-top: 6px;z-index: 99 !important" [disabled]="disabledFlag" [class.cust-btn-disabled]="disabledFlag">Parameter</button> 
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-2" style="padding-left: 0px;">
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Legend</legend>
								<label class="form-control-sm" style="margin: -3px !important;margin-bottom: -10px !important;margin-top: 13px !important;">X - Expired Policy</label>
								<label class="form-control-sm" style="margin: -3px !important;margin-bottom: 4px !important;">P - Processed Policy</label>
						</fieldset>
					</div>
					<div class="col-sm-2"></div>
				</div>
				 	<app-modal class="hidden" id="parameter">
                     	<div header>Parameter</div>
							<div body style="width: 600px !important">
							    <fieldset class="scheduler-border">
							    
							    	<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-left: 100px;">
											<div class="col-sm-1"></div>
											<input class="form-control-sm " type="radio" name="optradio" id="byPolNo" [(ngModel)]="radioVal" [value]="'byPolNo'" (click)="clearData()" />
											<label class="form-control-sm col-sm-2" for="byPolNo" style="margin-left: -4px;">&nbsp;By Policy No</label>
										</div>
									</div>
									<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-top: -8px;"> 
											<label class="form-control-sm col-sm-3"></label>
                        						<input type="text" class="form-control form-control-sm col-sm-1 cap-input" ngbTooltip="Line" [(ngModel)]="PolicyNo.line" [readonly]="radioVal != 'byPolNo'">
								                <input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;" ngbTooltip="Year" [(ngModel)]="PolicyNo.year" [readonly]="radioVal != 'byPolNo'">
								                <input type="text" class="form-control form-control-sm col-sm-2 cap-input" style="margin-left: 3px;" ngbTooltip="Sequence No" [(ngModel)]="PolicyNo.sequenceNo" [readonly]="radioVal != 'byPolNo'">
								                <input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;" ngbTooltip="Company No" [(ngModel)]="PolicyNo.companyNo" [readonly]="radioVal != 'byPolNo'">
								                <input type="text" class="form-control form-control-sm col-sm-2	 cap-input" style="margin-left: 3px;" ngbTooltip="Co Series No" [(ngModel)]="PolicyNo.coSeriesNo" [readonly]="radioVal != 'byPolNo'">
								                <input type="text" class="form-control form-control-sm col-sm-1 cap-input" style="margin-left: 3px;" ngbTooltip="Alt No" [(ngModel)]="PolicyNo.altNo" [readonly]="radioVal != 'byPolNo'">  
								                <div style="padding-left: 5px;"><a><i class="fa fa-search" (click)="showPolicyLov()"></i></a></div> 

										</div>	
									</div>

									<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-left: 100px;">
											<div class="col-sm-1"></div>
											<input class="form-control-sm " type="radio" name="optradio" id="byDate" [(ngModel)]="radioVal" [value]="'byDate'" />
											<label class="form-control-sm col-sm-2" for="byDate" style="text-align: left !important;">&nbsp;By Date</label>
										</div>
									</div>

									<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-top: -10px;margin-left: 90px;">
											<div class="col-sm-1"></div>
											<label class="form-control-sm col-sm-1 cust-sm from" for="fromDate">From</label>
											<div class="col-sm-3 dp-cont">
											<datepicker [type]="'date'" [required]="true" [showIcon]="true" [(value)]="dateParams.byDateFrom" [disabled]="radioVal != 'byDate'"></datepicker>
											</div>
											<label class="form-control-sm col-sm-1 cust-sm" style="margin-left: -10px !important;">To</label>
											<div class="col-sm-3 dp-cont">
											<datepicker [type]="'date'" [required]="true" [showIcon]="true" [(value)]="dateParams.byDateTo" [disabled]="radioVal != 'byDate'"></datepicker>
											</div>	
										</div>
									</div>
									
									<div class="form-row custom-row-inline-inset">
										<div class="input-group" style="margin-top: -10px;margin-left: 100px;">
											<div class="col-sm-1"></div>
											<input class="form-control-sm " type="radio" name="optradio" id="byMonthYear" [value]="'byMonthYear'" [(ngModel)]="radioVal">
											<label class="form-control-sm col-sm-3" for="byMonthYear" style="text-align: left !important;">&nbsp;By Month/Year</label>
										</div>
									</div>
										<div class="form-row custom-row-inline-inset">
											<div class="input-group" style="margin-top: -10px; margin-left: 90px;">
												<div class="col-sm-1"></div>
												<label class="form-control-sm col-sm-1 cust-sm from">From</label>
												<select class="form-control form-control-sm cust-sm col-sm-2" name="fromMonth" [disabled]="radioVal != 'byMonthYear'" style="margin-left: 8px;" [ngModel]="dateParams.byMonthFrom" (ngModelChange)="dateParams.byMonthFrom = $event">
													<option value="01">January</option>
													<option value="02">February</option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select>
												<input class="form-control form-control-sm cust-sm col-sm-1" type="text" name="fromYear" [readonly]="radioVal != 'byMonthYear'" style="margin-left: 2px;" [ngModel]="dateParams.byYearFrom" (ngModelChange)="dateParams.byYearFrom = $event">
												<label class="form-control-sm col-sm-1 cust-sm toMonth" style="margin-left: -10px !important;">To</label>
												<select class="form-control form-control-sm cust-sm col-sm-2" name="toMonth" [disabled]="radioVal != 'byMonthYear'" style="margin-left: -2px;" [ngModel]="dateParams.byMonthTo"(ngModelChange)="dateParams.byMonthTo=$event">
													<option value="01">January</option>
													<option value="02">February</option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select>
												<input class="form-control form-control-sm cust-sm col-sm-1" type="text" name="toYear" [readonly]="radioVal != 'byMonthYear'" style="margin-left: 2px;"  [ngModel]="dateParams.byYearTo" (ngModelChange)="dateParams.byYearTo = $event">
											</div>
										</div>
										<br>
										<div class="form-row custom-row-inline-inset">
											<div class="input-group" style="margin-top: -22px;">
												<label class="form-control-sm col-sm-2 text-right">Line</label>
												<input type="text" class="form-control form-control-sm col-sm-3" (change)="checkCode($event, 'line')" [ngModel]="params.line" (ngModelChange)="params.line = $event.toUpperCase()" [readonly]="radioVal == 'byPolNo'">
												<div class="text-search-ico"><a><i class="fa fa-search" (click)="showLineLOV()"></i></a></div>
												<input type="text" name="" class="form-control form-control-sm col-sm" style="margin-left: 7px" [(ngModel)]="params.lineDescription" [readonly]="radioVal == 'byPolNo'">
											</div>
										</div>
										<div class="form-row custom-row-inline-inset">
											<div class="input-group" style="margin-top: -8px;">
												<label class="form-control-sm col-sm-2 text-right">Type of Cession</label>
												<input type="text" class="form-control form-control-sm col-sm-3" (change)="checkCode($event, 'typeOfCession')" [ngModel]="params.typeOfCessionId" (ngModelChange)="params.typeOfCessionId = $event.toUpperCase()" [readonly]="radioVal == 'byPolNo'"> 
												<div class="text-search-ico"><a><i class="fa fa-search" (click)="showTypeOfCessionLOV()"></i></a></div>
												<input type="text" name="" class="form-control form-control-sm col-sm" style="margin-left: 7px" [(ngModel)]="params.typeOfCession" [readonly]="radioVal == 'byPolNo'"> 
											</div>
										</div>
										<div class="form-row custom-row-inline-inset">
											<div class="input-group" style="margin-top: -8px;"> 
												<label class="form-control-sm col-sm-2" style="padding-right: 4px;">Ceding Company</label>
												<input type="text" class="form-control form-control-sm col-sm-3" (change)="checkCode($event,'cedingCo')" [ngModel]="params.cedingId" (ngModelChange)="params.cedingId=$event.toUpperCase();" [readonly]="radioVal == 'byPolNo'">
												<div class="text-search-ico"><a><i class="fa fa-search" (click)="showCedingCompanyLOV()"></i></a></div>
												<input type="text" name="" class="form-control form-control-sm col-sm" style="margin-left: 7px" [(ngModel)]="params.cedingName" [readonly]="radioVal == 'byPolNo'"> 
											</div>	
										</div>
										
									
								</fieldset>
							</div>
							   	<div footer>
							        <div class="cust-btn-container text-center" style="margin-right: 215px;">
							            <button type="button" class="cust-btn" (click)="clearData();"><a>Clear</a></button>
							            <button type="button" class="cust-btn" (click)="modalService.dismissAll();"><a>Cancel</a></button>
							            <button type="button" class="cust-btn" (click)="modalService.dismissAll();"><a>Ok</a></button>
									</div>
								</div>
                </app-modal>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
<app-mtn-line id="lineLOV" (selectedData)="setLine($event)"></app-mtn-line>
<app-mtn-type-of-cession id="typeOfCessionLOV" (selectedData)="setTypeOfCession($event)"></app-mtn-type-of-cession>
<app-ceding-company id="cedingCompany" (selectedData)="setCedingcompany($event)"></app-ceding-company>
<app-cancel-button #cancelMain (onYes)="saveData('cancel')" [url]="'/'" ></app-cancel-button>

<app-modal class="d-none" id="purgeModal">
    <div header>Confirmation</div>
    <div body style="min-width: 300px !important;">
        <div class="custom-row-inline-inset" style="text-align: center">                
            <p>Purge using selected parameters?</p>
			<span *ngIf="expiredAndProcessed"><b>[All Expired And Processed]</b><br/></span>
			<span *ngIf="unProcess"><b>[All Unprocessed]</b><br/></span>
			<span *ngIf="allProcess"><b>[All Processed]</b><br/></span>
			<span *ngIf="baseOnParam"><b>[Based on Parameter]</b><br/></span>
        </div>
    </div>
    <div footer class="w-100 text-right">
        <button class="cust-btn" type="button" (click)="saveData(); modalService.dismissAll();"><a>Yes</a></button>
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>No</a></button>
    </div>
</app-modal>


<app-modal class="d-none" id="purgeMsgModal">
	<div header>Purge</div>
    <div body style="min-width: 300px !important;">
        <div class="custom-row-inline-inset row" style="text-align: center">
        	<div style="width: 100% !important;">
	           	<div class="col-sm my-modal-text" style="margin-left: 0px !important;">
	           		<span>Successfully purged policies.</span>
	           	</div>
           	</div>
        </div>
    </div>
    <div footer class="w-100 text-right">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
    </div>
</app-modal>

<app-modal class="d-none" id="purgeNoSelectedMsgModal">
	<div header>Purge</div>
    <div body style="min-width: 300px !important;">
        <div class="custom-row-inline-inset row" style="text-align: center">
        	<div style="width: 100% !important;">
	           	<div class="col-sm my-modal-text" style="margin-left: 0px !important;">
	           		<span>No policy selected.</span>
	           	</div>
           	</div>
        </div>
    </div>
    <div footer class="w-100 text-right">
        <button class="cust-btn" type="button" (click)="modalService.dismissAll();"><a>Ok</a></button>
    </div>
</app-modal>

<app-modal class="hidden" id="PolicyLOVS" #mdl>
    <div header>List of Values</div>
    <div body style="min-width: 800px !important">
       <app-cust-editable-non-datatable #lov [passData]="passDataLov" (newClick)="onClick($event)"></app-cust-editable-non-datatable>
    </div>                
    <div footer style="margin-right: 330px !important;">
      <button class="cust-btn" type="button" (click)="modal.closeModal();"><a>Cancel</a></button>
      <button class="cust-btn" type="button" (click)="setLOV();modal.closeModal();"><a>Ok</a></button>
    </div>
</app-modal>